h2#ask.col-lg-12.text-uppercase.text-lg-center.text-xs-center.campaign-subheading ASK A QUESTION
.row
  .col-xl-12.p-xs-0
    .col-lg-8.offset-lg-2.col-md-12.offset-md-0.col-sm-12.offset-sm-0.col-xs-12.offset-xs-0.pt30.comment-form-div
      form.comment-form.form-section.add-comments
        .col-lg-9.p-l-0.p-r-0
          .col-lg-12.p-l-0.p-r-0
            textarea(
              type='textarea'
              readonly=attr.readonly
              name='message'
              rows='1'
              placeholder='Type your text here...'
            ).w-100.text-body
        .col-lg-3.p-r-0.text-xl-right.text-xs-center.p-t-sm-1.button-wrap
          button(type="button" disabled=attr.readonly).btn.btn-primary.text-uppercase.pull-lg-right.ask-question.topButtonPosition Submit