.container.calculator-container
  .row
    .offset-lg-3.col-lg-6
      span.warning-text Want to see some possible scenarios?
      | *

  .row
    .col-lg-12
      form(method="post" action="").js-calc-form.form-section
        .form-body.clearfix
          .form-group
            .col-lg-4
              label(for="raiseMoney").col-lg-12.font-weight-normal How much is the company raising?
              br
              input(
                value= formatPrice(data.raiseMoney),
                type='text',
                placeholder='$0',
                autocomplete="off"
                data-input-mask='price',
                data-model-value='raiseMoney',
                data-current-value= data.raiseMoney
                name="raiseMoney")#raiseMoney.form-control.js-field

            .col-lg-4
              label(for="nextYearRevenue").col-lg-12.font-weight-normal What do you expect next year's revenue share to be?
              input(
                value= formatPrice(data.nextYearRevenue),
                type='text',
                placeholder='$0',
                autocomplete="off"
                data-input-mask='price',
                data-model-value='nextYearRevenue',
                name="nextYearRevenue",
                data-current-value= data.nextYearRevenue)#nextYearRevenue.form-control.js-field

            .col-lg-4
              label(for="growLevel").col-lg-12.font-weight-normal At what rate do you expect revenues to grow each year?
              input(
                value=(data.growLevel ? data.growLevel + '%' : ''),
                type='text',
                placeholder='0%',
                autocomplete="off"
                data-input-mask='percent',
                name="growLevel",
                data-model-value='growLevel')#growLevel.form-control.js-field

            .row.clearfix.m0
              .col-xs-6.mt30
                .controls
                  button(type="submit").btn.btn-primary.pull-right.text-uppercase go
  .row
    #revenue-share-calculator-result

  .row
    span
      | The calculations are mathematical based on user inputs and may not reflect actual results. Use ofo this calculator does not constitute investment advice. We are providing this tool to help you evaluate potential revenue sharing scenarios and payback periods. Any determination is your sole responsibility.
