.calculator-container
  .div
    .col-xs-12.m-t-1
      .js-jq-plot-area
        #chart1
        p.plot-title Multiple Returned
        p.text-graf 
          sup * 
          | The calculations are mathematical based on user inputs and may not reflect actual results. Use ofo this calculator does not constitute investment advice. We are providing this tool to help you evaluate potential revenue sharing scenarios and payback periods. Any determination is your sole responsibility.
    //-.row
      .col-xs-12.text-sm-center.mt45
        h2.dosis.m0.text-uppercase Your results

        .table-responsive.mt30
          table.table.table-sm.table-bordered.table-striped
            thead
              tr
                th Time
                th Fundraise
                th Revenue
                th Annual Distributions
                th Multiple Returned
                th Total Distributions
            tbody
              each val, index in data.outputData
                tr
                  th(scope='row')= 'Year ' + index
                  td= formatPrice(val.fundraise)
                  td= formatPrice(val.revenue)
                  td= formatPrice(val.annual)
                  td= val.multiple
                  td= formatPrice(val.total)
