- document.title = 'Understanding Equity Crowdfunding with Growthfountain';
- document.head.querySelector('meta[name="description"]').content = 'Learn about the benefits and risks of equity crowdfunding for investors and entrepreneurs.';

- pug_html += app.breadcrumbs('Understanding Equity Crowdfunding', '', [ ['Home', '/'], ['Understanding Equity Crowdfunding', ''], ]);

section#education-page.text_block.information-page
  .container
    .row
      .col-lg-3.sticky-side-menu.hidden-md-down.m-t-2
        .page_title.border-bottom.mb25
          h4.text-uppercase.dosis EDUCATION
        ul.list-unstyled.mb50.custom.pages-left-menu
          li.active
            a.d-inline-block.w-100(href='#welcomeGF') Welcome to GrowthFountain!
          li
            a.d-inline-block.w-100(href='#risks') There are a Number of Risks
          li
            a.d-inline-block.w-100(href='#offeringProcess') The Offering Process
          li
            a.d-inline-block.w-100(href='#afterOfferingProcess') After an Offering is Completed

      .col-lg-9
        .row
          .col-lg-12#welcomeGF
            h2.text-uppercase.heading-education.m-t-0.text-xs-center WELCOME TO GROWTHFOUNTAIN!
            h3.font-weight-light.text-xs-center.m-t-0 The materials below will help you get acquainted with the GrowthFountain website and educate yourself to the offering process.
            p.m-b-2 Issuers listed on GrowthFountain will offer one of the following:
            h4.text-uppercase.d-inline-block.m-b-0 Revenue Share Agreement.
            span  This security allows a company to raise money with a promise to repay a multiple of that amount over time out of a capital pool equal to 5% of the company’s revenue each year. This security may be a good option for a) companies that generate or are expected to generate cash and b) LLC’s; we’ve carefully written the revenue share as a contract, so it shouldn’t trigger the need to issue K-1s.
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item.one
            span.font-weight-bold Investor makes an investment
            img(src=require('images/generals/edu-1.png'), alt="").d-inline-block
            .arrow
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item
            span.font-weight-bold Company shares annual revenue
            img(src=require('images/generals/edu-2.png'), alt="")
            .arrow
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item
            span.font-weight-bold Investors receive 2x  their investment
            img(src=require('images/generals/edu-3.png'), alt="")
        .row
          .col-xl-12
            h4.text-uppercase.d-inline-block.m-b-0 Equity.
            span  Equity (or membership interest if the entity is an LLC) may be a good option for growth companies that are consuming cash. 
        .row
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item
            span.font-weight-bold Company sells the shares
            img(src=require('images/generals/edu-4.png'), alt="").d-inline-block
            .arrow
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item.five
            span.font-weight-bold Investors buy
              br
              |  the shares
            img(src=require('images/generals/edu-5.png'), alt="")
            .arrow
          .col-xl-4.col-lg-4.col-md-4.col-sm-4.education-one-item
            span.font-weight-bold Investors become the shareholders
            img(src=require('images/generals/edu-6.png'), alt="")
        .row
          .col-xl-12
            h4.text-uppercase.d-inline-block.m-b-0 Equity
            span  and 
            h4.text-uppercase.d-inline-block.m-b-0 Revenue Share Agreement.
            span  Issuers can issue both securities with one offering: a revenue share for smaller investors and equity for larger investors. Issuer’s get to set the toggle and it will be clearly described within their campaign and Form C.
            p.m-t-1 The particular security offered is chosen by the issuer that is listing the security for sale.
          .col-lg-12#risks
            h3.text-uppercase.heading-education.text-xs-center THERE ARE A NUMBER OF RISKS TO CONSIDER BEFORE TAKING PART AS AN INVESTOR IN ANY CROWDFUNDING TRANSACTION
            p.pb20 As a general matter, investments in small businesses and start-up companies are often risky.
            ul.education-ul.m-b-0
              li.pb20 For example, if a company is new, its management may be inexperienced and investors will not be able     to    evaluate the company’s operating history. Small businesses may also depend heavily upon a single customer, supplier, or employee whose departure would seriously damage the company’s profitability.
              li.pb20 The demand for the company’s product may be seasonal or be impacted by the overall economy, or the company could face other risks that are specific to its industry or type of business. The company may also have a hard time competing against larger companies who can negotiate for better prices from suppliers, produce goods and services on a large scale more economically, or take advantage of bigger marketing budgets. Furthermore, a small business could face risks from lawsuits, governmental regulations, and other potential impediments to growth.
                i.fa.fa-info-circle
                strong According to the U.S. Small Business Administration, half of all new businesses fail within 5 years.
              li.pb20 Small investors typically have very little power, so they are unable to influence the management decisions that affect the profitability of the investment. New investors are often asked to pay more money for their shares than the company’s officers or principal owners (who may have contributed “sweat equity”). Furthermore, the value of the small investor’s ownership share in the company’s assets (the “tangible book value”) is almost always less than the amount paid for the shares.
              li.pb20 In addition, the value of the ownership interest represented by certain securities may be diluted by later issuances. In addition to these general risks related to investing in small companies, you should carefully consider the specific information and risks disclosed by the company issuing the securities. It may be difficult or impossible to recover your money if the investment does not perform as expected. Due to limited regulatory oversight over these types of offerings, investors may be left on their own to pursue to costly private lawsuits when things go wrong.
                i.fa.fa-info-circle
                strong Because of these risks, you should not invest any funds in a securities offering unless you can afford to lose your entire investment.
              li.pb20 
                i.fa.fa-info-circle
                strong You also should not invest if you may have an immediate need for the return of your funds.
                |  Securities issued in reliance upon an exemption for “crowdfunding” are subject to a 12 month holding period, so investors will be unable to freely resell their securities for at least a year. The company may also restrict re-sales of its securities. Even after these restrictions are lifted, it may be difficult to resell these types of securities because they are not listed on any securities exchanges and a public trading market may never develop.
            p
              i You should consider the terms and risks of a crowdfunding offering before you invest. No government regulator has verified that the disclosure document is accurate or determined that it is adequate. No government regulator is recommending these securities, and it is a crime for anyone to tell you differently.
          .col-lg-12#offeringProcess
            h3.text-uppercase.heading-education.text-xs-center THE OFFERING PROCESS
            p.pb20 When a company lists an offering on the GrowthFountain site it will include the principal terms of the offering, including the type of security being offered, the overall amount of the offering and, an expected closing date for the offering.
            .row.circle-education
              .col-xl-1.col-lg-1.col-md-2.col-sm-2.col-xs-3.text-xs-center
                h2.like-detail-icon.d-inline-block
                  i.fa.fa-refresh.like-icon-circle
              .col-xl-11.col-lg-11.col-md-10.col-sm-10.col-xs-9.p-l-0
                p.pb20 Investor’s may make a commitment to invest in the offering by indicating their commitment on the          GrowthFountain site at which time funds will be placed in escrow. A commitment may be cancelled for any reason until 48 hours prior to the closing date for the offering transaction (the closing date will be identified in the issuer’s offering materials). The exact timing of the cancellation deadline will also be included in a confirmation notice that is sent to you after you have submitted your commitment. There will be no opportunity to cancel your commitment in the 48 hours immediately preceding the closing of the transaction. If an issuer makes a material change to their offering, investors will be notified of the material change and required to reconfirm their investment commitment. If an investor does not reconfirm his or her investment commitment within five business days, the investor’s investment commitment will be cancelled and funds will be returned.
              .col-xl-1.col-lg-1.col-md-2.col-sm-2.col-xs-3.text-xs-center
                h2.like-detail-icon.d-inline-block
                  i.fa.fa-money.like-icon-circle
              .col-xl-11.col-lg-11.col-md-10.col-sm-10.col-xs-9.p-l-0
                p.pb20 Federal law limits to the amount that you are allowed to commit to crowdfunded offerings in any 12-month period. The maximum amount that you are allowed to invest depends on your annual income and net worth. If your annual income or net worth is less than $100,000 then the maximum amount that you will be allowed to invest in crowdfunded transactions over any 12-month period will be the greater of $2,000 or 5% of the lesser of your annual income or net worth. If both your annual income and net worth are greater than $100,000 then you will be allowed to invest up to 10% of the lesser of your annual income or net worth subject to an overall investment cap of $100,000 for any 12-month period. Spouses are allowed to calculate net worth or annual income jointly, but if joint calculation is used, the aggregate investment of the spouses may not exceed the limit that would apply to an individual investor at that income and net worth level.
              .col-xl-1.col-lg-1.col-md-2.col-sm-2.col-xs-3.text-xs-center
                h2.like-detail-icon.d-inline-block
                  i.fa.fa-comment-o.like-icon-circle
              .col-xl-11.col-lg-11.col-md-10.col-sm-10.col-xs-9.p-l-0
                p.pb20 As a registered member of GrowthFountain you may also post comments on any offering. The posting of comments is subject to the website’s Terms of Service. In particular, any person who promotes an issuer’s offering for compensation, whether past or prospective, or who is a founder or an employee of an issuer that engages in promotional activities on behalf of the issuer on the GrowthFountain site, must clearly always disclose both the receipt of the compensation and that he or she is engaging in promotional activities on behalf of the issuer.
              .col-xl-12
                p.pb20
                  i On the closing date of the offering funds will be released from the third-party depository account held for the benefit of Issuers and Investors and delivered to the issuer. Interests in the issued securities will be accounted to each investor.
                p
                  i GrowthFountain receives a 6% payment in connection with the successful completion of a transaction in addition to a registration and processing fee and the reimbursement of certain pass through costs. At the conclusion of an offering we may or may not have an ongoing relationship with an issuer.
          .col-lg-12#afterOfferingProcess
            h3.text-uppercase.heading-education.text-xs-center AFTER AN OFFERING IS COMPLETED
            p.pb20 The issuer is required to file regular annual reports, including updated financial information, with the Securities & Exchange Commission within 120 days after the end of its fiscal year. This obligation may terminate in the future and any additional reporting obligations will be set out in the terms of the specific offering documents.
            p.pb20
              i.fa.fa-info-circle
              strong Please note that your ability to resell the securities is restricted for a period of one year from the date of purchase. 
              | During that time, the purchased securities may only be transferred (a) back to the issuer, (b) to an accredited investor, (c) as part of an offering registered with the Securities & Exchange Commission, or (d) to a member of your family or the equivalent or in connection with a death or divorce. Securities purchased in a Regulation Crowdfunding offering are likely to be very illiquid, and you may not be able to sell your investment even after the one year restriction period has passed.
            p.pb20
              i.fa.fa-info-circle
              strong Please note that investors may cancel an investment commitment until 48 hours prior to the deadline identified in the issuer’s offering materials. 
              | GrowthFountain will notify investors when the target offering has been met. If an issuer reaches the target offering amount prior to the deadline identified in its offering materials, it may close the offering early if it provides notice about the new offering deadline (absent a material change that would require an extension of the offering and reconfirmation of the investment commitment). If an investor does not cancel an investment commitment before the 48-hour period prior to the offering deadline, the funds will be released to the issuer upon closing of the offering and the investor will receive securities in exchange for his or her investment.
            p.pb20
              i.fa.fa-info-circle
              strong Prior to releasing funds to the issuer upon successfully reaching their target offering
                  
              |, issuers have the right to cancel an investment for any reason, in which case your investment will be returned to you. Once the round has officially closed and the issuer has accepted proceeds, your investment cannot be cancelled.
            p.pb20 If you have any questions, please feel free to email us at 
              a(href="mailto:info@growthfountain.com").link-2 info@growthfountain.com.
            p We look forward to having you as part of the GrowthFountain community.

