- document.title = 'Equity Crowdfunding Entrepreneur FAQ ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'Learn about raising money for your company with GrowthFountain';

- pug_html += app.breadcrumbs('Entrepreneur FAQs', '', [ ['Home', '/'], ['Entrepreneur FAQs', ''], ]);

section.text_block
  .container
    .row
      .col-lg-3.hidden-md-down 
        .page_title.border-bottom
          h4.text-uppercase.dosis faq
        ul.list-unstyled.pt30.pages-left-menu
          li.class
            a.d-inline-block.w-100(href='/pg/faq') General Questions
          li.class.active
            a.d-inline-block.w-100(href='/pg/entrepreneur-questions') Entrepreneur Questions
          li.class
            a.d-inline-block.w-100(href='/pg/investor-questions') Investor Questions
      .col-lg-9

        .row
          .col-lg-12.text-xs-center
            h2.text-uppercase.m-t-0 Entrepreneur Questions

        .row
          .col-lg-12
            #entrerpreneurQuestions.accordion(role="tablist" aria-multiselectable="true")
              .panel.panel-default
                #headingOneEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseOneEntrerpreneurQuestions"
                  aria-expanded="true"
                  aria-controls="collapseOneEntrerpreneurQuestions"
                  ).list-group-item-action.m0.active Why should I choose GrowthFountain? 
                    i.fa.fa-angle-up
                #collapseOneEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingOneEntrerpreneurQuestions"
                ).panel-collapse.collapse.in 
                  p.pb10 It’s our mission to level the playing field for America’s entrepreneurs and minimize friction in the capital raising process. We provide tools and tutorials to automate difficult processes and make connecting to the crowd easier. We want to free you up to focus on growing your business so if you have comments or questions, please reach out to us at 
                    a(href="mailto:info@growthfountain.com").link-2 info@growthfountain.com.

              .panel.panel-default
                #headingTwoEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwoEntrerpreneurQuestions"
                  aria-controls="collapseTwoEntrerpreneurQuestions"
                  ).list-group-item-action How does GrowthFountain make it easy?
                    i.fa.fa-angle-down
                #collapseTwoEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwoEntrerpreneurQuestions"
                ).panel-collapse.collapse 
                  ul.mt25.simple-list
                    li 
                      
                      | We give you dashboards to monitor campaign progress
                    li
                      
                      | We offer valuation calculators, tutorials and useful education material
                    li 
                       
                      | We provide tools to help you generate a compliant Form C 
                    li
                       
                      | We can file documents with regulatory authorities on your behalf
                    li
                       
                      | We help you track the crowdfunding steps so nothing gets missed
                    li
                       
                      | We save you time and money. No need to reinvent the wheel; use our templated investment contracts and subscription agreements
                    li 
                       
                      | We provide a one-stop shop to attract and communicate with investors

              .panel.panel-default
                #headingThreeEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseThreeEntrerpreneurQuestions"
                  aria-controls="collapseThreeEntrerpreneurQuestions"
                  ).list-group-item-action What are the advantages of equity crowdfunding?
                    i.fa.fa-angle-down
                #collapseThreeEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingThreeEntrerpreneurQuestions"
                ).panel-collapse.collapse 
                  p.pb10 Crowdfunding is a powerful tool that can help your business raise more than money. You have the ability to turn your customers into owners, who can then become brand ambassadors and evangelists, spreading the word about your product or service. The crowd can help you gauge demand for your product and provide input to help you refine your offering. The crowd can also provide the knowledge and experience you might seek to bring you to the next level.

                  p.pb10 James Surowiecki wrote a book called The Wisdom of Crowds, where he demonstrates that often the collective wisdom of crowds is more accurate than that of an expert; by obtaining a large number of independent opinions, you can de-correlate error and arrive at a more accurate assessment. 

              .panel.panel-default
                #headingFourEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFourEntrerpreneurQuestions"
                  aria-controls="collapseFourEntrerpreneurQuestions"
                  ).list-group-item-action What are the risks of equity crowdfunding?
                    i.fa.fa-angle-down
                #collapseFourEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFourEntrerpreneurQuestions"
                ).panel-collapse.collapse
                  p.pb10 There are no assurances that any campaign will be successful or will secure enough investor commitments to reach a minimum target. Each crowdfunding investment will involve risk to the investor who must rely on their own examination of the issuer and the terms of the offering. We have provided educational and reference material in the resources center tab which can help you better understand the risks.

              .panel.panel-default
                #headingFiveEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFiveEntrerpreneurQuestions"
                  aria-controls="collapseFiveEntrerpreneurQuestions"
                  ).list-group-item-action How do I apply to have my company listed on GrowthFountain?
                    i.fa.fa-angle-down
                #collapseFiveEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFiveEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Once you’ve registered on the GrowthFountain website, you’ll be able to access the tools and tutorials to help you with designing and launching your fund-raising campaign. Simply click “Raise Capital” on our landing page and begin answering the questions. We can walk you through the process step-by-step.

              .panel.panel-default
                #headingSixEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSixEntrerpreneurQuestions"
                  aria-controls="collapseSixEntrerpreneurQuestions"
                  ).list-group-item-action What do I need to do to prepare my campaign?
                    i.fa.fa-angle-down
                #collapseSixEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSixEntrerpreneurQuestions"
                ).panel-collapse.collapse 
                  p.pb10 Support begins with people you know. Create a list of your friends, family, social network, customers, suppliers and community members.  They can help spread the word about your offering and their investment can help you gain early traction toward achieving your fundraising goal. 

                  p.pb10 You likely already have a lot of the content you’ll need including your business plan, elevator pitch, capital structure and financial statements. Please refer to the “Success Guide” in our Resource Center.  You may also want to identify which pieces of media best describe your company including photos and videos. The better you can highlight the unique attributes of your product to the investment community, the higher your chances of success. Specifically, you’ll need:

                  p.pb10
                    u
                      em
                        | Financials (prepared under GAAP covering the two most recent years or since inception):

                  ul.simple-list
                    li 
                       
                      | If raising $107,000 or less, financials must be certified by CEO
                    li
                       
                      | If raising $107,001-$1,000,000, financials must be reviewed by independent public accountant (no audited financials required for first time Regulation Crowdfunding raise) 

                  p.pb10
                    u
                      em
                        | Campaign description &amp; disclosure

                  ul.simple-list
                    li 
                       
                      | Description of any outstanding securities and any rights associated with those securities
                    li
                       
                      | Description of any historical results, financial milestones and challenges
                    li
                       
                      | Business plan &amp; proposed use of funds

                    li
                       
                      | Disclosure of material risk factors

                    li
                       
                      | Team bios (officers, directors and 20% owners)

                  p.pb10
                    u
                      em
                        | Media &amp; PR Campaign

                  ul.simple-list
                    li 
                       
                      | Create a list of all your supporters and potential investors
                    li
                       
                      | Slide deck
                    li
                       
                      | A great Video describing your product/service and team – with passion and excitement!

                    li
                       
                      | Campaign photos

                    li
                       
                      | PR support and a social media presence


              .panel.panel-default
                #headingSevenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSevenEntrerpreneurQuestions"
                  aria-controls="collapseSevenEntrerpreneurQuestions"
                  ).list-group-item-action What is a Form C?
                    i.fa.fa-angle-down
                #collapseSevenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSevenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 In order for companies to raise capital under Regulation Crowdfunding, they are required to file certain disclosures in a specified format referred to as Form C. The Form C must be available to potential investors during your fundraise and will be filed with the SEC. GrowthFountain assists companies in populating and filing their Form C. GrowthFountain, however, is not a legal advisor and does not purport to provide legal advice. We recommend in all cases that people discuss the offerings and investments with their own legal counsel. 

              .panel.panel-default
                #headingEightEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseEightEntrerpreneurQuestions"
                  aria-controls="collapseEightEntrerpreneurQuestions"
                  ).list-group-item-action Do I need to negotiate with each investor?
                    i.fa.fa-angle-down
                #collapseEightEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingEightEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 No. All offering terms will be determined in advance and all investors will receive the same terms. There is no negotiation involved in a crowdfunding transaction since you get to set the terms and each investor gets to determine whether they want to participate on those terms. 


              .panel.panel-default
                #headingNineEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseNineEntrerpreneurQuestions"
                  aria-controls="collapseNineEntrerpreneurQuestions"
                  ).list-group-item-action How much ownership will I have to give to an investor?
                    i.fa.fa-angle-down
                #collapseNineEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingNineEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 There is no single answer as to the right valuation for your company since different investors may have different views. We encourage you to discuss the questions of ownership allocation with your legal counsel and advisors. To assist you define a starting range for such discussions, GrowthFountain has several financial calculators under 
                  b
                    | Resource Center: What’s my Business Worth? 

                  | which can help you assess a valuation no matter what your growth stage. You can also access 
                  b Resource Center: How Much Should I Raise? 

                  | to help you understand how much money you might need to accomplish your goal. The use of any of these calculators does not constitute investment advice.

              .panel.panel-default
                #headingTenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTenEntrerpreneurQuestions"
                  aria-controls="collapseTenEntrerpreneurQuestions"
                  ).list-group-item-action How long will a fundraising take?
                    i.fa.fa-angle-down
                #collapseTenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 The length of time required to complete a fundraise will vary depending on several factors including: how much traction you are able to attract, the terms of the offering, the speed with which the company responds to information requests, and the degree to which the company may be otherwise represented in social media. All offerings must remain open for a minimum of 21 days and you will have the ability to set a deadline date for your offering in your Form C (as well as the ability to change that deadline date if necessary).  

              .panel.panel-default
                #headingElevenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseElevenEntrerpreneurQuestions"
                  aria-controls="collapseElevenEntrerpreneurQuestions"
                  ).list-group-item-action What type of securities can I offer?
                    i.fa.fa-angle-down
                #collapseElevenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingElevenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 You can choose between two types of securities to issue on GrowthFountain. 

                  ol.simple-list
                    li.pb10
                      b Revenue Share Agreement. 
                      | If you choose to offer a Revenue Share Agreement, you would make annual payments to your investors from a repayment pool equal to 5% of your revenue until two times (2x) the amount invested is paid back. No distributions would be required until your second full fiscal year and you would also be allowed one year of forbearance as needed.  These obligations would be unsecured and contain no pre-payment penalty. This security may be a good choice for:
                      ul.simple-list.list-unstyled.pt10
                        li A) Companies that generate or expect to generate cash (your operating earnings will have to be &gt; 5% of your revenue for this to make sense);
                        li B) LLC’s that are looking for ways to raise funds without the need to issue K-1s; and 
                        li C) Companies that want to maintain a clean capital structure in anticipation of a future venture capital fundraising round.

                    li.pb10
                      b Common Equity. 
                      | Selling Common Equity may be good for growth companies that are consuming cash. This allows you to make your investors true “owners” so that they can participate in the upside of your business without any cap on the amounts that can be repaid.
                    li 
                      b Common Equity and Revenue Share Agreement. 
                      | This hybrid enables you to offer both securities with one offering: a revenue share for smaller investors and equity for larger investors. You’ll get to set the toggle amount (for example, investor’s under $2,000 will receive the Revenue Share Agreement.  Investments of $2,000 or more will receive Common Equity).

              .panel.panel-default
                #headingTwelveEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwelveEntrerpreneurQuestions"
                  aria-controls="collapseTwelveEntrerpreneurQuestions"
                  ).list-group-item-action What are some of the advantages of the Revenue Share Agreement?
                    i.fa.fa-angle-down
                #collapseTwelveEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwelveEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Companies may be interested in one or more of the following potential benefits from offering a Revenue Share Agreement instead of Common Equity:

                  ol.simple-list
                    li It does not dilute the ownership of current shareholders or the control of management 

                    li It avoids a prolonged negotiation over valuation and a “messy cap table”

                    li It may be easier to raise capital and attract investors by offering the potential to earn regular cash distributions

                    li It gives you the chance to keep more of the upside since once investors’ have received 2x their money back, you will have no further obligation

                  p.pb10
                     | Additionally, when compared to most bank loans or other forms of financing, the Revenue Share approach provides entrepreneurs with less risk exposure since it requires no collateral or personal guarantee.   We designed the Revenue Share Agreement to be a flexible repayment mechanism that does not contain many of the financial covenants that would be found in a typical bank loan.


              .panel.panel-default
                #headingThirteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseThirteenEntrerpreneurQuestions"
                  aria-controls="collapseThirteenEntrerpreneurQuestions"
                  ).list-group-item-action How much money can I raise?
                    i.fa.fa-angle-down
                #collapseThirteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingThirteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 You are allowed to raise up to $1 million in each 12 month period via Regulation Crowdfunding. You are not prohibited from simultaneously or otherwise conducting other raises.

              .panel.panel-default
                #headingFourteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFourteenEntrerpreneurQuestions"
                  aria-controls="collapseFourteenEntrerpreneurQuestions"
                  ).list-group-item-action How do Revenue Share Agreements work?
                    i.fa.fa-angle-down
                #collapseFourteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFourteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 A Revenue Share Agreement is designed to pay investors back through annual payments based on a business's revenue.  Instead of requiring a business to pay a fixed amount each month over a certain period of time (as typically required under a bank loan or term note), a Revenue Share Agreement requires a business to set aside a fixed percentage of its annual gross revenues and to repay investors from that revenue pool annually until each investor has been repaid a multiple of their investment. For the Revenue Share Agreement currently offered through GrowthFountain, the total repayment amount for each investor would be calculated by multiplying the amount invested in the Revenue Share Agreement by two (i.e., each investor is paid back twice (2x) the amount invested).  The Revenue Share Agreement provides each investor with the opportunity to receive annual cash payments and provides the company with flexibility on repayment.  On GrowthFountain, the Revenue Share Agreement offers each company with additional flexibility beyond tying payments to revenue since the company would not have to start making payments until the end of its second full fiscal year and if one year the company has difficulty making payments, there is a one-time forbearance right.  

              .panel.panel-default
                #headingFifteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFifteenEntrerpreneurQuestions"
                  aria-controls="collapseFifteenEntrerpreneurQuestions"
                  ).list-group-item-action What makes a Revenue Share Agreement different from Equity? 
                    i.fa.fa-angle-down
                #collapseFifteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFifteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 A Revenue Share Agreement is not an ownership interest like equity, and is more like a debt security.  A Revenue Share Agreement provides entrepreneurs with capital in exchange for a series of annual payments from a pool generated from a percentage of future revenues, so investors are technically investing in a promise by the company to repay amounts over time.  In terms of equity, there is no promise to repay any amounts.  With a Revenue Share Agreement, investors are promised annual distributions but have those amounts capped over time so that the “upside” is limited.  In terms of equity, there is potentially unlimited “upside” but no ability to receive cash payments on an ongoing basis without the company voluntarily deciding to make distributions.  Investors may see a benefit from a Revenue Share Agreement because a shorter repayment period increases the investors' rate of return. Additionally, the flexible payment structure helps align the economic interests of the business and its investors because with equity, investors may want to pressure the business to provide an early exit or liquidation event that could misalign interests.

              .panel.panel-default
                #headingSixteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSixteenEntrerpreneurQuestions"
                  aria-controls="collapseSixteenEntrerpreneurQuestions"
                  ).list-group-item-action What are the standard terms for a Revenue Share Agreement?
                    i.fa.fa-angle-down
                #collapseSixteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSixteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 The terms of each Revenue Share Agreement are clearly described in the subscription agreement that would be available for review in connection with any offering.  While you would want to reference the subscription agreement for a full understanding of the terms, the most material standard terms would include the following:
                  ol.simple-list
                    li 
                      | Revenue Pool Percentage: each investor is paid from a revenue pool that is created by setting aside a percent of the annual gross revenue of the company.  On GrowthFountain, the standard percentage set-aside is 5% of annual gross revenue.

                    li 
                      | Repayment Multiple: each investor is repaid an annual portion of the revenue pool described above until they are repaid a total amount which is a multiple of the amount that they originally invested.  On GrowthFountain, investors are repaid a total amount equal to twice (2x) their investment amount (excluding any fees related to the investment).
                    li
                      | Repayment Start: this refers to the time that the company starts making the annual payments.  On GrowthFountain, the repayment start is not until the end of the company’s second full fiscal year, so no payment is required after the company’s first fiscal year or any partial year prior to that.
                    li
                      | Forbearance Allowance: this is a right given to the company that allows it to avoid making an annual payment.  It offers the company flexibility so that if it really needs the extra revenue, it is not required to make the annual investor payment.  On GrowthFountain, each company is limited to a one time use of a forbearance right, so they are only able to miss one annual payment before going into default.

              .panel.panel-default
                #headingSeventeenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSeventeenEntrerpreneurQuestions"
                  aria-controls="collapseSeventeenEntrerpreneurQuestions"
                  ).list-group-item-action How is a Revenue Share Agreement different from a traditional loan?
                    i.fa.fa-angle-down
                #collapseSeventeenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSeventeenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Unlike a traditional loan, a Revenue Share Agreement does not carry a fixed interest rate, does not have a consistently predictable repayment schedule and does not have a set maturity date. A business that has taken out a bank loan is required to make payments in fixed amounts regardless of how it is performing. In contrast, a Revenue Share Agreement provides some flexibility and allows the company to make annual payments that rise and fall in correlation with its annual gross revenues. Because a Revenue Share Agreement provides payment flexibility to a business based on its performance, payments made to investors will vary unlike a traditional loan. If the business performs better than expected, the investors could be paid back in a shorter period of time, but in general, a Revenue Share Agreement does not have the predictability of fixed payments that are available in a traditional loan.



              .panel.panel-default
                #headingEighteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseEighteenEntrerpreneurQuestions"
                  aria-controls="collapseEighteenEntrerpreneurQuestions"
                  ).list-group-item-action What happens if I don’t reach my fundraising goal?
                    i.fa.fa-angle-down
                #collapseEighteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingEighteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 If you don’t reach your minimum target, all investor committed capital must be returned. You are able to set a minimum and maximum amount you’re willing to receive, so this flexibility should help you to reach your goal. 

              .panel.panel-default
                #headingNineteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseNineteenEntrerpreneurQuestions"
                  aria-controls="collapseNineteenEntrerpreneurQuestions"
                  ).list-group-item-action Will I have any ongoing reporting requirements?
                    i.fa.fa-angle-down
                #collapseNineteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingNineteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Yes, you will have to file a Form C annually to update your investors. This obligation terminates when 1) you’ve filed one annual report and have fewer than 300 holders and assets &lt; $10 million; 2) you have filed three annual reports; 3) you have repurchased all securities issued under Regulation Crowdfunding or 4) you grow large enough that you have to publicly file. You may also have certain obligations to make reports to the IRS as a result of payments or distributions to investors, and this may include collecting taxpayer information such as social security numbers from investors. GrowthFountain is not able to provide tax related advice.

              .panel.panel-default
                #headingTwentyEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentyEntrerpreneurQuestions"
                  aria-controls="collapseTwentyEntrerpreneurQuestions"
                  ).list-group-item-action Are there any prohibitions that might prevent me from using Regulation Crowdfunding?
                    i.fa.fa-angle-down
                #collapseTwentyEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentyEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 There are a handful of disqualifiers: 1) you must be a US based company; 2) You can’t be an investment company; 3) If you have previously raised money under Regulation Crowdfunding but failed to comply to the ongoing annual reports, you will be unable to conduct a further raise until you are in compliance; 4) your company has no specific business plan or your business plan is to engage in merger or acquisition with an unidentified company; 5) if you happen to have recent audited financials AND your audit includes a qualified, adverse or disclaimer of opinion; or 6) if your independent accountant review includes modifications. There are also eligibility requirements that apply to management, board members and persons owning 20% or more of the Company. GrowthFountain helps you evaluate these potential disqualifying events in connection with completing the Form C.

              .panel.panel-default
                #headingTwentyOneEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentyOneEntrerpreneurQuestions"
                  aria-controls="collapseTwentyOneEntrerpreneurQuestions"
                  ).list-group-item-action How can I advertise my campaign?
                    i.fa.fa-angle-down
                #collapseTwentyOneEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentyOneEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 You can advertise your campaign in any form of media, provided that you abide by the applicable Regulation Crowdfunding restrictions. Federal law limits you to no more than the following:

                  ul.simple-list
                    li 
                      | A statement that you are conducting an offering on 
                      a(href="https://growthfountain.com/").link-2 www.growthfountain.com
                    li
                       
                      | The terms of the offering, including dollar amount offered, type of security, price and closing date
                    li
                       
                      | Your company name, address, phone number, website and email address

                    li
                       
                      | A brief description of your business, which may include, full color posters, advertisements and videos that describe your business and refer people to your offering on GrowthFountain.

                  p.pb10 Get the word out to your family, your friends, and your social network. Empower your advocates to help spread the word and refer people to your campaign on GrowthFountain (while ensuring that they do not go beyond the information limits above). By turning your customers, community and suppliers into owners, you’ll make them feel more committed to your success.

                  p.pb10 Also note that potential investors can ask questions and make comments through the communication channel provided on the platform. While you will have to identify all of your agents who participate in those communication channels, you will nonetheless have a direct line to investors to generate greater interest in your offering. Make sure to avoid forward looking statements and omitting any material facts that would allow investors to be misled.


              .panel.panel-default
                #headingTwentyThreeEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentyThreeEntrerpreneurQuestions"
                  aria-controls="collapseTwentyThreeEntrerpreneurQuestions"
                  ).list-group-item-action What is the 21 day waiting period?
                    i.fa.fa-angle-down
                #collapseTwentyThreeEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentyThreeEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Campaigns must be live for at least 21 days, as required by applicable rules.  You have some flexibility with setting a closing date because in certain circumstances with proper notice to the investors who have made an investment commitment, you will have the ability to close early once your minimum target raise amount is reached.

              .panel.panel-default
                #headingTwentyFourEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentyFourteenEntrerpreneurQuestions"
                  aria-controls="collapseTwentyFourteenEntrerpreneurQuestions"
                  ).list-group-item-action Can non-U.S. businesses list on GrowthFountain?
                    i.fa.fa-angle-down
                #collapseTwentyFourteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentyFourteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 No. At this time, the GrowthFountain website is available only to companies based in the United States or any territory thereof. However, non-U.S. based investors are allowed to invest in any of the offerings on our platform.

              .panel.panel-default
                #headingTwentySixEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentySixteenEntrerpreneurQuestions"
                  aria-controls="collapseTwentySixteenEntrerpreneurQuestions"
                  ).list-group-item-action What is a rolling close?
                    i.fa.fa-angle-down
                #collapseTwentySixteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentySixteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 GrowthFountain allows companies to conduct multiple closings. We disclose in the issuer’s Form C that there may be an early initial closing, followed by multiple closings. The maximum allowable raise and deadline date are still in force, but issuer’s can take in proceeds early once they have reached their minimum goal.
                  p.pb10 GrowthFountain will follow regular requirements for conducting multiple closings – including providing investors with notification of the early close and reminding them of their ability to change their mind and withdrawal their investment commitment.

              .panel.panel-default
                #headingTwentyFiveEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwentyFiveteenEntrerpreneurQuestions"
                  aria-controls="collapseTwentyFiveteenEntrerpreneurQuestions"
                  ).list-group-item-action How much does GrowthFountain cost?
                    i.fa.fa-angle-down
                #collapseTwentyFiveteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwentyFiveteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 GrowthFountain works hard to keep the costs of using our platform very low. For companies that are looking to raise money with us, we charge a registration fee of $500 to help mitigate some of the fixed costs that we incur related to performing background checks, reviewing campaigns and filing documents. If a company is able to successfully meet their minimum fundraising goal, we charge a success fee representing 6% of the total amount raised in the offering along with the pass through of any variable costs attributable to the offerings. We believe that the minimal upfront fees properly align our interests with yours so that we both derive the most benefit when your offering is successful.
                  p.pb10 For investors that participate in an offering, we charge a minimal participation fee of $10 to defray costs. This fee may be waived in certain circumstances and as would be expected, all fees are subject to change and are always fully disclosed in the documentation related to each purchase of securities.


























