section.investor-tutorial-page.hidden-sm-down
  .owl-carousel.owl-theme.carousel-tutorial#carousel-investor
    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/1.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Get started
          h1 Sign up
          p.m-b-1 YOU WILL NEED TO BE SIGNED in TO gain full access to the growthfountain website. 
          p once you're registered, you‘ll be able to join discussions, access our full suite of tools and resources, and (yes) make investments.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase A revolution
    
    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/GF_hands.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 What is equity crowdfunding?
          h1 A revolution
          p.m-b-1 “For the first time, ordinary americans will be able to go online and invest in entrepreneurs that they believe in”  - President OBAMA
          p.m-b-1 Finally, equity crowdfunding is here.
          p.m-b-1 Investors all over the world now have the ability to invest directly in America’s entrepreneurs online.
          p A revolution indeed.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase Browse

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/brouse.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 HOW CAN I LEARN MORE?
          h1 browse
          p.m-b-1 CHECK OUT THE unique BUSINESSES RAISING MONEY ON GROWTHFOUNTAIn. You might be surprised who you find: these businesses could be run by your neighbor, by an entrepreneur in your community, or perhaps by that soon-to-be famous founder who’s in the early process of creating the next big idea.
          p.m-b-1 DISCOVER investments that INTEREST YOU, and FOLLOW THEIR PROGRESS WHILE YOU LEARN MORE ABOUT THEIR BUSINESS, PRODUCTS, AND OFFERING.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase research

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/RESEARCH.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p.m-b-1 Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT.
          p.m-b-2 You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase give me a number

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/5.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 How much can i invest?
          h1.m-b-3 give me a number
          p.m-b-2 You are legally allowed to invest between $2,200 and $107,000 annually based on your income and wealth
          a(href="/account/profile?financial_info").link-3.text-uppercase (click to input your income and wealth)
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase risks
    
    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/RISKS.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Should i invest?
          h1 risks
          p.m-b-1 Roughly one-half of small businesses fail within five years. for those that succeed, the time horizon to create value for shareholders tends to be 7+ years.  please set your expectations accordingly.

          p.m-b-1 You should understand that you may lose your entire investment. If you are risk-averse, are just starting to invest, have only a little money to invest or need the money in the short term, crowdfunding investments likely are not for you.

          p.m-b-1 Investments also carry liquidity risk. you will be limited in your ability to resell your investment for the first year – and you may need to hold your investment for an indefinite period of time as no secondary market currently exists.
          p.m-b-3 Be sure to read about Specific risks associated with each offering in the Form C.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase equity vs revenue share

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/Equity.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12
          h2.text-xs-center what will i actually own?
          h1.text-xs-center equity vs revenue share
          p.text-xs-center Companies on growthfountain can either issue equity or a revenue share.
          h3.m-t-2.m-b-0.text-uppercase.text-xs-center
            u Revenue share
          ul.text-lg-left
            li Receive an annual distribution from a revenue pool equal to 5% of the company’s revenue annually;
            li No distributions are required until the second full calendar year and the company is allowed a one-time forbearance; 
            li Distributions capped at 2x;
            li In event of default, investors become general unsecured creditors.
          h3.m-t-2.m-b-0.text-uppercase.text-xs-center
            u Equity
          ul.text-lg-left
            li You become a shareholder in the company; you are an owner
            li Though equity has no bespoke payment guarantees, you would hope for:
              ol
                li an acquisition at a higher valuation than you invested;
                li the company goes public;
                li the company generates cash flow and pays a dividend.

          p.m-b-0 Once an offering reaches it's goal and closes, you will receive an email from growthfountain containing all 
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase patience

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/8.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 how long is the wait?
          h1 patience
          p it is unlikely you will see a return on your investment in the near term. Venture capital firms typically have time horizons of 5-10 years, and they often invest in later stage companies – so you should prepare for the long haul if you invest in any companies on GrowthFountain.
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase all stop

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/9.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Change your mind?
          h1.m-b-3 All Stop
          p.m-b-1 You have up to 48 hours prior to the end of the offer period to change your mind and cancel your investment for any reason.  

          p If the company makes a material change to their offering, you will be required to reconfirm your investment within five business days. If you do not reconfirm, your investment will be cancelled and money returned to you, less any participation fees assessed and without any accrued interest. 
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase keep me posted

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/10.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Will i receive updates on my investment?
          h1.m-b-3 keep me posted
          p.m-b-1 Companies that raise money via Regulation Crowdfunding will have some limited ongoing reporting requirements, so you may be able to access annual Form C filings on 
            a(href="http://edgar.com/" target="_blank").link-3  Edgar.com 
            |  and on the company’s website.
          p We encourage companies that raise money on GrowthFountain to maintain regular dialogue and communication with investors, however the specifics will be up to the company. 
      .nextstep
        .customNextBtn.right.btn.btn-lg.btn-secondary.m-t-3.m-b-1 up Next
        p.text-uppercase no can do

    div.carousel-item
      - var styleString = 'background: url(' + require('images/investor_slider/no.jpg') + ')';
      div(style=styleString).slider-item
      .slider-content.container
        .col-lg-12.text-xs-center
          h2 Does GrowthFountain recommend investment opportunities?
          h1.m-b-1 no can do
          p.m-b-1 No, we can't make any investment recommendations. We are simply a technology platform built for companies to list and meet potential investors. Please consult your advisors. GrowthFountain does not vet, curate or recommend any offerings on our platform.
      .nextstep
        a(href="/companies").customNextBtn.right.btn.btn-lg.btn-secondary.m-t-0.m-b-2 invest today
        p.m-b-2

section.mobile-investor-tutorial.hidden-md-up.m-t-1
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/1.jpg') alt="...")
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal Get started
            h1.text-uppercase.font-weight-bold.letter-spacing-normal Sign up
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 YOU WILL NEED TO BE SIGNED in TO gain full access to the growthfountain website. 
        p.text-uppercase.m-t-0.m-b-0 once you're registered, you‘ll be able to join discussions, access our full suite of tools and resources, and (yes) make investments.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/GF_hands.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal What is equity crowdfunding?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal A revolution
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 “For the first time, ordinary americans will be able to go online and invest in entrepreneurs that they believe in”  - President OBAMA
        p.text-uppercase.pb10 Finally, equity crowdfunding is here.
        p.text-uppercase.m-t-0.m-b-0  Investors all over the world now have the ability to invest directly in America’s entrepreneurs online.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/brouse.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal HOW CAN I LEARN MORE?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal browse
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 CHECK OUT THE unique BUSINESSES RAISING MONEY ON GROWTHFOUNTAIn. You might be surprised who you find: these businesses could be run by your neighbor, by an entrepreneur in your community, or perhaps by that soon-to-be famous founder who’s in the early process of creating the next big idea.
        p.text-uppercase DISCOVER investments that INTEREST YOU, and FOLLOW THEIR PROGRESS WHILE YOU LEARN MORE ABOUT THEIR BUSINESS, PRODUCTS, AND OFFERING.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/RESEARCH.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal Before MAKING AN investMENT, YOU NEED TO DO YOUR
            h1.text-uppercase.font-weight-bold.letter-spacing-normal Research
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT.
        p.text-uppercase You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/5.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal How much can i invest?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal give me a number
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 You are legally allowed to invest between $2,200 and $107,000 annually based on your income and wealth
        a(href="/account/profile?financial_info").link-3 (click to launch our investor calculator)
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/RISKS.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal Should i invest?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal risks
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 Roughly one-half of small businesses fail within five years. for those that succeed, the time horizon to create value for shareholders tends to be 7+ years.  please set your expectations accordingly.
        p.text-uppercase.m-t-1.pb10 You should understand that you may lose your entire investment. If you are risk-averse, are just starting to invest, have only a little money to invest or need the money in the short term, crowdfunding investments likely are not for you.
        p.text-uppercase.m-t-1.pb10 Investments also carry liquidity risk. you will be limited in your ability to resell your investment for the first year – and you may need to hold your investment for an indefinite period of time as no secondary market currently exists.
        p.text-uppercase Be sure to read about Specific risks associated with each offering in the Form C.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/Equity.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal what will i actually own?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal equity vs revenue share
      .col-lg-12
        p.text-xs-center.text-uppercase.m-t-1.pb10 Companies on growthfountain can either issue equity or a revenue share.
        p.text-uppercase.m-t-1.pb10
          u Revenue share
        ul.text-lg-left
          li Receive an annual distribution from a revenue pool equal to 5% of the company’s revenue annually;
          li No distributions are required until the second full calendar year and the company is allowed a one-time forbearance; 
          li Distributions capped at 2x;
          li In event of default, investors become general unsecured creditors.
        p.text-uppercase.m-t-1.pb10
          u Equity
        ul.text-lg-left
          li You become a shareholder in the company; you are an owner
          li Though equity has no bespoke payment guarantees, you would hope for:
            ol
              li an acquisition at a higher valuation than you invested;
              li the company goes public;
              li the company generates cash flow and pays a dividend.
        p.m-b-0.text-uppercase Once an offering reaches it's goal and closes, you will receive an email from growthfountain containing all the details.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/8.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal how long is the wait?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal patience
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1 it is unlikely you will see a return on your investment in the near term. Venture capital firms typically have time horizons of 5-10 years, and they often invest in later stage companies – so you should prepare for the long haul if you invest in any companies on GrowthFountain.
  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/10.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal Will i receive updates on my investment?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal keep me posted
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1.pb10 Companies that raise money via Regulation Crowdfunding will have some limited ongoing reporting requirements, so you may be able to access annual Form C filings on
          a(href="http://edgar.com/" target="_blank").link-3  Edgar.com
          |  and on the company’s website.
        p We encourage companies that raise money on GrowthFountain to maintain regular dialogue and communication with investors, however the specifics will be up to the company. 

  hr.m-t-3.m-b-3
section.mobile-investor-tutorial.hidden-md-up
  .container
    .row.m-b-3
      .col-lg-12
        .wrap-contant
          img(src=require('images/investor_slider/no.jpg') alt="...")#next
          .content
            h2.m-t-0.m-b-1.text-uppercase.letter-spacing-normal Does GrowthFountain recommend investment opportunities?
            h1.text-uppercase.font-weight-bold.letter-spacing-normal no can do
      .col-lg-12.text-xs-center
        p.text-uppercase.m-t-1 No, we can't make any investment recommendations. We are simply a technology platform built for companies to list and meet potential investors. Please consult your advisors. GrowthFountain does not vet, curate or recommend any offerings on our platform.