- document.title = 'Equity Crowdfunding Investor FAQ ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'Learn about becoming an equity crowdfunding investor';

- pug_html += app.breadcrumbs('Investor FAQs', '', [ ['Home', '/'], ['Investor FAQs', ''], ]);
 
section.text_block
  .container
    .row
      .col-lg-3.hidden-md-down 
        .page_title.border-bottom
          h4.text-uppercase.dosis faq
        ul.list-unstyled.pt30.pages-left-menu
          li.class
            a.d-inline-block.w-100(href='/pg/faq') General Questions
          li.class
            a.d-inline-block.w-100(href='/pg/entrepreneur-questions') Entrepreneur Questions
          li.class.active
            a.d-inline-block.w-100(href='/pg/investor-questions') Investor Questions
      .col-lg-9

        .row
          .col-lg-12.text-xs-center
            h2.text-uppercase.dosis.m-t-0 Investor Questions

        .row
          .col-lg-12
            #entrerpreneurQuestions.accordion(role="tablist" aria-multiselectable="true")
              .panel.panel-default
                #headingOneEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseOneEntrerpreneurQuestions"
                  aria-expanded="true"
                  aria-controls="collapseOneEntrerpreneurQuestions"
                  ).list-group-item-action.m0.active How do I become an investor?
                    i.fa.fa-angle-up
                #collapseOneEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingOneEntrerpreneurQuestions"
                ).panel-collapse.collapse.in 
                  p.pb10 Anyone can view the offerings on GrowthFountain. To invest, you will need to register and open an account. Prior to making any investment, you’ll want to make sure you’ve reviewed the 
                    a(href="/pg/education").link-2 education section 
                    |  to ensure you understand the risks involved with investing in small businesses. Once you understand the process, the next step is to search the entrepreneurs and local businesses listed on our platform to find those that you want to support.

              .panel.panel-default
                #headingTwoEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwoEntrerpreneurQuestions"
                  aria-controls="collapseTwoEntrerpreneurQuestions"
                  ).list-group-item-action How can I see the available investment opportunities?
                    i.fa.fa-angle-down
                #collapseTwoEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwoEntrerpreneurQuestions"
                ).panel-collapse.collapse 
                  p.pb10 When you log into the GrowthFountain site you will be able to browse the available projects. In order to ask questions to specific company management teams or to make an investment commitment, you’ll have to create a log in and register on our site. Also, as a registered user, you may receive periodic communications from us about new investment opportunities and updates on your prior investments. 

              .panel.panel-default
                #headingFourEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFourEntrerpreneurQuestions"
                  aria-controls="collapseFourEntrerpreneurQuestions"
                  ).list-group-item-action How much am I allowed to invest?
                    i.fa.fa-angle-down
                #collapseFourEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFourEntrerpreneurQuestions"
                ).panel-collapse.collapse
                  p.pb10 Regulation Crowdfunding includes rules that dictate the limits on how much any individual can invest in a 12-month period. Based on your income and net worth, you are allowed to invest between $2,200 and $107,000 per year. We will help you determine your annual caps during the registration process and you can reference the specific rules at 17 CFR 227.100. 

              .panel.panel-default
                #headingFiveEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFiveEntrerpreneurQuestions"
                  aria-controls="collapseFiveEntrerpreneurQuestions"
                  ).list-group-item-action What will I actually own?
                    i.fa.fa-angle-down
                #collapseFiveEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFiveEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Each offering contains a description of the securities being sold within the Form C related to the issuer.  You should reference the Form C to get specific information about the rights and attributes associated with the securities being offered. In general, with equity, you would own a portion of the company and with the Revenue Share Agreement, you would own a right to share in a portion of the issuer’s revenue.  The terms of the securities will govern your rights so please carefully review the relevant Form C to get such information. Make sure you understand the investment and the risks involved. 

              .panel.panel-default
                #headingSixEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSixEntrerpreneurQuestions"
                  aria-controls="collapseSixEntrerpreneurQuestions"
                  ).list-group-item-action How does the investment process work?
                    i.fa.fa-angle-down
                #collapseSixEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSixEntrerpreneurQuestions"
                ).panel-collapse.collapse 
                  p.pb10 Once you have created an account on the GrowthFountain platform, we allow you to search through the issuer listings to pose questions to their representatives in order to assist you with your diligence effort.  Once you find an investment that interests you, simply click the “INVEST” button to communicate your investment commitment and complete a Subscription Agreement. We take you through the investment process step by step and will ask you the questions needed to ensure your eligibility to participate in the offering. Once you make an investment commitment, your funds will be processed and securely held with a third-party FDIC insured account designated by GrowthFountain as being for the benefit of issuers and investors. When the company reaches their minimum investment target, the funds will be transferred and you will become a security holder in the company. If the company does not reach its fundraising goal, your committed funds will be returned to you, less any participation fees assessed and without any accrued interest. GrowthFountain does not take possession of any investor funds during the process. 

              .panel.panel-default
                #headingSevenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSevenEntrerpreneurQuestions"
                  aria-controls="collapseSevenEntrerpreneurQuestions"
                  ).list-group-item-action What are the risks of crowdfund investing?
                    i.fa.fa-angle-down
                #collapseSevenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSevenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Many small businesses in the U.S. go out of business every year. It is difficult to know how companies will grow, what changes might occur in the market or the many ways a company can stumble. In general, crowdfunding investors have the risks associated with being a minority shareholder in so far as they have limited control and information rights. You should review the Form C to read more about the specific risk factors involved in an offering. Investing in early stage businesses requires high risk-tolerance, low liquidity concerns, and long-term commitments. Investors must be able to afford to lose their entire investment. 

              .panel.panel-default
                #headingEightEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseEightEntrerpreneurQuestions"
                  aria-controls="collapseEightEntrerpreneurQuestions"
                  ).list-group-item-action What happens if the company doesn’t reach its fundraising goal?
                    i.fa.fa-angle-down
                #collapseEightEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingEightEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 If a company doesn’t reach its minimum target raise, the funds you committed in that offering will be returned to you, less any participation fees assessed and without any accrued interest. No additional action would be required on your part, we would contact the third-party FDIC insured account to ensure that the money is returned to your account.


              .panel.panel-default
                #headingNineEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseNineEntrerpreneurQuestions"
                  aria-controls="collapseNineEntrerpreneurQuestions"
                  ).list-group-item-action What is an FBO Account?
                    i.fa.fa-angle-down
                #collapseNineEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingNineEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 An FBO Account is an acronym for a “for the benefit of” account and references a third-party FDIC insured account designated by GrowthFountain as being for the benefit of issuers and investors. Since GrowthFountain does not take possession of any investor funds, all committed capital would be held in the third-party FDIC insured FBO account. If a company reaches its minimum target fundraising goal, your committed capital would be transferred from the third-party FDIC insured FBO account to the company and the company would issue the purchased securities to each of the investors. If a company fails to reach its minimum target fundraising goal, all investor commitment amounts would be returned from the third-party FDIC insured FBO account, less any participation fees assessed and without any accrued interest. 
                  

              .panel.panel-default
                #headingTenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTenEntrerpreneurQuestions"
                  aria-controls="collapseTenEntrerpreneurQuestions"
                  ).list-group-item-action What happens if a company is oversubscribed?
                    i.fa.fa-angle-down
                #collapseTenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 A company has the ability to identify a minimum target amount as well as a maximum target amount to establish a range of anticipated dollar raises for its offering. It’s our policy at GrowthFountain to handle investor subscriptions on a first-come first-serve basis and we handle oversubscriptions in the same manner unless the issuer determines otherwise.

              .panel.panel-default
                #headingElevenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseElevenEntrerpreneurQuestions"
                  aria-controls="collapseElevenEntrerpreneurQuestions"
                  ).list-group-item-action Does GrowthFountain make investment recommendations?
                    i.fa.fa-angle-down
                #collapseElevenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingElevenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 No, we do not make any investment recommendations or provide any investment advice consistent with the regulations placed upon us as a funding portal registered with the SEC. The companies listed on our platform are presented in a manner using objective criteria and do not reflect any preference or any effort to highlight one offering over another. Please consult your advisors. GrowthFountain does not curate or promote any offerings on our platform.

              .panel.panel-default
                #headingTwelveEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwelveEntrerpreneurQuestions"
                  aria-controls="collapseTwelveEntrerpreneurQuestions"
                  ).list-group-item-action How do I receive securities?
                    i.fa.fa-angle-down
                #collapseTwelveEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwelveEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 If the company successfully reaches its minimum target fundraising goal by the closing date, the offering will close and your investment commitment will be released to the company. The issuer will record all investments in book entry form. The fully executed Subscription and Purchase Agreement relating to the offering will serve as a written record of the transaction and will be available on the Platform via the investor dashboard. The investor will also receive email confirmation of the successful closing of the offering, which will confirm the securities purchased and the amount paid.


              .panel.panel-default
                #headingTwelvesEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseTwelvesEntrerpreneurQuestions"
                  aria-controls="collapseTwelvesEntrerpreneurQuestions"
                  ).list-group-item-action What updates should I expect?
                    i.fa.fa-angle-down
                #collapseTwelvesEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingTwelvesEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Companies that raise money via Regulation Crowdfunding will have certain ongoing reporting obligations, including filing an annual Form C accessible on Edgar.com and on the company’s website.   The company will have ongoing reporting requirements until:

                  ul.simple-list
                    li The company is required to file reports under Section 13(a) or Section 15(d) of the Exchange Act;

                    li The company has filed at least one annual report and has fewer than 300 holders of record;

                    li The company has filed at least three annual reports and has total assets less than $10 million;

                    li The company or another party has repurchased all the securities issued pursuant to Regulation Crowdfunding;
                    li The company liquidates or dissolves in accordance with state law.

                  p.pb10 In addition to the required reporting obligations described above, an issuer may take on additional reporting obligations to the extent described in the Form C related to any offering.   Additionally, an issuer may choose to communicate with investors directly after an offering or through its transfer agent, as determined in the issuer’s discretion.

              .panel.panel-default
                #headingFourteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFourteenEntrerpreneurQuestions"
                  aria-controls="collapseFourteenEntrerpreneurQuestions"
                  ).list-group-item-action Can I sell my shares?
                    i.fa.fa-angle-down
                #collapseFourteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFourteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Securities issued in reliance on Regulation Crowdfunding are subject to a 12 month holding period with only limited exceptions on transfer. In limited circumstances, you may be able to transfer your purchased securities back to the issuer, to an accredited investor or to family members. But in general, it is more likely that you will be unable to freely resell your securities for at least a year and perhaps longer. Please note that it may be difficult or impossible to find liquidity for your shares because they are not listed on any exchange and a public trading market may never develop. You should not invest in any offering if you have an immediate need for the return of your funds.

              .panel.panel-default
                #headingFifteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseFifteenEntrerpreneurQuestions"
                  aria-controls="collapseFifteenEntrerpreneurQuestions"
                  ).list-group-item-action How do I earn a return?
                    i.fa.fa-angle-down
                #collapseFifteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingFifteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Please be sure to understand the risks involved in Regulation Crowdfunding since it is possible that you see no return or lose the value of your entire investment. Your ability to earn a return will be linked to the success of the issuer and the terms of the security that you purchased. Revenue Share Agreement provides the possibility of earning a return through receipt of distributions. For Equity, you may earn a return if and when 1) the company pays a dividend; 2) the company is bought; or 3) the company has an initial public offering and lists on a public exchange. 

              .panel.panel-default
                #headingSixteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSixteenEntrerpreneurQuestions"
                  aria-controls="collapseSixteenEntrerpreneurQuestions"
                  ).list-group-item-action Can I change my mind?
                    i.fa.fa-angle-down
                #collapseSixteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSixteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Yes. After you make an investment commitment, you will have the opportunity to change your mind and cancel your subscription up until 48 hours prior to the date of the funding closing. If you have not cancelled your investment commitment prior to the final 48 hours of an offering, then your commitment will become irrevocable.

              .panel.panel-default
                #headingSeventeenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseSeventeenEntrerpreneurQuestions"
                  aria-controls="collapseSeventeenEntrerpreneurQuestions"
                  ).list-group-item-action Is there a minimum investment amount?
                    i.fa.fa-angle-down
                #collapseSeventeenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingSeventeenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Yes. The minimum investment may vary based on the specific offering. You can determine the minimum investment by reviewing the Form C relevant to any offering. In general, we expect the minimum investment amount will be $100. 

              .panel.panel-default
                #headingEighteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapseEighteenEntrerpreneurQuestions"
                  aria-controls="collapseEighteenEntrerpreneurQuestions"
                  ).list-group-item-action Does it cost anything for an investor to register or participate in an offering? 
                    i.fa.fa-angle-down
                #collapseEighteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingEighteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 There are never any costs or fees associated with an investor’s ability to view the offerings on the platform or to register so that an investor can ask questions of an issuer’s management team.  If an investor decides to participate in an offering, there is a fixed minimal participation fee of $10 that is assessed to defray costs.  This fee may be waived in certain circumstances and as would be expected, fees are subject to change and are always fully disclosed in the documentation related to each purchase of securities.
              .panel.panel-default
                #headingnineteenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapsenineteenEntrerpreneurQuestions"
                  aria-controls="collapsenineteenEntrerpreneurQuestions"
                  ).list-group-item-action Do I need to provide my social security number?
                    i.fa.fa-angle-down
                #collapsenineteenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingnineteenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 You do not need to provide your social security number to invest but you may need to provide your social security number in the future in order to receive certain payments and distributions from the issuers in which you invest. Since GrowthFountain is not able to offer tax related advice, the determination around how your investment and returns are treated is left up to the issuer and the Internal Revenue Service. If your social security number is needed, the issuer will contact you to request it after the closing. For this reason, please be sure to provide accurate contact information and to promptly update it if such information changes.

              .panel.panel-default
                #headingtenEntrerpreneurQuestions(role="tab").panel-heading
                  a(data-toggle="collapse"
                  data-parent="#entrerpreneurQuestions" 
                  href="#collapsetenEntrerpreneurQuestions"
                  aria-controls="collapsetenEntrerpreneurQuestions"
                  ).list-group-item-action How are companies highlighted or ordered?
                    i.fa.fa-angle-down
                #collapsetenEntrerpreneurQuestions(role="tabpanel"
                aria-labelledby="headingtenEntrerpreneurQuestions"
                ).panel-collapse.collapse  
                  p.pb10 Companies on GrowthFountain.com are listed in order of the amount of investment commitments received. If you’re using one of our affinity group sites (which would be identified as, for example, affinity.growthfountain.com) then we list companies first that are affiliated with that affinity, and then the companies in order of the amount of investment commitments received.
                  p.pb10 Companies identified as “Trending” have surpassed their minimum funding target.


















