- document.title = 'GrowthFountain In the News';
- document.head.querySelector('meta[name="description"]').content = 'GrowthFountain has been covered in press by established publications like TechCrunch, Cheddar TV, MasSolutions, Money Inc, Fortune, and Yahoo Finance.';

- pug_html += app.breadcrumbs('GrowthFountain Press', '', [ ['Home', '/'], ['GrowthFountain Press', ''], ]);

section.text_block 
  .container
    .row
      .col-lg-3.hidden-md-down  
        .page_title.border-bottom.mb25
          h4.text-uppercase ABOUT US
        ul.list-unstyled.custom.pages-left-menu
          li
            a(href='/pg/overview').d-inline-block.w-100 GrowthFountain Overview
          li
            a(href='/pg/team').d-inline-block.w-100 #{app.config.teamName}
          li.display-partners
            a(href='/pg/partners').d-inline-block.w-100 Partners
          li
            a(href='/pg/contact').d-inline-block.w-100 Contact Us
          li
            a(href='/pg/careers').d-inline-block.w-100 Careers
          li.active
            a(href='/pg/news').d-inline-block.w-100 In the News
          li
            a(href='/pg/faq').d-inline-block.w-100 FAQ

      .col-lg-9
        h2.text-uppercase.text-xs-center.m-t-0 Media Coverage of GrowthFountain
        h3.font-weight-light.text-xs-center.m-b-3.m-t-0 GrowthFountain helps businesses raise capital online with its equity crowdfunding portal. For press features or speaking opportunities for GrowthFountain or CEO Kenneth Staut, please contact info@growthfountain.com
        ul.list-unstyled.m0
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://www.inc.com/magazine/201710/norm-brodsky/crowdfunding.html" target="_blank")
                    img(src=require("images/pages/inc.png") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://www.inc.com/magazine/201710/norm-brodsky/crowdfunding.html" target="_blank")
                    b
                      | Why Crowdfunding Suddenly Looks Good to This Serial Entrepreneur
                
                p.pt10 The crowdfunding phenomenon has been fascinating to watch, but it never seemed relevant to any of my businesses, until now. There's a new form of crowdfunding being led by companies such as GrowthFountain...

          

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://techcrunch.com/2017/01/23/growthfountain/" target="_blank")
                    img(src=require("images/pages/TC.jpg") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://techcrunch.com/2017/01/23/growthfountain/" target="_blank")
                    b
                      | New equity crowdfunding platform GrowthFountain launched today
                
                p.pt10 There’s no shortage of equity crowdfunding sites out there, but GrowthFountain thinks it has the special sauce to cut through the mayhem by thinking close to home. Focusing on investors local (or at least regional)...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank")
                    img(src=require("images/pages/cheddar.jpg") alt="cheddar")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank")
                    b
                      | Growthfountain on The Launch of its New Equity Crowdfunding Campaign
                
                p.pt10.pb10 Check out our interview on 
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank").link-3 Cheddar TV
                p Newly launched Growthfountain talks about equity crowdfunding and its latest campaign.
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.timesfreepress.com/news/business/aroundregion/story/2017/oct/18/tapgrowth-fountaopens-funding-small-business/454953/" target="_blank")
                    img(src=require("images/pages/timespress.png") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.timesfreepress.com/news/business/aroundregion/story/2017/oct/18/tapgrowth-fountaopens-funding-small-business/454953/" target="_blank")
                    b
                      | Growth Fountain opens up funding for small business startups
                
                p.pt10 After giving up his White Whale Room coffee and cocktail bar in Denver earlier this year, Dakin Cranwell Jr., moved back to his native Chattanooga this summer to get on board with a new drinking...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://wdef.com/2017/10/18/startup-week-session/" target="_blank")
                    img(src=require("images/pages/wdef.png") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://wdef.com/2017/10/18/startup-week-session/" target="_blank")
                    b
                      | Startup Week Session
                
                p.pt10 CHATTANOOGA, Tenn. (WDEF) – Tennessee Valley Federal Credit Union is partnering up with GrowthFountain for Startup Week in Chattanooga. The new initiative is for entrepreneurs in the area who are having...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://massolutions.biz/173-ken-staut/" target="_blank")
                    img(src=require("images/pages/massolutions.jpg") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://massolutions.biz/173-ken-staut/" target="_blank")
                    b
                      | 173: KEN STAUT
                
                p.pt10 Listen as guest Ken Staut, the CEO of GrowthFountain, an SEC registered funding portal based in New York City joins the No BS Show! Staut talks about growing up in the South Hills of Pittsburgh, and moving on to...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://massolutions.biz/174-ken-staut-part-2/" target="_blank")
                    img(src=require("images/pages/massolutions.jpg") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://massolutions.biz/174-ken-staut-part-2/" target="_blank")
                    b
                      | 174: KEN STAUT PART 2
                
                p.pt10 In Episode 174, Ken Staut, returns for Part 2 of the No B******t Marketing Show! In Part 1, Dave and Ken converse about the road to creating GrowthFountain, an SEC registered funding portal based in New York City...
                
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/Crowdfunding_Tour_Enlisting_Credit_Union_Partners.pdf') target="_blank")
                    img(src=require("images/pages/news2.png") alt="")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/Crowdfunding_Tour_Enlisting_Credit_Union_Partners.pdf') target="_blank")
                    b
                      | Crowdfunding Tour Enlisting Credit Union Partners

                p.pt10 New York City-based GrowthFountain, an equity crowdfunding platform, is preparing for “The Heartland Tour,” to shine the spotlight on business startups and get credit union partners involved in the process...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://www.crowdfundinsider.com/2017/04/99381-regulation-crowdfunding-see-day-day/" target="_blank")
                    img(src=require("images/pages/news3.png") alt="crowdfundinsider")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://www.crowdfundinsider.com/2017/04/99381-regulation-crowdfunding-see-day-day/" target="_blank")
                    b
                      | Regulation Crowdfunding: What We See Day to Day

                p.pt10 Regulation Crowdfunding is somewhere in the top half of the first inning of a nine-inning ballgame.  I’m not even sure the first batter has seen more than a pitch or two.  It will certainly be fascinating to see how the game develops...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://moneyinc.com/future-fundraising-extension-social-contract/" target="_blank")
                    img(src=require("images/pages/moneyinc.jpg") alt="moneyinc")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://moneyinc.com/future-fundraising-extension-social-contract/" target="_blank")
                    b
                      | The Future of Fundraising: An Extension of the Social Contract

                p.pt10 When you walk down main street anywhere in America – whether you’re in Sioux Falls, South Dakota or New York City, you’re sure to notice myriad local businesses on both sides of the street.  Restaurants, bars, dry cleaners...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/Credit.Union.Times.3_17_17-1.pdf') target="_blank")
                    img(src=require("images/pages/news2.png") alt="")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/Credit.Union.Times.3_17_17-1.pdf') target="_blank")
                    b
                      | Crowdfunding: New Opportunity for Start-Ups & Credit Unions

                p.pt10 A partnership between New York City based GrowthFountain, an equity crowdfunding platform, and $7.6 billion, Marlborough, Mass.-based Digital Federal Credit Union enables entrepreneurs to raise capital...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.businessnewsdaily.com/9923-credit-union-equity-crowdfunding-finance-startup.html" target="_blank")
                    img(src=require("images/pages/news-daily.png") alt="businessnewsdaily")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.businessnewsdaily.com/9923-credit-union-equity-crowdfunding-finance-startup.html" target="_blank")
                    b
                      | Credit Unions and Equity Crowdfunding: A Funding Match Made in Heaven

                p.pt10 Equity crowdfunding, a method of raising capital from small-dollar investors implemented by Title III of the Jumpstart Our Business Startups (JOBS) Act, came online nearly a year ago. The measure was touted as...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.cutoday.info/THE-feature/Program-To-Help-Early-Stage-Startups" target="_blank")
                    img(src=require("images/pages/cutoday.png") alt="businessnewsdaily")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.cutoday.info/THE-feature/Program-To-Help-Early-Stage-Startups" target="_blank")
                    b
                      | Program To Help Early Stage Startups

                p.pt10 NEW YORK—Approximately 15 credit unions have partnered with a new equity crowdfunding platform to build their small business loan portfolios. GrowthFountain is providing each of the credit unions with a white-labeled...
                
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.tulsaworld.com/business/smallbusiness/tulsa-company-offers-crowd-funding-platform-for-startups/article_e9a0859d-e0cf-5eb6-9bb9-01aaf7b81d34.html" target="_blank")
                    img(src=require("images/pages/tulsa_world.png") alt="cheddar")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.tulsaworld.com/business/smallbusiness/tulsa-company-offers-crowd-funding-platform-for-startups/article_e9a0859d-e0cf-5eb6-9bb9-01aaf7b81d34.html" target="_blank")
                    b
                      | Tulsa company offers crowd-funding platform for startups

                p.pt10 Typically, raising capital is a obstacle to expanding a small business. Greg Peters seeks to lower that hurdle. Partnering with New York-based GrowthFountain, the co-founder of ...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="#audio-modal" data-toggle="modal" data-target="#audio-modal")
                    img(src=require("images/pages/business_radio.png") alt="cheddar")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="#audio-modal" data-toggle="modal" data-target="#audio-modal")
                    b
                      | Ken Staut discusses equity crowdfunding on the Barry Moltz show

                p.pb10.pt10 Listen to the interview on the 
                  a(href="#audio-modal" data-toggle="modal" data-target="#audio-modal").link-3 Barry Moltz show
                p Ken Staut, CEO of GrowthFountain talks about equity crowdfunding and its revolutionary possibilities for small businesses.
          
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/GrowthFountain.April.Bar.Business.Magazine.pdf') target="_blank")
                    img(src=require("images/pages/bar-business.png") alt="finance")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/GrowthFountain.April.Bar.Business.Magazine.pdf') target="_blank")
                    b
                      | Raise capital and Brand Ambassadors
                
                p.pt10 Imagine assembling a team of brand ambassadors who will promote your bar to anyone who will listen. It can now be a reality thanks to GrowthFountain. Launched in February, GrowthFountain is an... 
          
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.smallbizdaily.com/entrepreneur-life/" target="_blank")
                    img(src=require("images/pages/smallbizdaily.png") alt="finance")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.smallbizdaily.com/entrepreneur-life/" target="_blank")
                    b
                      | Seeking Out Risk: The Life of an Entrepreneur
                
                p.pt10 A friend of mine once asked me if I am motivated out of fear of failure or a drive to succeed. My answer clearly depicts why I’ve been a moderately successful entrepreneur, and why I’m not really cut out to be a cog within...
                
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://finance.yahoo.com/news/equity-crowdfunding-platform-launches-simplify-184200479.html" target="_blank")
                    img(src=require("images/pages/news-yahoo.jpg") alt="finance")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://finance.yahoo.com/news/equity-crowdfunding-platform-launches-simplify-184200479.html" target="_blank")
                    b
                      | Equity Crowdfunding Platform Launches to Simplify Raising Capital for Small Businesses
                
                p.pt10 GrowthFountain, an innovative equity crowdfunding platform that provides local businesses with an exciting new channel to raise capital, announced today its official platform launch for online investing. GrowthFountain...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.crowdfundinsider.com/2017/01/94999-growthfountain-newest-finra-approved-reg-cf-crowdfunding-platform/" target="_blank")
                    img(src=require("images/pages/news3.png") alt="crowdfundinsider")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.crowdfundinsider.com/2017/01/94999-growthfountain-newest-finra-approved-reg-cf-crowdfunding-platform/" target="_blank")
                    b
                      | GrowthFountain is Newest FINRA Approved Reg CF Crowdfunding Platform
                
                p.pt10 GrowthFountain is the newest entry into the Reg CF crowdfunding space. The platform received its regulatory approval in December and today has officially launched. As of today, 22 platforms have received regulatory...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://news.efinancialcareers.com/us-en/273289/from-hedge-funds-to-kickstarter-meets-goldman-sachs-startup-growthfountain/" target="_blank")
                    img(src=require("images/pages/efinan.jpg") alt="efinancialcareers")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://news.efinancialcareers.com/us-en/273289/from-hedge-funds-to-kickstarter-meets-goldman-sachs-startup-growthfountain/" target="_blank")
                    b
                      | Why I sold my hedge fund to take on the banks
                
                p.pt10 After Ken Staut graduated with his MBA from Columbia University, he co-founded an event-driven long/short hedge fund. He wore many hats, working on everything from data analytics, risk management and...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.builtinnyc.com/2017/01/26/growthfountain-launches-new-york" target="_blank")
                    img(src=require("images/pages/builtinnyclogobothblue.jpg") alt="builtinnyc")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.builtinnyc.com/2017/01/26/growthfountain-launches-new-york" target="_blank")
                    b
                      | New NYC startup GrowthFountain launches with the latest take on equity crowdfunding
                
                p.pt10 When former President Barack Obama signed The Jumpstart our Business Startups Act (JOBS Act) into law, new startups began popping up everywhere. The legislation was largely supported by the technology and startup...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.youngupstarts.com/2017/03/01/from-the-recession-to-riches-the-journey-to-start-a-successful-startup/" target="_blank")
                    img(src=require("images/pages/youngpstarts.jpg") alt="youngupstarts")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.youngupstarts.com/2017/03/01/from-the-recession-to-riches-the-journey-to-start-a-successful-startup/" target="_blank")
                    b
                      | From The Recession To Riches: The Journey To Start A Successful Startup
                
                p.pt10 My entrepreneurial story, as I suspect is true of most, is one of tenacity.  Let’s just say I didn’t end up with a pretty girl because of my looks. It was because of my tenacious personality and my inability to give up or give in. I draw a...
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.fa-mag.com/news/small-investprs-invest-in-small-businesses-31094.html?section=43" target="_blank")
                    img(src=require("images/pages/FAM_logo.jpg") alt="fa-mag")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.fa-mag.com/news/small-investprs-invest-in-small-businesses-31094.html?section=43" target="_blank")
                    b
                      | Small Investors Invest In Small Businesses
                
                p.pt10 Would you like to help your local restaurant stay in business? Or, if you own the local flower shop, would you like to raise the money you need to expand from you patrons and neighbors? These are the types of questions Ken...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://homebusinessmag.com/business-start-up/business-start-up-blog/leveraging-great-recession-make-start-dream-reality/" target="_blank")
                    img(src=require("images/pages/home_business.jpg") alt="homebusinessmag")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://homebusinessmag.com/business-start-up/business-start-up-blog/leveraging-great-recession-make-start-dream-reality/" target="_blank")
                    b
                      | Leveraging the Great Recession to Make My Start-Up Dream a Reality
                
                p.pt10 As a kid, I was fascinated by Wall Street. When my parents took me and my siblings on a tour of the New York Stock Exchange and I got to witness the frenzy and excitement, I knew it was for me. I didn’t understand what was happening and, as a boy, I couldn’t quite comprehend the concept...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://fortune.com/2017/02/23/entrepreneurs-career-advice-work-setbacks-confidence/" target="_blank")
                    img(src=require("images/pages/fortume.jpg") alt="fortune")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://fortune.com/2017/02/23/entrepreneurs-career-advice-work-setbacks-confidence/" target="_blank")
                    b
                      | Here’s When It’s Okay to Bluff at Work
                
                p.pt10 The Entrepreneur Insiders network is an online community where the most thoughtful and influential people in America’s startup scene contribute answers to timely questions about entrepreneurship and careers. Today’s...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.pymnts.com/news/b2b-payments/2017/growthfountain-equity-crowdfunding-sme-small-business-investment-funding-finance-lending-invest-regulation-a-jobs-act/" target="_blank")
                    img(src=require("images/pages/pymnts.jpg") alt="pymnts")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.pymnts.com/news/b2b-payments/2017/growthfountain-equity-crowdfunding-sme-small-business-investment-funding-finance-lending-invest-regulation-a-jobs-act/" target="_blank")
                    b
                      | SMEs Begin To Test The Regulation A+ Waters
                
                p.pt10 The largest anxiety critics of the alternative lending space have today is a lack of regulation. Without investor protection and without regulation on the cost of financing, small and medium-sized businesses, those critics say, may...
          
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://creator.wework.com/grow-your-business/expert-advice-ken-stauts-4-reasons-equity-crowdfunding-worth/" target="_blank")
                    img(src=require("images/pages/n4.jpg") alt="creator")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://creator.wework.com/grow-your-business/expert-advice-ken-stauts-4-reasons-equity-crowdfunding-worth/" target="_blank")
                    b
                      | Expert Advice: Ken Staut’s 4 Reasons Why Equity Crowdfunding Is Worth it
                
                p.pt10 Building a business requires quick access to capital. And Ken Staut, founder of GrowthFountain, wants to make finding funding even easier. GrowthFountain is a platform dedicated to equity crowdfunding. Most...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://fortune.com/2017/03/30/growthfountain-entrepreneurs-investors/" target="_blank")
                    img(src=require("images/pages/fortume.jpg") alt="fortume")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://fortune.com/2017/03/30/growthfountain-entrepreneurs-investors/" target="_blank")
                    b
                      | The 2 Words You Should Never Say to an Investor

                p.pt10 The Entrepreneur Insiders network is an online community where the most thoughtful and influential people in America’s startup scene contribute answers to timely questions about entrepreneurship and careers. Today’s...
                
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://moneyinc.com/how-to-run-a-successful-crowdfunding-campaign/" target="_blank")
                    img(src=require("images/pages/moneyinc.jpg") alt="moneyinc")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://moneyinc.com/how-to-run-a-successful-crowdfunding-campaign/" target="_blank")
                    b
                      | How to Run a Successful Crowdfunding Campaign
                
                p.pt10 Regulation Crowdfunding is finally here, and it is quickly gaining traction nationwide.  America’s small businesses and entrepreneurs finally have the opportunity to publicly advertise their fundraise, and equally important...
                
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.tsys.com/ngenuity-journal/mastering-a-new-type-of-crowdfunding-with-equity-investments.cfm" target="_blank")
                    img(src=require("images/pages/news1.png") alt="tsys")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.tsys.com/ngenuity-journal/mastering-a-new-type-of-crowdfunding-with-equity-investments.cfm" target="_blank")
                    b
                      | Mastering A New Type of Crowdfunding With Equity Investments
                
                p.pt10 Crowdfunding is the process of funding a project or venture by raising small amounts of money from a large number of people. Many have encountered some types of crowdfunding already ─ perhaps having been invited to join...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.crowdfundinsider.com/2014/11/54809-callahan-associates-announces-strategic-partnership-growthfountain-opening-crowdfunding-opportunities-millions-credit-union-members/" target="_blank")
                    img(src=require("images/pages/news3.png") alt="crowdfundinsider")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.crowdfundinsider.com/2014/11/54809-callahan-associates-announces-strategic-partnership-growthfountain-opening-crowdfunding-opportunities-millions-credit-union-members/" target="_blank")
                    b
                      | Callahan & Associates Announces Strategic Partnership with GrowthFountain Opening Crowdfunding Opportunities for Millions of Credit Union Members
                
                p.pt10 Callahan & Associates, an innovative thought leader to credit union industry decision-makers, and GrowthFountain, a crowdfunding marketplace, have announced a strategic partnership to provide credit union members...
          
          // there are no .border-bottom .pb50 classes in last element of list
          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://www.cutimes.com/2014/11/21/callahan-pact-creates-crowdfunding-platform" target="_blank")
                    img(src=require("images/pages/news2.png") alt="cutimes")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://www.cutimes.com/2014/11/21/callahan-pact-creates-crowdfunding-platform" target="_blank")
                    b
                      | Callahan Pact Creates Crowdfunding Platform
                
                p.pt10 Callahan & Associates has launched a strategic alliance with GrowthFountain that may allow credit unions to help pioneer the crowdfunding trail. GrowthFountain will provide support, tutorials and tools to help startups...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/CU.Journal.3_4_17.pdf') target="_blank")
                    img(src=require("images/pages/credit-union-journal.jpg"))
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/CU.Journal.3_4_17.pdf') target="_blank")
                    b
                      | With new partnerships, CUs embracing role as the original crowdfunders
                
                p.pt10 Marlborough, Mass.-based Digital Federal Credit Union is the latest CU to enter into a partnership with GrowthFountain, an equity crowdfunding platform launched earlier this year, and many observers are calling the...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/Financial_Choice_Act_Letter.pdf') target="_blank")
                    img(src=require("images/pages/news4.png"))
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/Financial_Choice_Act_Letter.pdf') target="_blank")
                    b
                      | GrowthFountain Influences the Financial CHOICE Act
                
                p.pt10 We are writing to request that provisions be included in the Financial CHOICE Act to give job-creating businesses greater access to crowdfunded capital. Title III of HR 3606 (the Jumpstart Our Business Startups Act or “JOBS Act”)...

          li.border-bottom.pb50.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/MA_Crowdfunding_Regulation.pdf') target="_blank")
                    img(src=require("images/pages/news4.png"))
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/MA_Crowdfunding_Regulation.pdf') target="_blank")
                    b
                      | GrowthFountain Influences MA Intrastate Crowdfunding
                
                p.pt10 This letter responds to the Massachusetts Securities Division’s request for comments in connection with its recently enacted crowdfunding exemption.  We would like to begin by noting our agreement with the sentiments you...

          li
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require('doc/Growthfountain_SEC_Letter.pdf') target="_blank")
                    img(src=require("images/pages/news4.png"))
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require('doc/Growthfountain_SEC_Letter.pdf') target="_blank")
                    b
                      | GrowthFountain Influences Regulation Crowdfunding
                
                p.pt10 We were pleased to see the Securities and Exchange Commission’s long-awaited proposed rules with respect to Article III of the Jumpstart Our Business Startups Act. We are sensitive to the difficulties...
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#audio-modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .container
        .modal-header.p-x-0
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
              i.fa.fa-times
          h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 INTERVIEW.MP3

        .modal-body
          audio(controls)#news_audio.w-100.m-b-2.p-x-3
            source(src=require("staticdata/audio/BIR_040217_SEG_4.mp3") type="audio/mpeg")

    .modal-footer  