- document.title = 'Equity Crowdfunding Partners';
- document.head.querySelector('meta[name="description"]').content = 'GrowthFountain is the preferred equity crowdfunding platform for 1 million credit union members and counting';

- pug_html += app.breadcrumbs('Platform Partnerships', '', [ ['Home', '/'], ['Platform Partnerships', ''], ]);

section.text_block.partner-page 
  .container
    .row
      .col-lg-3.hidden-md-down  
        .page_title.border-bottom.mb25
          h4.text-uppercase ABOUT US
        ul.list-unstyled.custom.pages-left-menu
          li
            a(href='/pg/overview').d-inline-block.w-100 GrowthFountain Overview
          li
            a(href='/pg/team').d-inline-block.w-100 #{app.config.teamName}
          li.display-partners.active
            a(href='/pg/partners').d-inline-block.w-100 Partners
          li
            a(href='/pg/contact').d-inline-block.w-100 Contact Us
          li
            a(href='/pg/careers').d-inline-block.w-100 Careers
          li
            a(href='/pg/news').d-inline-block.w-100 In the News
          li
            a(href='/pg/faq').d-inline-block.w-100 FAQ

      .col-lg-9
        .row
          .col-lg-12.text-xs-center
            h2.text-uppercase.m-t-0 PARTNERS
            
        .row
          .col-lg-12
            h3.text-xs-center.m-b-3.font-weight-light.m-t-0 GrowthFountain is proud to partner with companies that share our passion for supporting entrepreneurs, uplifting small businesses and fostering meaningful bonds in local communities.

        h4.section-partner.text-uppercase.section-bg-line.text-xs-center Credit Union Companies
        .row
          .col-sm-4.mb30.text-xs-center
            a(href="http://www.callahan.com/" target="_blank").d-inline-block
              img(src=require("images/partners-logo/callahan-logo.png")).img-fluid

          .col-sm-4.mb30.text-xs-center
            a(href="https://www.jdcu.org/businesses/growthfountain/" target="_blank").d-inline-block
              img(src=require("images/partners-logo/jdcu-logo.png")).img-fluid

          .col-sm-4.mb30.text-xs-center
            a(href="https://www.rivermarkcu.org/" target="_blank").d-inline-block
              img(src=require("images/partners-logo/river-logo.png")).img-fluid

        .row
          .col-sm-4.m-b-3.text-xs-center
            a(href="https://www.dcu.org/business-banking/business-equity-crowdfunding.html" target="_blank").d-inline-block
              img(src=require("images/partners-logo/dcu-logo.png")).img-fluid
          .col-sm-4.m-b-3.text-xs-center
            a(href="https://www.infinityfcu.com/" target="_blank").d-inline-block
              img(src=require("images/partners-logo/infinityfcu-logo.png")).w-infinityfcu
          .col-sm-4.m-b-3.text-xs-center
            a(href="https://www.tvfcu.com/" target="_blank").d-inline-block
              img(src=require("images/partners-logo/tvfcu.png")).w-tvfcu

        h4.section-partner.text-uppercase.section-bg-line.text-xs-center Incubators
        .row
          .col-lg-4.text-xs-center
            a(href="http://momentum3growth.com/" target="_blank")
              img(src=require("images/partners-logo/momentum-logo.png")).img-fluid.text-lg-right.text-xs-center.m-x-auto
        .row
          .col-xl-12
            hr.m-t-3.m-b-3
        .row
          .col-xl-12
            p Some of the nation’s leading credit unions and incubators use GrowthFountain to power dedicated platforms for their community. These platforms provide members the opportunity to support and invest in local businesses, startups and the next big idea.

section.height-block-banner.scroll-paralax.no-paralax-mobile.m-t-85.partner-height-top
  - var styleString = 'background: url(' + require('images/banners/partner-section.jpg') + ')';
  div(style=styleString + '; height:500px').background
  .center-wrap.container
    .col-xl-12
      h2.text-uppercase.m-t-0 Be our partner
      h3 Lead an affinity based group? Interested in obtaining 
        br
        | a white labeled platform and partnering with
        br
        | GrowthFountain?
    .col-lg-12
      a(href="mailto:info@growthfountain.com").btn.btn-secondary.text-uppercase E-mail us
      a(href="#").scheduleCall.btn.btn-primary.text-uppercase Schedule a call