- 'use strict';
//- mixin getCompanyUrl(campaign, currentStep, step, name)
//-     if campaign.id || currentStep == step
//-         a(
//-           href="/campaign/" + step + "/" + campaign.id 
//-           class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
//-         ) #{ name }
//-             if currentStep == step
//-                 i.fa.fa-check
//-     else
//-         a(
//-           href="#"
//-           class="list-group-item list-group-item-action disabled" 
//-         ) #{ name }

//- mixin getFormcUrl(campaign, currentStep, step, name)
//-     if campaign.id || currentStep == step
//-         a(
//-           href="/formc/" + step + "/" + campaign.id 
//-           class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
//-         ) #{ name }
//-             if currentStep == step
//-                 i.fa.fa-check
//-     else
//-         a(
//-           href="#"
//-           class="list-group-item list-group-item-action disabled" 
//-         ) #{ name }

mixin getCompanyUrl(campaign, currentSection, currentStep, step, name)
    - let prefix = '/' + currentSection + '/';
    if campaign.id || currentStep == step
        a(
          href=prefix + step + "/" + campaign.id 
          class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
        ) #{ name }
            if currentStep == step
                i.fa.fa-check
    else
        a(
          href="#"
          class="list-group-item list-group-item-action disabled" 
        ) #{ name }
        
mixin menu(currentSection, currentStep)
    .col-lg-3.create_compaign
      .jumbotron.jumbotron-fluid.row
        .raise-funds
          h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
            .small-text (10% Done)
        #accordion(role="tablist" aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#company"
              aria-expanded="true"
              class="list-group-item" + (currentStep == 'company' ? ' active ' : '')
              )
                i.fa.fa-briefcase
                |  Company
                span.pull-right
                  i.fa.fa-angle-left
            #company(role="tabpanel" class="panel-collapse collapse " + (currentStep == 'company' ? 'in' : ''))
              .list-group
                a(href="/company/create" class="list-group-item list-group-item-action " + (currentStep == 'company' ? 'active' : '')) Company
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#campaign"
              aria-expanded="true"
              class="list-group-item" + (currentStep != 'company' ? ' active ' : '')
              ).list-group-item
                i.fa.fa-bar-chart
                |  Campaign
                span.pull-right
                  i.fa.fa-angle-down
            //- #campaign(role="tabpanel" class="panel-collapse collapse" + (currentStep != 'company' ? ' in' : ''))
            #campaign(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'campaign' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(values, 'campaign', currentStep, 'general_information', 'General Information')
                    +getCompanyUrl(values, 'campaign', currentStep, 'media', 'Media')
                    +getCompanyUrl(values, 'campaign', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(values, 'campaign', currentStep, 'specifics', 'Specifics')
                    +getCompanyUrl(values, 'campaign', currentStep, 'perks', 'Perks')
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#form_c"
              aria-expanded="true"
              ).list-group-item
                i.fa.fa-university
                |  form c
                span.pull-right
                  i.fa.fa-angle-left
            //- #form_c(role="tabpanel").panel-collapse.collapse
            #form_c(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'formc' ? ' in' : ''))
                .list-group
                    //- a(href="/formc/introduction").list-group-item.list-group-item-action form c
                    //- a(href="/formc/team-members/1").list-group-item.list-group-item-action Team Member
                    //- a(href="/formc/related-parties/1").list-group-item.list-group-item-action Related Parties
                    //- a(href="/formc/use-of-proceeds/1").list-group-item.list-group-item-action Use of Proceeds
                    //- a(href="/formc/risk-factors/1").list-group-item.list-group-item-action Risk Factors
                    //- a(href="#").list-group-item.list-group-item-action Offering
                    +getCompanyUrl(values, 'formc', currentStep, 'introduction', 'Introduction')
                    +getCompanyUrl(values, 'formc', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(values, 'formc', currentStep, 'related-parties', 'Related Parties')
                    +getCompanyUrl(values, 'formc', currentStep, 'use-of-proceeds', 'Use of Proceeds')
                    +getCompanyUrl(values, 'formc', currentStep, 'risk-factors', 'Risk Factors')
                    +getCompanyUrl(values, 'formc', currentStep, 'offering', 'Offering')

      .row
        .education-link-wrap
          .jumbotron.jumbotron-fluid
            h4.font-weight-bold.text-uppercase
              i.fa.fa-book
              |  education Links
            .nav
              li.nav-item
                a(href="/pg/investor_tutorial" target="_blank").nav-link.link-3 Issuer Tutorial
              li.nav-item
                a(href="/pg/success_guide" target="_blank").nav-link.link-3 Success Guide
              li.nav-item
                a(href="/calculator/capitalraise/intro" target="_blank").nav-link.link-3 What's My Business Worth?
              li.nav-item
                a(href="/calculator/whatmybusinessworth/intro" target="_blank").nav-link.link-3 How Much Should I Raise?
