include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

- 'use strict'
// - var fields = { title_risk: { label: 'Title for Risk'} };
// - var fields = { describe: { label: 'Describe Your Risk'} };

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['Risk Factors', ''],
    ]
)

mixin showRisk(name, index, title, risk)
  //- if values[name].hasOwnProperty(index)
  //-   textarea(style="max-width:100%; height:150px" name="risk" readonly="true").form-control #{values[name][index].risk}
  //- else
  form(data-method="PATCH" data-index=(index) index=index)
    input(type="hidden" name="title" value=title)
    textarea(style="max-width:100%; height:150px" name="risk" readonly index=index).form-control #{ values[name].hasOwnProperty(index) ? values[name][index].risk : risk }
    .text-md-center.text-lg-right
      button(style="display: " + (values[name].hasOwnProperty(index) ? 'inline-block' : 'none') + ';' data-index=index).btn.btn-sm.btn-seconday.m-t-1.edit-risk.buttons.added-state  Edit risk
      button(style="display: " + (values[name].hasOwnProperty(index) ? 'inline-block' : 'none') + ';' data-index=index).btn.btn-sm.btn-seconday.m-t-1.delete.buttons.added-state  Delete risk
      button(type="submit" style="display: none").btn.btn-sm.btn-secondary.m-t-1.add-risk.buttons.editing-state Save and Add this Risk
      button(style="display:" + (values[name].hasOwnProperty(index) ? 'none' : 'inline-block') + ";" data-index=index).btn.btn-sm.btn-secondary.m-t-1.edit-risk.buttons.unadded-state Edit and Add this Risk

mixin showRiskSection(v, k)
  .panel.panel-default.risk-panel(index=k)
    #headingOne(role="tab").panel-heading
      a(data-toggle="collapse"
      data-parent="#accordion-risk" 
      href="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
      ).list-group-item-action.active= v.title
        i.fa.fa-angle-up
    #collapseOne(role="tabpanel"
    aria-labelledby="headingOne"
    ).panel-collapse.collapse.in
      +showRisk('market_and_customer_risk', k, v.title, v.risk)

section.formc-team-members-director.container.m-b-85
  +menu('formc', 'risk-factors-market')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.m-b-3 risk factors (MARKET AND CUSTOMER)
    .col-lg-12
      p.pb10.pb10.text-justify Please review the following statements that relate to common market and customer risk factors.  If any of these statements reflect potential risks for your company, then you should edit and add such statement so that they are personalized to your company.  Please note that the rules
        b 
          u require you to add specificity
        |  to each risk statement to ensure that an investor understands how the risk applies to your business.
    .col-sm-12.m-t-2
      .warning-block.m-t-1
        i.fa.fa-info-circle
        span.warning-text You are free use any statement that applies to your business, provided that in each case you customize the final language to be specific to your company.
    .form-section
      section.risks
        .col-lg-12
          #accordion-risk.pannel-group.accordion.accordion-risk(role="tablist" aria-multiselectable="true")
            each v, k in defaultRisks
              +showRiskSection(v, k)

            each v, k in values['market_and_customer_risk']
              - if (!k < Object.keys(defaultRisks).length)
                +showRiskSection(v, k)

    .col-lg-12.m-t-3
      p.pb10
        b In the text box below, please include those market and customer risks that are specific to your business.
        |  In brainstorming the proper risks to disclose, please consider the following questions for guidance:
      ul
        li.pb10 Does your market have seasonal fluctuations or other unpredictable characteristics?
        li.pb10 Are your customers concentrated in a few areas or accounts?
        li.pb10 Is there risk around losing major customers or the risk they may not timely pay you?
        li.pb10 Are there any risks identifying customers or risks around ensuring their retention?
        li.pb10 In the text box below, please write in full sentences consistent with the sample language provided above.
    .col-lg-12
      form(data-method="PATCH").add-risk-form
        +fieldBlock("title", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          placeholder: 'Title for Risk',
          })
        +fieldBlock("risk", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12 big-textarea',
          type: 'textarea',
          placeholder: 'Describe Your Risk',
          })
        button(data-method="PATCH" data-concat="false").btn.btn-sm.btn-secondary.text-uppercase.pull-lg-right.m-b-3.add-risk save and Add this Risk

      .row.m-t-3
        .col-lg-12.text-md-center.text-sm-center-text-xs-center
          //- a(href="/company/create").btn.btn-primary.text-uppercase.pull-lg-right next
          button.btn.btn-primary.text-uppercase.pull-lg-right next
            i.fa.fa-angle-right


