include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

- 'use strict'
- var fields = { title_risk: { label: 'Title for Risk'} };
- var fields = { describe: { label: 'Describe Your Risk'} };

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['Risk Factors', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  +menu('formc', 'risk-factors-competitive')



  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.m-b-3 risk factors (Competitive)
    .col-lg-12
      p.pb10.pb10.text-justify Please review the following statements that relate to common competitive risk factors.  If any of these statements reflect potential risks for your company, then you should edit and add such statement so that they are personalized to your company.  Please note that the rules
        b 
          u require you to add specificity
        |  to each risk statement to ensure that an investor understands how the risk applies to your business. 
    .col-sm-12.m-t-2
      .campaign-warning.m-t-1
        i.fa.fa-exclamation-triangle 
        span.warning-text 
        | You are free use any statement that applies to your business, provided that in each case you customize the final language to be specific to your company.
    form(metod="post" action="").form-section 
      section.risks
        .col-lg-12
          .accordion(role="tablist" aria-multiselectable="true")
            .panel.panel-default
              #headingOne(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                ).list-group-item-action.active The development and commercialization of our services is highly competitive. 
                  i.fa.fa-angle-up
              #collapseOne(role="tabpanel"
              aria-labelledby="headingOne"
              ).panel-collapse.collapse.in
                
                textarea(style="max-width:100%; height:150px").form-control Many of our competitors have significantly greater financial, technical and human resources than we have. Accordingly, our competitors may commercialize products more rapidly or effectively than we are able to, which would adversely affect our competitive position.    
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Save and Add this Risk


            .panel.panel-default
              #headingTwo(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseTwo"
                aria-controls="collapseTwo"
                ).list-group-item-action Many of our competitors have greater brand recognition and more extensive resources.
                  i.fa.fa-angle-down
              #collapseTwo(role="tabpanel"
              aria-labelledby="headingTwo"
              ).panel-collapse.collapse

                .border-block This may place us at a disadvantage in responding to our competitors’ pricing strategies, advertising campaigns, strategic alliances and other initiatives. Consequently, such competitors may be in a better position than the Company to take advantage of customer acquisition and business opportunities, and devote greater resources to marketing and sale of their offerings. These competitors may limit our opportunity to acquire customers and facilitate business arrangements.  There is no certainty that the Company will be able to compete successfully. If the Company cannot break through and compete successfully, investors may be at risk of losing their investment.    
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk 
            .panel.panel-default
              #headingThree(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseThree"
                aria-controls="collapseThree"
                ).list-group-item-action The Company may not be able to create and maintain a competitive advantage.    
                  i.fa.fa-angle-down
              #collapseThree(role="tabpanel"
              aria-labelledby="headingThree"
              ).panel-collapse.collapse  
                .border-block The demand for our products or services may change and we may have difficulty maintaining a competitive advantage within our market.  The Company’s success could depend on the ability of management to respond to changingsituations, standards and customer needs on a timely and cost-effective basis. In addition, any failure by the management to anticipate or respond adequately to changes in customer preferences and demand could have a material adverse effect on our financial condition, operating results and cash flow.  
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            .panel.panel-default
              #headingFour(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseFour"
                aria-controls="collapseFour"
                ).list-group-item-action New competitors may enter our market in a manner that could make it difficult to differentiate our Comapny.     
                  i.fa.fa-angle-down
              #collapseFour(role="tabpanel"
              aria-labelledby="headingFour"
              ).panel-collapse.collapse
                .border-block While the Company is aware of certain competitors in the market, there is the possibility that new competitors may enter and that they may be better funded.  To the extent that the market becomes more crowded, this may make it more difficult for us to differentiate our value proposition or to get in front of right partners and customers.  It may be difficult to compete with new entrants if there is pricing pressure or changes in market demand.   The Company may also have a hard time competing against companies who can negotiate for better prices from suppliers, produce goods and services on a large scale more economically, or take advantage of bigger marketing budgets.   
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            
      .col-lg-12.m-t-3
        p.pb10
          b In the text box below, please include those competitive risks that are specific to your business.
          |  In brainstorming the proper risks to disclose, you can reference the language above or consider the following questions for guidance:
        ul
          li.pb10 Are there specific competitors that have products or services that pose a unique threat?
          li.pb10 Are there any emerging products or services that could be disruptive to your business?  
          li.pb10 Is there any risk that competitors could lock up a portion of the market?
          li.pb10 Is there risk around competitor pricing, advertising or partnerships they may have?
          li.pb10 In the text box below, please write in full sentences consistent with the sample language provided above.
      .col-lg-12
        +fieldBlock("title_risk", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          placeholder: 'Title for Risk',
          })
        +fieldBlock("describe", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12 big-textarea',
          type: 'textarea',
          placeholder: 'Describe Your Risk',
          })
        a(href="/company/create").btn.btn-sm.btn-secondary.text-uppercase.pull-lg-right.m-b-3 save and Add this Risk

        .row.m-t-3
          .col-lg-12.text-md-center.text-sm-center-text-xs-center
            //- a(href="/company/create").btn.btn-primary.text-uppercase.pull-lg-right next
            button.btn.btn-primary.text-uppercase.pull-lg-right next
              i.fa.fa-angle-right


