include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

- 'use strict'
- var fields = { title_risk: { label: 'Title for Risk'} };
- var fields = { describe: { label: 'Describe Your Risk'} };

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['Risk Factors', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  +menu('formc', 'risk-factors-operational')


  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.m-b-3 risk factors (OPERATIONAL)
    .col-lg-12
      p.pb10.pb10.text-justify Please review the following statements that relate to common operational risk factors.  If any of these statements reflect potential risks for your company, then you should edit and add such statement so that they are personalized to your company.  Please note that the rules
        b 
          u require you to add specificity
        |  to each risk statement to ensure that an investor understands how the risk applies to your business. 
    .col-sm-12.m-t-2
      .campaign-warning.m-t-1
        i.fa.fa-exclamation-triangle 
        span.warning-text 
        | You are free use any statement that applies to your business, provided that in each case you customize the final language to be specific to your company.
    form(metod="post" action="").form-section 
      section.risks
        .col-lg-12
          .accordion(role="tablist" aria-multiselectable="true")
            .panel.panel-default
              #headingOne(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                ).list-group-item-action.active We have a limited operating history upon which you can e valuate our performance. 
                  i.fa.fa-angle-up
              #collapseOne(role="tabpanel"
              aria-labelledby="headingOne"
              ).panel-collapse.collapse.in
                
                textarea(style="max-width:100%; height:150px").form-control We have a limited history upon which an evaluation of our prospects and future performance can be made. Our proposed operations are subject to all business risks associated with new enterprises. The likelihood of our creation of a viable business must be considered in light of the problems, expenses, difficulties, complications, and delays frequently encountered in connection with the inception of a business, operation in a competitive industry, and the continued development of advertising, promotions, and a corresponding client base.   
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Save and Add this Risk


            .panel.panel-default
              #headingTwo(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseTwo"
                aria-controls="collapseTwo"
                ).list-group-item-action We plan to implement new lines of business or offer new products and service.
                  i.fa.fa-angle-down
              #collapseTwo(role="tabpanel"
              aria-labelledby="headingTwo"
              ).panel-collapse.collapse

                .border-block In developing and marketing new lines of business and/or new products and services, we may invest significant time and resources. Initial timetables for the introduction and development of new lines of business and/or new products or services may not be achieved and price and profitability targets may not prove feasible. We may not be successful in introducing new products and services in response to industry trends or developments in technology, or those new products may not achieve market acceptance. As a result, we could lose business, be forced to price products and services on less advantageous terms to retain or attract clients, or be subject to cost increases. As a result, our business, financial condition or results of operations may be adversely affected.   
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk 
            .panel.panel-default
              #headingThree(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseThree"
                aria-controls="collapseThree"
                ).list-group-item-action If the Company fails to achieve certain operational goals it may incur significant losses and there can be no assurance that the Company will become a profitable business.    
                  i.fa.fa-angle-down
              #collapseThree(role="tabpanel"
              aria-labelledby="headingThree"
              ).panel-collapse.collapse  
                .border-block The Company’s ability to become profitable depends upon successfully executing on operational goals, such as successful marketing efforts and generating cash flow from operations. There can be no assurance that this will occur. Unanticipated operational problems and executional expenses may impact whether the Company is successful.  If the Company sustains losses over an extended period of time, it may be unable to continue in business and may need to make significant modifications to its stated strategies. Although the management team may have had some success in the past, they may be unable to meet future business objectives due to unanticipated operations challenges.  
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            .panel.panel-default
              #headingFour(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseFour"
                aria-controls="collapseFour"
                ).list-group-item-action Incidents of hacking, identity theft, cyberterrorism or climate change may adversely impact our operations.    
                  i.fa.fa-angle-down
              #collapseFour(role="tabpanel"
              aria-labelledby="headingFour"
              ).panel-collapse.collapse
                .border-block Our business operations may at times be dependent upon digital technologies, including information systems, infrastructure and cloud applications. The U.S. government has issued public warnings that indicate that such business information technology might be susceptible to cyber security threats, including hacking, identity theft and acts of cyberterrorism. Additionally, our critical systems may be vulnerable to damage or interruption from earthquakes, storms, terrorist attacks, floods, fires, power loss, telecommunications failures, computer viruses, computer denial of service attacks, or other attempts to harm the systems, whether man made or acts of nature. Many of these systems will not be fully redundant, and disaster recovery planning cannot account for all eventualities. As cyber incidents continue to evolve and as severe weather related events become more extreme, we may be required to expend additional resources to modify or enhance our protective measures or to investigate and remediate any vulnerability to cyber incidents or natural disasters.   
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            .panel.panel-default
              #headingFive(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseFive"
                aria-controls="collapseFive"
                ).list-group-item-action Certain future relationships have not been established and existing relationships are not guaranteed to endure.    
                  i.fa.fa-angle-down
              #collapseFive(role="tabpanel"
              aria-labelledby="headingFive"
              ).panel-collapse.collapse
                .border-block The Company has established and will establish certain relationships with others. We will need to maintain such relationships and, in some cases, establish new ones or replace existing ones. There will be several agreements and documents that remain to be negotiated, executed, and implemented with respect to certain aspects of our planned operations. In some cases, the parties with whom we would need to establish a relationship may not yet be identified. If we are unable to enter into these agreements or relationships on satisfactory terms, our operations could be delayed or curtailed, expenses could be increased, and profitability and the likelihood of returns to investors could be adversely affected.    
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            .panel.panel-default
              #headingFour(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseSix"
                aria-controls="headingFour"
                ).list-group-item-action We may experience defects and system failures which would harm our business and reputation and expose us to potential liability.     
                  i.fa.fa-angle-down
              #collapseSix(role="tabpanel"
              aria-labelledby="collapseSix"
              ).panel-collapse.collapse
                .border-block We may encounter delays when developing new products and services. Alternatively, any new products and services may in the future contain undetected errors or defects when first introduced.  Defects, errors or delays in development of our products or services could result in an interruption of business operations; a delay in market acceptance; additional development and remediation costs; diversion of technical and other resources; a loss of customers; negative publicity; or exposure to liability claims.  Any one or more of the foregoing occurrences could have a material adverse effect on our business, financial condition and results of operations, or could cause our business to fail.      
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
            .panel.panel-default
              #headingSeven(role="tab").panel-heading
                a(data-toggle="collapse"
                data-parent="#accordion" 
                href="#collapseSeven"
                aria-controls="collapseSeven"
                ).list-group-item-action Our advertising and marketing efforts may be costly and may not achieve desired results.     
                  i.fa.fa-angle-down
              #collapseSeven(role="tabpanel"
              aria-labelledby="collapseSeven"
              ).panel-collapse.collapse
                .border-block Although we target our advertising and marketing efforts on current and potential customers who we believe are likely to be in the market for the products we sell, we cannot assure you that our advertising and marketing efforts will achieve our desired results. In addition, we periodically adjust our advertising expenditures in an effort to optimize the return on such expenditures. Any decrease in the level of our advertising expenditures, which may be made to optimize such return could adversely affect our sales.       
                .text-md-center.text-lg-right
                  .btn.btn-sm.btn-secondary.m-t-1 Edit and Add this Risk
      .col-lg-12.m-t-3
        p.pb10
          b In the text box below, please include those operational risks that are specific to your business.
          |  In brainstorming the proper risks to disclose, you can reference the language above or consider the following questions for guidance:
        ul
          li.pb10 Are there any production or quality control risks that could impact operations?
          li.pb10 Are there any aspects of your operations that could be interrupted or harmed?  
          li.pb10 Is there anything that could cause delays or cost increases in your operations?
          li.pb10 Are there situations that could undermine your planning and forecasting?
          li.pb10 In the text box below, please write in full sentences consistent with the sample language provided above.
      .col-lg-12
        +fieldBlock("title_risk", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          placeholder: 'Title for Risk',
          })
        +fieldBlock("describe", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12 big-textarea',
          type: 'textarea',
          placeholder: 'Describe Your Risk',
          })
        a(href="/company/create").btn.btn-sm.btn-secondary.text-uppercase.pull-lg-right.m-b-3 save and Add this Risk

        .row.m-t-3
          .col-lg-12.text-md-center.text-sm-center-text-xs-center
            a(href="/company/create").btn.btn-primary.text-uppercase.pull-lg-right next
              i.fa.fa-angle-right


