- let indexCounter = index || 0

tr(class='index_' + indexCounter)
  td
    | #{values.security_type}
    input(type="hidden" name="outstanding_securities[" + indexCounter + "][security_type]" value=values.security_type)
  td
    | #{values.amount_authorized}
    input(type="hidden" name="outstanding_securities[" + indexCounter + "][amount_authroized]" value=values.amount_authorized)
  td
    | #{values.amount_outstanding}
    input(type="hidden" name="outstanding_securities[" + indexCounter + "][amount_outstanding]" value=values.amount_outstanding)
    
  td
    | #{values.voting_right ? 'Yes' : 'No'}
    input(type="hidden" name="outstanding_securities[" + indexCounter + "][voting_right]" value=values.voting_right)
    input(type="hidden" name="outstanding_securities[" + indexCounter + "][terms_and_rights]" value=values.terms_and_rights)

  td 
    .delete-section-container
      a(href="#" data-section="securities-table" data-index=indexCounter).delete-outstanding
        i.fa.fa-times