- 'use strict';
include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
include ../../raiseFunds/templates/menu.pug

+breadcrumbs('Create Company', '', 
  [
  ['Home', '/'],
  ['Create Formc', ''],
  ['team members', ''],
  ]
)

mixin isInvited(data)
  if data.is_invited == true
    td.text-xs-center
      span.confirmed
        i.fa.fa-check
        | Confirmed 
  else
    td.text-xs-center
      a(href="#").link-3.invite
        i.fa.fa-envelope-o 
        | Invite

section.create-company-team-add.container
  - var campaignId = values.campaign_id;
  +menu('formc', 'team-members')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0.mb50 team members
    .col-lg-12
      .warning-block.warning-team-add.text-lg-left
        i.fa.fa-info-circle 
        span.warning-text Please enter all Officers, Directors and 20% Voting Shareholders.
          p.pb10  We are required by law to run background checks on all of these individuals.  We will email them separately to collect the information required to run these checks - and you'll see the status on your Issuer Dashboard.
          p.pb10 OFFICER means:  president, vice president, secretary, treasurer or principal financial officer, comptroller or principal accounting officer, and any person routinely performing similar functions.
          | 20% VOTING SHAREHOLDER means: no earlier than 120 days prior to the date of this offering, please list beneficial owners of 20% or more of issuer’s outstanding voting equity securities.

    form(action="").form-section
      .col-lg-12.m-t-1.m-b-2
        b How many emploees do you have?
      .col-lg-6.required
        +fieldTextLabel("full_time_employers", _.extend({
          class1: 'col-lg-4 col-md-12 text-md-left text-xl-right p-t-0 m-b-0',
          class2: 'col-lg-8 col-md-12',
          required: true,
        }, fields.full_time_employers))
      .col-lg-6.required
        +fieldTextLabel("part_time_employers", _.extend({
          class1: 'col-lg-4 col-md-12 text-md-left text-xl-right p-t-0 m-b-0',
          class2: 'col-lg-8 col-md-12',
          required: true,
        }, fields.part_time_employers))
      .col-lg-12.text-lg-center.text-md-center.text-sm-center.text-xs-center.m-t-2.m-b-2
        a(href='/formc/' + values.id + '/team-members/director/new').btn.text-uppercase.m-r-3 
          i.fa.fa-plus
          |  ADD DIRECTOR 
        a(href='/formc/' + values.id + '/team-members/officer/new').btn.text-uppercase 
          i.fa.fa-plus
          |  ADD OFFICER
        a(href='/formc/' + values.id + '/team-members/shareholder/new').btn.text-uppercase.m-t-2 
          i.fa.fa-plus
          |  ADD 20% VOTING SHAREHOLDER

      .col-lg-12.table-responsive.m-t-2
        - var v = {};
        table.table.table-bordered.m-b-0.team-member-table
          thead
            tr.color-grey
              th.text-xs-center Title
              th.text-xs-center Full Name
              th.text-xs-center Status
              th(colspan="2")
          tbody
            tr
              td(colspan="5").p-x-0.p-y-0
                #membersMessage.warning-block.warning-team-add.team-member-no-border.text-lg-left.m-b-0
                  i.fa.fa-info-circle 
                  span.warning-text First of all please identify the Officers in your company responsible for the following 3 roles. Please note that, if necessary, the same person may be identified with multiple titles.
            - var requiredRoles = { 1: 'CEO/President', 2: 'Principal Financial Officer/Treasurer', 5: 'Controller/Principal Accounting Officer' };
            - var roleCounter = 0;
            each k,v in requiredRoles
              - var persons = values.team_members.filter((el) => { return (el.title ? el.title.indexOf(v) != -1: false)})
              for person in persons
                tr
                  td #{ k }
                  td.text-xs-center #{ person.first_name + ' ' + person.last_name }
                  +isInvited(person)
                  td.text-xl-center
                    a(href="/formc/" + values.id + "/team-members/" +  roles[person.role[0]].toLowerCase() + '/' + person.user_id).link-1
                      i.fa.fa-pencil-square-o
                  td.text-xl-center
                    a(href="#" data-id=person.uuid data-role=roles[k]).link-1.delete-member
                      i.fa.fa-times
                  - roleCounter ++;
              else
                tr
                  td.color-grey #{ k }
                  td.text-xs-center
                    span.identify Please Identify
                  td.text-xs-center
                    hr
                  td.text-xl-center &nbsp;
                  td.text-xl-center &nbsp;
            each v,k in values.team_members
              - v.title = v.title ? v.title : [];
              if (v.title[0] != 1 && v.title[0] != 2 && v.title[0] != 5)
                tr
                  td 
                    if v.title[0]
                      each r in v.title
                        | #{ titles[r] } 
                    else
                      each r in v.role
                        | #{ roles[r] } 
                  td.text-xs-center #{ v.first_name + ' ' + v.last_name }
                  +isInvited(v)
                  td.text-xl-center
                    a(href="/formc/" + values.id + "/team-members/" + roles[v.role[0]].toLowerCase() + '/' + v.user_id).link-1
                      i.fa.fa-pencil-square-o
                  td.text-xl-center
                    a(href="#" data-id=v.uuid data-role=roles[v.role]).link-1.delete-member
                      i.fa.fa-times
                

      div(style="display: " +  (values.team_members.length >= 1 ? 'block' : 'none')).col-lg-12.pull-lg-right.p-r-0.m-t-3

      .col-lg-12.text-md-center.text-sm-center.text-xs-center.m-t-3
        button(type="submit").btn.btn-primary.text-uppercase.pull-lg-right Save And Continue
