- 'use strict';
include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

+breadcrumbs('Create Company', '', 
  [
    ['Home', '/'],
    ['Create Formc', ''],
    ['team members', ''],
  ]
)
section.create-company-team-add.container
    +menu('formc', 'team-members')

    //START RIGHT BLOCK
    .col-lg-8
        h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0.mb50 team members
        .col-lg-12
            .warning-block.warning-team-add.text-lg-left
                i.fa.fa-info-circle 
                span.warning-text Please enter all Officers, Directors and 20% Voting Shareholders.
                    br
                    |  We are required by law to run background checks on all of these individuals.  We will email them separately to collect the information required to run these checks - and you'll see the status on your Issuer Dashboard.
                    br
                    |  OFFICER means:  president, vice president, secretary, treasurer or principal financial officer, comptroller or principal accounting officer, and any person routinely performing similar functions.
                    br
                    |  20% VOTING SHAREHOLDER means: no earlier than 120 days prior to the date of this offering, please list beneficial owners of 20% or more of issuer’s outstanding voting equity securities.

        form(action="").form-section
            .col-lg-12.m-t-1.m-b-2
                b How many emploees do you have?
            .col-lg-6.required
                +fieldTextLabel("full_time_employers", _.extend({
                    class1: 'col-lg-4 col-md-12 text-md-left',
                    class2: 'col-lg-8 col-md-12',
                }, fields.full_time_employers))
            .col-lg-6.required
                +fieldTextLabel("part_time_employers", _.extend({
                    class1: 'col-lg-4 col-md-12 text-md-left',
                    class2: 'col-lg-8 col-md-12',
                }, fields.part_time_employers))
            .col-lg-12.text-lg-center.text-md-center.text-sm-center.text-xs-center.m-t-2.m-b-2
                a(href='/formc/' + values.id + '/team-members/director/new').btn.text-uppercase.m-r-3 
                    i.fa.fa-plus
                    |  ADD DIRECTOR 
                a(href='/formc/' + values.id + '/team-members/officer/new').btn.text-uppercase 
                    i.fa.fa-plus
                    |  ADD OFFICER
                a(href='/formc/' + values.id + '/team-members/shareholder/new').btn.text-uppercase.m-t-2 
                    i.fa.fa-plus
                    |  ADD 20% VOTING SHAREHOLDER

            if values.team_members
                - counter = 0
                each v,k in values.team_members
                  .col-lg-3.m-t-2.p-r-0.p-l-0.m-l-2.m-r-2
                      .team-add-item.text-lg-center.text-xs-center
                        a(href="/formc/" + values.id + "/team-members/" + roles[v.role] + '/' + v.uuid).link-1
                          img(src=v.photo alt=v.first_name).img-circle
                        //a(href="#" data-id=v.uuid data-role=roles[v.role] style="position: absolute").link-1.delete-member.pull-right
                          i.fa.fa-times
                        p.name.text-uppercase #{v.first_name} #{v.last_name}
                        p.small #{ roles[v.role] }
                        a(href="/formc/" + values.id + "/team-members/" + roles[v.role] + '/' + v.uuid).link-1
                          i.fa.fa-pencil-square-o
                  - counter ++
            .col-lg-12
                .border-bottom.m-t-3.m-b-3
            .col-lg-12.m-b-1
                p Please identify the Officers in your company responsible for the following roles. Please note that, if necessary, the same person may be identified with multiple titles
            .col-lg-12.table-responsive
                table.table.table-bordered.mb50
                    thead
                        tr.color-grey
                            th.text-xs-center Title
                            th.text-xs-center Full Name
                            th.text-xs-center Status
                    tbody
                        each v,k in values.team_members
                            tr
                              td #{ roles[v.role] }
                              td.text-xs-center #{ v.first_name + ' ' + v.last_name }
                              if v.is_invited == true
                                td.text-xs-center.color-greed Accepted
                              else
                                td.text-xs-center.color-red 
                                  a(href="#" data-id=v.uuid).link-2 Invite Once Again

            div(style="display: " +  (values.team_members.length >= 1 ? 'block' : 'none')).col-lg-12.pull-lg-right.p-r-0.m-t-3

            .col-lg-12.text-md-center.text-sm-center.text-xs-center
                button(type="submit").btn.btn-primary.text-uppercase.pull-lg-right Save
