
.col-xl-3.col-lg-3.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href=window.location.protocol + '//' + window.location.host + require('images/company_gallery/stakehaul/1.png') data-size="1440x900" rel="gallery1"  onclick="return false;").fancybox
    img(src=require('images/company_gallery/stakehaul/1.png')).w-100.img-responsive
.col-xl-3.col-lg-3.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href=window.location.protocol + '//' + window.location.host + require('images/company_gallery/stakehaul/2.png') data-size="1440x900" rel="gallery1"  onclick="return false;").fancybox
    img(src=require('images/company_gallery/stakehaul/2.png')).w-100.img-responsive
.col-xl-3.col-lg-3.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href=window.location.protocol + '//' + window.location.host + require('images/company_gallery/stakehaul/3.png') data-size="1440x900" rel="gallery1"  onclick="return false;").fancybox
    img(src=require('images/company_gallery/stakehaul/3.png')).w-100.img-responsive