include mixins.pug

section.investor-tutorial
  #carousel-investor(data-ride="carousel").carousel.slide
    ol.carousel-indicators
      li(data-target="#carousel-investor" data-slide-to="0").active
      li(data-target="#carousel-investor" data-slide-to="1")
      li(data-target="#carousel-investor" data-slide-to="3")
      li(data-target="#carousel-investor" data-slide-to="4")
      li(data-target="#carousel-investor" data-slide-to="5")
      li(data-target="#carousel-investor" data-slide-to="6")
      li(data-target="#carousel-investor" data-slide-to="7")
      li(data-target="#carousel-investor" data-slide-to="8")
      li(data-target="#carousel-investor" data-slide-to="9")


    .carousel-inner(role="listbox")
      .carousel-item.active.t40
        img(src="/img/slider_business/1.jpg" alt="...").img-fluid
        .carousel-caption
          h2 What is equity crowdfunding
          h1 A revolution
          p.m-b-1 Finally, equity crowdfunding is here. 
          p.m-b-1 America's entrepreneurs now have the ability to raise equity funding from investors online
          p That's right: the JOBS Act has finally liberated you to attract the resources your business needs.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p Grow your Business
      .carousel-item.t50
        img(src="/img/slider_business/2.jpg" alt="...").img-fluid
        .carousel-caption
          h1 GROW YOUR BUSINESS
          p Nobody knows better than you: businesses need resources to grow.  And not just money.
          p Businesses need the insights and energy that come from tapping into the vast pool of people who have, or hope to have, a vested interest in your success.  
          p.m-b-1 At GrowthFountain we're committed to connecting entrepreneurs to the resources they need to grow: financial capital, human capital, and social capital.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p SIGN UP
      .carousel-item.t50
        img(src="/img/slider_business/3.jpg" alt="...").img-fluid
        .carousel-caption
          h1 SIGN UP
          p.m-b-1 You will need to be signed-in to gain full access to the growthfountain website
          p.m-b-1 Once you're registered and logged-in you'll be able to join discussions, access our full suite of tools and resources, and (yes) start building your fundraising campaign.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right  
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p HOW MUCH MONEY SHOULD I RAISE?
      .carousel-item.t40
        img(src="/img/slider_business/4.jpg" alt="...").img-fluid
        .carousel-caption
          h1 HOW MUCH MONEY SHOULD I RAISE?
          p.m-b-1 you get to set a minimum and maximum fund raising goal, up to $1 million each year. However, if you don’t reach your minimum goal, all funds will be returned to investors.
          p.m-b-1 The level of financials required is dependent on where you set your maximum goal. For first time issuers: A) if $100,000 or less: Financials must be signed by ceo; B) if $100,001-$1,000,000: financials must be signed by an independent accountant – for the previous two years or since inception, whichever is shorter – even if you had no revenue.
          p.m-b-1 While we can’t offer any investment advice, we have provided tools to help you assess the amount of money to raise based on your growth ambition (see resource center).
          p.m-b-1 We also provide calculators designed to help you assess your valuation as you determine the terms of your raise (see resource center).
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase.hidden-sm-down
              .extap up Next:
              p TAPPING INTO THE CROWD
      .carousel-item.t40
        img(src="/img/slider_business/5.jpg" alt="...").img-fluid 
        .carousel-caption
          h1.m-b-3 TAPPING INTO THE CROWD
          p.m-b-1 The ability to tap into the crowd isn't just about raising money. It's also an opportunity to:
          p.m-b-1 1) Turn your customers, community, friends & family, suppliers and extended network into brand ambassadors and evangelists for your business.
          p.m-b-1 2) Increase awareness of your product or service, including testing new ideas quickly and efficiently.  
          p.m-b-1 3) Discover people who can help with various aspects of growing your business.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p EQUITY VS REVENUE SHARE

      .carousel-item.t40
        //- img(src="/img/investor_slider/EQUITY.jpg" alt="...").img-fluid 
        img(src="/img/slider_business/6.jpg" alt="...").img-fluid 
        .carousel-caption.should
          h1 Equity vs Revenue Share
          p.pb10 WHICH SECURITY WILL YOU OFFER?
          p.pb10 REVENUE SHARE
          ol.text-lg-left.pb10
            li INVESTORS EARN 5% OF THE COMPANY’S REVENUE ANNUALLY;
            li NO DISTRIBUTIONS ARE REQUIRED OF YOUR BUSINESS UNTIL THE SECOND FULL CALENDAR YEAR, AND YOUR COMPANY IS ALLOWED ONE YEAR OF FORBEARANCE AS NEEDED;
            li YOUR TOTAL DISTRIBUTIONS ARE CAPPED AT 2X;
            li IN EVENT OF DEFAULT, INVESTORS BECOME GENERAL UNSECURED CREDITORS
          p.pb10 COMMON EQUITY
          ol.text-lg-left
            li INVESTORS BECOME SHAREHOLDERS IN YOUR COMPANY; THEY WILL BE YOUR FELLOW OWNERS.
            li THOUGH EQUITY HAS NO BESPOKE PAYMENT GUARANTEES, YOUR INVESTORS (AND OTHER OWNERS) WOULD HOPE FOR:
              ol(type="a")
                li AN ACQUISITION AT A HIGHER VALUATION THAN THEY INVESTED;
                li YOUR COMPANY GOES PUBLIC;
                li YOUR COMPANY PAYS A DIVIDEND.

          p.m-b-0 INVESTMENTS WILL BE ELECTRONICALLY MAINTAINED BY A THIRD PARTY TRANSFER AGENT WHO WILL MANAGE YOUR CAP TABLE, INVESTOR CONTACT INFORMATION AND CAN HANDLE ANY CASH DISTRIBUTIONS YOU MAY MAKE
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase.hidden-sm-down
              .extap up Next:
              p RISK
      .carousel-item.t40
        img(src="/img/slider_business/7.jpg" alt="...").img-fluid 
        .carousel-caption
          h1 RISK
          p.m-b-1 Roughly one-half of small businesses fail within five years. for those that succeed, the time horizon to create value for shareholders tends to be 7+ years.  Being an entrepreneur is not for the feint-of-heart.
          p.m-b-1 It's possible THAT you MIGHT not raise the MINIMUM GOAL YOU SET FOR YOUR OFFERING, AND IF NOT THE FUNDS COMMITTED BY INVESTORS WILL BE RETURNED TO THEM.
          p There are also risks to your investors, and you'll be expected to disclose them in their entirety prior to your fundraising campaign going live. We've designed the application process to ensure your disclosures are AS easy to make as possible, saving you valuable time.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p HOW CAN I HELP MAKE MY CAMPAIGN SUCCESSFUL?
          

      .carousel-item.t40
        img(src="/img/slider_business/8.jpg" alt="...").img-fluid 
        .carousel-caption
          h1.m-b-3 HOW CAN I HELP MAKE MY CAMPAIGN SUCCESSFUL?
          p.m-b-1 THERE ARE A LOT OF THINGS YOU CAN DO TO MAKE YOUR CAMPAIGN SUCCESSFUL!
          p.m-b-1 1. CREATE A VERY COMPELLING CAMPAIGN, INCLUDING A VIDEO, MEDIA AND DESCRIPTION THAT EXCITES POTENTIAL INVESTORS.
          p 2. TAP INTO YOUR NETWORK OF POTENTIAL INVESTORS. DATA SUGGESTS THAT COMPANIES THAT CAN RAISE ONE-THIRD OF THEIR GOAL FROM THEIR OWN NETWORK HAVE A MUCH HIGHER PROBABILITY OF GOING VIRAL AND SUCCEEDING. CREATE A LIST OF PEOPLE TO WHOM YOU WILL BROADCAST YOUR CAMPAIGN. THIS SHOULD INCLUDE YOUR SOCIAL MEDIA NETWORK, FRIENDS, FAMILY, CUSTOMERS, COMMUNITY MEMBERS, SUPPLIERS, ETC.
          a(href="#carousel-investor"
          role="button" 
          data-slide="next").right
            .slide_bottom_text.text-uppercase
              .extap up Next:
              p KEEP EVERYONE POSTED

      .carousel-item.t40
        img(src="/img/slider_business/9.jpg" alt="...").img-fluid 
        .carousel-caption
          h1.m-b-3 keep me posted
          p.m-b-1 Companies that raise money via Regulation Crowdfunding will have some limited ongoing reporting requirements, so you may be able to access annual Form C filings on 
            a(href="Edgar.com").link-3  Edgar.com 
            |  and on the company’s website.
          p We encourage companies that raise money on GrowthFountain to maintain regular dialogue and communication with investors, however the specifics will be up to the company. 

 

      a(href="#carousel-investor"
      role="button" 
      data-slide="prev").left.carousel-control
        span(aria-hidden="true").icon-prev
        span.sr-only Previous
      a(href="#carousel-investor"
      role="button" 
      data-slide="next").right.carousel-control
        span(aria-hidden="true").icon-next
        span.sr-only Next