include mixins.pug

+breadcrumbs('Create Company', 'Help Button', [['home', '/',], [ 'current', page.get_absolute_url]])

section.create-company-general.container
  //START LEFT BLOCK
  .col-lg-3
    .jumbotron.jumbotron-fluid.row
      .raise-funds
        h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
          .small-text (10% Done)
      #accordion(role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#company"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-briefcase
              |  Company
              span.pull-right
                i.fa.fa-angle-left
          #company(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="#").list-group-item.list-group-item-action Company
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#campaign"
            aria-expanded="true"
            ).list-group-item.active
              i.fa.fa-bar-chart
              |  Campaign
              span.pull-right
                i.fa.fa-angle-down
          #campaign(role="tabpanel").panel-collapse.collapse.in
            .list-group
              a(href="#").list-group-item.list-group-item-action General Information
              a(href="#").list-group-item.list-group-item-action.active Media
              a(href="#").list-group-item.list-group-item-action Team Members
              a(href="#").list-group-item.list-group-item-action Specifics
              a(href="#").list-group-item.list-group-item-action Perks
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#form_c"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-university
              |  form c
              span.pull-right
                i.fa.fa-angle-left
          #form_c(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="#").list-group-item.list-group-item-action form c
    .row
      .education-link-wrap
        .jumbotron.jumbotron-fluid
          h4.font-weight-bold.text-uppercase
            i.fa.fa-book
            |  education Links
          .nav
            li.nav-item
              a(href="#").nav-link.link-3 Issuer Tutorial
            li.nav-item
              a(href="#").nav-link.link-3 Success Guide
            li.nav-item
              a(href="#").nav-link.link-3 What's My Business Worth?
            li.nav-item
              a(href="#").nav-link.link-3 How Much Should I Raise?


  //START RIGHT BLOCK
  .col-lg-9
    h2.text-uppercase.dosis.text-lg-center.text-xs-center Media
    form(metod="post" action="").form-section
      .row.m-b-2
        .col-lg-7
          .col-lg-5
            span.pull-right.font-weight-bold Header Image
          .col-lg-7.text-lg-center
            p Drop your photo here or click to upload
            i.fa.fa-camera
        .col-lg-5.p-l-1.p-r-3
          img(src="/img/test.png" alt="Responsive image").img-fluid

      .row.m-b-2
        .col-lg-7
          .col-lg-5
            span.pull-right.font-weight-bold Thumbnail Picture
          .col-lg-7.text-lg-center
            p Drop your photo here or click to upload
            i.fa.fa-camera
        .col-lg-5.p-l-1.p-r-3
          img(src="/img/test.png" alt="Responsive image").img-fluid

        .col-lg-12.border-bottom.m-l-1.m-t-1
      .col-lg-12
        h3.text-lg-center.m-b-1 Recommended Additional Media
      .row.m-b-2
        .col-lg-7
          .col-lg-5
            span.pull-right.font-weight-bold Thumbnail Picture
          .col-lg-7.text-lg-center
            p Drop your photo here or click to upload
            i.fa.fa-camera
        .col-lg-5.p-l-1.p-r-3
          img(src="/img/test.png" alt="Responsive image").img-fluid

      .row.m-b-2
        .col-lg-7
          +fieldBlock("Main Video for Campaign", '', {
            class1: 'col-lg-5 col-md-5',
            class2: 'col-lg-7 col-md-7',
            type: 'text',
            placeholder: 'http://www.'
            })
        
        .col-lg-5.p-l-1.p-r-3
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="true")
      
      .row.m-b-2
        .col-lg-7
          .form-group.row
            .col-lg-5
              label.text-lg-right.font-weight-bold Optional Video for Campaign
            .col-lg-7
              input(type="text" placeholder="Title").form-control.m-b-2
              input(type="text" placeholder="http://www.").form-control.m-b-2

              a(href="").link-2 Add Another Video
        .col-lg-5.p-l-1.p-r-3
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="true")
      
      .col-lg-12.border-bottom.m-l-1.m-t-1
      .col-lg-12
        h3.text-lg-center.m-b-1 Articles and Press
      .row.m-b-2
        +fieldBlock("Question", '', {
          class1: 'col-lg-4 col-md-4',
          class2: 'col-lg-8 col-md-8',
          type: 'text',
          })


    
