include mixins.pug

+breadcrumbs('Create campaign', 'LOREM IPSUM DOLOR SIT AMET CONSECTETUR', [['home', '/',], [ 'current', page.get_absolute_url]])

section.create-company-media.container
  //START LEFT BLOCK
  .col-lg-3.create_compaign
    .jumbotron.jumbotron-fluid.row
      .raise-funds
        h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
          .small-text (10% Done)
      #accordion(role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#company"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-briefcase
              |  Company
              span.pull-right
                i.fa.fa-angle-left
          #company(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="/company/create").list-group-item.list-group-item-action Company
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#campaign"
            aria-expanded="true"
            ).list-group-item.active
              i.fa.fa-bar-chart
              |  Campaign
              span.pull-right
                i.fa.fa-angle-down
          #campaign(role="tabpanel").panel-collapse.collapse.in
            .list-group
              a(href="/campaign/general_information/" + values.id).list-group-item.list-group-item-action General Information
                i.fa.fa-check
              a(href="/campaign/media/" + values.id).list-group-item.list-group-item-action.active Media
              a(href="/campaign/team_members/" + values.id).list-group-item.list-group-item-action Team Members
              a(href="/campaign/specifics/" + values.id).list-group-item.list-group-item-action Specifics
              a(href="/campaign/perks/" + values.id).list-group-item.list-group-item-action Perks
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#form_c"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-university
              |  form c
              span.pull-right
                i.fa.fa-angle-left
          #form_c(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="#").list-group-item.list-group-item-action form c
    .row
      .education-link-wrap
        .jumbotron.jumbotron-fluid
          h4.font-weight-bold.text-uppercase
            i.fa.fa-book
            |  education Links
          .nav
            li.nav-item
              a(href="#").nav-link.link-3 Issuer Tutorial
            li.nav-item
              a(href="#").nav-link.link-3 Success Guide
            li.nav-item
              a(href="#").nav-link.link-3 What's My Business Worth?
            li.nav-item
              a(href="#").nav-link.link-3 How Much Should I Raise?


  //START RIGHT BLOCK
  .col-lg-9
    h2.text-uppercase.dosis.text-lg-center.text-xs-center.dosis.m-t-0.m-b-3 Media
    form(metod="post" action="").form-section
      +fieldDropzone("header_image", {
        class1: 'col-lg-7',
        class2: 'col-lg-5 p-l-1 p-r-3',
        text: 'Drop your photo here or click to upload',
        icon: 'file-image-o'
        })
      +fieldDropzone("list_image", {
        class1: 'col-lg-7',
        class2: 'col-lg-5 p-l-1 p-r-3',
        text: 'Drop your photo here or click to upload',
        icon: 'file-image-o'
        })
      .col-lg-12.border-top
        h3.text-lg-center Recommended Additional Media
      .row.m-b-2
        +fieldDropzone("gallery", {
            class1: 'col-lg-5',
            class2: 'col-lg-7',
            text: 'Drop your photo here or click to upload',
            icon: 'file-image-o',
            viewType: 2
        })

      .row.m-b-2.recommended
        .col-lg-7
          +fieldBlock("video", '', {
            class1: 'col-lg-5 col-md-5',
            class2: 'col-lg-7 col-md-7',
            type: 'text',
            placeholder: 'https://www.youtube.com/'
            })
        
        #video_source.col-lg-5.p-l-1.p-r-3
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="//www.youtube.com/embed/" + app.getVideoId(values.video) + "?rel=0" allowfullscreen="true")
      
      .row.m-b-2
        h3.d-inline-block.m-t-0.mb25 Additional videos
        +fieldBlock("additional_video", '', {
          class1: 'col-lg-3 col-md-4',
          class2: 'col-lg-9 col-md-8',
          type: 'json',
          })
        .row.m-t-0
            .col-lg-9.offset-1.pull-right
                a(href="#" data-section="additional_video").link-2.add-section Add Another Video
        // 
            adsf
            .col-lg-7
              .form-group.row.required
                .col-lg-5.recommended
                  label.text-lg-right.font-weight-bold Optional Video for Campaign
                .col-lg-7
                  input(type="text" placeholder="Title").form-control.m-b-2
                  input(type="text" placeholder="http://www.").form-control.m-b-1
                  .add-link
                    a(href="").link-2 Add Another Video
            .col-lg-5.p-l-1.p-r-3
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="true")
      
      .col-lg-12.border-top
        h3.text-lg-center Articles and Press
      .row.articles
        +fieldBlock("press", ' m-b-0', {
          class1: 'col-lg-3 col-md-4',
          class2: 'col-lg-9 col-md-8',
          type: 'json',
          })
        .col-lg-8.offset-lg-3.p-l-1
          a(href="#" data-section='press').link-2.add-section Add Another Article
        .col-lg-6.pull-right.p-l-0
          .col-lg-6
            button(href="").btn.btn-lg.btn-primary.text-uppercase.pull-right save
          .col-lg-6
            a(href="/api/campaign/" + values.id target="_blank").btn.btn-lg.btn-secondary.text-uppercase preview
