for campaign in campaigns

                .col-lg-4
                    a(href=Urls['campaign-detail'](campaign.id)).block_link
                    .one_block
                        .for_img
                            img(
                                src=(campaign.list_image_data ? campaign.list_image_data.url : '/img/test.png')
                                alt=campaign.company.name
                            )

                            .more_inform
                                .title.text-center
                                    h3 Pre money valuation: $#{campaign.premoney_valuation}

                                .small_text
                                    if campaign.company.tagline
                                        p #{campaign.company.tagline.substr(0, 120)}

                                .ico_cont
                                    a(href=Urls['campaign-detail'](campaign.id) + '#members').link-1
                                        i.fa.fa-users
                                    a(href=Urls['campaign-detail'](campaign.id) + '#perks').link-1
                                        i.fa.fa-gift

                                .bottom_pr
                                    if campaign.security_type == 0
                                        p Price per share: $#{campaign.price_per_share}
                                        p Number of shares: $#{campaign.amount_of_shares}
                                    else
                                        p % Revenue: #{campaign.percentage_revenue}
                                        p Cap: #{campaign.cap}
                                        p Expiration Date: #{campaign.expiration_date}


                        .title
                            h3.m-t-0= campaign.company.name
                            span.place
                                i.fa.fa-map-marker
                                = campaign.company.city + ' ' + campaign.company.state
                            .clear
                        .description
                            if campaign.pitch
                                p= campaign.pitch.substr(0,250)

                        .progress_bar_container
                            span.left_text #{campaign.progress} % Funded
                            span.right_text 
                                b $#{campaign.amount_raised} 
                                | of #{campaign.minimum_raise}
                            .clear
                                progress.progress(value=campaign.progress max="100") #{campaign.progress} %

                        .bottom_text
                            span.left_desc
                                b Security:
                                | #{campaign.get_security_type_display}
                            span.right_desc
                                b Industry: 
                                | Lorem ipsum
                            .clear