- 'use strict';
include mixins.pug
include campaignMenu.pug

+breadcrumbs('Create Company', 'Help Button', 
    [
        ['Home', '/'],
        ['current', ''],
    ]
)
section.create-company-team-add.container
    +menu('team-members')

    //START RIGHT BLOCK
    .col-lg-8
        h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 team members
        form(metod="post" action="").form-section
            if values.members && values.members.length < 1
                 .form-group.text-lg-center
                    .col-lg-12
                      .campaign-warning.warning-team-add.text-lg-left
                        i.fa.fa-exclamation-triangle 
                        span.warning-text 
                        | Warning! You have to add at least 1 team member to proceed.

            .col-lg-12.text-lg-center.m-t-2.m-b-2
                    a(href='/campaign/team-members/' + values.id + '/add/member/new').btn.btn-lg.text-uppercase.m-r-3 
                        i.fa.fa-plus
                        |  ADD TEAM MEMBER 
                    a(href='/campaign/team-members/' + values.id + '/add/advisor/new').btn.btn-lg.text-uppercase 
                        i.fa.fa-plus
                        |  ADD ADVISOR

            if values.members
                - counter = 0
                each v,k in values.members
                    - console.log(v, k);
                    .col-lg-3.m-t-2.p-r-0.p-l-0.m-l-2.m-r-2
                        .team-add-item.text-lg-center.text-xs-center
                            img(src=v.photo alt=v.first_name).img-circle
                            p.name.text-uppercase #{v.first_name} #{v.last_name}
                            p.small #{ v.title }
                            a(href="/campaign/team-members/" + values.id + "/add/" + v.type + '/' + counter).link-1
                                i.fa.fa-pencil-square-o
                    - counter ++
            if values.members && values.members.length >= 1

                .col-lg-12.pull-right.p-r-0.m-t-3.text-lg-right
                    a(href="/api/campaign/" + values.id target="_blank").btn.btn-lg.btn-secondary.text-uppercase.m-r-3 preview
                    a(href="/campaign/specifics/" + values.id).btn.btn-lg.btn-primary.text-uppercase Go to Specifics
                        i.fa.fa-angle-right
