include mixins.pug

+breadcrumbs('Create Company', 'Help Button', [['home', '/',], [ 'current', page.get_absolute_url]])

section.create-perks.container
  //START LEFT BLOCK
  .col-lg-3.create_compaign
    .jumbotron.jumbotron-fluid.row
      .raise-funds
        h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
          .small-text (10% Done)
      #accordion(role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#company"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-briefcase
              |  Company
              span.pull-right
                i.fa.fa-angle-left
          #company(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="#").list-group-item.list-group-item-action Company
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#campaign"
            aria-expanded="true"
            ).list-group-item.active
              i.fa.fa-bar-chart
              |  Campaign
              span.pull-right
                i.fa.fa-angle-down
          #campaign(role="tabpanel").panel-collapse.collapse.in
            .list-group
              a(href="/campaign/general_information/" + values.id).list-group-item.list-group-item-action General Information
                i.fa.fa-check
              a(href="/campaign/media/" + values.id).list-group-item.list-group-item-action Media
                i.fa.fa-check
              a(href="/campaign/team_member/" + values.id).list-group-item.list-group-item-action Team Members
                i.fa.fa-check
              a(href="/campaign/specifics/" + values.id).list-group-item.list-group-item-action Specifics
                i.fa.fa-check
              a(href="/campaign/perks/" + values.id).list-group-item.list-group-item-action.active Perks
        .panel.panel-default
          .panel-heading(role="tab")
            a(data-toggle="collapse"
            data-parent="#accordion"
            href="#form_c"
            aria-expanded="true"
            ).list-group-item
              i.fa.fa-university
              |  form c
              span.pull-right
                i.fa.fa-angle-left
          #form_c(role="tabpanel").panel-collapse.collapse
            .list-group
              a(href="#").list-group-item.list-group-item-action form c
    .row
      .education-link-wrap
        .jumbotron.jumbotron-fluid
          h4.font-weight-bold.text-uppercase
            i.fa.fa-book
            |  education Links
          .nav
            li.nav-item
              a(href="#").nav-link.link-3 Issuer Tutorial
            li.nav-item
              a(href="#").nav-link.link-3 Success Guide
            li.nav-item
              a(href="#").nav-link.link-3 What's My Business Worth?
            li.nav-item
              a(href="#").nav-link.link-3 How Much Should I Raise?


  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 perks
    form(metod="post" action="").form-section
      .form-group
        .col-sm-12.p-r-0
          .campaign-warning 
            i.fa.fa-exclamation-triangle 
            span.warning-text 
            | Investment decisions can depend as much on emotional attachment to your company as they do on potential return.  Evidence suggests that investors particularly like to invest in companies that give them perks - or tangible rewards of ownership, as well as continued contact post-investment.We recommend offering at least one ietm, and perhaps more, depending on the level of investment.  For example, all investors could receive coupons or discounts. If the company makes a widget, investors who invest a minimimum of $500 receive a free widget. Please consider the cost of shipping and production when you offer to send an investor a free item based on their investment - make sure it works for you monetarily and make sure to manage expectations appropriately.  Offering perks is completely optional and up to you - you can even offer honorable mention on a website, a signed picture, etc.Investor perks are not intended to affect the value of the security and investors should evaluate the merits of each investment without regard to any Investor Perks.
      
        .row.articles
          +fieldBlock("perks", '', {
            class1: 'col-lg-3 col-md-4',
            class2: 'col-lg-9 col-md-8',
            type: 'json',
            })
          .col-lg-8.offset-lg-3.p-l-0
            a(href="#" data-section='perks').link-2.add-section Add Another Perks Level
        .col-lg-6.pull-right.p-r-0.m-t-3
          .col-lg-6
            button(type="submit").btn.btn-lg.btn-primary.text-uppercase.pull-right save
          .col-lg-6
            a(href="/api/campaign/" + values.id target="_blank").btn.btn-lg.btn-secondary.text-uppercase preview
