-
  level = level || 0;

  var cssClass = level > 12
  ? 'col-lg-10 offset-lg-1'
  : 'col-lg-' + (12 - level) + ' offset-lg-' + level;
  cssClass += ' pt30 comment ';
  var avatar = comment.user.image_data.length && comment.user.image_data[0].urls.length
  ? comment.user.image_data[0].urls[0]
  : '/img/default/Default_photo.png';

  var userName = comment.user.first_name + ' ' + comment.user.last_name;
  var id = comment.uid
  ? 'comment_' + comment.uid
  : 'comment_empty_' + level;

  var passedTime = attr.helpers.date.fromNow(comment.created_date);

div(id=id class=cssClass data-level=level data-id=comment.uid).p-r-0.p-t-0
  .border-bottom.m-t-1.m-b-1
  .col-lg-1
    img(src=avatar alt="").img-circle
  .col-lg-11
    .comments-wrap.col-lg-12.p-r-0
      span.name-comments.text-uppercase #{ userName }
      -
        var title = comment.user.role.company_id == attr.company_id
          ? comment.user.role.role.join(', ')
          : (comment.related || '');

      if title
        span.kvalificatio-comments.text-uppercase #{ title }

      span.date-comments.pull-right #{ passedTime }
      p #{ comment.message }
      div.responce.comment-actions
        if level <= 0
          li
            i.fa.fa-comment-o.p-r-5
            a(href="#").link-1.link-response-count
              span.count #{ comment.children.length }
              i.fa.fa-angle-up
          li.reply
            span.reply-left |
            a(href="#").link-1.link-reply Reply
              span.reply-right |
        //li
          a(href="#").link-1.link-like
            i.fa.fa-heart
      //
        li.pull-lg-right
          a(href="#").link1.link-edit
            i.fa.fa-pencil-square-o.p-r-5
          | Edit
        li.pull-right
          span.p-5 |
        li.pull-right
          a(href="#").link1.link-delete
            i.fa.fa-times.p-r-5
          | Delete


  if comment.children && comment.children.length
    each childComment in comment.children
      - pug_html += app.fields.comment(childComment, level + 1, attr)