div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#files-modal.modal.fade.files-modal
  div().modal-dialog
    .modal-content.files-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-uppercase.text-xs-center.m-t-2.m-b-2.dosis #{title}
      .modal-body.container.p-l-3.p-r-3.text-xs-center.p-t-0
        each f in files
          - var link = f.urls.origin;
          - if(f.site_id && f.urls.origin.startsWith('http') == false) link = app.sites[f.site_id] + f.urls.origin;
          - var iconPath = app.helpers.icons.resolveIconPath(f.mime, 'file');
          a(target="_blank" href=link title=f.name data-link=f.urls.origin).link-file.openPdfPreview
            .thumb-file-container.m-b-2.d-inline-block
              img(src=iconPath alt=f.name class="img-file")
              .row
                a(target="_blank" href=link title=f.name data-link=f.urls.origin).link-file.openPdfPreview #{ app.helpers.text.shortenFileName(f.name) }
        else
          p No docs
