include mixins.pug

+breadcrumbs('FAQ', '', 
    [
        ['Home', '/'],
        ['FAQ', ''],
    ]
)

section.text_block
    .container
        .row
            .col-lg-4 
                .page_title.border-bottom
                    h4.text-uppercase.dosis faq
                ul.list-unstyled.pt30
                    li.class
                        a.d-inline-block.w-100.pb10(href='') General Questions
                    li.class
                        a.d-inline-block.w-100.pb10(href='') Entrepreneur Questions
                    li.class
                        a.d-inline-block.w-100.pb10(href='') Investor Questions
            .col-lg-8
                .row
                    .col-lg-12.text-xs-center
                        h2.text-uppercase.dosis.m0 General Questions
                        
                .row
                    .col-lg-12.mt30
                        #generalQuestions.accordion(role="tablist" aria-multiselectable="true")
                            .panel.panel-default
                                #headingOneGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseOneGeneralQuestions"
                                    aria-expanded="true"
                                    aria-controls="collapseOneGeneralQuestions"
                                    ).list-group-item-action.m0.active What is GrowthFountain?
                                        i.fa.fa-angle-up
                                #collapseOneGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingOneGeneralQuestions"
                                ).panel-collapse.collapse.in 
                                    p.pb10 From the local businesses you see every day, to start-ups across America, businesses need resources to help them grow.

                                    p.pb10 GrowthFountain is a funding portal empowering businesses to raise capital online. For entrepreneurs, we have simplified the process of running a fundraising campaign. For investors, we have designed a platform that makes it easy to discover, support and invest in a neighbor, local business, or the next big idea.   

                                    p.pb10 We offer equity and revenue share crowdfunding solutions and provide a variety of calculators, tools and tutorials to streamline the transaction process. GrowthFountain is registered with the SEC and a member of FINRA.
                            .panel.panel-default
                                #headingTwoGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseTwoGeneralQuestions"
                                    aria-controls="collapseTwoGeneralQuestions"
                                    ).list-group-item-action How do I get started?
                                        i.fa.fa-angle-down
                                #collapseTwoGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingTwoGeneralQuestions"
                                ).panel-collapse.collapse 
                                    p.pb10 If you are new to crowdfunding, start with our educational material to learn more about our process.  You can also feel free to set-up an account to get access to all the areas of our site – it’s easy and free! 
                            .panel.panel-default
                                #headingThreeGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseThreeGeneralQuestions"
                                    aria-controls="collapseThreeGeneralQuestions"
                                    ).list-group-item-action What is the JOBS Act?
                                        i.fa.fa-angle-down
                                #collapseThreeGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingThreeGeneralQuestions"
                                ).panel-collapse.collapse 
                                    p.pb10 The Jump Start Our Business Start-ups Act (JOBS Act) received bipartisan support and was signed into law on April 5, 2012. Its goal is to help small businesses raise capital for growth and development. Title III of the Jobs Act (referred to as Regulation Crowdfunding) relaxes certain investor requirements so that almost anybody in the world can now invest in America’s small businesses and entrepreneurs!

                            .panel.panel-default
                                #headingFourGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseFourGeneralQuestions"
                                    aria-controls="collapseFourGeneralQuestions"
                                    ).list-group-item-action What is Crowdfunding?
                                        i.fa.fa-angle-down
                                #collapseFourGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingFourGeneralQuestions"
                                ).panel-collapse.collapse
                                    p.pb10 Crowdfunding is the process of raising money by aggregating a large number of individual contributions.  Regulation Crowdfunding enables companies to fundraise for equity or debt investments online  – which is a groundbreaking concept to assist America’s small businesses in their fundraising efforts.

                                    p.pb10 Crowdfunding isn’t new. When the Statue of Liberty was gifted by France to the U.S., New York was unable to raise the $250,000 required to build the granite base for the statue. Publisher Joseph Pulitzer launched a fundraising campaign in the newspaper to keep the statue in NY. Ultimately, 160,000 individual donors contributed enough money to keep the statue in New York.

                                    p.pb10 Crowdfunding is a powerful concept: individual amounts don’t need to be large to become significant in the aggregate. And there are benefits to crowdfunding beyond the access to money since entrepreneurs can gauge demand, refine a product, implement winning strategies and connect with the right people that can provide knowledge and experience. Most importantly, entrepreneur’s can turn customers into owners who can become brand ambassadors and evangelists, spreading recommendations and helping grow market share.

                            .panel.panel-default
                                #headingFiveGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseFiveGeneralQuestions"
                                    aria-controls="collapseFiveGeneralQuestions"
                                    ).list-group-item-action What are the different types of crowdfunding?
                                        i.fa.fa-angle-down
                                #collapseFiveGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingFiveGeneralQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 One can distinguish crowdfunding sites as donation, peer-to-peer lending and equity.  

                                    p.pb10 Donation crowdfunding involves giving money to support a cause with no expectation of any financial return. Companies that are listed on donation sites have few legal obligations to provide any level of transparency and are limited in terms of the rewards that they can offer.

                                    p.pb10 Peer-to-peer lending sites enable users to earn a financial return with limited upside. Many of these sites are limited to accredited investors and have limited scope.

                                    p.pb10 Equity crowdfunding is where individuals provide funding to a company and in exchange, they receive securities; they become investors and owners. The public transactions are regulated and can be structured to take advantage of an exemption from registration. Smaller companies have been severely restricted in their ability to sell equity or access capital for the past 80 years. That is, until now. 

                                    p.pb10 Congress passed the JOBS Act and President Obama signed it into law in 2012. Its primary intention is to help small businesses – which provide 2/3 of our nation’s jobs – raise capital via equity crowdfunding for growth and development. 

                            .panel.panel-default
                                #headingSixGeneralQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#generalQuestions" 
                                    href="#collapseSixGeneralQuestions"
                                    aria-controls="collapseSixGeneralQuestions"
                                    ).list-group-item-action What if I have a question that I don't see here?  
                                        i.fa.fa-angle-down
                                #collapseSixGeneralQuestions(role="tabpanel"
                                aria-labelledby="headingSixGeneralQuestions"
                                ).panel-collapse.collapse 
                                    p.pb10 If you have a question that you don't see an answer to on this page please feel free to email us at info@growthfountain.com 


                .row
                    .col-lg-12.text-xs-center.mt30
                        h2.text-uppercase.dosis.m0 Entrerpreneur Questions

                .row
                    .col-lg-12.mt30
                        #entrerpreneurQuestions.accordion(role="tablist" aria-multiselectable="true")
                            .panel.panel-default
                                #headingOneEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseOneEntrerpreneurQuestions"
                                    aria-expanded="true"
                                    aria-controls="collapseOneEntrerpreneurQuestions"
                                    ).list-group-item-action.m0.active Why should I choose GrowthFountain? 
                                        i.fa.fa-angle-up
                                #collapseOneEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingOneEntrerpreneurQuestions"
                                ).panel-collapse.collapse.in 
                                    p.pb10 It’s our mission to level the playing field for America’s entrepreneurs and minimize friction in the capital raising process. We provide tools and tutorials to automate difficult processes and make connecting to the crowd easier. We want to free you up to focus on growing your business so if you have comments or questions, please reach out to us at <a href=mailto:info@growthfountain.com>info@growthfountain.com.</a>

                            .panel.panel-default
                                #headingTwoEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseTwoEntrerpreneurQuestions"
                                    aria-controls="collapseTwoEntrerpreneurQuestions"
                                    ).list-group-item-action How does GrowthFountain make it easy?
                                        i.fa.fa-angle-down
                                #collapseTwoEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingTwoEntrerpreneurQuestions"
                                ).panel-collapse.collapse 
                                    ul.mt25.list-unstyled.simple-list
                                        li 
                                            i &middot; 
                                            | We give you dashboards to monitor campaign progress
                                        li
                                            i &middot; 
                                            | We offer valuation calculators, tutorials and useful education material
                                        li 
                                            i &middot; 
                                            | We provide tools to help you generate a compliant Form C 
                                        li
                                            i &middot; 
                                            | We can file documents with regulatory authorities on your behalf
                                        li
                                            i &middot; 
                                            | We help you track the crowdfunding steps so nothing gets missed
                                        li
                                            i &middot; 
                                            | We save you time and money. No need to reinvent the wheel; use our templated investment contracts and subscription agreements
                                        li 
                                            i &middot; 
                                            | We provide a one-stop shop to attract and communicate with investors

                            .panel.panel-default
                                #headingThreeEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseThreeEntrerpreneurQuestions"
                                    aria-controls="collapseThreeEntrerpreneurQuestions"
                                    ).list-group-item-action What are the advantages of equity crowdfunding?
                                        i.fa.fa-angle-down
                                #collapseThreeEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingThreeEntrerpreneurQuestions"
                                ).panel-collapse.collapse 
                                    p.pb10 Crowdfunding is a powerful tool that can help your business raise more than money. You have the ability to turn your customers into owners, who can then become brand ambassadors and evangelists, spreading the word about your product or service. The crowd can help you gauge demand for your product and provide input to help you refine your offering. The crowd can also provide the knowledge and experience you might seek to bring you to the next level.

                                    p.pb10 James Surowiecki wrote a book called The Wisdom of Crowds, where he demonstrates that often the collective wisdom of crowds is more accurate than that of an expert; by obtaining a large number of independent opinions, you can de-correlate error and arrive at a more accurate assessment. 

                            .panel.panel-default
                                #headingFourEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseFourEntrerpreneurQuestions"
                                    aria-controls="collapseFourEntrerpreneurQuestions"
                                    ).list-group-item-action What are the risks of equity crowdfunding?
                                        i.fa.fa-angle-down
                                #collapseFourEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingFourEntrerpreneurQuestions"
                                ).panel-collapse.collapse
                                    p.pb10 There are no assurances that any campaign will be successful or will secure enough investor commitments to reach a minimum target. Each crowdfunding investment will involve risk to the investor who must rely on their own examination of the issuer and the terms of the offering. 

                            .panel.panel-default
                                #headingFiveEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseFiveEntrerpreneurQuestions"
                                    aria-controls="collapseFiveEntrerpreneurQuestions"
                                    ).list-group-item-action How do I apply to have my company listed on GrowthFountain?
                                        i.fa.fa-angle-down
                                #collapseFiveEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingFiveEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 Once you’ve registered on the GrowthFountain website, you’ll be able to access the tools and tutorials to help you with designing and launching your fund-raising campaign. Simply click “Raise Capital” on our landing page and begin answering the questions to help us auto-populate some of the required filings. We can walk you through the process step-by-step.

                            .panel.panel-default
                                #headingSixEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseSixEntrerpreneurQuestions"
                                    aria-controls="collapseSixEntrerpreneurQuestions"
                                    ).list-group-item-action What do I need to do to prepare my campaign?
                                        i.fa.fa-angle-down
                                #collapseSixEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingSixEntrerpreneurQuestions"
                                ).panel-collapse.collapse 
                                    p.pb10 Support begins with people you know. Create a list of your friends, family, social network, customers, suppliers and community members.  They can help spread the word about your offering and their investment can help you gain early traction toward achieving your fundraising goal. 

                                    p.pb10 You likely already have a lot of the content you’ll need including your business plan, elevator pitch, capital structure and financial statements. Please refer to the “Success Guide” in our Resource Center.  You may also want to identify which pieces of media best describe your company including photos and videos. The better you can highlight the unique attributes of your product to the investment community, the higher your chances of success. Specifically, you’ll need:

                                    p.pb10
                                        u
                                            em
                                                | Financials (prepared under GAAP covering the two most recent years or since inception):

                                    ul.list-unstyled.simple-list
                                        li 
                                            i &middot; 
                                            | If raising $100,000 or less, financials must be certified by CEO
                                        li
                                            i &middot; 
                                            | If raising $100,001-$1,000,000, financials must be reviewed by independent public accountant (no audited financials required for first time Regulation Crowdfunding raise) 

                                    p.pb10
                                        u
                                            em
                                                | Campaign description &amp; disclosure

                                    ul.list-unstyled.simple-list
                                        li 
                                            i &middot; 
                                            | Description of any outstanding securities and any rights associated with those securities
                                        li
                                            i &middot; 
                                            | Description of any historical results, financial milestones and challenges
                                        li
                                            i &middot; 
                                            | Business plan &amp; proposed use of funds

                                        li
                                            i &middot; 
                                            | Disclosure of material risk factors

                                        li
                                            i &middot; 
                                            | Team bios (officers, directors and 20% owners)

                                    p.pb10
                                        u
                                            em
                                                | Media &amp; PR Campaign

                                    ul.list-unstyled.simple-list
                                        li 
                                            i &middot; 
                                            | Create a list of all your supporters and potential investors
                                        li
                                            i &middot; 
                                            | Slide deck
                                        li
                                            i &middot; 
                                            | A great Video describing your product/service and team – with passion and excitement!

                                        li
                                            i &middot; 
                                            | Campaign photos

                                        li
                                            i &middot; 
                                            | PR support and a social media presence


                            .panel.panel-default
                                #headingSevenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseSevenEntrerpreneurQuestions"
                                    aria-controls="collapseSevenEntrerpreneurQuestions"
                                    ).list-group-item-action What is a Form C?
                                        i.fa.fa-angle-down
                                #collapseSevenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingSevenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 In order for companies to raise capital under Regulation Crowdfunding, they are required to file certain disclosures in a specified format referred to as Form C. The Form C must be available to potential investors during your fundraise and will be filed with the SEC. GrowthFountain assists companies in populating and filing their Form C. GrowthFountain, however, is not a legal advisor and does not purport to provide legal advice. We recommend in all cases that people discuss the offerings and investments with their own legal counsel. 

                            .panel.panel-default
                                #headingEightEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseEightEntrerpreneurQuestions"
                                    aria-controls="collapseEightEntrerpreneurQuestions"
                                    ).list-group-item-action Do I need to negotiate with each investor?
                                        i.fa.fa-angle-down
                                #collapseEightEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingEightEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 No. All offering terms will be determined in advance and all investors will receive the same terms. There is no negotiation involved in a crowdfunding transaction since you get to set the terms and each investor gets to determine whether they want to participate on those terms. 


                            .panel.panel-default
                                #headingNineEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseNineEntrerpreneurQuestions"
                                    aria-controls="collapseNineEntrerpreneurQuestions"
                                    ).list-group-item-action How much ownership will I have to give to an investor?
                                        i.fa.fa-angle-down
                                #collapseNineEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingNineEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 There is no single answer as to the right valuation for your company since different investors may have different views. We encourage you to discuss the questions of ownership allocation with your legal counsel and advisors. To assist you define a starting range for such discussions, GrowthFountain has several financial calculators under 
                                    b
                                        | Resource Center: What’s my Business Worth? 

                                    | which can help you assess a valuation no matter what your growth stage. You can also access 
                                    b Resource Center: Capital Raise Calculator 

                                    | to help you understand how much money you might need to accomplish your goal. The use of any of these calculators does not constitute investment advice.

                            .panel.panel-default
                                #headingTenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseTenEntrerpreneurQuestions"
                                    aria-controls="collapseTenEntrerpreneurQuestions"
                                    ).list-group-item-action How long will a fundraising take?
                                        i.fa.fa-angle-down
                                #collapseTenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingTenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 The length of time required to complete a fundraise will vary depending on several factors including: how much traction you are able to attract, the terms of the offering, the speed with which the company responds to information requests, and the degree to which the company may be otherwise represented in social media. All offerings must remain open for a minimum of 21 days.  

                            .panel.panel-default
                                #headingElevenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseElevenEntrerpreneurQuestions"
                                    aria-controls="collapseElevenEntrerpreneurQuestions"
                                    ).list-group-item-action What type of securities can I offer?
                                        i.fa.fa-angle-down
                                #collapseElevenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingElevenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 You can choose between two types of securities to issue on GrowthFountain. 

                                    ol.simple-list
                                        li 
                                            b PayBack Share.
                                            | PayBack Share is a revenue share agreement. If you choose PayBack Share, you would make annual payments to your investors of at least 5% of your revenue until two times (2x) the amount invested is paid back. No distributions would be required until the second full calendar year and you would also be allowed one year of forbearance as needed.  These obligations would be unsecured and contain no pre-payment penalty. This security may be a good choice for:
                                            ul.simple-list.list-unstyled.pt10
                                                li A) Companies that generate or expect to generate cash (your operating earnings will have to be &gt; 5% of your revenue for this to make sense);
                                                li B) LLC’s that are looking for ways to raise funds without the need to issue K-1s; and 
                                                li C) Companies that want to maintain a clean capital structure in anticipation of a future venture capital fundraising round.

                                        li Common Equity. Selling Common Equity may be good for growth companies that are consuming cash. This allows you to make your investors true “owners” so that they can participate in the upside of your business without any cap on the amounts that can be repaid.

                            .panel.panel-default
                                #headingTwelveEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseTwelveEntrerpreneurQuestions"
                                    aria-controls="collapseTwelveEntrerpreneurQuestions"
                                    ).list-group-item-action What are some of the advantages of the PayBack Share?
                                        i.fa.fa-angle-down
                                #collapseTwelveEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingTwelveEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 Companies may be interested in one or more of the following potential benefits from offering Payback Share securities instead of Common Equity:

                                    ol.simple-list
                                        li It does not dilute the ownership of current shareholders or the control of management 

                                        li It avoids a prolonged negotiation over valuation and “messy cap table”

                                        li It may be easier to raise capital and attract investors by offering the potential to earn regular cash distributions

                                        li It gives you the chance to keep more of the upside since once investors’ have received 2x their money back, you will have no further obligation

                                    p.pb10
                                       | Additionally, when compared to most bank loans or other forms of financing, the Payback Share approach provides entrepreneurs with less risk exposure since it requires no collateral or personal guarantee.   We designed Payback Share to be a flexible repayment mechanism that does not contain many of the financial covenants that would be found in a typical bank loan.


                            .panel.panel-default
                                #headingThirteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseThirteenEntrerpreneurQuestions"
                                    aria-controls="collapseThirteenEntrerpreneurQuestions"
                                    ).list-group-item-action How much money can I raise?
                                        i.fa.fa-angle-down
                                #collapseThirteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingThirteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 You are allowed to raise up to $1 million in each 12 month period via Regulation Crowdfunding. You are not prohibited from simultaneously or otherwise conducting other raises.

                            .panel.panel-default
                                #headingFourteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseFourteenEntrerpreneurQuestions"
                                    aria-controls="collapseFourteenEntrerpreneurQuestions"
                                    ).list-group-item-action What happens if I don’t reach my fundraising goal?
                                        i.fa.fa-angle-down
                                #collapseFourteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingFourteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 If you don’t reach your minimum target, all investor committed capital must be returned. You are able to set a minimum and maximum amount you’re willing to receive, so this flexibility should help you to reach your goal. 

                            .panel.panel-default
                                #headingFifteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseFifteenEntrerpreneurQuestions"
                                    aria-controls="collapseFifteenEntrerpreneurQuestions"
                                    ).list-group-item-action Will I have any ongoing reporting requirements?
                                        i.fa.fa-angle-down
                                #collapseFifteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingFifteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 Yes, you will have to file a Form C annually to update your investors. This obligation terminates when 1) you’ve filed one annual report and have fewer than 300 holders and assets &lt; $10 million; 2) you have filed three annual reports; 3) you have repurchased all securities issued under Regulation Crowdfunding or 4) you grow large enough that you have to publicly file.

                            .panel.panel-default
                                #headingSixteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseSixteenEntrerpreneurQuestions"
                                    aria-controls="collapseSixteenEntrerpreneurQuestions"
                                    ).list-group-item-action Are there any prohibitions that might prevent me from using Regulation Crowdfunding?
                                        i.fa.fa-angle-down
                                #collapseSixteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingSixteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 There are a handful of disqualifiers: 1) you must be a US based company; 2) You can’t be an investment company; 3) If you have previously raised money under Regulation Crowdfunding but failed to comply to the ongoing annual reports, you will be unable to conduct a further raise until you are in compliance; 4) your company has no specific business plan or your business plan is to engage in merger or acquisition with an unidentified company; 5) if you happen to have recent audited financials AND your audit includes a qualified, adverse or disclaimer of opinion; or 6) if your independent accountant review includes modifications. There are also eligibility requirements that apply to management, board members and persons owning 20% or more of the Company. GrowthFountain helps you evaluate these potential disqualifying events in connection with completing the Form C.

                            .panel.panel-default
                                #headingSeventeenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseSeventeenEntrerpreneurQuestions"
                                    aria-controls="collapseSeventeenEntrerpreneurQuestions"
                                    ).list-group-item-action How can I advertise my campaign?
                                        i.fa.fa-angle-down
                                #collapseSeventeenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingSeventeenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 You can advertise your campaign in any form of media, provided that you abide by the applicable Regulation Crowdfunding restrictions. Federal law limits you to:

                                    ul.list-unstyled.simple-list
                                        li 
                                            i &middot; 
                                            | A statement that you are conducting an offering on 
                                            a(href="www.growthfountain.com") www.growthfountain.com
                                        li
                                            i &middot; 
                                            | The terms of the offering, including dollar amount offered, type of security, price and closing date
                                        li
                                            i &middot; 
                                            | Your company name, address, phone number, website and email address

                                        li
                                            i &middot; 
                                            | A brief description of your business, which may include, full color posters, advertisements and videos that describe your business and refer people to your offering on GrowthFountain.

                                    p.pb10 Get the word out to your family, your friends, and your social network. Empower your advocates to help spread the word and refer people to your campaign on GrowthFountain. By turning your customers, community and suppliers into owners, you’ll make them feel more committed to your success.

                                    p.pb10 Also note that potential investors can ask questions and make comments through the communication channel provided on the platform. While you will have to identify all of your agents who participate in those communication channels, you will nonetheless have a direct line to investors to generate greater interest in your offering. Make sure to avoid forward looking statements and omitting any material facts that would allow investors to be misled.


                            .panel.panel-default
                                #headingEightteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseEightteenEntrerpreneurQuestions"
                                    aria-controls="collapseEightteenEntrerpreneurQuestions"
                                    ).list-group-item-action How do I communicate with investors after the fundraising?
                                        i.fa.fa-angle-down
                                #collapseEightteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingEightteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 You have a number of options for staying in touch with your new investors.  First, you can use the annual report as an information sharing tool that provides investors with additional transparency.  Second, you can proactively leverage your dashboard or transfer agent to reach out to investors with other information. 

                            .panel.panel-default
                                #headingNineteenEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseNineteenEntrerpreneurQuestions"
                                    aria-controls="collapseNineteenEntrerpreneurQuestions"
                                    ).list-group-item-action What is the 21 day waiting period?
                                        i.fa.fa-angle-down
                                #collapseNineteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingNineteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 Campaigns must be live for at least 21 days, as required by applicable rules.  You have some flexibility with setting a closing date because in certain circumstances with proper notice to the investors who have made an investment commitment, you will have the ability to close early once your minimum target raise amount is reached.

                            .panel.panel-default
                                #headingTwentyEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseTwentyteenEntrerpreneurQuestions"
                                    aria-controls="collapseTwentyteenEntrerpreneurQuestions"
                                    ).list-group-item-action Can non-U.S. businesses list on GrowthFountain?
                                        i.fa.fa-angle-down
                                #collapseTwentyteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingTwentyteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 No. At this time, the GrowthFountain website is available only to companies based in the United States or any territory thereof. However, non-U.S. based investors are allowed to invest in any of the offerings on our platform.

                            .panel.panel-default
                                #headingTwentyOneEntrerpreneurQuestions(role="tab").panel-heading
                                    a(data-toggle="collapse"
                                    data-parent="#entrerpreneurQuestions" 
                                    href="#collapseTwentyOneteenEntrerpreneurQuestions"
                                    aria-controls="collapseTwentyOneteenEntrerpreneurQuestions"
                                    ).list-group-item-action How much does GrowthFountain cost?
                                        i.fa.fa-angle-down
                                #collapseTwentyOneteenEntrerpreneurQuestions(role="tabpanel"
                                aria-labelledby="headingTwentyOneteenEntrerpreneurQuestions"
                                ).panel-collapse.collapse  
                                    p.pb10 For companies raising money, we pass through the costs of background checks and escrow agent costs. If you successfully reach your fundraising goal, GrowthFountain will charge a transaction fee equal to 5% of the money you raise.  If you do not reach your minimum fundraising goal, no transaction fees will be charged other than the pass-through costs.

























