-
  var cssClass = 'form-group '  +
    (attr.row == 0 ? '' : 'row ') +
    (attr.id || name) +
    (attr.required == true ? ' required ' : ' ') +
    attr.type
div(class=cssClass)
  label(class=attr.class1 for=attr.id || name)!= attr.label
  div(class=attr.class2)
    select(
      id=attr.id || name
      name=name
    ).custom-select.w-100
      if attr.hasOwnProperty('empty')
        option(value=attr.empty.value) #{attr.empty['']}

      each v,k in attr.validate.choices
        option(value=k selected=(k == attr.value ? "selected" : void(0) )) #{ v }