mixin nestedTextLabel(nestedName, name, myAttr, vals)
  - vals = vals || values;
  - _.extend(myAttr, fields[nestedName].schema[name])
  - myAttr.value = vals[name] ? vals[name] : ''
  +fieldTextLabel(
    nestedName + '[' + name + ']',
    myAttr
  )


mixin prepareNestedField(nestedName, name, value, index, myAttr)
  if value == null
    - console.log('value for ' + name + ' is null ')
    - value = {}
  - _.extend(myAttr, attr.schema[name]);
  - myAttr.value = value[name] ? value[name]: '';
  - myAttr.id = nestedName + '__' + index + '__' + name + '';


mixin fieldNestedTextLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedTextareaLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextareaLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedChoiceLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldChoiceLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedRadioLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldRadioLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateMonth(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__month'
  +fieldDateMonth(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateDay(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__day'
  +fieldDateDay(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateMonth(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__month'
  +fieldDateMonth(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateYear(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__year'
  +fieldDateYear(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin prepareField(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';

  if attr.placeholder == null || attr.placeholder == ''
    - attr.placeholder = attr.label || ''
  if attr.required == true
    - attr.label += '<span class="color-red">*</span>'


mixin fieldTextLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'text'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + ' ' + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)!= attr.label
    div(class=attr.class2)
        input(
            id=attr.id || name
            name=attr.name || name
            placeholder=attr.placeholder ? attr.placeholder :attr.label
            type=attr.type ? attr.type : 'text'
            class=(attr.help_text ? 'showPopover' : '')
            data-content=(attr.help_text ?attr.help_text : '')
            readonly=(attr.readonly ?attr.readonly : false)
            value=attr.value
            maxlength = attr.maxlength ? attr.maxlength : false
            disabled=(attr.disabled ? attr.disabled : false)
          ).form-control


mixin fieldTextareaLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'textarea'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)!= attr.label
    div(class=attr.class2)
      textarea(
        id=attr.id || name
        name=attr.name || name
        placeholder=attr.placeholder ? attr.placeholder :attr.label
        type=attr.type ? attr.type : 'text'
        class=(attr.help_text ? 'showPopover' : '')
        data-content=(attr.help_text ?attr.help_text : '')
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)
      ).form-control=attr.value

mixin fieldText(name, attr)
    - attr = attr ? attr : fields[name];
    - attr.value = attr.value ? attr.value : values ? values[name] : '';
    div(class=attr.class)
        input(
        id=attr.id || name
        name=attr.name || name
        placeholder=attr.placeholder ? attr.placeholder : attr.label
        type=attr.type ? attr.type : 'text'
        class=(attr.help_text ? 'showPopover' : '')
        data-content=(attr.help_text ? attr.help_text : '')
        value=attr.value
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)).form-control


mixin fieldChoiceLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'select'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id || name)!= attr.label
    div(class=attr.class2)
      select(
          id=attr.id || name
          name=name
      ).custom-select.w-100
          if attr.hasOwnProperty('empty')
            option(value=attr.empty.value) #{attr.empty['']}

          each v,k in attr.validate.choices
            option(value=k selected=(k == attr.value ? "selected" : undefined)) #{ v }
mixin fieldChoice(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'select'
  select(
    id=attr.id || name
    name=name
    ).custom-select.w-100
    if attr.hasOwnProperty('empty')
      option(value=attr.empty.value) #{attr.empty['']}
    each v,k in attr.validate.choices
      option(value=k selected=(k == attr.value ? "selected" : undefined)) #{ v }

mixin fieldRadioLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'radio'

  div(class=attr.class1 + (attr.required == true ? ' required ' : ' '))
    label!= attr.label
  div(class=attr.class2)
    div(class="form-group m-b-0 "  + (attr.row == 0 ? '' : '') + (attr.id || name)  + ' ' + attr.type)
      div(class=attr.class3).radio-input
        each v, k in attr.validate.choices
          label
            input(
              type="radio"
              class="form-check-input"
              name=name
              data-value-type = (attr.type == 'boolean' ? attr.type : '')
              checked=(k == attr.value ? "checked" : undefined)
              value=k)
            | #{ v }


mixin fieldDateDay(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'dateday'
  - var value = attr.value && attr.value.indexOf('-') != -1 ? attr.value.split('-')[2] : '';
  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    select(
        id=attr.id || name + '__day'
        name=(attr.name || name) + '__day'
    ).custom-select.w-100
      option(value="") DD
      option(value = 1 selected = (value == '01') ? true : false) 1
      option(value = 2 selected = (value == '02') ? true : false) 2
      option(value = 3 selected = (value == '03') ? true : false) 3
      option(value = 4 selected = (value == '04') ? true : false) 4
      option(value = 5 selected = (value == '05') ? true : false) 5
      option(value = 6 selected = (value == '06') ? true : false) 6
      option(value = 7 selected = (value == '07') ? true : false) 7
      option(value = 8 selected = (value == '08') ? true : false) 8
      option(value = 9 selected = (value == '09') ? true : false) 9
      option(value = 10 selected = (value == '10') ? true : false) 10
      option(value = 11 selected = (value == '11') ? true : false) 11
      option(value = 13 selected = (value == '13') ? true : false) 13
      option(value = 14 selected = (value == '14') ? true : false) 14
      option(value = 15 selected = (value == '15') ? true : false) 15
      option(value = 16 selected = (value == '16') ? true : false) 16
      option(value = 17 selected = (value == '17') ? true : false) 17
      option(value = 18 selected = (value == '18') ? true : false) 18
      option(value = 19 selected = (value == '19') ? true : false) 19
      option(value = 20 selected = (value == '20') ? true : false) 20
      option(value = 21 selected = (value == '21') ? true : false) 21
      option(value = 22 selected = (value == '22') ? true : false) 22
      option(value = 23 selected = (value == '23') ? true : false) 23
      option(value = 24 selected = (value == '24') ? true : false) 24
      option(value = 25 selected = (value == '25') ? true : false) 25
      option(value = 26 selected = (value == '26') ? true : false) 26
      option(value = 27 selected = (value == '27') ? true : false) 27
      option(value = 28 selected = (value == '28') ? true : false) 28
      option(value = 29 selected = (value == '29') ? true : false) 29
      option(value = 30 selected = (value == '30') ? true : false) 30
      option(value = 31 selected = (value == '31') ? true : false) 31

mixin fieldDateMonth(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'datemonth'

  - var value = attr.value && attr.value.indexOf('-') != -1 ? attr.value.split('-')[1] : '';
  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    select(
        id=attr.id || name + '__month'
        name=(attr.name || name) + '__month'
    ).custom-select.w-100
      option(value="") MM
      option(value = "01" selected = (value == '01') ? true : false) Jan
      option(value = "02" selected = (value == '02') ? true : false) Feb
      option(value = "03" selected = (value == '03') ? true : false) Mar
      option(value = "04" selected = (value == '04') ? true : false) Apr
      option(value = "05" selected = (value == '05') ? true : false) May
      option(value = "06" selected = (value == '06') ? true : false) Jun
      option(value = "07" selected = (value == '07') ? true : false) Jul
      option(value = "08" selected = (value == '08') ? true : false) Aug
      option(value = "09" selected = (value == '09') ? true : false) Sep
      option(value = "10" selected = (value == '10') ? true : false) Oct
      option(value = "11" selected = (value == '11') ? true : false) Nov
      option(value = "12" selected = (value == '12') ? true : false) Dec


mixin fieldDateYear(name, attr)
  - attr.placeholder = attr.placeholder ? attr.placeholder : "YYYY"
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'dateyear'

  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type).date-input
    - var value = attr.value ? attr.value.split('-') : values && values[name] ? values[name].split('-') : []
    input(
        id=attr.id || name + '__year'
        name=(attr.name || name) + '__year'
        placeholder=attr.placeholder
        class=(attr.help_text ? 'showPopover' : '')
        data-content=(attr.help_text ?attr.help_text : '')
        type='text'
        maxlength=4
        value=value[0]
      ).form-control


mixin fileDropzone(name, attr)
    - var textHelper = require('helpers/textHelper.js')
    - var icon = attr.type
    if !attr.data
      - attr.data = {};
    if !attr.data.urls
      - attr.data.urls = [];
    if attr.data.mime
      - mimetypeIcons = require('helpers/mimetypeIcons.js');
      - icon = mimetypeIcons[attr.data.mime.split('/')[1]];
    +prepareField(name, attr)

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' fileDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label( for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name) id=(attr.id || name))
        div(class=" col-lg-12 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span
            div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)
            div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center
              .file-scroll
                .thumb-file-container.col-xl-12
                  if attr.data.mime
                    .delete-file-container
                      a(href="#" class="delete-file" data-fileid=attr.data.id)
                        i.fa.fa-times
                    img(src='/img/icons/' + icon + '.png' alt=attr.label class=("img-file img-" + name))
                    div.row
                      a(class=("a-" + name) href=attr.data.urls[0] title=attr.data.name) #{ textHelper.shortenFileName(attr.data.name) }
                  else
                    img(src='/img/icons/' + icon + '.png' alt=attr.label class="img-file img-" + name)



mixin fileFolderDropzone(name, attr)
    - var textHelper = require('helpers/textHelper.js')
    - var icon = attr.type
    if !attr.data || !Array.isArray(attr.data)
      - attr.data = [];
    - mimetypeIcons = require('helpers/mimetypeIcons.js');

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' fileFolderDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label( for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name) id=(attr.id || name))
        div(class=" col-lg-12 border-dropzone p-r-0")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span.filescroll
            div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)
            div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center.all-file-scroll
              .file-scroll
                each v,k in attr.data
                  if v.mime
                    - icon = mimetypeIcons[v.mime.split('/')[1]]
                  else
                    - icon = attr.type;
                  .thumb-file-container
                    .delete-file-container(style="position: absolute;")
                      a(href="#" class="delete-file" data-fileid=v.id)
                        i.fa.fa-times
                    img(src='/img/icons/' + icon + '.png' alt=attr.label class="img-file img-" + name)
                    a(class=("link-file a-" + name) target="_blank" href=v.urls[0] title=v.name) #{ textHelper.shortenFileName(v.name) }
                else
                  .thumb-file-container.text-xl-center
                    img(src='/img/icons/' + icon + '.png' alt=attr.label class="img-file img-" + name)


mixin userProfileDropzone(name, attr)
    -
      var noimg = '/img/default/Default_photo.png';
      if (!attr.data)
        attr.data = {};
      if (!attr.data.urls)
        attr.data.urls = [noimg];

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' userProfileDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )

      div(class=((attr.class || '') + ' dropzone__' + name))
        div(class=" col-lg-12 ")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          div(data-id=(attr.data.id || 0) data-noimage=noimg).data-container.row.one-photo
            .delete-image-container
              a(href="#" data-imageid=(attr.data.id || 0)).crop-image
                i.fa.fa-crop
              a(href="#" data-imageid=(attr.data.id || 0) data-noimage=noimg).delete-image
                i.fa.fa-times
            .user-photo-wrap.text-xs-center
              img(class=(" img-" + name) src=(attr.data.urls[0] || noimg))
          .row.border-dropzone.dropzone-profile
            .drop-image-title.text-xs-center.p-dropzone.p-l-2.p-r-2
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)

mixin imageDropzone(name, attr)
    if !attr.data
      - attr.data = {};
    if !attr.data.urls
      - attr.data.urls = [];
    +prepareField(name, attr)

    div(
      class='row media-item ' + (attr.class || '') + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' imageDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label(for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name))
        div(class=" col-lg-12 p-xs-0 p-r-0 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span
            div.col-lg-5.col-md-5.col-sm-5.col-xs-12.p-xs-0.text-xs-center.text-md-center.text-lg-center.p-dropzone.m-b-2
              .row
                a(class='link-1' href="#" onclick="return false")
                  p.drop-photo #{attr.text}
                  i(class="fa fa-" + attr.icon)
            div(id=name).col-lg-7.col-md-7.col-sm-7.col-xs-12.p-r-0.p-xs-0.img-dropzone.text-lg-center
              .row
                .col-xl-12.one-photo
                  - var id = attr.data.id || 0;
                  - var url = _.first(attr.data.urls) || "/img/default/255x153.png";
                  if attr.data.urls[0]
                    .delete-image-container
                      a(href="#" data-imageid=id).crop-image
                        i.fa.fa-crop
                      a(href="#" data-imageid=id).delete-image
                        i.fa.fa-times
                  img(class=("w-100 img-" + name) src=url)
                  //-a(class=("a-" + name) href=attr.data.urls[0]) #{ attr.data.name }

mixin teamMemberDropzone(name, attr)
    -
      if (!attr.data)
        attr.data = {};
      if (!attr.data.urls)
        attr.data.urls = [];
      console.log(name + ' dropzone');
      console.log(attr);
    div(
      class='row media-item ' + (attr.class || '') + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' imageDropzone' + ' teamMemberDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label(for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name))
        div(class=" col-lg-12 p-r-0 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span
            div.col-xl-6.col-lg-6.col-md-6.col-sm-6.p-r-2.col-xs-12.text-xs-center.text-md-center.text-lg-center.p-dropzone
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)
            div(id=name).col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12.img-dropzone.text-xs-center
              .row
                .col-xl-12.one-photo
                  - var id = attr.data.id || 0;
                  - var url = attr.data.urls[0] || "/img/default/255x153.png";
                  if attr.data.urls[0]
                    .delete-image-container
                      a(href="#" data-imageid=id).crop-image
                        i.fa.fa-crop
                      a(href="#" data-imageid=id).delete-image
                        i.fa.fa-times
                  img(class=("img-" + name) src=url).img-fluid.img-circle.img-photo

mixin galleryDropzone(name, attr)
    if !attr.data
      - attr.data = {};
    if !attr.data.urls
      - attr.data.urls = [];
    +prepareField(name, attr)

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) +
        (attr.required == true ? ' required ' : ' ') + ' galleryDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label(for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name))
        div(class=" col-lg-12 p-r-0 p-l-0 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          div.row
            div.col-xl-4.offset-xl-4.text-xs-center.dropzone-text.p-l-0.p-r-0
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="icon-gallery fa fa-" + attr.icon) 
            div
              div(id=name).col-xl-12.all-gallery
                each v, k in attr.data
                  .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12.one-photo
                    .delete-image-container
                      a(href="#" data-imageid=v.id).crop-image
                        i.fa.fa-crop
                      a(href="#" data-imageid=v.id).delete-image
                        i.fa.fa-times
                    img(class=("w-100 img-" + name) src=v.urls[0])
