mixin prepareNestedField(nestedName, name, value, index, myAttr)
  - _.extend(myAttr, attr.schema[name]);
  - myAttr.value = value[name] ? value[name]: '';
  - myAttr.id = nestedName + '__' + index + '__' + name + '';


mixin fieldNestedTextLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedTextareaLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextareaLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedChoiceLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldChoiceLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedRadioLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldRadioLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateMonth(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__month'
  +fieldDateMonth(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateYear(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  - myAttr.id = myAttr.id + '__year'
  +fieldDateYear(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin prepareField(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';

  if attr.placeholder == null || attr.placeholder == ''
    - attr.placeholder = attr.label
  if attr.required == true
    - attr.label += '<span class="color-red">*</span>'


mixin fieldTextLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'text'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + ' ' + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)!= attr.label
    div(class=attr.class2)
        input(
            id=attr.id || name
            name=attr.name || name
            placeholder=attr.placeholder ? attr.placeholder :attr.label
            type=attr.type ? attr.type : 'text'
            class=(attr.help_text ? 'showPopover' : '') 
            data-content=(attr.help_text ?attr.help_text : '')
            value=attr.value
            maxlength = attr.maxlength ? attr.maxlength : false
            disabled=(attr.disabled ? attr.disabled : false)
          ).form-control


mixin fieldTextareaLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'textarea'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)!= attr.label
    div(class=attr.class2)
      textarea(
        id=attr.id || name
        name=attr.name || name
        placeholder=attr.placeholder ? attr.placeholder :attr.label
        type=attr.type ? attr.type : 'text'
        class=(attr.help_text ? 'showPopover' : '') 
        data-content=(attr.help_text ?attr.help_text : '')
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)
      ).form-control=attr.value

mixin fieldText(name, attr)
    - attr = attr ? attr : fields[name];
    - attr.value = attr.value ? attr.value : values ? values[name] : '';
    div(class=attr.class)
        input(
        id=attr.id || name
        name=attr.name || name
        placeholder=attr.placeholder ? attr.placeholder : attr.label
        type=attr.type ? attr.type : 'text'
        class=(attr.help_text ? 'showPopover' : '')
        data-content=(attr.help_text ? attr.help_text : '')
        value=attr.value
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)).form-control


mixin fieldChoiceLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'select'

  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id || name)!= attr.label
    div(class=attr.class2)
      select(
          id=attr.id || name
          name=name
      ).custom-select.w-100
          if attr.hasOwnProperty('empty')
            option(value=attr.empty.value) #{attr.empty['']}
            
          each v,k in attr.validate.choices
            option(value=k selected=(k == attr.value ? "selected" : undefined)) #{ v }
mixin fieldChoice(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'select'
  select(
    id=attr.id || name
    name=name
    ).custom-select.w-100
    if attr.hasOwnProperty('empty')
      option(value=attr.empty.value) #{attr.empty['']}  
    each v,k in attr.validate.choices
      option(value=k selected=(k == attr.value ? "selected" : undefined)) #{ v }

mixin fieldRadioLabel(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'radio'

  div(class=attr.class1 + (attr.required == true ? ' required ' : ' '))
    label!= attr.label
  div(class=attr.class2)
    div(class="form-group m-b-0 "  + (attr.row == 0 ? '' : '') + (attr.id || name)  + ' ' + attr.type)
      div(class=attr.class3).radio-input
        each v, k in attr.validate.choices
          label
            input(
              type="radio" 
              class="form-check-input" 
              name=name
              data-value-type = (attr.type == 'boolean' ? attr.type : '')
              checked=(k == attr.value ? "checked" : undefined)
              value=k)
            | #{ v }


mixin fieldDateDay(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'dateday'
  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    select(
        id=attr.id || name + '__day'
        name=(attr.name || name) + '__day'
    ).custom-select.w-100
      option(value="") DD
      option(value = 1 selected = (attr.value == '1') ? true : false) 1
      option(value = 2 selected = (attr.value == '2') ? true : false) 2
      option(value = 3 selected = (attr.value == '3') ? true : false) 3
      option(value = 4 selected = (attr.value == '4') ? true : false) 4
      option(value = 5 selected = (attr.value == '5') ? true : false) 5
      option(value = 6 selected = (attr.value == '6') ? true : false) 6
      option(value = 7 selected = (attr.value == '7') ? true : false) 7
      option(value = 8 selected = (attr.value == '8') ? true : false) 8
      option(value = 9 selected = (attr.value == '9') ? true : false) 9
      option(value = 10 selected = (attr.value == '10') ? true : false) 10
      option(value = 11 selected = (attr.value == '11') ? true : false) 11
      option(value = 13 selected = (attr.value == '13') ? true : false) 13
      option(value = 14 selected = (attr.value == '14') ? true : false) 14
      option(value = 15 selected = (attr.value == '15') ? true : false) 15
      option(value = 16 selected = (attr.value == '16') ? true : false) 16
      option(value = 17 selected = (attr.value == '17') ? true : false) 17
      option(value = 18 selected = (attr.value == '18') ? true : false) 18
      option(value = 19 selected = (attr.value == '19') ? true : false) 19
      option(value = 20 selected = (attr.value == '20') ? true : false) 20
      option(value = 21 selected = (attr.value == '21') ? true : false) 21
      option(value = 22 selected = (attr.value == '22') ? true : false) 22
      option(value = 23 selected = (attr.value == '23') ? true : false) 23
      option(value = 24 selected = (attr.value == '24') ? true : false) 24
      option(value = 25 selected = (attr.value == '25') ? true : false) 25
      option(value = 26 selected = (attr.value == '26') ? true : false) 26
      option(value = 27 selected = (attr.value == '27') ? true : false) 27
      option(value = 28 selected = (attr.value == '28') ? true : false) 28
      option(value = 29 selected = (attr.value == '29') ? true : false) 29
      option(value = 30 selected = (attr.value == '30') ? true : false) 30
      option(value = 31 selected = (attr.value == '31') ? true : false) 31

mixin fieldDateMonth(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'datemonth'

  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    select(
        id=attr.id || name + '__month'
        name=(attr.name || name) + '__month'
    ).custom-select.w-100
      option(value="") MM
      option(value = "01" selected = (attr.value == '01') ? true : false) Jan
      option(value = "02" selected = (attr.value == '02') ? true : false) Feb
      option(value = "03" selected = (attr.value == '03') ? true : false) Mar
      option(value = "04" selected = (attr.value == '04') ? true : false) Apr
      option(value = "05" selected = (attr.value == '05') ? true : false) May
      option(value = "06" selected = (attr.value == '06') ? true : false) Jun
      option(value = "07" selected = (attr.value == '07') ? true : false) Jul
      option(value = "08" selected = (attr.value == '08') ? true : false) Aug
      option(value = "09" selected = (attr.value == '09') ? true : false) Sep
      option(value = "10" selected = (attr.value == '10') ? true : false) Oct
      option(value = "11" selected = (attr.value == '11') ? true : false) Nov
      option(value = "12" selected = (attr.value == '12') ? true : false) Dec


mixin fieldDateYear(name, attr)
  +prepareField(name, attr)
  if attr.type == null
    - attr.type = 'dateyear'
    
  div(class=attr.class + ' ' + (attr.id || name) + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type).date-input
    - var value = attr.value ? attr.value.split('-') : values && values[name] ? values[name].split('-') : []
    input(
        id=attr.id || name + '__year'
        name=(attr.name || name) + '__year'
        placeholder=(attr.placeholder ? attr.placeholder : "YYYY")
        class=(attr.help_text ? 'showPopover' : '') 
        data-content=(attr.help_text ?attr.help_text : '')
        type='text'
        maxlength=4
        value=value[0]
      ).form-control


mixin fileDropzone(name, attr)
    - var icon = attr.type
    if attr.hasOwnProperty('data') == false
      - attr.data = {};
    if attr.data.hasOwnProperty('urls') == false
      - attr.data.urls = [];
    if attr.data.mime
      - mimetypeIcons = require('helpers/mimetypeIcons.js');
      - var icon = mimetypeIcons[attr.data.mime.split('/')[1]];

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) + 
        (attr.required == true ? ' required ' : ' ') + ' fileDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label( for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name))
        div(class=" col-lg-12 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span
            div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)
            div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.p-dropzone.img-dropzone.text-lg-center
              input(name=name id=(attr.id || name) value=attr.data.id type="hidden")
              .col-xl-12
                img(src='/img/icons/' + icon + '.png' alt=attr.label class="img-file img-" + name)
              a(class=("a-" + name) href=attr.data.urls[0]) #{ attr.data.name }

mixin userprofileDropzone(name, attr)
    - var icon = attr.type
    if attr.mime
      - mimetypeIcons = require('helpers/mimetypeIcons.js');
      - var icon = mimetypeIcons[attr.mime];
    if attr.hasOwnProperty('data') == false
      - attr.data = {};
    if attr.data.hasOwnProperty('urls') == false
      - attr.data.urls = [];

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) + 
        (attr.required == true ? ' required ' : ' ') + ' fileDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )

      div(class=(attr.class + ' dropzone__' + name))
        div(class=" col-lg-12 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          .row
            img(src="/img/default/255x153.png" class="w-100")
          .drop-image-title.text-xs-center.p-l-1.p-r-1.p-t-2.p-b-2 
            p.drop-photo #{attr.text}
            i(class="fa fa-" + attr.icon)

mixin imageDropzone(name, attr)
    - var icon = attr.type
    if attr.hasOwnProperty('data') == false
      - attr.data = {};
    if attr.data.hasOwnProperty('urls') == false
      - attr.data.urls = [];
    if attr.data.mime
      - mimetypeIcons = require('helpers/mimetypeIcons.js');
      - var icon = mimetypeIcons[attr.data.mime.split('/')[1]];

    div(
      class='row media-item ' + attr.class + ' ' + (attr.id || name) + 
        (attr.required == true ? ' required ' : ' ') + ' fileDropzone' +
        (attr.help_text ? ' showPopover' : '')
      data-content=(attr.help_text ? attr.help_text : '')
    )
      div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
        label( for=attr.id || name)!= attr.label

      div(class=(attr.class2 + ' dropzone__' + name))
        div(class=" col-lg-12 p-r-0 border-dropzone")
          div(class="uploading collapse")
            img(alt="activity indicator" src="/img/ajax-loader.gif")
          span
            div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{attr.text}
                i(class="fa fa-" + attr.icon)
            div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-lg-center
              input(name=name id=(attr.id || name) value=attr.data.id type="hidden")
              .col-xl-12.p-r-0
                img(src="/img/default/255x153.png" class="w-100")
              a(class=("a-" + name) href=attr.data.urls[0]) #{ attr.data.name }