mixin prepareNestedField(nestedName, name, value, index, myAttr)
  - _.extend(myAttr, attr.schema[name]);
  - myAttr.value = value[name] ? value[name]: '';
  - myAttr.id = nestedName + '__' + index + '__' + name + '';


mixin fieldNestedTextLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedTextareaLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldTextareaLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedChoiceLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldChoiceLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedRadioLabel(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class1 = myAttr.class1 ? myAttr.class1 : 'text-lg-right col-lg-3 col-md-12 text-md-left';
  - myAttr.class2 = myAttr.class2 ? myAttr.class2 : 'col-lg-9 col-md-12';
  +fieldRadioLabel(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateMonth(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  +fieldDateMonth(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldNestedDateYear(nestedName, name, value, index, myAttr)
  +prepareNestedField(nestedName, name, value, index, myAttr)
  - myAttr.class = myAttr.class ? myAttr.class : 'col-lg-6 p-r-0';
  +fieldDateYear(
    nestedName + '[' + index + '][' + name + ']',
    myAttr
  )


mixin fieldTextLabel(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  - console.log(name, attr);
  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)= attr.label
    div(class=attr.class2)
        input(
            id=attr.id || name
            name=attr.name || name
            placeholder=attr.placeholder ? attr.placeholder :attr.label
            type=attr.type ? attr.type : 'text'
            class=(attr.help_text ? 'showPopover' : '') 
            data-content=(attr.help_text ?attr.help_text : '')
            value=attr.value
            maxlength = attr.maxlength ? attr.maxlength : false
            disabled=(attr.disabled ? attr.disabled : false)
          ).form-control


mixin fieldTextareaLabel(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)= attr.label
    div(class=attr.class2)
      textarea(
        id=attr.id || name
        name=attr.name || name
        placeholder=attr.placeholder ? attr.placeholder :attr.label
        type=attr.type ? attr.type : 'text'
        class=(attr.help_text ? 'showPopover' : '') 
        data-content=(attr.help_text ?attr.help_text : '')
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)
      ).form-control=attr.value


mixin fieldChoiceLabel(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  div(class="form-group "  + (attr.row == 0 ? '' : 'row ') + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
    label(class=attr.class1 for=attr.id)= attr.label
    div(class=attr.class2)
      select(
          id=name
          name=name
      ).custom-select
          if attr.hasOwnProperty('empty')
              option(value=attr.empty.value) #{attr.empty.display}
            
          each v in attr.choices
              option(value=v.value selected=(v.value == attr.value ? "selected" : undefined)) #{v.display_name}


mixin fieldRadioLabel(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  div(class=attr.class1)
    label= attr.label
  div(class=attr.class2)
    div(class="form-group m-b-0 "  + (attr.row == 0 ? '' : 'row ') + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type)
      .radio-input
        each v in attr.choices
          label
            input(
              type="radio" 
              class="form-check-input" 
              name=name
              checked=(v.value == attr.value ? "checked" : undefined)
              value=v.value)
            | #{v.display_name}


mixin fieldDateMonth(name, attr)
  div(class=attr.class + ' ' + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type).date-input
    - var value = attr.value ? attr.value.split('-') : values && values[name] ? values[name].split('-') : []
    input(
        id=name + '__month'
        name=(attr.name || name) + '__month'
        placeholder=(attr.placeholder ? attr.placeholder : "MM")
        type='number'
        maxlength=2
        value=value[1]
      ).form-control


mixin fieldDateYear(name, attr)
  div(class=attr.class + ' ' + name + (attr.required == true ? ' required ' : ' ') + ' ' + attr.type).date-input
    - var value = attr.value ? attr.value.split('-') : values && values[name] ? values[name].split('-') : []
    input(
        id=name + '__year'
        name=(attr.name || name) + '__year'
        placeholder=(attr.placeholder ? attr.placeholder : "YYYY")
        type='number'
        maxlength=4
        value=value[0]
      ).form-control
