- var textHelper = require('helpers/textHelper.js')
- var icon = type
- var mimetypeIcons = require('helpers/mimetypeIcons.js');

if !data || !Array.isArray(data)
  - data = [];

div(
  class='row media-item ' + classMain + ' ' + (id || name) +
    (required == true ? ' required ' : ' ') + ' fileFolderDropzone' +
    (help_text ? ' showPopover' : '')
  data-content=(help_text ? help_text : '')
)
  div(class=class1 + ' ' + (required == true ? ' required ' : ' ') )
    label( for=id || name)!= label

  div(class=(class2 + ' dropzone__' + name) id=(id || name))
    div(class=" col-lg-12 border-dropzone p-r-0")
      div(class="uploading collapse")
        img(alt="activity indicator" src="/img/ajax-loader.gif")
      span.filescroll
        div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
          a(class='link-1' href="#" onclick="return false")
            p.drop-photo #{text}
            i(class="fa fa-" + icon)
        div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center.all-file-scroll
          .file-scroll
            each v,k in data
              if v.mime
                - icon = mimetypeIcons[v.mime.split('/')[1]]
              else
                - icon = type;
              .thumb-file-container
                .delete-file-container(style="position: absolute;")
                  a(href="#" class="delete-file" data-fileid=v.id)
                    i.fa.fa-times
                img(src='/img/icons/' + icon + '.png' alt=label class="img-file img-" + name)
                a(class=("link-file a-" + name) target="_blank" href=v.urls[0] title=v.name) #{ textHelper.shortenFileName(v.name) }
            else
              .thumb-file-container.text-xl-center
                img(src='/img/icons/' + icon + '.png' alt=label class="img-file img-" + name)
