div(class=attr.class data-content=(attr.help_text || ''))
  div(class=attr.class1)
    label( for=attr.id || name)!= attr.label
  div(class=attr.class2 id=(attr.id || name))
    div(class=" col-lg-12 border-dropzone")
      div(class="uploading collapse")
        img(alt="activity indicator" src="/img/ajax-loader.gif")
      span
        div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
          a(class='link-1' href="#" onclick="return false")
            p.drop-photo #{attr.text}
            i(class="fa fa-" + attr.icon)
        div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center
          .file-scroll
            .thumb-file-container.col-xl-12
              if attr.data.mime
                .delete-file-container
                  a(href="#" class="delete-file" data-fileid=attr.data.id)
                    i.fa.fa-times
                img(src='/img/icons/' + attr.icon + '.png' alt=attr.label class=("img-file img-" + name))
                div.row
                  a(class=("a-" + name) href=attr.data.urls[0] title=attr.data.name) #{ helpers.text.shortenFileName(attr.data.name) }
              else
                img(src='/img/icons/' + attr.icon + '.png' alt=attr.label class="img-file img-" + name)
