div(class=attr.class data-content=(attr.help_text || ''))
  div(class=attr.class1)
    label(for=(attr.id || name))!= attr.label

  div(class=attr.class2 id=(attr.id || name))
    div(class=" col-lg-12 border-dropzone p-r-0")
      div(class="uploading collapse")
        i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
      span.filescroll
        div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
          a(class='link-1' href="#" onclick="return false")
            p.drop-photo #{attr.text}
            - console.log(attr.icon);
            i(class="fa fa-" + attr.icon)
        div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center.all-file-scroll
          .file-scroll
            each v,k in attr.data
              - var icon = app.helpers.icons.resolveIconPath(v.mime, attr.type);
              .thumb-file-container
                .delete-file-container(style="position: absolute;")
                  a(href="#" class="delete-file" data-fileid=v.id)
                    i.fa.fa-times
                img(src=icon alt=attr.label class="img-file img-" + name)
                a(class=("link-file a-" + name) target="_blank" href=v.urls[0] title=v.name) #{ app.helpers.text.shortenFileName(v.name) }
            else
              .thumb-file-container.text-xl-center
                - var iconPath = app.helpers.icons.resolveIconPath(null, attr.type);
                img(src=iconPath alt=attr.label class="img-file img-" + name)
