div(class=attr.class data-content=(attr.help_text || ''))
  div(class=attr.class1)
    label(for=attr.id || name)!= attr.label

  div(class=attr.class2)
    div(class=" col-lg-12 p-xs-0 p-r-0 border-dropzone")
      div(class="uploading collapse")
        i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
      span
        div.col-lg-5.col-md-5.col-sm-5.col-xs-12.p-xs-0.text-xs-center.text-md-center.text-lg-center.p-dropzone.m-b-2
          .row
            a(class='link-1' href="#" onclick="return false")
              p.drop-photo #{attr.text}
              i(class="fa fa-" + attr.icon)
        div(id=name).col-lg-7.col-md-7.col-sm-7.col-xs-12.p-r-0.p-xs-0.img-dropzone.text-lg-center
          .row
            .col-xl-12.one-photo
              - var id = attr.data.id || 0;
              - var url = _.first(attr.data.urls) || require('images/default/255x153.png');
              if attr.data.urls[0]
                .delete-image-container
                  a(href="#" data-imageid=id).crop-image
                    i.fa.fa-crop
                  a(href="#" data-imageid=id).delete-image
                    i.fa.fa-times
              img(class=("w-100 img-" + name) src=url)
              //-a(class=("a-" + name) href=attr.data.urls[0]) #{ attr.data.name }