section.issuer-dashbord-top
  .container
    .row
      .col-md-4
        .img_under_text
          img(src="/img/smartbe-intelligent-stroller.jpg" alt="")
          h2.text-uppercase.dosis.m-t-0 company name
          .timer_day 19 Days Left
        .share-block.d-inline-block
          span.font-weight-bold Share:
          .social-dark.d-inline-block
            a(href="").link-1
              i.fa.fa-envelope-o
            a(href="").link-1
              i.fa.fa-twitter
            a(href="").link-1
              i.fa.fa-facebook
            a(href="").link-1
              i.fa.fa-google-plus
            a(href="").link-1
              i.fa.fa-linkedin

      .col-md-2.col-sm-6
        a(href="").dashboard-stat
          .visual
            i.fa.fa-bar-chart
          .details
            .number
              span(
                data-counter="counterup"
                data-value="750"
              ) $750K
            .desc Amount Raised

      .col-md-2.col-sm-6
        a.dashboard-stat.dashboard-stat-v2.grey(href="")
          .visual
            i.fa.fa-briefcase
          .details
            .number
              span(
                data-counter="counterup"
                data-value="1349"
              ) 1349
            .desc Number of Investors

      .col-md-2.col-sm-6
        a.dashboard-stat.dashboard-stat-v2.grey(href="")
          .visual
            i.fa.fa-users
          .details
            .number
              span(
                data-counter="counterup"
                data-value="1500"
              ) 1,5K
            .desc Page Views

      .col-md-2.col-sm-6
        a.dashboard-stat.dashboard-stat-v2.grey(href="")
          .visual
            i.fa.fa-comments
          .details
            .number
              span(
                data-counter="counterup"
                data-value="456"
              ) 456
            .desc New Interactions

      .col-md-7.col-sm-7.p-r-0
        .tpl-progress
          progress.progress.big_prog(
            value="21"
            max="100"
          ) 21%
          span.circle_progress(
            style="width:21%"
          )
            i.fa.fa-circle-o
          span.text_position(
            style="left:21%"
          ) 12 May
            br
            | $750K Raised
        .progress_description
          .pull-left
            p.text-uppercase 1 may
            span Begining of campaigne
          .pull-right.text-lg-right
            p 1 june
            span End of campaign
          .clearfix
      .col-md-1.col-sm-1
        .right_fixed_text.text-lg-center
          b $500K
          span Goal
      .col-md-8.col-sm-12.text-lg-center
        a.btn.btn-secondary.text-uppercase.view_campaing(href="") view campaing
          i.fa.fa-angle-right(
            aria-hidden="true"
          )