- var GENERAL = require('consts/general.json');

section.slider-main
  .heartland-tour-in-main(style="display:none")
    p GrowthFountain is coming to your town. 
      a(href="/pg/heartland-tour") Apply Now
      |  to present your fundraise live!
  .owl-carousel.owl-theme.carousel-test
    div
      - var styleString = 'background: url(' + require('images/slide_5.png') + ')';
      div(style=styleString + '; background-position: center center !important').slide_1.main-slider-item
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.big-h1.hidden-sm-down Own a Piece of Your Favorite Company
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in local businesses and entrepreneurs you believe in, starting at $100
          .col-lg-12.mt20.mb30
            a(href="/pg/education").link-6 Learn the Risks
          if app.user.is_anonymous()
            .col-lg-12
              a(href="/account/signup").btn.btn-lg.btn-primary sign up + get $25
          else
            .col-lg-12.hidden-sm-down
              a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
              a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
            .col-lg-12.hidden-md-up
              a(href="/companies").btn.btn-lg.btn-primary INVEST

    div
      - var styleString = 'background: url(' + require('images/slide_2.jpg') + ')';
      div(style=styleString).main-slider-item.slide_2
      //img(src=require('images/slide_2.jpg') alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.big-h1.hidden-sm-down Own a Piece of Your Favorite Company
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in local businesses and entrepreneurs you believe in, starting at $100
          .col-lg-12.mt20.mb30
            a(href="/pg/education").link-6 Learn the Risks
          if app.user.is_anonymous()
            .col-lg-12
              a(href="/account/signup").btn.btn-lg.btn-primary sign up + get $25
          else
            .col-lg-12.hidden-sm-down
              a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
              a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
            .col-lg-12.hidden-md-up
              a(href="/companies").btn.btn-lg.btn-primary INVEST
    div
      - var styleString = 'background: url(' + require('images/slide_3.jpg') + ')';
      div(style=styleString).main-slider-item.slide_3
      //img(src=require('images/slide_3.jpg') alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.big-h1.hidden-sm-down Own a Piece of Your Favorite Company
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in local businesses and entrepreneurs you believe in, starting at $100
          .col-lg-12.mt20.mb30
            a(href="/pg/education").link-6 Learn the Risks
          if app.user.is_anonymous()
            .col-lg-12
              a(href="/account/signup").btn.btn-lg.btn-primary sign up + get $25
          else
            .col-lg-12.hidden-sm-down
              a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
              a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
            .col-lg-12.hidden-md-up
              a(href="/companies").btn.btn-lg.btn-primary INVEST
//section.main-video
  .homepage-hero-module
    .video-container
      .filter
      video(autoplay loop).fillWidth
        source(src=require("img/video/In-And-Out/MP4/In-And-Out.mp4") type="video/mp4")
        //source(src=require("img/video/In-And-Out/WEBM/In-And-Out.webm") type="video/webm")
      .slider-main
        .slider-content.container
          .text-xs-center
            .col-lg-12
              h1.big-h1.hidden-sm-down Own a Piece of Your Favorite Company
            .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
              span.small-text Invest in local businesses and entrepreneurs you believe in, starting at $100
            .col-lg-12.mt20.mb30
              a(href="/pg/education").link-6 Learn the Risks
            if app.user.is_anonymous()
              .col-lg-12
                a(href="/account/signup").btn.btn-lg.btn-primary sign up + get $25
            else
              .col-lg-12.hidden-sm-down
                a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
              .col-lg-12.hidden-md-up
                a(href="/companies").btn.btn-lg.btn-primary INVEST

section.campaing-list
  .container#campaignList
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 CURRENT CAMPAIGNS
    include ../components/campaign/templates/_list.pug
    .col-lg-12.text-lg-center.text-md-center.text-xs-center
      if collection && collection.count && collection.count > GENERAL.COMPANIES_PER_PAGE
        a(href="/companies").link-4 See All

section.home-wrap-text-block.hide-bg-fixed.main-section-invest
  .opasity-block
    .container.text-lg-center.text-xs-center.text-sm-center
      .wrap
        .col-lg-6.offset-lg-3
          h2.dosis.text-uppercase.m-t-0 NOW ACCESSIBLE TO EVERYBODY
          h3 It’s the evolution of investing. Receive a financial stake
            br
            | in the companies you support.
        .col-lg-12
          if app.user.is_anonymous()
            a(href="/account/signup").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
          else
            a(href="/companies").btn.btn-lg.btn-secondary.text-uppercase Start investing

section.home-what-is
  .container
    .col-lg-8.offset-lg-2.p-xs-0
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-3.mb20 WHAT IS GROWTHFOUNTAIN?
      .row
        .col-lg-12
          h3.m-t-0.m-b-1.text-xs-center We banded together with a simple mission: to simplify fundraising
            br
            | and help businesses raise capital.
          h3.m-t-0.text-xs-center Everybody in the world now has the ability to invest directly
            br
            | in America’s entrepreneurs!
      .row
        .col-lg-12
          .embed-responsive.embed-responsive-16by9.boxshadow
            iframe(
              embed-responsive-item="true" 
              src="https://player.vimeo.com/video/198101157?title=0&amp;byline=0&amp;portrait=0" 
              data-webkitallowfullscreen="" 
              data-mozallowfullscreen="" 
              data-allowfullscreen=""
            )
            
section.home-wrap-text-block.raise-wrap.hide-bg-fixed.main-section-raise
  .opasity-block
    .container.text-lg-center.text-xs-center
      .wrap
        .col-lg-6.offset-lg-3
          h2.dosis.text-uppercase.m-t-0  Raise capital with us
          h3 Now you can turn your customers
            br
            | into owners, who can become your brand
            br
            | ambassadors and evangelists
        .col-lg-12
          if app.user.is_anonymous()
            a(href="/raise-capital").btn.btn-lg.btn-primary.text-uppercase raise capital
          else
            a(href="/company/create").btn.btn-lg.btn-primary.text-uppercase raise capital
          a(href="/pg/entrepreneurquestions").btn.btn-lg.btn-secondary.text-uppercase learn more
section.home-our-partners
  .container
    .row
      .col-lg-12
        h2.dosis.text-uppercase.text-xs-center OUR PARTNERS
    .row.text-center-flex
      .col-lg-4.col-sm-6.col-xs-12.text-xs-center.p-b-3
        a(href="http://www.callahan.com/" target="_blank")
          img(src=require("images/callahan.png") alt="").img-fluid.text-lg-right.text-xs-center.m-x-auto
      .col-lg-4.col-sm-6.col-xs-12.text-lg-center.text-xs-center.m-x-auto.p-b-3
        a(href="https://www.jdcu.org/" target="_blank")
          img(src=require('images/logo_jd.png') alt="").img-fluid.text-xs-center.m-x-auto
      .col-lg-4.col-sm-6.col-xs-12.text-lg-left.m-x-auto.p-b-3
        a(href="https://www.rivermarkcu.org/" target="_blank")
          img(src=require('images/logo_rivermark.png') alt="").img-fluid.text-xs-center.m-x-auto
      .col-lg-3.col-sm-6.col-xs-12.text-xs-center
        a(href="https://www.dcu.org/" target="_blank")
          img(src=require('images/logo_dcu.jpg') alt="").img-fluid.text-xs-center.m-x-auto
      .col-lg-3.col-sm-6.col-xs-12.p-l-0.text-xs-center.momentum-img
        a(href="http://momentum3growth.com/" target="_blank")
          img(src=require('images/momentum3growth.png') alt="").img-fluid.text-xs-center.m-x-auto
