section.slider-main
  .owl-carousel.owl-theme.carousel-test
    div
      div(style="background: url(/img/slide_1.jpg)").slide_1.main-slider-item
      //img(src="/img/slide_1.jpg" alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.text-uppercase.big-h1.hidden-sm-down your success is our success
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in your neighbor, your community, or entrepreneurs you believe in
          .col-lg-12.m-t-1.m-b-3
            a(href="/pg/education").link-6 Understand the Risks
          .col-lg-12.hidden-xs-down
            a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
            a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
          .col-lg-12.hidden-sm-up
            if app.user.is_anonymous()
              a(href="/account/signup").btn.btn-lg.btn-primary sign up
            else
              a(href="/companies").btn.btn-lg.btn-primary INVEST


    div
      div(style="background: url(/img/slide_2.jpg)").main-slider-item.slide_2
      //img(src="/img/slide_2.jpg" alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.text-uppercase.big-h1.hidden-sm-down your success is our success
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in your neighbor, your community, or entrepreneurs you believe in
          .col-lg-12.m-t-1.m-b-3
            a(href="/pg/education").link-6 Understand the Risks
          .col-lg-12.hidden-xs-down
            a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
            a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
          .col-lg-12.hidden-sm-up
            if app.user.is_anonymous()
              a(href="/account/signup").btn.btn-lg.btn-primary sign up
            else
              a(href="/companies").btn.btn-lg.btn-primary INVEST
    div
      div(style="background: url(/img/slide_3.jpg)").main-slider-item.slide_3
      //img(src="/img/slide_3.jpg" alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.text-uppercase.big-h1.hidden-sm-down your success is our success
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Invest in your neighbor, your community, or entrepreneurs you believe in
          .col-lg-12.m-t-1.m-b-3
            a(href="/pg/education").link-6 Understand the Risks
          .col-lg-12.hidden-xs-down
            a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
            a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
          .col-lg-12.hidden-sm-up
            if app.user.is_anonymous()
              a(href="/account/signup").btn.btn-lg.btn-primary sign up
            else
              a(href="/companies").btn.btn-lg.btn-primary INVEST

//section.home-section.bg-dark-alfa-30.hide-bg-fixed.hidden-md-up(style="background: url(/img/slide_3.jpg) center center no-repeat; background-size: cover;")
  .container
    .row
      .js-height-full
        .home-content
          .home-text-main.text-lg-center
            h1.text-uppercase.dosis.m-b-1.hidden-sm-down your success is our success
            .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
              span.small-text Invest in your neighbor, your community, or entrepreneurs you believe in
            .col-lg-12.m-t-1.m-b-2
              a(href="/pg/education").link-6 Understand the Risks
            .col-lg-12
              a(href="/companies").btn.btn-lg.btn-primary INVEST
              span.hidden-xs  
                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

section.campaing-list
  .container#campaignList
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 What's Popular
    include ../components/campaign/templates/_list.pug
    .col-lg-12.text-lg-center.text-md-center.text-xs-center
      a(href="/companies").link-4 See All

section.home-wrap-text-block.hide-bg-fixed.main-section-invest
  .opasity-block
    .container.text-lg-center.text-xs-center.text-sm-center
      .wrap
        .col-lg-6.offset-lg-3
          h2.dosis.text-uppercase.m-t-0 INVEST IN YOUR LOCAL COMMUNITY
          h3 Find companies in your neighborhood, and help them grow through your investment.
        .col-lg-12
          a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
          .learn-link.m-b-0
            a(href="/pg/education").link-3 Understand the Risks

section.home-what-is
  .container
    .col-lg-8.offset-lg-2.p-xs-0
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-3.mb30 WHAT IS GROWTHFOUNTAIN
      .row
        .col-lg-12
          h3.m-t-0.m-b-1.text-xs-center We banded together with a simple mission – to connect small businesses to the tools they need to succeed – including financial, human and social capital.
          h3.m-t-0.text-xs-center Our goal is to level the playing field and make things easy for entrepreneurs to focus on what matters – their product or service!
      .row
        .col-lg-12
          .embed-responsive.embed-responsive-16by9.boxshadow
            iframe(
              embed-responsive-item="true" 
              src="https://player.vimeo.com/video/198101157?title=0&amp;byline=0&amp;portrait=0" 
              data-webkitallowfullscreen="" 
              data-mozallowfullscreen="" 
              data-allowfullscreen=""
            )
            
section.home-wrap-text-block.raise-wrap.hide-bg-fixed.main-section-raise
  .opasity-block
    .container.text-lg-center.text-xs-center
      .wrap
        .col-lg-6.offset-lg-3
          h2.dosis.text-uppercase.m-t-0  Raise capital with us
          h3 How does conducting a Regulation Crowdfunding offering actually work? Access our investor network to raise capital for your company now.
        .col-lg-12
          a(href="/company/create").btn.btn-lg.btn-primary.text-uppercase raise capital
          a(href="/pg/entrepreneurquestions").btn.btn-lg.btn-secondary.text-uppercase learn more
section.home-our-partners
  .container
    .row
      .col-lg-12
        h2.dosis.text-uppercase.text-xs-center OUR PARTNERS
    p GrowthFountain is proud to partner with companies that share our passion for supporting entrepreneurs, uplifting small businesses and fostering meaningful bonds in local communities.
    h3.dosis Credit Union Companies
    .row
      .col-lg-4.text-xs-center.p-b-3
        a(href="http://www.callahan.com/" target="_blank")
          img(src="/img/callahan.png").img-fluid.text-lg-right.text-xs-center.m-x-auto
      .col-lg-4.text-lg-center.text-xs-center.m-x-auto.p-b-3
        a(href="https://www.jdcu.org/" target="_blank")
          img(src="/img/logo_jd.png").img-fluid.text-xs-center.m-x-auto
      .col-lg-4.text-lg-left.m-x-auto.p-b-3
        a(href="https://www.rivermarkcu.org/" target="_blank")
          img(src="/img/logo_rivermark.png" ).img-fluid.text-xs-center.m-x-auto
    .row.text-xs-center
      .col-lg-4.text-xs-center
        a(href="https://www.dcu.org/" target="_blank")
          img(src="/img/logo_dcu.jpg").img-fluid.text-xs-center.m-x-auto
    h3.dosis Incubators
    .row
      .col-lg-4.text-xs-center
        a(href="http://momentum3growth.com/" target="_blank")
          img(src="/img/momentum3growth.png").img-fluid.text-lg-right.text-xs-center.m-x-auto
