section.main_block
    .container
        .row
            .col-lg-6.col-md-12
                .red_opacity
                    .vert
                        .vertical_align_container 
                            h3.form-group A new way to invest or raise capital.
                            p Through our partnership with 
                                a(href=) Growth Fountain
                                |&nbsp;we're pleased to introduce Equity Crowdfunding. With this innovative program:
                            ul.row 
                                li - Investors and entrepreneurs can connect to enrich each other.
                                li - Investors receive equity for their contributions to small businesses.
                                li - Entrepreneurs can raise capital for their businesses through these contributions.
                                li - Opportunities are available on local and national levels.
                                li - Economic growth is spurred by greater exposure and interest.

            .col-lg-6.col-md-12 
                .logo_container 
                    .vertical_align_container 
                        img(src="/img/logo.png" alt="")
                        .text-lg-center 
                            p Powered by
                            img(src="/img/gf_logo_nosub.png" alt="")

section.text_block_white 
    .container 
        .row 
            .col-lg-6.col-md-12.text-uppercase 
                p 
                    b To get started
                    | , CLICK ON “INVEST” TO BROWSE CURRENT OPPORTUNITIES OR “RAISE CAPITAL” TO CREATE A NEW FUND-SOURCING CAMPAIGN.

            .col-lg-6.col-md-12 
                .text-center 
                    a(href=Urls['campaign-list']()).btn.btn-info.text-uppercase Invest
                    .circle_or or
                    a(href="").btn.btn-info-dark.text-uppercase Raise capital

section.jeanne_footer 
    .container 
        .row.text-lg-center 
            .col-lg-4.col-md-6.col-sm-12.text-md-right 
                .container_block 
                    img(src="/img/footer_com_logo.png" alt="")


            .col-lg-6.col-md-6.col-sm-12 
                .container_block.text-left 
                    h5 Need help getting your idea started?
                    p "Build" Business Solutions offer everything from business loans and credit cards to business checking and savings products. Let us help you take your concept or business to the next level.


            .col-lg-2.col-md-12 
                .small_container_block 
                    h6.form-group.text-uppercase Ready to 
                        b build
                        | your business
                    a(href="#").btn.light-blue.text-uppercase Start today
section.campaing-list
    .container#campaignList
        .col-lg-12
            h2.dosis.text-uppercase.text-sm-center What's Popular
        .row
            - console.log('campaings', campaigns);
            for campaign in campaigns

                .col-lg-4.col-xs-12.col-sm-12.col-md-12
                    a(href=Urls['campaign-detail'](campaign.id)).block_link
                    .one_block
                        .for_img
                            img(
                                src=(campaign.list_image_data ? campaign.list_image_data.url : '/img/test.png')
                                alt=campaign.company.name
                            )

                            .more_inform
                                .title.text-center
                                    if campaign.security_type == 0
                                        h3 Valuation: #{collection.showBeautifulNumber(campaign.premoney_valuation)}
                                    else
                                        h3 Percentage Revenue: #{campaign.percentage_revenue}%

                                .small_text
                                    if campaign.company.tagline
                                        p #{campaign.company.tagline.substr(0, 120)}

                                .ico_cont
                                    a(href=Urls['campaign-detail'](campaign.id) + '#team').link-1
                                        i.fa.fa-users
                                    a(href=Urls['campaign-detail'](campaign.id) + '#overview').link-1
                                        i.fa.fa-list

                                .bottom_pr
                                    if campaign.security_type == 0
                                        p Price per share: #{collection.showBeautifulNumber(campaign.price_per_share)}
                                        p Number of shares: #{campaign.min_number_of_shares}
                                    else
                                        //- p % Revenue: #{campaign.percentage_revenue}%
                                        p Cap: #{campaign.cap}
                                        p Expiration Date: #{campaign.expiration_date}


                        .title.text-xs-center
                            h3.m-t-0= campaign.company.name
                            span.place
                                i.fa.fa-map-marker
                                = campaign.company.city + ' ' + campaign.company.state
                            .clear
                        .description
                            if campaign.pitch
                                p= campaign.pitch.substr(0,250)

                        .progress_bar_container
                            span.left_text #{campaign.progress} % Funded
                            span.right_text 
                                b #{collection.showBeautifulNumber(campaign.amount_raised)} 
                                | of #{collection.showBeautifulNumber(campaign.minimum_raise)}
                            .clear
                                progress.progress(value=campaign.progress max="100") #{campaign.progress} %

                        .bottom_text
                            span.left_desc
                                b Security:
                                | #{campaign.get_security_type_display}
                            span.right_desc
                                b Industry: 
                                | Lorem ipsum
                            .clear
        .col-lg-12.text-lg-center.text-md-center.text-xs-center
            a(href="/api/campaign").link-4 See All
section.home-wrap-text-block(style="background: url(/img/section-bg-3.jpg) center center no-repeat; background-size: cover; background-attachment: fixed;")
    .opasity-block
        .container.text-lg-center.text-xs-center.text-sm-center
            .col-lg-6.offset-lg-3
                h2.dosis.text-uppercase INVEST IN YOUR LOCAL COMMUNITY
                h3 Find companies in your neighborhood, and help them grow through your investment.
            .col-lg-12
                a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
                .learn-link
                    a(href="/pg/education").link-3 Understand the Risks

section.home-what-is
    .container
        .col-lg-10.offset-lg-1
            h2.dosis.text-uppercase.text-sm-center.text-xs-center WHAT IS JEANNE DARC
            .row
                .col-lg-6
                    .embed-responsive.embed-responsive-16by9.boxshadow
                        iframe(
                            embed-responsive-item="true" 
                            src="https://player.vimeo.com/video/180959374?title=0&amp;byline=0&amp;portrait=0" 
                            data-webkitallowfullscreen="" 
                            data-mozallowfullscreen="" 
                            data-allowfullscreen=""
                        )

                .col-lg-5
                    h3.m-t-0.text-justify We banded together with a simple mission – to connect small businesses to all the tools they need to succeed – including financial, human and social capital.
                    h3.m-t-0.text-justify.m-b-0 Our goal is to level the playing field and make things easy for entrepreneurs to focus on what matters – their product or service!

section.home-wrap-text-block.raise-wrap(style="background: url(/img/raise-capital.png) center center no-repeat; background-size: cover; background-attachment: fixed;")
    .opasity-block
        .container.text-lg-center.text-xs-center
            .col-lg-6.offset-lg-3
                h2.dosis.text-uppercase  Raise capital with us
                h3 How does conducting a Regulation Crowdfunding offering actually work? Access our investor network to raise capital for your company now.
            .col-lg-12.m-b-3
                a(href="/company/create").btn.btn-lg.btn-primary.text-uppercase raise capital
                a(href="/pg/entrepreneurquestions").btn.btn-lg.btn-secondary.text-uppercase learn more

.hidden
