section.slider-main
  .owl-carousel.owl-theme.carousel-test
    div
      div(style="background: url(/img/slide_1.jpg)").slide_1.main-slider-item
      //img(src="/img/slide_1.jpg" alt="...")
      .slider-content.container
        .text-xs-center
          .col-lg-12
            h1.text-uppercase.big-h1.hidden-sm-down your success is our success
          .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
            span.small-text Start investing locally
          .col-lg-12.m-t-1.m-b-3
            a(href="/pg/education").link-6 Understand the Risks
          .col-lg-12.hidden-xs-down
            a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
            a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
          .col-lg-12.hidden-sm-up
            if app.user.is_anonymous()
              a(href="/account/signup").btn.btn-lg.btn-primary sign up
            else
              a(href="/companies").btn.btn-lg.btn-primary INVEST


//section.home-section.bg-dark-alfa-30.hide-bg-fixed.hidden-md-up(style="background: url(/img/slide_3.jpg) center center no-repeat; background-size: cover;")
  .container
    .row
      .js-height-full
        .home-content
          .home-text-main.text-lg-center
            h1.text-uppercase.dosis.m-b-1.hidden-sm-down your success is our success
            .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
              span.small-text Invest in your neighbor, your community, or entrepreneurs you believe in
            .col-lg-12.m-t-1.m-b-2
              a(href="/pg/education").link-6 Understand the Risks
            .col-lg-12
              a(href="/companies").btn.btn-lg.btn-primary INVEST
              span.hidden-xs  
                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

section.campaing-list
  .container#campaignList
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 What's Popular
    include ../components/campaign/templates/_list.pug
    .col-lg-12.text-lg-center.text-md-center.text-xs-center
      a(href="/companies").link-4 See All

section.home-wrap-text-block.hide-bg-fixed.main-section-invest
  .opasity-block
    .container.text-lg-center.text-xs-center.text-sm-center
      .wrap
        .col-lg-6.offset-lg-3
          h2.dosis.text-uppercase.m-t-0 INVEST IN YOUR LOCAL COMMUNITY
          h3 Find companies in your neighborhood, and help them 
            br
            | grow through your investment.
        .col-lg-12
          a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
          .learn-link.m-b-0
            a(href="/pg/education").link-6.link-custom Understand the Risks

section.home-what-is
  .container
    .col-lg-12
      h2.text-uppercase.text-sm-center.text-xs-center.font-weight-bold.mb50 A new way to invest or raise capital
      .row
        .col-lg-6
          .embed-responsive.embed-responsive-16by9.boxshadow
            iframe(
              embed-responsive-item="true" 
              src="https://player.vimeo.com/video/198101157?title=0&amp;byline=0&amp;portrait=0" 
              data-webkitallowfullscreen="" 
              data-mozallowfullscreen="" 
              data-allowfullscreen="")

        .col-lg-6
          h3.mb15.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light Through our partnership with Growth Fountain we're pleased
            br
            | to introduce Equity Crowdfunding.
          h3.mb15.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light Discover, support and invest in the businesses within our
            br
            | community, and receive ownership for your contribution.
          h3.mb20.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light It’s people helping people at an entirely new level.
          
          .logo
            .row
              .col-lg-12.text-xs-center.m-b-1
                p.text-uppercase.font-weight-bold.custom-text equity crowdfunding
                p.font-weight-light Powered by
            .row
              .offset-sm-3.col-sm-6.text-xs-center
                a(href="growthfountain.com" target="_blank").powered-by-logo
                  img(src="/img/GF.png")
