.js-height-full.home-section
    section.main-page-slider
      #carousel-investor(data-ride="carousel").carousel.slide
        ol.carousel-indicators
          li(data-target="#carousel-investor" data-slide-to="0").active
          li(data-target="#carousel-investor" data-slide-to="1")


        .carousel-inner(role="listbox")
            .carousel-item.active.t40
                img(src="/img/free-checking-plus-mustache-couple-hero-size-01.jpeg" alt="...").img-fluid
                .carousel-caption
                    .home-content
                        .home-text-main.text-lg-center
                            .col-lg-12
                                h1.text-uppercase.text-lg-left.font-weight-bold.m-b-2 YOUR SUCCESS IS OUR SUCCESS
                            .col-lg-12.text-lg-left.m-b-3.m-t-0
                                h2.small-text Start investing locally
                            .col-lg-12.text-lg-left
                                a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-2 INVEST
                                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

            .carousel-item.t40
                img(src="/img/bg_img.png" alt="...").img-fluid
                .carousel-caption
                    .home-content
                        .home-text-main.text-lg-center
                            .col-lg-12
                                h1.text-uppercase.text-lg-left.font-weight-bold.m-b-2 YOUR SUCCESS IS OUR SUCCESS
                            .col-lg-12.text-lg-left.m-b-3.m-t-0
                                h2.m-t-0 Start investing locally
                            .col-lg-12.text-lg-left
                                a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-2 INVEST
                                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

        a(href="#carousel-investor"
        role="button" 
        data-slide="prev").left.carousel-control
          span(aria-hidden="true").icon-prev
          span.sr-only Previous
        a(href="#carousel-investor"
        role="button" 
        data-slide="next").right.carousel-control
          span(aria-hidden="true").icon-next
          span.sr-only Next
            
                
section.campaing-list
    .container#campaignList
        .col-lg-12
            h2.text-uppercase.text-sm-center.font-weight-bold.m-b-3.p-t-3 TRENDING
        .row
            - console.log('campaings', campaigns);
            for campaign in campaigns

                .col-lg-4.col-xs-12.col-sm-12.col-md-12
                    a(href=Urls['campaign-detail'](campaign.id)).block_link
                    .one_block
                        .for_img
                            img(
                                src=(campaign.list_image_data ? campaign.list_image_data.url : '/img/test.png')
                                alt=campaign.company.name
                            )

                            .more_inform
                                .title.text-center
                                    if campaign.security_type == 0
                                        h3 Pre money valuation: #{collection.showBeautifulNumber(campaign.premoney_valuation)}
                                    else
                                        h3 Percentage Revenue: #{campaign.percentage_revenue}%

                                .small_text
                                    if campaign.company.tagline
                                        p #{campaign.company.tagline.substr(0, 120)}

                                .ico_cont
                                    a(href=Urls['campaign-detail'](campaign.id) + '#team').link-1
                                        i.fa.fa-users
                                    a(href=Urls['campaign-detail'](campaign.id) + '#overview').link-1
                                        i.fa.fa-list

                                .bottom_pr
                                    if campaign.security_type == 0
                                        p Price per share: #{collection.showBeautifulNumber(campaign.price_per_share)}
                                        p Number of shares: #{campaign.min_number_of_shares}
                                    else
                                        //- p % Revenue: #{campaign.percentage_revenue}%
                                        p Cap: #{campaign.cap}
                                        p Expiration Date: #{campaign.expiration_date}


                        .title.text-xs-center
                            h3.m-t-0= campaign.company.name
                            span.place
                                i.fa.fa-map-marker
                                = campaign.company.city + ' ' + campaign.company.state
                            .clear
                        .description
                            if campaign.pitch
                                p= campaign.pitch.substr(0,250)

                        .progress_bar_container
                            span.left_text #{campaign.progress} % Funded
                            span.right_text 
                                b #{collection.showBeautifulNumber(campaign.amount_raised)} 
                                | of #{collection.showBeautifulNumber(campaign.minimum_raise)}
                            .clear
                                progress.progress(value=campaign.progress max="100") #{campaign.progress} %

                        .bottom_text
                            span.left_desc
                                b Security:
                                | #{campaign.get_security_type_display}
                            span.right_desc
                                b Industry: 
                                | Lorem ipsum
                            .clear
section.home-wrap-text-block(style="background: url(/img/section-bg-3.jpg) center center no-repeat; background-size: cover; background-attachment: fixed;")
    .opasity-block
        .container.text-lg-center.text-xs-center.text-sm-center
            .col-lg-8.offset-lg-2
                h2.text-uppercase INVEST IN YOUR LOCAL COMMUNITY
                h3 Find companies in your neighborhood, and help them grow through your investment.
            .col-lg-12
                a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
                .learn-link
                    a(href="/pg/education").link-3 Understand the Risks

section.home-what-is
    .container
        .col-lg-12
            h2.text-uppercase.text-sm-center.text-xs-center.font-weight-bold A PLATFORM BUILT FOR OUR COMMUNITY
            .row
                .col-lg-6
                    .embed-responsive.embed-responsive-16by9.boxshadow
                        iframe(
                            embed-responsive-item="true" 
                            src="https://player.vimeo.com/video/180959588?title=0&amp;byline=0&amp;portrait=0" 
                            data-webkitallowfullscreen="" 
                            data-mozallowfullscreen="" 
                            data-allowfullscreen=""
                        )

                .col-lg-6
                    h2.m-t-0.text-lg-center.text-xs-center.light.open-sans Through our partnership with GrowthFountain we’re pleased to introduce Equity Crowdfunding.
                    h3.m-t-0.text-justify.font-weight-normal Discover, support and invest in the businesses within our community, and receive ownership for your contribution.
                    h3.m-t-0.text-lg-center.text-xs-center.font-weight-normal It’s people helping people at an entirely new level.
                    .logo
                        .col-lg-4.p-x-0
                            a(href="")
                                img(src="/img/logo/logo-color-png-r.png").img-fluid
                        .col-lg-4
                            p.small.text-lg-center.text-xs-center.font-weight-bold Powered by
                        .col-lg-4.p-x-0
                            a(href="#")
                                img(src="/img/logo/GF.png").img-fluid