- var GENERAL = require('consts/general.json');
section.slider-main.main-top-baner
  .heartland-tour-in-main
    p GrowthFountain is coming to your town. 
      a(href="/pg/heartland-tour") Apply Now
      |  to join The Heartland Tour and present your fundraise live!
  section.height-block-banner.scroll-paralax.no-paralax-mobile.main-paralax-banner.m-t-0
    - var styleString = 'background: url(' + require('img/slide_1.jpg') + ')';
    div(style=styleString + '; height:75vh').background
    .center-wrap.container
      .col-lg-12
        h1.big-h1 Own a piece of your favorite company
      .col-lg-8.offset-lg-2.text-lg-center.text-sm-center.text-xs-center
        span.small-text Invest in local businesses and entrepreneurs you believe in, starting at $100
      .col-lg-12.mt20.mb30
        a(href="/pg/education").link-6 Learn the Risks
      if app.user.is_anonymous()
        .col-lg-12
          a(href="/account/signup").btn.btn-lg.btn-primary sign up + get $25
      else
        .col-lg-12.hidden-sm-down
          a(href="/companies").btn.btn-lg.btn-primary.m-r-2 INVEST
          a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
        .col-lg-12.hidden-md-up
          a(href="/companies").btn.btn-lg.btn-primary INVEST

section.campaing-list
  .container#campaignList
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 What`s popular
    include ../components/campaign/templates/_list
    //.col-lg-12.text-lg-center.text-md-center.text-xs-center
      if collection && collection.count && collection.count > GENERAL.COMPANIES_PER_PAGE
        a(href="/companies").bnt.btn-sm.btn-secondary See All 
          i.fa.fa-long-arrow-right
section.height-block-banner.scroll-paralax.no-paralax-mobile.main-paralax-banner
  - var styleString = 'background: url(' + require('img/banner-image-main.jpg') + ')';
  div(style=styleString + '; height:460px').background
  .center-wrap.container
    .col-xl-12
      h2.text-uppercase.m-t-0 NOW ACCESSIBLE TO EVERYBODY
          h3 It’s the evolution of investing. Receive a financial stake
            br
            | in the companies you support.
    .col-lg-12
      if app.user.is_anonymous()
        a(href="/account/signup").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
      else
        a(href="/companies").btn.btn-lg.btn-secondary.text-uppercase Start investing

section.home-what-is
  .container
    .col-lg-12
      h2.text-uppercase.text-sm-center.text-xs-center.font-weight-bold.mb50 A new way to invest or raise capital
      .row
        .col-lg-6
          .embed-responsive.embed-responsive-16by9.boxshadow
            iframe(
              embed-responsive-item="true" 
              src="https://player.vimeo.com/video/198101157?title=0&amp;byline=0&amp;portrait=0" 
              data-webkitallowfullscreen="" 
              data-mozallowfullscreen="" 
              data-allowfullscreen="")

        .col-lg-6
          h3.mb15.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light Through our partnership with Growth Fountain we're pleased
            br
            | to introduce Equity Crowdfunding.
          h3.mb15.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light Discover, support and invest in the businesses within our
            br
            | community, and receive ownership for your contribution.
          h3.mb20.m-t-0.text-xs-center.home-what-is-paragraf.font-weight-light It’s people helping people at an entirely new level.
          
          .logo
            .row
              .col-lg-12.text-xs-center.m-b-1
                p.text-uppercase.font-weight-bold.custom-text equity crowdfunding
                p.font-weight-light Powered by
            .row
              .offset-sm-3.col-sm-6.text-xs-center
                a(href="growthfountain.com" target="_blank").powered-by-logo
                  img(src=require("img/GF.png"))