- var GENERAL = require('consts/general.json');

section.slider-main
  .heartland-tour-in-main
    p GrowthFountain is coming to your town. 
      a(href="/pg/heartland-tour") Apply Now
      |  to join The Heartland Tour and present your fundraise live!
  include slider
include topbanner
section.campaing-list.campaign-list-main-page
  .container#campaignList
    .col-lg-12
      h2.text-uppercase.text-sm-center.text-xs-center.m-t-0 !{app.config.indexPage.campaignListTitle}
    include ../components/campaign/templates/_list
    .col-lg-12.text-lg-center.text-md-center.text-xs-center
      if collection && collection.count && collection.count > GENERAL.COMPANIES_ON_MAINPAGE
        a(href="/companies").btn.btn-sm.btn-secondary.btn-see-all 
          | See All
          i.fa.fa-angle-right

section.main-video-wrap
  video(poster=require("images/generals/main-before-video.jpg") id="bgvid" playsinline autoplay muted loop)
    source(src=require("staticdata/video/main_background_video.mp4") type="video/mp4")
  .center-wrap
    .text-wrap
      .container
        .col-xl-12
          h2.text-uppercase !{app.config.indexPage.videoTitle}
        .col-xl-12.text-video-wrap.p-x-0
          | !{app.config.indexPage.videoText}
    a(
      href='#'
      data-provider=app.config.indexPage.dataProviderVideoPopup
      data-id=app.config.indexPage.dataVideoIdPopup
      data-url=app.config.indexPage.videoPopupUrl
      data-hide-page='true'
      data-modal-class='main-video-modal'
    ).showVideoModal.play-icon
      i.fa.fa-play
section.home-our-partners
  .container-fluid
    .col-xl-12
      .partners-line
        h4.title.text-uppercase GrowthFountain Powers Equity Crowdfunding for these Partners:
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="http://www.callahan.com/" target="_blank")
        img(src=require("images/partners-logo/callahan-logo.png") alt="").img-fluid.callahan
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="https://www.jdcu.org/" target="_blank")
        img(src=require('images/partners-logo/jdcu-logo.png') alt="").img-fluid.jdcu
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="https://www.rivermarkcu.org/" target="_blank")
        img(src=require('images/partners-logo/river-logo.png') alt="").img-fluid.river-mark
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="https://www.dcu.org/" target="_blank")
        img(src=require('images/partners-logo/dcu-logo.png') alt="").img-fluid.dcu
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="http://momentum3growth.com/" target="_blank")
        img(src=require('images/partners-logo/momentum-logo.png') alt="").img-fluid.momentum3
    .col-xl-2.col-lg-4.col-md-4.col-sm-6.col-xs-12.item
      a(href="https://www.infinityfcu.com/" target="_blank")
        img(src=require('images/partners-logo/infinityfcu-logo.png') alt="").img-fluid.infinity

section.better
  .container
    .row
      .col-xl-12.text-xs-center
        h2.text-uppercase.m-t-0 You deserve a 
          .titile-better better 
          |  way to raise the money you need to grow.
        h3.font-weight-light.m-t-0 Our technology stack was built to maximize your exposure and minimize your costs.
    .row
      .col-xl-4.better-item
        .photo
          img(src=require('images/generals/list-1.png'), alt="")
        h4.title.text-uppercase List Your Fundraise
        .text
          p We want you to focus on what you do best: build your company. We’ll help you assess your valuation, prepare your offering docs and handle filings and all the heavy lifting.
      .col-xl-4.better-item
        .photo
          img(src=require('images/generals/network1.png'), alt="")
        h4.title.text-uppercase Activate Your Network
        .text
          p Think of our platform as a way to raise 150% or more of the money you can raise from your own network. Get your customer, community, friends and family to invest early and often. Once you create the momentum, our investor network can provide meaningful additional capital. 
      .col-xl-4.better-item
        .photo
          img(src=require('images/generals/invest-list.png'), alt="")
        h4.title.text-uppercase Everybody can Invest!
        .text
          p BRAND NEW! Everybody in the world can now invest in America’s entrepreneurs. Capture their interest with your story and use your network to get early traction – and our massive network will surely follow!
    .row
      .col-xl-8.offset-xl-2.bottom-wrap
        .row
          .col-xl-6
            .item
              i.fa.fa-chevron-right
              h3.font-weight-light Time to raise money on
                strong.font-weight-bold  your terms 
                | and keep control
          .col-xl-6
            .item
              i.fa.fa-chevron-right
              h3.font-weight-light Minimize annoying legal fees
        .row
          .col-xl-6
            .item
              i.fa.fa-chevron-right
              h3.font-weight-light Pitch to thousands of people from the comfort of your own home
          .col-xl-6
            .item
              i.fa.fa-chevron-right
              h3.font-weight-light Turn your customers and users into brand ambassadors and evangelists
    .row
      .col-xl-12
        .powered-by
          h4.text-uppercase equity crowdfunding
          p.small-powered-by Powered by
          img(src=require('images/pages/news4.png'), alt="")
include bottombanner

section.news-on-main-page
  .container
    .row
      .col-xl-12
        h2.text-uppercase.text-xs-center.m-t-0 LATEST news
    .row
      ul.list-unstyled.m0
        .col-xl-6
          li.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://techcrunch.com/2017/01/23/growthfountain/" target="_blank")
                    img(src=require("images/pages/TC.jpg") alt="techcrunch")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://techcrunch.com/2017/01/23/growthfountain/" target="_blank")
                    b
                      | New equity crowdfunding platform GrowthFountain launched today
                    .small-text
                      | January 23, 2017
                
                p.pt10 There’s no shortage of equity crowdfunding sites out there, but GrowthFountain thinks it has the special sauce to cut through the...
        .col-xl-6
          li.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank")
                    img(src=require("images/pages/cheddar.jpg") alt="cheddar")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank")
                    b
                      | Growthfountain on The Launch of its New Equity Crowdfunding Campaign
                    .small-text
                      | February 4, 2017
                
                p.pt10.pb10 Check out our interview on 
                  a(href="https://cheddar.vhx.tv/cheddar-archive/videos/cheddar-closing-bell-s3-e013017-j-full-mezz-hd-en-us" target="_blank").link-3 Cheddar TV
                p Newly launched Growthfountain talks about equity crowdfunding and its latest campaign.
    .row
      ul.list-unstyled.m0
        .col-xl-6
          li.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href=require("doc/Credit.Union.Times.3_17_17-1.pdf") target="_blank")
                    img(src=require("images/pages/news2.png") alt="")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href=require("doc/Credit.Union.Times.3_17_17-1.pdf") target="_blank")
                    b
                      | Crowdfunding: New Opportunity for Start-Ups & Credit Unions
                    .small-text
                      | March 17, 2017
                p.pt10 A partnership between New York City based GrowthFountain, an equity crowdfunding platform, and $7.6... 
        .col-xl-6
          li.mb50
            .row
              .col-lg-4
                .news-img.text-xs-center.mpb50
                  a(href="http://moneyinc.com/future-fundraising-extension-social-contract/" target="_blank")
                    img(src=require("images/pages/moneyinc.jpg") alt="moneyinc")
                
              .col-lg-8
                h4.open-sans.letter-spacing-0.text-muted.m0
                  a(href="http://moneyinc.com/future-fundraising-extension-social-contract/" target="_blank")
                    b
                      | The Future of Fundraising: An Extension of the Social Contract
                    .small-text
                      | March 20, 2017
                p.pt10 When you walk down main street anywhere in America – whether you’re in Sioux Falls, South Dakota or New York City, you’re sure to notice... 
    .row
      .col-xl-12.text-xs-center
        a(href="/pg/news").btn.btn-sm.btn-secondary.btn-see-all 
          | See All
          i.fa.fa-angle-right
