.home-section.hidden-sm-down
  section.main-page-slider
    div(data-ride="carousel" data-interval="3000")#carousel-main.carousel.carousel-main
      ol.carousel-indicators
        li(data-target="#carousel-main" data-slide-to="0").active
        li(data-target="#carousel-main" data-slide-to="1")
        li(data-target="#carousel-main" data-slide-to="2")
      .carousel-inner(role="listbox")
        .carousel-item.active.t40
          img(src="/img/JDA-Scenic-2.jpg" alt="...").img-fluid
          .carousel-caption
            .home-content
              .home-text-main.text-lg-center
                .col-lg-12
                  h1.text-uppercase.font-weight-bold.m-b-2 RAISE CAPITAL WITH US
                .col-lg-12.m-b-2.m-t-0
                  h2.m-t-0.m-b-1.small-text.letter-spacing-normal Start investing locally
                  a(href="/pg/education").link-3 Understand the Risks
                .col-lg-12
                  a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                  a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

        .carousel-item.t40
          img(src="/img/JDA-Scenic-3.jpg" alt="...").img-fluid
          .carousel-caption
            .home-content
              .home-text-main.text-lg-right
                .col-lg-12
                  h1.text-uppercase.text-lg-right.font-weight-bold.m-b-2.color-black_pearl RAISE CAPITAL WITH US
                .col-lg-12.text-lg-right.m-b-2.m-t-0
                  h2.m-t-0.m-b-1.small-text.color-black_pearl.letter-spacing-normal Start investing locally
                  a(href="/pg/education").link-3 Understand the Risks
                .col-lg-12.text-lg-right
                  a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                  a(href="#").btn.btn-lg.btn-primary raise capital
        .carousel-item.t40
          img(src="/img/JDA-Scenic-4.jpg" alt="...").img-fluid
          .carousel-caption
            .home-content
              .home-text-main.text-lg-left
                .col-lg-12
                  h1.text-uppercase.text-lg-left.font-weight-bold.m-b-2.color-black_pearl YOUR SUCCESS IS OUR SUCCESS
                .col-lg-12.text-lg-left.m-b-2.m-t-0
                  h2.m-t-0.m-b-1.small-text.color-black_pearl.letter-spacing-normal Start investing locally
                  a(href="/pg/education").link-3 Understand the Risks
                .col-lg-12.text-lg-left
                  a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                  a(href="/company/create").btn.btn-lg.btn-primary raise capital

    a(href="#carousel-main"
      role="button" 
      data-slide="prev").left.carousel-control
      span(aria-hidden="true").icon-prev
      span.sr-only Previous
    a(href="#carousel-main"
      role="button" 
      data-slide="next").right.carousel-control
      span(aria-hidden="true").icon-next
      span.sr-only Next
section.home-section.bg-dark-alfa-30.hide-bg-fixed.hidden-md-up(style="background: url(/img/JDA-Scenic-2.jpg) center center no-repeat; background-size: cover; background-attachment: fixed;")
  .container
    .row
      .js-height-full
        .home-content
          .home-text-main.text-lg-center
            h1.text-uppercase.dosis RAISE CAPITAL WITH US
            .col-lg-6.offset-lg-3.text-lg-center.text-sm-center.text-xs-center
              span.small-text Start investing locally
            .col-lg-12.m-t-1.m-b-2
              a(href="/pg/education").link-3 Understand the Risks
            .col-lg-12
              a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
              span.hidden-xs  
                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL
section.jeanne_footer.top-block
  .container 
    .row.text-lg-center 
      .col-lg-3.col-md-6.col-sm-12.text-xl-right.text-xs-center.m-x-auto 
        img(src="/img/footer_com_logo.png" alt="")

      .col-lg-6.col-md-6.col-sm-12.m-t-m-25 
        .container_block.text-left 
          h3.text-uppercase.font-weight-bold.m-t-0.text-xs-center Need help getting your idea started?
          p "Build" Business Solutions offer everything from business loansand credit cards to business checking and savings products.Let us help you take your concept or business to the next level.

      .col-lg-3.col-md-12.text-xs-center.m-t-m-25 
        h4.text-uppercase.m-b-2.text-xs-center READY TO BUILD YOUR BUSINESS
        a(href="/pg/investor_tutorial").btn.btn-primary.text-uppercase Start today

section.campaing-list.m-t-85
  .container#campaignList
    .col-lg-12
      h2.dosis.text-uppercase.text-xs-center.m-t-0.mb50.font-weight-bold TRENDING

    include ../components/campaign/templates/_list.pug

    .col-lg-12.text-lg-center.text-md-center.text-xs-center
      a(href="/api/campaign").link-4 See All

section.home-wrap-text-block.hide-bg-fixed(style="background: url(/img/JDA-Scenic-1.jpg) bottom center no-repeat; background-size: cover; background-attachment: fixed;")
  .opasity-block
    .container.text-lg-center.text-xs-center.text-sm-center
      .col-lg-8.offset-lg-2
        h2.text-uppercase.font-weight-bold INVEST IN YOUR LOCAL COMMUNITY
        h3.letter-spacing-normal Find companies in your neighborhood, and help them grow through your investment.
        .col-lg-12
        a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
        .learn-link
          a(href="/pg/education").link-3 Understand the Risks

section.home-what-is
  .container
    .col-lg-12
      h2.text-uppercase.text-sm-center.text-xs-center.font-weight-bold A new way to invest or raise capital
    .row
      .col-lg-6
        .embed-responsive.embed-responsive-16by9.boxshadow
          iframe(
            embed-responsive-item="true" 
            src="https://player.vimeo.com/video/180959374?title=0&amp;byline=0&amp;portrait=0" 
            data-webkitallowfullscreen="" 
            data-mozallowfullscreen="" 
            data-allowfullscreen="")

      .col-lg-6
        p.text-lg-center.text-xs-center.font-weight-light.open-sans.pb10 Through our partnership with Growth Fountain we're pleased to introduce Equity Crowdfunding. With this innovative program:
        p.pb10 - Investors and entrepreneurs can connect to enrich each other.
        p.pb10 - Investors receive equity for their contributions to small businesses.
        p.pb10 - Entrepreneurs can raise capital for their businesses through these contributions
        p.pb10 - Opportunities are available on local and national levels.
        p.pb10 - Economic growth is spurred by greater exposure and interest.
        .logo.m-t-2
          .col-lg-4.p-x-0
            a(href="")
            img(src="/img/logo_jd.png").img-fluid
          .col-lg-4
            p.small.text-lg-center.text-xs-center.font-weight-bold.text-uppercase.m-t-1 Powered by
          .col-lg-4.p-x-0
            a(href="#")
            img(src="/img/GF.png").img-fluid