.home-section
    section.main-page-slider
      #carousel-main(data-ride="carousel" data-interval="30000").carousel.carousel-main
        ol.carousel-indicators
            li(data-target="#carousel-main" data-slide-to="0").active
            li(data-target="#carousel-main" data-slide-to="1")
            li(data-target="#carousel-main" data-slide-to="2")


        .carousel-inner(role="listbox")
            .carousel-item.active.t40
                img(src="/img/dcu-index-banner.png" alt="...").img-fluid
                .carousel-caption
                    .home-content
                        .home-text-main.text-lg-center
                            .col-lg-12
                                h1.text-uppercase.font-weight-bold.m-b-2 YOUR SUCCESS IS OUR SUCCESS
                            .col-lg-12.m-b-2.m-t-0
                                h2.m-t-0.small-text Start investing locally
                            .col-lg-12
                                a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                                a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

            .carousel-item.t40
                img(src="/img/rm-slide3.png" alt="...").img-fluid
                .carousel-caption
                    .home-content
                        .home-text-main.text-lg-right
                            .col-lg-12
                                h1.text-uppercase.text-lg-right.font-weight-bold.m-b-2.color-black_pearl YOUR SUCCESS IS OUR SUCCESS
                            .col-lg-12.text-lg-right.m-b-2.m-t-0
                                h2.m-t-0.small-text.color-black_pearl Start investing locally
                            .col-lg-12.text-lg-right
                                a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                                a(href="#").btn.btn-lg.btn-primary raise capital
            .carousel-item.t40
                img(src="/img/rm-slide1.png" alt="...").img-fluid
                .carousel-caption
                    .home-content
                        .home-text-main.text-lg-left
                            .col-lg-12
                                h1.text-uppercase.text-lg-left.font-weight-bold.m-b-2.color-black_pearl YOUR SUCCESS IS OUR SUCCESS
                            .col-lg-12.text-lg-left.m-b-2.m-t-0
                                h2.m-t-0.small-text.color-black_pearl Start investing locally
                            .col-lg-12.text-lg-left
                                a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.m-r-3 invest
                                a(href="/company/create").btn.btn-lg.btn-primary raise capital

        a(href="#carousel-main"
        role="button" 
        data-slide="prev").left.carousel-control
          span(aria-hidden="true").icon-prev
          span.sr-only Previous
        a(href="#carousel-main"
        role="button" 
        data-slide="next").right.carousel-control
          span(aria-hidden="true").icon-next
          span.sr-only Next

section.home-wrap-text-block.top-block.m-t-0
    .opasity-blocks(style="background: url(/img/main_bg_section.jpg) top center;  background-attachment: fixed;")
        .container.text-lg-center.text-xs-center.text-sm-center
            .col-lg-12
                h2.text-uppercase.font-weight-bold Does money count in your business? Or Does It multiply?
                h3 Rivermark is your partner for business success, with solutions for business checking, payments and lending that help you grow your revenue and better manage your cash.
            .col-lg-12
                a(href="https://www.rivermarkcu.org/business-accounts" target="_blank").btn.btn-lg.btn-secondary.text-uppercase.m-b-3 Click to Learn More


section.campaing-list.m-t-85
    .container#campaignList
        .col-lg-12
            h2.dosis.text-uppercase.text-sm-center.m-t-0.mb50 What's Popular

        include ../components/campaign/templates/_list.pug

        .col-lg-12.text-lg-center.text-md-center.text-xs-center
            a(href="/api/campaign").link-4 See All

section.home-wrap-text-block(style="background: url(/img/cd-depsoite-campaign-hero-size-2.png) bottom center no-repeat; background-size: cover; background-attachment: fixed;")
    .opasity-block
        .container.text-lg-center.text-xs-center.text-sm-center
            .col-lg-8.offset-lg-2
                h2.text-uppercase.font-weight-bold INVEST IN YOUR LOCAL COMMUNITY
                h3 Find companies in your neighborhood, and help them grow through your investment.
            .col-lg-12
                a(href="/account/login").btn.btn-lg.btn-secondary.text-uppercase Sign up to start investing
                .learn-link
                    a(href="/pg/education").link-2 Understand the Risks

section.home-what-is
    .container
        .col-lg-12
            h2.text-uppercase.text-sm-center.text-xs-center.font-weight-bold A PLATFORM BUILT FOR OUR COMMUNITY
            .row
                .col-lg-6
                    .embed-responsive.embed-responsive-16by9.boxshadow
                        iframe(
                            embed-responsive-item="true" 
                            src="https://player.vimeo.com/video/180959588?title=0&amp;byline=0&amp;portrait=0" 
                            data-webkitallowfullscreen="" 
                            data-mozallowfullscreen="" 
                            data-allowfullscreen=""
                        )

                .col-lg-6
                    h2.m-t-1.text-lg-center.text-xs-center.light.open-sans Through our partnership with GrowthFountain we’re pleased to introduce Equity Crowdfunding.
                    h3.m-t-0.text-justify.font-weight-normal Discover, support and invest in the businesses within our community, and receive ownership for your contribution.
                    h3.m-t-0.text-lg-center.text-xs-center.font-weight-normal It’s people helping people at an entirely new level.
                    .logo
                        .col-lg-4.p-x-0
                            a(href="")
                                img(src="/img/logo/logo-color-png-r.png").img-fluid
                        .col-lg-4
                            p.small.text-lg-center.text-xs-center.font-weight-bold.text-uppercase Powered by
                        .col-lg-4.p-x-0
                            a(href="#")
                                img(src="/img/logo/GF.png").img-fluid
