- 'use strict';
//- mixin getCompanyUrl(campaign, currentStep, step, name)
//-     if campaign.id || currentStep == step
//-         a(
//-           href="/campaign/" + step + "/" + campaign.id 
//-           class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
//-         ) #{ name }
//-             if currentStep == step
//-                 i.fa.fa-check
//-     else
//-         a(
//-           href="#"
//-           class="list-group-item list-group-item-action disabled" 
//-         ) #{ name }

//- mixin getFormcUrl(campaign, currentStep, step, name)
//-     if campaign.id || currentStep == step
//-         a(
//-           href="/formc/" + step + "/" + campaign.id 
//-           class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
//-         ) #{ name }
//-             if currentStep == step
//-                 i.fa.fa-check
//-     else
//-         a(
//-           href="#"
//-           class="list-group-item list-group-item-action disabled" 
//-         ) #{ name }
mixin getCompanyUrl(campaign, section, currentStep, step, name)
    - let prefix = '/' + section + '/';
          //- href=prefix + step + "/" + campaign.id 
    if campaign.id || currentStep == step
        a(
          href=(section == 'formc' ? ('/' + section + '/' + campaign.id + '/' + step ) : ('/' + section + '/' + step + '/' + campaign.id))
          class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
        ) #{ name }
            if currentStep == step
                i.fa.fa-check
    else
        a(
          href="#"
          class="list-group-item list-group-item-action disabled" 
        ) #{ name }

mixin getRiskFactorsItem(campaign, section, currentStep, step, name)
  - let prefix = '/' + section + '/';
  if campaign.id || currentStep == step
      a(
        href=prefix + step + "/" + campaign.id 
        class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
      ) #{ name }
          if currentStep == step
              i.fa.fa-check
  else
      a(
        href="#"
        class="list-group-item list-group-item-action disabled" 
      ) #{ name }
        
mixin menu(currentSection, currentStep)
    .col-lg-3.create_compaign
      .jumbotron.jumbotron-fluid.row
        .raise-funds
          h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
            .small-text (10% Done)
        #accordion(role="tablist" aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#company"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'company' ? ' active ' : '')
              )
                i.fa.fa-briefcase
                |  Company
                span.pull-right
                  //- i.fa.fa-angle-left
                  i(class="arrow fa " + (currentSection == 'company' ? 'fa-angle-down' : 'fa-angle-left'))
            #company(role="tabpanel" class="panel-collapse collapse " + (currentSection == 'company' ? 'in' : ''))
              .list-group
                a(href="/company/create" class="list-group-item list-group-item-action" + (currentSection == 'company' && currentStep == 'company' ? ' active' : '')) Company Detail
                  if currentSection == 'company' && currentStep == 'create'
                    i.fa.fa-check
                //- +getCompanyUrl(campaign || values, 'company', currentStep, 'create', 'Company')
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#campaign-steps"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'campaign' ? ' active ' : '')
              ).list-group-item
                i.fa.fa-bar-chart
                |  Campaign
                span.pull-right
                  //- i.fa.fa-angle-down
                  i(class="arrow fa " + (currentSection == 'campaign' ? 'fa-angle-down' : 'fa-angle-left'))
            //- #campaign(role="tabpanel" class="panel-collapse collapse" + (currentStep != 'company' ? ' in' : ''))
            #campaign-steps(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'campaign' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(campaign || values, 'campaign', currentStep, 'general_information', 'General Information')
                    +getCompanyUrl(campaign || values, 'campaign', currentStep, 'media', 'Media')
                    +getCompanyUrl(campaign || values, 'campaign', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(campaign || values, 'campaign', currentStep, 'specifics', 'Specifics')
                    +getCompanyUrl(campaign || values, 'campaign', currentStep, 'perks', 'Perks')
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#form_c"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'formc' ? ' active' : '')
              )
                i.fa.fa-university
                |  form c
                span.pull-right
                  //- i.fa.fa-angle-left
                  i(class="arrow fa " + (currentSection == 'formc' ? 'fa-angle-down' : 'fa-angle-left'))
            //- #form_c(role="tabpanel").panel-collapse.collapse
            #form_c(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'formc' ? ' in' : ''))
                .list-group
                    //- a(href="/formc/introduction").list-group-item.list-group-item-action form c
                    //- a(href="/formc/team-members/1").list-group-item.list-group-item-action Team Member
                    //- a(href="/formc/related-parties/1").list-group-item.list-group-item-action Related Parties
                    //- a(href="/formc/use-of-proceeds/1").list-group-item.list-group-item-action Use of Proceeds
                    //- a(href="/formc/risk-factors/1").list-group-item.list-group-item-action Risk Factors
                    //- a(href="#").list-group-item.list-group-item-action Offering
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'introduction', 'Introduction')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'related-parties', 'Related Parties')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'use-of-proceeds', 'Use of Proceeds')
                    //- +getCompanyUrl(campaign || values, 'formc', currentStep, 'risk-factors-instruction', 'Risk Factors')
                    .panel.panel-default.sub-menu
                      - let inRiskFactors = currentStep.startsWith('risk-factors');
                      a(data-toggle="collapse"
                        href="#risk_factors"
                        aria-expanded="true"
                        class="list-group-item list-group-heading" + (inRiskFactors ? ' active' : '')
                      )
                        |  Risk Factors 
                        span.pull-right
                          //- i.fa.fa-angle-left
                          i(class="arrow fa " + (inRiskFactors ? 'fa-angle-down' : 'fa-angle-left'))
                      #risk_factors(role="tabpanel" class="panel-collapse collapse" + (inRiskFactors ? ' in' : ''))
                        .list-group
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-instruction', 'Introduction')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-market', 'Market and Customer')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-financial', 'Financial')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-operational', 'Operational')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-competitive', 'Competitive')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-personnel', 'Personnel and Third Party')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-legal', 'Legal and Regulatory')
                          +getRiskFactorsItem(campaign || values, 'formc', currentStep, 'risk-factors-misc', 'Miscellaneous')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'financial-condition', 'Financial Condition')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'outstanding-security', 'Outstanding Security')
                    +getCompanyUrl(campaign || values, 'formc', currentStep, 'background-check', 'Background Check')
                    //- +getCompanyUrl(campaign || values, 'formc', currentStep, 'offering', 'Offering')

      .row
        .education-link-wrap
          .jumbotron.jumbotron-fluid
            h4.font-weight-bold.text-uppercase
              i.fa.fa-book
              |  Education Links
            .nav
              li.nav-item
                a(href="/pg/investor_tutorial" target="_blank").nav-link.link-3 Issuer Tutorial
              li.nav-item
                a(href="/pg/success_guide" target="_blank").nav-link.link-3 Success Guide
              li.nav-item
                a(href="/calculator/capitalraise/intro" target="_blank").nav-link.link-3 What's My Business Worth?
              li.nav-item
                a(href="/calculator/whatmybusinessworth/intro" target="_blank").nav-link.link-3 How Much Should I Raise?
