- 'use strict';

mixin breadcrumbs(title, subtitle, data)
    section.header_title
        .container
            .row
                .col-lg-7.br-title
                    h1.text-uppercase= title
                        span.small-text= subtitle
                .col-lg-5.br-list
                    ol.breadcrumb.text-lg-right.m0
                        each elem in data
                            - var active = (elem[1] == '') ? 'active' : ''
                            li.breadcrumb-item(class=" " + active)
                                if elem[1] == ''
                                    = elem[0]
                                else
                                    a(href=elem[1])= elem[0]

mixin fieldBlock(name, data, attr)

    // If we did not created fields vocabulary
    // Assume it is empty field
    if fields[name] == null
        - console.log('bad field', name);
        - fields[name] = {}
        - fields[name]['label'] = name
        - fields[name]['required'] = false

    if values == null
        - values = {}
    if values[name] == null
        - values[name] = data
    - attr.type = attr.type ? attr.type : fields[name].type

    div(class=(attr.type != 'json' ? "form-group " : '' ) + (attr.row == 0 ? '' : 'row ') + name + (fields[name].required == true ? ' required ' : ' '))
        if attr.type == 'checkbox' 
                div(class=(attr.class1 ? attr.class1 : 'col-md-2') + ' text-md-right text-xs-right')
                    input(
                        id=name
                        name=name
                        value=values[name]
                        type="checkbox"
                    ).form-check-input
                div(class=attr.class2  ? attr.class2 : 'col-md-10')
                    label(for=name).text-justify #{attr.text}
        else if attr.type == 'radio' 
                label(class= attr.text_align ? 'text-md-' + attr.text_align + ' ' + attr.class1 : ' text-md-right ' + attr.class1 for=name)= fields[name].label
                div(class=attr.class2 + ' radio-input')
                    each v in fields[name].choices
                        label
                            input(
                                type="radio" 
                                class="form-check-input" 
                                name=name
                                checked=(v.value == values[name] ? "checked" : undefined)
                                value=v.value)
                            | #{v.display_name}
        else if attr.type == 'choice' 
                label(class= attr.text_align ? 'text-md-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= fields[name].label
                div(class=attr.class2)
                    select(
                        id=name
                        name=name
                    ).custom-select
                        each v in fields[name].choices
                            option(value=v.value selected=(v.value == values[name] ? "selected" : undefined)) #{v.display_name}
        else if attr.type == 'date' 
                label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right text-md-left' + attr.class1 for=name)= fields[name].label
                div(class=attr.class2 id=name).date-input
                    - var data = values[name] ? values[name].split('-') : []
                    .col-lg-4.no-gutter.p-l-0
                        input(
                            id=name + '__month'
                            name=name + '__month'
                            placeholder="MM"
                            type='text'
                            maxlength=2
                            value=data[1]
                          ).form-control
                    .col-lg-4.no-gutter.p-l-0.p-r-0
                        input(
                            id=name + '__day'
                            name=name + '__day'
                            placeholder="DD"
                            type='text'
                            maxlength=2
                            value=data[2]
                          ).form-control
                    .col-lg-4.no-gutter.p-r-0.p-l-0
                        input(
                            id=name + '__year'
                            name=name + '__year'
                            placeholder="YYYY"
                            type='text'
                            maxlength=4
                            value=data[0]
                          ).form-control
        else if attr.type == 'textarea' 
                label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= fields[name].label
                div(class=attr.class2)
                    textarea(
                        id=name
                        name=name
                        class=(fields[name].help_text ? 'showPopover' : '')
                        data-content=(fields[name].help_text ? fields[name].help_text : '')
                        placeholder=attr.placeholder ? attr.placeholder : fields[name].label
                      ).form-control #{values[name]}

        else if attr.type == 'json' 
                - counter = attr.index || 0
                - indexCounter = attr.index || 0
                if values[name].length == 0
                    .delete-section-container
                        a(href="#" data-section=name).delete-section
                            i.fa.fa-times
                    each k,v in fields[name].schema
                        div(class='form-group clearfix index_' + indexCounter)
                            label.col-lg-3.text-lg-right #{k.label}
                            .col-lg-9
                                if k.type == 'text' 
                                    textarea(
                                        id=name + '_' + v
                                        name=name + '[' + indexCounter + '][' + v + ']'
                                        placeholder=k.placeholder ? k.placeholder : k.label
                                      ).form-control #{k[counter]}
                                else
                                    input(
                                        id=name + '_' + v
                                        name=name + '[' + indexCounter + '][' + v + ']'
                                        placeholder=k.placeholder ? k.placeholder : k.label
                                        type=k.type
                                        value=k[counter]
                                    ).form-control
                        - counter ++
                    - indexCounter ++
                else
                    - counter = 0
                    - indexCounter = attr.index || 0
                    - var kkeys = Object.keys(values[name])
                    each el in values[name]
                        .delete-section-container
                            a(href="#" data-section=name data-index=indexCounter).delete-section
                                i.fa.fa-times
                        each k1,v in fields[name].schema
                            - var k = values[name][kkeys[counter]][v]
                            - var t = fields[name].schema[v]
                            div(class='form-group clearfix index_' + indexCounter )
                                label.col-lg-3.col-md-12.text-lg-right.p-sm-0 #{t.label}
                                .col-lg-9.col-md-12.p-sm-0
                                    if t.type == 'text' 
                                        textarea(
                                            id=name + '_' + v
                                            name=name + '[' + indexCounter + '][' + v + ']'
                                            placeholder=t.placeholder ? t.placeholder : t.label
                                          ).form-control #{k}
                                    else
                                        input(
                                            id=name + '_' + v
                                            name=name + '[' + indexCounter + '][' + v + ']'
                                            placeholder=t.placeholder ? t.placeholder : t.label
                                            type=t.type
                                            value=k
                                        ).form-control
                        - counter ++
                        - indexCounter ++
        else if attr.type == 'jsonVideo' 
                - counter = attr.index || 0
                - indexCounter = attr.index || 0
                if values[name].length == 0
                    div(class='form-group clearfix index_' + indexCounter)
                        .delete-section-container
                            a(href="#" data-section=name).delete-section
                                i.fa.fa-times
                        .col-lg-7.videoInteractive.p-sm-0
                            each k1,v in fields[name].schema
                                - var t = fields[name].schema[v]
                                .form-group.clearfix
                                    label.col-lg-5.col-md-12.col-xs-12.text-lg-right.font-weight-bold.p-sm-0 #{t.label}
                                    .col-lg-7.col-md-12.col-xs-12.p-sm-0
                                        input(
                                            id=name + '_' + v
                                            name=name + '[' + indexCounter + '][' + v + ']'
                                            placeholder=t.placeholder ? t.placeholder : t.label
                                            type=t.type
                                            class=name + '_' + v + ' form-control'
                                        )
                        .col-lg-5.p-l-1.p-r-3.col-md-12.col-xs-12.p-sm-0 
                            .embed-responsive.embed-responsive-16by9 
                                iframe.embed-responsive-item(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true")
                else
                    - counter = 0
                    - indexCounter = attr.index || 0
                    - var kkeys = Object.keys(values[name])
                    each el in values[name]
                        div(class='form-group clearfix index_' + indexCounter)
                            .delete-section-container
                                a(href="#" data-section=name data-index=indexCounter).delete-section
                                    i.fa.fa-times
                            .col-lg-7.videoInteractive.p-sm-0.p-r-0
                                each k1,v in fields[name].schema
                                    - var k = values[name][kkeys[counter]][v]
                                    - var t = fields[name].schema[v]
                                    .form-group.clearfix
                                        label.col-lg-5.col-md-12.col-xs-12.text-lg-right.font-weight-bold.p-sm-0 #{t.label}
                                        .col-lg-7.col-md-12.col-xs-12.p-sm-0
                                            input(
                                                id=name + '_' + v
                                                name=name + '[' + indexCounter + '][' + v + ']'
                                                placeholder=t.placeholder ? t.placeholder : t.label
                                                type=t.type
                                                value=k
                                                class=name + '_' + v + ' form-control'
                                            )
                            .col-lg-5.p-l-1.p-r-3.col-md-12.col-xs-12.p-sm-0  
                                .embed-responsive.embed-responsive-16by9 
                                    - var link = app.getVideoId(values[name][kkeys[counter]].link)
                                    iframe.embed-responsive-item(src="//www.youtube.com/embed/" + link + "?rel=0" allowfullscreen="true")
                        - counter ++
                        - indexCounter ++
        else
                label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= fields[name].label
                div(class=attr.class2)
                    input(
                        id=name
                        name=name
                        placeholder=attr.placeholder ? attr.placeholder : fields[name].label
                        type=attr.type ? attr.type : 'text'
                        class=(fields[name].help_text ? 'showPopover' : '') 
                        data-content=(fields[name].help_text ? fields[name].help_text : '')
                        value=values[name]
                        maxlength = attr.maxlength ? attr.maxlength : false
                        disabled=(attr.disabled ? attr.disabled : false)
                      ).form-control

mixin fieldDropzone(name, attr, type)
    // If we did not created fields vocabulary
    // Assume it is empty field
    if fields[name] == null
        - console.log('bad field', name);
        - fields[name] = {}
        - fields[name]['label'] = name
        - fields[name]['required'] = false

    if values == null
        - values = {}
    if values[name] == null
        - values[name] = data

    - type = attr.viewType ? attr.viewType : 1

    if type == 1
        div(
            class='row media-item ' + name + (fields[name].help_text ? ' showPopover' : '')
            data-content=(fields[name].help_text ? fields[name].help_text : '')
        )
            div(class=attr.class1 + ' ' + (fields[name].required == true ? ' required ' : ' ') )
              //- .col-lg-5.col-md-3.col-xs-12
              //-     span.pull-right.pull-xs-none.font-weight-bold #{fields[name].label}
              span.pull-right.pull-xs-none.font-weight-bold #{fields[name].label}

              //- div(class='col-lg-7 col-md-6 col-xs-12 text-xs-center text-md-center text-lg-center ' + ' dropzone__' + name)
              //-   span(class='link-1' href="#")
              //-       p.drop-photo #{attr.text}
              //-       i(class="fa fa-" + attr.icon)

              //- div(class='dropzone__' + name + ' col-lg-7 text-lg-center')
              //-   span drop<br>drop<br>drop
                    //- p.drop-photo #{attr.text}
                    //- i(class="fa fa-" + attr.icon)
            //- div(class=attr.class2)
            div(class=(attr.class2 + ' dropzone__' + name))
                div(class="border-dropzone")
                    div(class="uploading" style="line-height:115px;text-align:center;position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;z-index:1;display:none;background-color: rgba(255,255,255,0.8);")
                        img(alt="activity indicator" src="/img/ajax-loader.gif")
                    span
                        //- div(class='col-lg-7 col-md-6 col-xs-12 text-xs-center text-md-center text-lg-center ' + ' dropzone__' + name)
                        div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
                            span(class='link-1' href="#")
                                p.drop-photo #{attr.text}
                                i(class="fa fa-" + attr.icon)
                        div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-3.img-dropzone
                            //- span
                            img(src=dropzoneHelpers.getDropzoneUrl(name, attr, values) alt=fields[name].label class="img-fluid  img-" + name)


    else if type == 2
        div(
            class='col-lg-3  media-item' + (fields[name].help_text ? ' showPopover' : '')
            data-content=(fields[name].help_text ? fields[name].help_text : '')
        )
            //- div(class=attr.class1)
            div(class='text-sm-center col-md-12  p-r-0 text-lg-right text-xs-center')
                span.pull-right.pull-xs-none.font-weight-bold #{fields[name].label}
            //- div(class=attr.class2 + ' text-lg-center text-xs-center text-md-center')
            //-     span(href="#").link-1
            //-         p.drop-photo #{attr.text}
            //-         i(class='fa fa-' + attr.icon)
        //- .col-lg-5.p-l-1.p-r-3.p-sm-0.col-md-12.col-xs-12
        //- div(class='col-lg-5 p-l-1 p-r-3 p-sm-0 col-md-12 col-xs-12' style="border:solid 1px red;")
        div(class='dropzone__' + name + ' col-lg-9 p-l-1 p-r-3 p-sm-0 col-md-12 col-xs-12')
            div(class="border-dropzone")
                span
                    div(class=attr.class1 + ' text-lg-center text-xs-center text-md-center media-item')
                        span(href="#").link-1
                            p.drop-photo #{attr.text}
                            i(class='fa fa-' + attr.icon)
                    .all-gallery(class=attr.class2 )
                        .photo-scroll(style="min-height:5rem;")
                            if values[name + '_data']
                                each v,k in values[name+'_data'].all_files
                                    .thumb-image-container(style="float: left; overflow: hidden; position: relative;")
                                        .delete-image-container(style="position: absolute;")
                                            a(href="#" data-id=v.id).delete-image
                                                i.fa.fa-times
                                        img( src=v.url).img-fluid.pull-left
    else if type == 3
      .drop-photo-block
        h3.widget-title.font-alt #{ attr.title }
        div(class='dropzone__' + name)
          img(src=attr.url)
          .drop-image-title.text-xs-center 
              span Drop your profile photo here or click to upload
              div
                  i.fa.fa-camera 
