include mixins.pug

+breadcrumbs(page.title, 'Subtitle', [['home', '/',], [ 'current', page.get_absolute_url]])

section
    .container
        .row
            .col-lg-3.pull-lg-left
                .sidebar_title
                    h4 See Also
                ul.sidebar_link
                    each p, i in related_pages
                        if p.level == page.level
                            li
                                a(href=p.url) #{ p.title }

            .col-lg-9.pull-lg-right
                //.temp eac h content_items, i i n page.page_content_items
                    //p.content  content_items.content_item.content_html 
                    //.temp  eac h content, k i n content_items.content_item
                        //p.content #{ content }, #{ k }
                ul
                    li!= page.created
