- 'use strict';

mixin fieldBlock(name, data, attr)

  // If we did not created fields vocabulary
  // Assume it is empty field
  if fields[name] == null
    - console.log('bad field', name);
    - fields[name] = {}
    - fields[name]['label'] = name
    - fields[name]['required'] = false
  if values == null
    - values = {}
  if values[name] == null
    - values[name] = data
  - attr.type = attr.type ? attr.type : fields[name].type

  div(class=(attr.type != 'json' ? "form-group " : '' ) + (attr.row == 0 ? '' : 'row ') + name + (fields[name].required == true ? ' required ' : ' ') + ' ' + attr.type)
    if attr.type == 'checkbox'
      div(class=(attr.class1 ? attr.class1 : 'col-md-2') + ' text-md-right text-xs-right')
        input(
          id=name
          name=name
          value=values[name]
          type="checkbox"
        ).form-check-input
      div(class=attr.class2 ? attr.class2 : 'col-md-10')
        label(for=name).text-justify #{attr.text}
    else if attr.type == 'radio'
      label(class= attr.text_align ? 'text-md-' + attr.text_align + ' ' + attr.class1 : ' text-md-right ' + attr.class1 for=name)= (attr.label ? attr.label : fields[name].label)
      div(class=attr.class2 + ' radio-input')
        each v in fields[name].choices
          label
            input(
            type="radio"
            class="form-check-input"
            name=name
            checked=(v.value == values[name] ? "checked" : undefined)
            value=v.value)
            | #{v.display_name}
    else if attr.type == 'choice'
      label(class=attr.text_align ? 'text-md-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= (attr.label ? attr.label : fields[name].label)
      div(
        class=attr.class2 + (attr.help_text ? ' showPopover' : '')
        data-content=(attr.help_text ? attr.help_text : '')
      )
        select(
          id=name
          name=name
        ).custom-select
          if attr.hasOwnProperty('empty')
            option(value=attr.empty.value) #{attr.empty.display}

          each v in fields[name].choices
            option(value=v.value selected=(v.value == values[name] ? "selected" : undefined)) #{v.display_name}
    else if attr.type == 'date'
      label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= (attr.label ? attr.label : fields[name].label)
      div(class=attr.class2 id=name).date-input
        - var data = values[name] ? values[name].split('-') : []
        .col-lg-4.col-md-4.no-gutter.p-l-0.p-r-0
          input(
          id=name + '__month'
          name=name + '__month'
          placeholder="MM"
          type='text'
          maxlength=2
          value=data[1]
          ).form-control
        .col-lg-4.col-md-4.no-gutter.p-l-0.p-r-0
          input(
          id=name + '__day'
          name=name + '__day'
          placeholder="DD"
          type='text'
          maxlength=2
          value=data[2]
          ).form-control
        .col-lg-4.col-md-4.no-gutter.p-r-0.p-l-0
          input(
          id=name + '__year'
          name=name + '__year'
          placeholder="YYYY"
          type='text'
          maxlength=4
          value=data[0]
          ).form-control
    else if attr.type == 'textarea'
      label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= (attr.label ? attr.label : fields[name].label)
      div(class=attr.class2)
        textarea(
        id=name
        name=name
        class=(fields[name].help_text ? 'showPopover' : '')
        data-content=(fields[name].help_text ? fields[name].help_text : '')
        placeholder=attr.placeholder ? attr.placeholder : fields[name].label
        ).form-control #{values[name]}

    else if attr.type == 'json'
      - counter = attr.index || 0
      - indexCounter = attr.index || 0
      if values[name].length == 0
        .delete-section-container
          a(href="#" data-section=name data-index=indexCounter).delete-section
            i.fa.fa-times
        each k,v in fields[name].schema
          div(class='form-group clearfix index_' + indexCounter + ' ' + (k.required == true ? ' required ' : ' '))
            label.col-lg-3.text-lg-right.p-t-0.p-l-3.p-sm-0.m-b-0 #{k.label}
            div(
            class=(fields[name].help_text && v == 'title' ? ' showPopover' : '')
            data-content=(fields[name].help_text && v == 'title' ? fields[name].help_text : 'disabled')
            ).col-lg-9.col-md-12.p-sm-0
              if k.type == 'text'
                textarea(
                id=name + '_' + indexCounter + '_' + v
                class=name + '_' + indexCounter + '_' + v + " form-control"
                name=name + '[' + indexCounter + '][' + v + ']'
                placeholder=k.placeholder ? k.placeholder : k.label
                maxLength=k.maxLength ? k.maxLength : ''
                ) #{k[counter]}
              else
                input(
                id=name + '_' + indexCounter + '_' + v
                class=name + '_' + indexCounter + '_' + v + " form-control"
                name=name + '[' + indexCounter + '][' + v + ']'
                placeholder=k.placeholder ? k.placeholder : k.label
                maxLength=k.maxLength ? k.maxLength : ''
                type=k.type
                value=k[counter]
                )
          - counter ++
        - indexCounter ++
      else
        - counter = 0
        - indexCounter = attr.index || 0
        - var kkeys = Object.keys(values[name])
        each el in values[name]
          if values[name][kkeys[counter]]
            .delete-section-container.col-lg-12
              a(href="#" data-section=name data-index=indexCounter).delete-section
                i.fa.fa-times

            each k1,v in fields[name].schema
              - var k = values[name][kkeys[counter]][v]
              - var t = fields[name].schema[v]

              div(class='form-group clearfix index_' + indexCounter + ' ' + (k.required == true ? ' required ' : ' '))
                label.col-lg-3.col-md-12.text-lg-right.p-l-3.p-sm-0.m-b-0.p-t-0 #{t.label}
                div(
                class=(fields[name].help_text && v == 'title' ? ' showPopover' : '')
                data-content=(fields[name].help_text && v == 'title' ? fields[name].help_text : 'disabled')
                ).col-lg-9.col-md-12.p-sm-0
                  if t.type == 'text'
                    textarea(
                    id=name + '_' + indexCounter + '_' + v
                    class=name + '_' + indexCounter + '_' + v + " form-control"
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=t.placeholder ? t.placeholder : t.label
                    maxLength=t.maxLength ? t.maxLength : ''
                    ) #{k}
                  else
                    input(
                    id=name + '_' + indexCounter + '_' + v
                    class=name + '_' + indexCounter + '_' + v + " form-control"
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=t.placeholder ? t.placeholder : t.label
                    maxLength=t.maxLength ? t.maxLength : ''
                    type=t.type
                    value=k
                    )
          - counter ++
          - indexCounter ++
    else if attr.type == 'jsonVideo'
      - counter = attr.index || 0
      - indexCounter = attr.index || 0
      if values[name].length == 0
        div(class='form-group clearfix index_' + indexCounter)
          .delete-section-container
            a(href="#" data-section=name data-index=indexCounter).delete-section
              i.fa.fa-times
          .col-lg-7.videoInteractive.p-sm-0
            each k1,v in fields[name].schema
              - var t = fields[name].schema[v]
              .form-group.clearfix
                label.col-lg-5.col-md-12.col-xs-12.text-lg-right.font-weight-bold.p-sm-0 #{t.label}
                .col-lg-7.col-md-12.col-xs-12.p-sm-0
                  input(
                  id=name + '_' + indexCounter + '_' + v
                  name=name + '[' + indexCounter + '][' + v + ']'
                  placeholder=t.placeholder ? t.placeholder : t.label
                  type=t.type
                  class=name + '_' + indexCounter + '_' + v + ' form-control'
                  data-index=indexCounter
                  )
          .col-lg-5.p-l-1.col-md-12.col-xs-12.p-sm-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true")
      else
        - counter = 0
        - indexCounter = attr.index || 0
        - var kkeys = Object.keys(values[name])
        each el in values[name]
          if values[name][kkeys[counter]]
            div(class='form-group col-lg-12 clearfix index_' + indexCounter)
              .delete-section-container
                a(href="#" data-section=name data-index=indexCounter).delete-section
                  i.fa.fa-times
              .col-lg-7.videoInteractive.p-sm-0.p-r-0
                each k1,v in fields[name].schema
                  if values[name][kkeys[counter]]
                    - var k = values[name][kkeys[counter]][v]
                    - var t = fields[name].schema[v]
                    .form-group.clearfix
                      label.col-lg-5.col-md-12.col-xs-12.text-lg-right.font-weight-bold.p-sm-0 #{t.label}
                      .col-lg-7.col-md-12.col-xs-12.p-sm-0
                        input(
                        id=name + '_' + v
                        name=name + '[' + indexCounter + '][' + v + ']'
                        placeholder=t.placeholder ? t.placeholder : t.label
                        type=t.type
                        value=k
                        class=name + '_' + v + ' form-control'
                        data-index=indexCounter
                        )
              if values[name][kkeys[counter]]
                .col-lg-5.p-l-1.col-md-12.col-xs-12.p-sm-0.p-r-0
                  .embed-responsive.embed-responsive-16by9
                    - var additionalVideo = app.getVideoInfo(values[name][kkeys[counter]].link);
                    if additionalVideo && additionalVideo.provider == 'youtube'
                      iframe.embed-responsive-item(src="//www.youtube.com/embed/" + additionalVideo.id + "?rel=0" allowfullscreen="true")
                    else if additionalVideo && additionalVideo.provider == 'vimeo'
                      iframe.embed-responsive-item(src="//player.vimeo.com/video/" + additionalVideo.id allowfullscreen="true")
                    else
                      iframe.embed-responsive-item(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true")
          - counter ++
          - indexCounter ++
    else
      label(class= attr.text_align ? 'text-lg-' + attr.text_align + ' ' + attr.class1 : ' text-lg-right ' + attr.class1 for=name)= (attr.label ? attr.label : fields[name].label)
      div(class=attr.class2)
        input(
        id=name
        name=(name)
        placeholder=attr.placeholder ? attr.placeholder : fields[name].label
        type=attr.type ? attr.type : 'text'
        class=(fields[name].help_text ? 'showPopover' : '')
        data-content=(fields[name].help_text ? fields[name].help_text : '')
        value=values[name]
        maxlength = attr.maxlength ? attr.maxlength : false
        disabled=(attr.disabled ? attr.disabled : false)
        readonly=(attr.readonly ? attr.readonly : false)
        ).form-control

-
  counter = 0
  indexCounter = attr.index || 0

.delete-section-container.col-lg-12
  a(href="#" data-section=name data-index=indexCounter).delete-section
    i.fa.fa-times

if attr.type == 'jsonVideo'
  div(class='form-group clearfix videoInteractive index_' + indexCounter)
    .col-lg-7.videoInteractive.p-sm-0.p-r-0
      each k1,v in fields[name].schema
        - var t = fields[name].schema[v]
        .form-group.clearfix
          label.col-lg-5.col-md-12.col-xs-12.text-lg-right.font-weight-bold.p-sm-0 #{t.label}
          .col-lg-7.col-md-12.col-xs-12.p-sm-0
            input(
            id=name + '_' + v
            class=name + '_' + v + ' form-control'
            name=name + '[' + indexCounter + '][' + v + ']'
            placeholder=t.placeholder ? t.placeholder : t.label
            type=t.type
            data-index=indexCounter
            )
    .col-lg-5.p-l-1.col-md-12.col-xs-12.p-sm-0
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true")
else if attr.type == 'position'
  div(class='form-group clearfix index_' + indexCounter)
    label.col-lg-3.col-md-12.text-lg-right.p-sm-0= fields[name].schema.position.label
    .col-lg-9.col-md-12.p-sm0
      input(
      class=name + ' form-control'
      data-index=indexCounter
      )
  div(class='index_' + indexCounter)
    .col-lg-6.col-md-12
      .col-lg-6.text-lg-right.text-md-left.p-t-0
        label.p-t-0.m-b-0 Start Date of Service
      .col-lg-6.p-r-0
        .row
          .col-lg-6.p-r-0
            .row
              .col-lg-6.p-r-0
                input(type="number"  placeholder="MM").form-control
              .col-lg-6.p-r-0
                input(type="number"  placeholder="YYYY").form-control
        .col-lg-6.p-l-0.col-md-12.form-group
          .col-lg-6.text-lg-right.text-md-left.p-t-0
            label.p-t-0.m-b-0.p-l-2 End Date of Service
          .col-lg-6
            .row
              .col-lg-6.p-r-0
                input(type="number"  placeholder="MM").form-control
              .col-lg-6.p-r-0
              input(type="number"  placeholder="YYYY").form-control
else if attr.type == 'experience'
  div(class='index_' + indexCounter + ' ' + (k.required == true ? ' required ' : ' '))
    .col-lg-12
    +fieldBlock("employer", '', {
      class1: 'col-lg-3 col-md-12 text-md-left m-b-0',
      class2: 'col-lg-9 col-md-12',
      type: 'text',
      placeholder: 'Employer',
    })
    +fieldBlock("employers_principal", '', {
      class1: 'col-lg-3 col-md-12 text-md-left p-t-0 m-b-0',
      class2: 'col-lg-9 col-md-12',
      type: 'text',
      placeholder: 'Employer’s Principal Business',
    })
    +fieldBlock("title", '', {
      class1: 'col-lg-3 col-md-12 text-md-left  m-b-0',
      class2: 'col-lg-9 col-md-12',
      type: 'text',
      placeholder: 'Title',
    })
    +fieldBlock("responsibilities", '', {
      class1: 'col-lg-3 col-md-12 text-md-left  m-b-0',
      class2: 'col-lg-9 col-md-12',
      type: 'text',
      placeholder: 'Responsibilities',
    })
    .row
      .col-lg-6.col-md-12
        .col-lg-6.text-lg-right.text-md-left.p-t-0
          label.p-t-0.m-b-0 Start Date of Service
        .col-lg-6.p-r-0
          .row
            .col-lg-6.p-r-0
              input(type="number"  placeholder="MM").form-control
            .col-lg-6.p-r-0
              input(type="number"  placeholder="YYYY").form-control
      .col-lg-6.p-l-0.col-md-12.form-group
        .col-lg-6.text-lg-right.text-md-left.p-t-0
          label.p-t-0.m-b-0.p-l-2 End Date of Service

        .col-lg-6
          .row
            .col-lg-6.p-r-0
              input(type="number"  placeholder="MM").form-control
            .col-lg-6.p-r-0
              input(type="number"  placeholder="YYYY").form-control
else
  each k,v in fields[name].schema
    //- why do we need .videoInteractive here? this is probably for text fields
    //- Arthur Yip 9-22-2016
    div(class='form-group clearfix videoInteractive index_' + indexCounter)
      label.col-lg-3.col-md-12.text-lg-right.p-sm-0.p-t-0.p-l-3.p-sm-0.m-b-0 #{k.label}
      .col-lg-9.col-md-12.p-sm-0
        if k.type == 'text'
          textarea(
            id=name + '_' + v
            class=name + '_' + v + ' form-control'
            name=name + '[' + indexCounter + '][' + v + ']'
            placeholder=k.placeholder ? k.placeholder : k.label
            maxLength=k.maxLength ? k.maxLength : ''
            data-index=indexCounter
          )
        else
          input(
            id=name + '_' + v
            class=name + '_' + v + ' form-control'
            name=name + '[' + indexCounter + '][' + v + ']'
            placeholder=k.placeholder ? k.placeholder : k.label
            maxLength=k.maxLength ? k.maxLength : ''
            data-index=indexCounter
            type=k.inputType ? k.inputType : ''
          )
- counter ++
