include mixins.pug

- counter = 0
- indexCounter = attr.index || 0

a(href="#" data-section=name data-index=indexCounter).delete-section.pull-right
    i.fa.fa-times
each k,v in fields[name].schema
    div(class='form-group clearfix index_' + indexCounter)
        label.col-lg-3.text-lg-right #{k.label}
        .col-lg-9
            if k.type == 'text' 
                textarea(
                    id=name + '_' + v
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=k.placeholder ? k.placeholder : k.label
                  ).form-control
            else
                input(
                    id=name + '_' + v
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=k.placeholder ? k.placeholder : k.label
                ).form-control
- counter ++
