include mixins.pug

- counter = 0
- console.log('asdf', attr);
- indexCounter = attr.index || 0

each k,v in fields[name].schema
    div(class=(counter == (Object.keys(fields[name].schema).length-1) ? 'm-b-0' : 'form-group') + ' clearfix')
        label.col-lg-3.text-lg-right #{k.label}
        .col-lg-9
            if k.type == 'text' 
                textarea(
                    id=name + '_' + v
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=k.placeholder ? k.placeholder : k.label
                  ).form-control #{k[counter]}
            else
                input(
                    id=name + '_' + v
                    name=name + '[' + indexCounter + '][' + v + ']'
                    placeholder=k.placeholder ? k.placeholder : k.label
                    type=k.type
                    value=k[counter]
                ).form-control
    - counter ++
