
div(
  class='row media-item ' + (attr.class || '') + ' ' + (attr.id || name) +
  (attr.required == true ? ' required ' : ' ') + ' imageDropzone' + ' teamMemberDropzone' +
  (attr.help_text ? ' showPopover' : '')
  data-content=(attr.help_text ? attr.help_text : '')
  )
    div(class=attr.class1 + ' ' + (attr.required == true ? ' required ' : ' ') )
      label(for=attr.id || name)!= attr.label

    div(class=(attr.class2 + ' dropzone__' + name))
      div(class=" col-lg-12 p-r-0 border-dropzone")
        div(class="uploading collapse")
          img(alt="activity indicator" src="/img/ajax-loader.gif")
        span
          div.col-xl-6.col-lg-6.col-md-6.col-sm-6.p-r-2.col-xs-12.text-xs-center.text-md-center.text-lg-center.p-dropzone
            a(class='link-1' href="#" onclick="return false")
              p.drop-photo #{attr.text}
              i(class="fa fa-" + attr.icon)
          div(id=name).col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12.img-dropzone.text-xs-center
            .row
              .col-xl-12.one-photo
                - var id = attr.data.id || 0;
                - var url = attr.data.urls[0] || "/img/default/255x153.png";
                if attr.data.urls[0]
                  .delete-image-container
                    a(href="#" data-imageid=id).crop-image
                      i.fa.fa-crop
                    a(href="#" data-imageid=id).delete-image
                      i.fa.fa-times
                img(class=("img-" + name) src=url).img-fluid.img-circle.img-photo