.container.comments.m-t-3
  .col-xl-8.offset-xl-2
    .div
      .single-comment.col-xl-12
        .author-info
          .row
            .col-xl-12
              .comment-img
                img(src=require('images/pages/andrew.jpg') alt="").img-circle
              .author-heading
                h4.text-uppercase.author-mane Ostap jl kajwd
                span.kvalificatio-comments COE
                p.date-comments 2 Days Ago
          .row
            .col-xl-12
              .author-comment
                p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять дополнительные меры, допускать до оставления комментариев только зарегистрированных пользователей, тем более, что интеграция сайта с социальными сетями позволяет это сделать. Спасибо разработчикам.
              div.responce.comment-actions
                    li.icon-comment
                      i.fa.fa-comment-o.p-r-5
                      a(href="#").link-1.link-response-count
                        span.count 2
                        i.fa.fa-angle-up
                    li.reply
                      span.reply-left |
                      a(href="#").link-1.link-reply Reply
                      span.reply-right |
        .multilevel-comments
          .single-comment.col-xl-12
            .author-info
              .row
                .col-xl-12
                  .comment-img
                    img(src=require('images/pages/andrew.jpg') alt="").img-circle
                  .author-heading
                    h4.text-uppercase.author-mane Ostap jl kajwd lkjawdl
                    span.kvalificatio-comments Founder
                    p.date-comments 2 Days Ago
              .row
                .col-xl-12
                  .author-comment
                    p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять
                  div.responce.comment-actions
                    li.icon-comment
                      i.fa.fa-comment-o.p-r-5
                      a(href="#").link-1.link-response-count
                        span.count 2
                        i.fa.fa-angle-up
                    li.reply
                      span.reply-left |
                      a(href="#").link-1.link-reply Reply
                      span.reply-right |
          .single-comment.col-xl-12
            .author-info
              .row
                .col-xl-12
                  .comment-img
                    img(src=require('images/pages/andrew.jpg') alt="").img-circle
                  .author-heading
                    h4.text-uppercase.author-mane Ostap jl
                    span.kvalificatio-comments COE
              .row
                .col-xl-12
                  .author-comment
                    p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять
                  div.responce.comment-actions
                    li.icon-comment
                      i.fa.fa-comment-o.p-r-5
                      a(href="#").link-1.link-response-count
                        span.count 2
                        i.fa.fa-angle-up
                    li.reply
                      span.reply-left |
                      a(href="#").link-1.link-reply Reply
                      span.reply-right |
            .multilevel-comments
              .single-comment.col-xl-12
                .author-info
                  .row
                    .col-xl-12
                      .comment-img
                        img(src=require('images/pages/andrew.jpg') alt="").img-circle
                      .author-heading
                        h4.text-uppercase.author-mane Ostap jl kajwd lkjawdl
                        span.kvalificatio-comments Shareholder
                  .row
                    .col-xl-12
                      .author-comment
                        p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять
              .single-comment.col-xl-12
                .author-info
                  .row
                    .col-xl-12
                      .comment-img
                        img(src=require('images/pages/andrew.jpg') alt="").img-circle
                      .author-heading
                        h4.text-uppercase.author-mane Ostap jl kajwd lkjawdl
                        span.kvalificatio-comments Shareholder
                  .row
                    .col-xl-12
                      .author-comment
                        p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять
      .single-comment.col-xl-12
        .author-info
          .row
            .col-xl-12
              .comment-img
                img(src=require('images/pages/andrew.jpg') alt="").img-circle
              .author-heading
                h4.text-uppercase.author-mane Ostap jl kajwd
                span.kvalificatio-comments COE
          .row
            .col-xl-12
              .author-comment
                p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять дополнительные меры, допускать до оставления комментариев только зарегистрированных пользователей, тем более, что интеграция сайта с социальными сетями позволяет это сделать. Спасибо разработчикам.
      .single-comment.col-xl-12
        .author-info
          .row
            .col-xl-12
              .comment-img
                img(src=require('images/pages/andrew.jpg') alt="").img-circle
              .author-heading
                h4.text-uppercase.author-mane Ostap jl kajwd
                span.kvalificatio-comments COE
          .row
            .col-xl-12
              .author-comment
                p.comment Функционал программы впечатляет. Принял решение поменять у себя на сайте программу комментирования статей и остановился на вашей. Чтобы избавиться от спама надо принять дополнительные меры, допускать до оставления комментариев только зарегистрированных пользователей, тем более, что интеграция сайта с социальными сетями позволяет это сделать. Спасибо разработчикам.
