include mixins.pug

section.singup.m-t-85
    .container
        .col-lg-12
            h2.dosis.text-uppercase.text-sm-center.text-xs-center sign up
                p.small-text Have an account?
                    a(href="/account/login").link-3  Log In
        
        .col-lg-4.offset-lg-4
            form(action="" metod="post").form-section.signup-form
                .col-lg-12
                    .form-group.row.clearfix.required
                        input(type="text"
                        placeholder="First name"
                        name="first_name").form-control
                    .form-group.row.clearfix.required
                        input(type="text"
                        placeholder="Last name"
                        name="last_name").form-control
                    .form-group.row.clearfix.required
                        input(type="email"
                        placeholder="E-mail"
                        name="email").form-control
                    .form-group.row.clearfix.required
                        input(type="password"
                        placeholder="Password"
                        name="password1").form-control
                    .form-group.row.clearfix.required
                        input(type="password"
                        placeholder="Re-enter password"
                        name="password2").form-control
                    .form-group.row.clearfix.required
                        .row
                            .col-lg-12
                                label
                                    input(type="checkbox" name="checkbox1" value="1")
                                    span.label-text I consent to electronic signature and electronic delivery of documentation
                                label.p-t-6
                                    input(type="checkbox" name="checkbox2" value="1")
                                    span.label-text I agree to the
                                        a(href="/pg/terms_of_use").link-3  Terms of Service
                                        |  and 
                                        a(href="/pg/privacy_policy").link-3  Privacy Policy.
                .col-lg-12.m-t-1
                    .row.text-sm-center
                        button(type="submit")#register-submit-btn.btn.btn-primary.text-uppercase sign up
                .col-lg-12.border-bottom.or
                    span or
                .social-btn.col-lg-12
                    a(data-original-title="facebook"
                    href="#"
                    ).btn.btn-block.btn-facebook.text-uppercase
                        i.fa.fa-facebook
                        |  SIGN UP with Facebook
                    a(data-original-title="Linkedin"
                    href="#"
                    ).btn.btn-block.btn-linkedin.text-uppercase
                        i.fa.fa-linkedin
                        |  SIGN UP with linkedin
                    a(data-original-title="Google Plus"
                    href="#"
                    ).btn.btn-block.btn-google.text-uppercase
                        i.fa.fa-google-plus
                        |  SIGN UP with Google  
