-
  var cssClass = 'modal fade video-modal ' + (modalClass || '')
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class=cssClass)#videoModal
  div(role="document").modal-dialog.modal-lg
    button(type="button", data-dismiss="modal", aria-label="Close").close
      span(aria-hidden="true")
        i.fa.fa-times
    .modal-content
      .embed-responsive.embed-responsive-16by9
        iframe(
          src=url
          allowfullscreen="true"
          data-provider=provider
          data-id=id
        )#video-iframe-container.embed-responsive-item