mixin row(value, index)
  - var index = index;
  div
    .col-lg-12(data-index=index class=name + ' addSectionBlock')
      .delete-section-container
        a(href="#" data-section=name data-index=index).delete-sectionnew
          i.fa.fa-times
      .row
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'creditor', value, index, attr.schema.creditor)}
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'outstanding_amount', value, index, attr.schema.outstanding_amount)}

      .row
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'interest_rate', value, index, attr.schema.interest_rate)}
        .col-xl-6.col-lg-6.col-md-6
          .row.form-group
            .col-date
              label.col-xl-12 Maturity Date
                span.color-red *
              .col-xl-12
                div(id='business_loans_or_debt__' + index + '__maturity_date')
                  | !{app.fields.nestedDateMonth(name, 'maturity_date', value, index, attr.schema.maturity_date, {class1:'col-xl-4 col-lg-4 col-xs-4 p-l-0  m-d-p-r-5', placeholder: 'MM',})}

                  | !{app.fields.nestedDateDay(name, 'maturity_date', value, index, attr.schema.maturity_date, {class1:'col-xl-4 col-lg-4 col-xs-4 p-r-0  m-d-p-l-5', placeholder: 'DD',})}

                  | !{app.fields.nestedDateYear(name, 'maturity_date', value, index, attr.schema.maturity_date, {class1:'col-xl-4 col-lg-4 col-xs-4 p-r-0', placeholder: 'YYYY',})}

      | !{app.fields.nestedTextLabel(name, 'other_material_terms', value, index, attr.schema.other_material_terms)}

mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : ' ') + name + '_block' + (attr.required == true ? ' requiredNested ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : 'row ') + name + '_container' + (attr.required == true ? ' requiredNested ' : ' ') + ' nested')

        if values == null || values.length == 0
          +row({}, 0)

        else
          each value, index in values
            +row(value, index)
      .row.add-link
        .col-xl-12
          a(href="#" data-section=name data-comp='formc' data-template='business_loans_or_debt').link-2.add-sectionnew
            i.fa.fa-plus
            |  Add another loan or debt
  else
    +row({}, index)


+run()
