include ../../../../templates/fields_mixins.pug

mixin row(value, index)
  - var index = index;

  div(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times

    - console.log(name, value);
    +fieldNestedTextLabel(name, "creditor", value, index, {})
    +fieldNestedTextLabel(name, "outstanding_amount", value, index, {})
    +fieldNestedTextLabel(name, "interest_rate", value, index, {})
    +fieldNestedTextLabel(name, "maturity_date", value, index, {})
    +fieldNestedTextLabel(name, "other_material_terms", value, index, {})


mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : 'row ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : 'row ') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')

        if values == null || values.length == 0
          +row({}, 0)

        else
          each value, index in values
            - console.log(values, value, index);
            +row(value, index)

      .row.add-link
        .col-lg-9.offset-1.pull-right
          a(href="#" data-section=name data-comp='formc' data-template='business_loans_or_debt').link-2.add-sectionnew
            i.fa.fa-plus
            |  Add position
  else
    +row({}, index)


+run()
