include ../../../../templates/fields_mixins.pug

mixin row(value, index)
  - var index = index;
  .col-lg-12
    .col-lg-12(data-index=index class=name + ' addSectionBlock')
      .delete-section-container
        a(href="#" data-section=name data-index=index).delete-sectionnew
          i.fa.fa-times

      +fieldNestedTextLabel(name, "creditor", value, index, {class1:'col-xl-3 col-lg-12 text-lg-left text-xl-right', class2: 'col-xl-9 col-lg-12'})
      +fieldNestedTextLabel(name, "outstanding_amount", value, index, {class1:'col-xl-3 col-lg-12 text-lg-left text-xl-right m-b-0 p-t-0', class2: 'col-xl-9 col-lg-12'})
      +fieldNestedTextLabel(name, "interest_rate", value, index, {class1:'col-xl-3 col-lg-12 text-lg-left text-xl-right', class2: 'col-xl-9 col-lg-12'})
      .row.form-group
        .col-date#maturity_date
          label.col-xl-3.col-lg-12.text-xl-right.textlg-left Maturity Date
            span.color-red *
          .col-xl-4.col-lg-6.p-r-0
            +fieldDateMonth("maturity_date", _.extend({
              class: 'col-xl-4 col-lg-4 col-xs-4 p-l-0 m-d-p-r-5',
            }, fields))
            +fieldDateDay("maturity_date", _.extend({
              class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 m-d-p-l-5',
            }, fields))
            +fieldDateYear("maturity_date", _.extend({
              class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 m-d-p-l-10',
            }, fields))
      +fieldNestedTextLabel(name, "other_material_terms", value, index, {class1:'col-xl-3 col-lg-12 text-lg-left text-xl-right m-b-0 p-t-0', class2: 'col-xl-9 col-lg-12'})


mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : 'row ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : 'row ') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')

        if values == null || values.length == 0
          +row({}, 0)

        else
          each value, index in values
            +row(value, index)
      .col-lg-12.m-b-2
        .row.add-link
          .col-lg-9.offset-1.pull-right
            a(href="#" data-section=name data-comp='formc' data-template='business_loans_or_debt').link-2.add-sectionnew
              i.fa.fa-plus
              |  Add position
  else
    +row({}, index)


+run()
