include ../../../../templates/fields_mixins.pug

mixin row(value, index)
  - var index = index;

  div(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times

    +fieldNestedTextLabel(name, "amount_authroized", value, index, {})
    +fieldNestedTextLabel(name, "amount_outstanding", value, index, {})
    +fieldNestedTextLabel(name, "custom_security_type", value, index, {})
    +fieldNestedTextLabel(name, "security_type", value, index, {})
    +fieldNestedTextLabel(name, "terms_and_rights", value, index, {})
    +fieldNestedTextLabel(name, "voting_right", value, index, {})


mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : 'row ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : 'row ') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')

        if value == null || value.length == 0 || Object.keys(value) == 0
          +row({}, 0)

        else
          each value, index in values
            +row(value, index)

      .row.add-link
        .col-lg-9.offset-1.pull-right
          a(href="#" data-section=name data-comp='formc' data-template='outstanding_securities').link-2.add-sectionnew
            i.fa.fa-plus
            |  Add position
  else
    +row({}, index)


+run()
