
mixin row(value, index)
  - var index = index;
  
  div(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times
    | !{app.fields.nestedTextLabel(name, 'position', value, index, attr.schema.position)}
    .row
      .col-xl-6.col-lg-6.col-md-6
        .row.form-group
          label.col-xl-12.text-xl-left Start Date of Service
          .col-xl-12
            div(id=name + '__' + index + '__' + 'start_date_of_service').row
              
              | !{app.fields.nestedDateMonth(name, 'start_date_of_service', value, index, {class1:'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5'}, attr.schema.start_date_of_service)}
              | !{app.fields.nestedDateYear(name, 'start_date_of_service', value, index,{class1:'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5', placeholder: 'YYYY',}, attr.schema.start_date_of_service)}

              
      .col-xl-6.col-lg-6.col-md-6
        .row.form-group
          label.col-xl-12 End Date of Service
          .col-xl-12
            div(id=name + '__' + index + '__' + 'end_date_of_service').row
              | !{app.fields.nestedDateMonth(name, 'end_date_of_service', value, index, {class1:'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5'}, attr.schema.end_date_of_service)}
              | !{app.fields.nestedDateYear(name, 'end_date_of_service', value, index, {class1:'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5', placeholder: 'YYYY',}, attr.schema.end_date_of_service)}


mixin run()

  if first_run
    .row
      h3.text-xs-center.col-lg-12.m-t-0.m-b-1 Previously held a different position with the issuer? Please list them:

    div(class=(attr.row == 0 ? '' : '') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : '') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')

        if values == null || values.length == 0 || Object.keys(values).length == 0 
          +row({}, 0)

        else
          each value, index in values
            +row(value, index)
      .row.add-link
        .col-xl-12
          a(href="#" data-section=name data-comp='formc' data-template='positions').link-2.add-sectionnew
            i.fa.fa-plus
            |  Add position
  else
    +row({}, index)


+run()
