
mixin row(value, index)
  .col-xl-12
    div(data-index=index class=name + ' addSectionBlock')
      .delete-section-container
        a(href="#" data-section=name data-index=index).delete-sectionnew
          i.fa.fa-times
      .row
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'amount_of_interest', value, index, {placeholder: '$ Amount of Interest',}, attr.schema.amount_of_interest)}
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'relationship_to_issuer', value, index,  attr.schema.relationship_to_issuer)}
      .row
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'nature_of_interest', value, index, attr.schema.nature_of_interest)}
        .col-xl-6.col-lg-6.col-md-6
          | !{app.fields.nestedTextLabel(name, 'specified_person', value, index, attr.schema.specified_person)}

mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : 'row ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : ' ') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')

        if values == null || values.length == 0
          +row({}, 0)

        else
          each value, index in values
            +row(value, index)
      .add-link
        .col-xl-12
          a(href="#" data-section=name data-comp='formc' data-template='transaction_with_related_parties').link-2.add-sectionnew
            i.fa.fa-plus
            | Add Related Party

  else
    +row({}, index)

+run()
