-
  var security_type = require('consts/raisecapital/security_type.json');
  var industry = require('consts/raisecapital/industry.json').INDUSTRY;

.row
  for company in collection.data
    if company.isClosed() || (company.is_approved >= 6 && company.campaign.expired)
      - continue;
    .col-xl-4.col-lg-6.col-md-6.col-xs-12.col-sm-12
      a(href="/" + company.slug).block_link
      .one_block
        .for_img
          -
            var alternate = company.short_name || company.name;
          img(src=company.campaign.list_image_image_id.getUrl('350x209') alt=alternate).company-img
          .label
            if company.campaign.daysLeft() <= 30
              .deys-left.label-one #{ company.campaign.daysLeftText() }
            if company.campaign.fundedPercentage().actual >= 50 && company.campaign.fundedPercentage().actual <= 99
              .funded.label-one #{ company.campaign.fundedPercentage().actual }% Funded
            if company.campaign.fundedPercentage().actual >= 100
              .funded.label-one Trending
          if company.isNew()
            .is-new
              img(src=require("images/generals/is-new.png"), alt="")
          .more_inform
            .title
              if company.campaign.security_type == security_type.CommonEquity
                h3.text-uppercase Valuation: #{app.helpers.format.formatPrice(company.campaign.premoney_valuation)}
              else if company.campaign.security_type == security_type.RevenueShare
                h3.text-uppercase Percentage Revenue: #{company.campaign.percentage_revenue}%

            .bottom_pr
              if company.campaign.security_type == security_type.CommonEquity
                p Price per share: #{app.helpers.format.formatPrice(company.campaign.price_per_share)}
                p Number of shares: #{(Math.round(company.campaign.minimum_raise / company.campaign.price_per_share) || 0).toLocaleString('en-US')}
              else if company.campaign.security_type == security_type.RevenueShare
                //- p % Revenue: #{campaign.percentage_revenue}%
                p Cap: #{company.campaign.cap}x
                p Minimum Investment: $#{company.campaign.minimum_increment}
          if company.campaign.security_type == security_type.HybridSecurity
            .more_inform.combi
              .text-xs-left
                .invest
                  span.font-weight-light Invest up to 
                  strong #{app.helpers.format.formatPrice(company.campaign.hybrid_toggle_amount - 1)},
                .receive
                  span.font-weight-light receive 
                  h4.text-uppercase.d-inline-block Revenue Share
                .percentage Percentage revenue: #{company.campaign.percentage_revenue}%
                .cap Cap: #{company.campaign.cap}x
              .text-xs-right
                .invest
                  span.font-weight-light Invest 
                  strong #{app.helpers.format.formatPrice(company.campaign.hybrid_toggle_amount)}
                  span.font-weight-light  or more,
                .receive
                  span.font-weight-light receive 
                  h4.text-uppercase.d-inline-block Common Equity
                .val
                  | Valuation: #{app.helpers.format.formatPrice(company.campaign.premoney_valuation)}
                .price-par
                  | Price per share: #{app.helpers.format.formatPrice(company.campaign.price_per_share)}

            //hr
              .small_text
              if company.tagline
                h3.font-weight-light.letter-spacing-normal.m-t-2 #{company.tagline.substr(0, 120)}
        .title.text-xs-center
          h3.text-uppercase.m-t-0.m-x-auto= company.short_name || company.name
          span.place
            i.fa.fa-map-marker
            = company.city + ', ' + company.state
          .clear
        .description
          if company.brief
            | !{company.brief}

        .bottom_text
          span.left_desc
            i.fa.fa-get-pocket
            if company.campaign.security_type == security_type.CommonEquity
              h6.text-uppercase Common Equity
            else if company.campaign.security_type == security_type.RevenueShare
              h6.text-uppercase Revenue Share
            else
              h6.text-uppercase.combi Revenue Share common equity
            // #{company.campaign.security_type == security_type.CommonEquity ? 'Common Equity' : 'Revenue Share'}
          span.right_desc
            i.fa.fa-tags
            h6.text-uppercase  !{ industry[company.industry] || "Other" }
          .clear
