- var format = require('helpers/formatHelper.js');

.row
  for company in companies

    .col-xl-4.col-lg-6.col-xs-12.col-sm-12.col-md-12
      a(href="/" + company.id).block_link
      .one_block
        .for_img
          img(
            src=((company.campaign.list_image_data && company.campaign.list_image_data[0]) ? company.campaign.list_image_data[0].urls[0] : '/img/default/255x153.png')
            alt=company.name)

          .more_inform
            .title.text-center
              if company.campaign.security_type == 0
                h3 Valuation: #{format.formatPrice(company.campaign.premoney_valuation)}
              else
                h3 Percentage Revenue: #{company.campaign.percentage_revenue}%

            .small_text
              if company.tagline
                p #{company.tagline.substr(0, 120)}

            .ico_cont
              a(href="/" + company.id + '#team').link-1
                i.fa.fa-users
              a(href="/" + company.id + '#overview').link-1
                i.fa.fa-list

            .bottom_pr
              if company.campaign.security_type == 0
                p Price per share: #{format.formatPrice(company.campaign.price_per_share)}
                p Number of shares: #{(Math.round(company.campaign.minimum_increment / company.campaign.price_per_share) || 0).toLocaleString('en-US')}
              else
                //- p % Revenue: #{campaign.percentage_revenue}%
                p Cap: #{company.campaign.cap}X
                p Percentage Revenue: #{company.campaign.percentage_revenue}%

        .title.text-xs-center
          h3.m-t-0.m-x-auto= company.name
          span.place
            i.fa.fa-map-marker
            = company.city + ' ' + company.state
          .clear
        .description
          if company.description
            p= company.description.substr(0,250)

        .progress_bar_container
          span.left_text #{(company.campaign.amount_raised / company.campaign.minimum_raise) || 0} % Funded
          span.right_text 
            b #{format.formatPrice(company.campaign.amount_raised)} 
            | of #{format.formatPrice(company.campaign.minimum_raise)}
          .clear
            progress(value=company.campaign.progress max="100").progress #{company.campaign.progress} %

        .bottom_text
          span.left_desc
            b Security:
            | #{company.campaign.security_type == 0 ? 'Common Equity' : 'Revenue Share'}
          span.right_desc
            b Industry: 
            case company.industry
              when 1
                | Entertainment
              when 2
                | Food Service
              when 3
                | Technology
              when 4
                | Wellness
              when 5
                | Fashion
              when 6
                | Sports
              when 7
                | Environment
              when 8
                | Education
              when 9
                | Community
              default
                | Other 
          .clear
