- const format = require('helpers/formatHelper.js');

.row
    for campaign in campaigns

        .col-lg-4.col-xs-12.col-sm-12.col-md-12
            a(href=Urls['campaign-detail'](campaign.id)).block_link
            .one_block
                .for_img
                    img(
                      src=app.getThumbnail('255x153', campaign.list_image_data ? campaign.list_image_data.thumbnails : [], '/img/default/255x153.png')
                      alt=campaign.company.name
                    )

                    .more_inform
                        .title.text-center
                            if campaign.security_type == 0
                                h3 Valuation: #{format.formatPrice(campaign.premoney_valuation)}
                            else
                                h3 Percentage Revenue: #{campaign.percentage_revenue}%

                        .small_text
                            if campaign.company.tagline
                                p #{campaign.company.tagline.substr(0, 120)}

                        .ico_cont
                            a(href=Urls['campaign-detail'](campaign.id) + '#team').link-1
                                i.fa.fa-users
                            a(href=Urls['campaign-detail'](campaign.id) + '#overview').link-1
                                i.fa.fa-list

                        .bottom_pr
                            if campaign.security_type == 0
                                p Price per share: #{format.formatPrice(campaign.price_per_share)}
                                p Number of shares: #{format.formatNumber(campaign.min_number_of_shares)}
                            else
                                //- p % Revenue: #{campaign.percentage_revenue}%
                                p Cap: #{campaign.cap}X
                                p Expiration Date: #{campaign.expiration_date}


                .title.text-xs-center
                    h3.m-t-0= campaign.company.name
                    span.place
                        i.fa.fa-map-marker
                        = campaign.company.city + ' ' + campaign.company.state
                    .clear
                .description
                    if campaign.pitch
                        p= campaign.pitch.substr(0,250)

                .progress_bar_container
                    span.left_text #{campaign.progress} % Funded
                    span.right_text 
                        b #{format.formatPrice(campaign.amount_raised)} 
                        | of #{format.formatPrice(campaign.minimum_raise)}
                    .clear
                        progress.progress(value=campaign.progress max="100") #{campaign.progress} %

                .bottom_text
                    span.left_desc
                        b Security:
                        | #{campaign.get_security_type_display}
                    span.right_desc
                        b Industry: 
                        | Lorem ipsum
                    .clear
