- 'use strict';
include ../../../templates/mixins.pug

- var percentage_raised = formatHelper.calculateRaisedPercentage(values.campaign.minimum_raise, values.campaign.amount_raised)

section(style="background-image: url(" + (values.campaign.header_image_data && values.campaign.header_image_data[0] ? values.campaign.header_image_data[0].urls[0] : '/img/default.png') + ")")#home.home-section.bg-dark-alfa-70.parallax-2.fixed-height-small.hide-bg-fixed
  .js-height-parent.container-fluid
    .home-content
      .home-text.text-lg-center
        h1.hs-line-14.font-alt.margin-bottom-50.mb-xs-30 #{ values.name }
        .local-scroll
          a(data-toggle="modal" href="#videoModal" data-target="#videoModal").big-icon.link-6.youtube_popup
            i.fa.fa-play-circle-o
          a(href=values.website target="_blank").link-6.link-campaing-detail #{ formatHelper.getWebsiteUrl(values.website) }
          .row.social-link
            if values.facebook
              a(href=values.facebook target="_blank").link-6.link-campaing-detail
                i.fa.fa-facebook
            if values.twitter
              a(href=values.twitter target="_blank").link-6.link-campaing-detail
                i.fa.fa-twitter
            if values.instagram
              a(href=values.instagram target="_blank").link-6.link-campaing-detail
                i.fa.fa-instagram
            if values.linkedin
              a(href=values.linkedin target="_blank").link-6.link-campaing-detail
                i.fa.fa-linkedin

        // End Hero Content
  .top-info
    .container
      .top-info-wrap
        .top-info-wrap-item
          .col-lg-3.p-r-0.p-sm-0.text-xs-center.text-lg-left
            p Type of Security
            h2.font-weight-bold #{ values.campaign.security_type == 0 ? 'Common Equity' : 'Revenue Share' }
          if values.campaign.security_type == 0
            .col-lg-2.p-r-0.p-sm-0.text-xs-center.text-lg-left
              p Pre-Money Valuation
              h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.premoney_valuation) }
          else
            .col-lg-2.p-r-0.p-sm-0.text-xs-center.text-lg-left
              p Percentage Reveue
              h2.font-weight-bold #{ values.campaign.percentage_revenue }%
          .col-lg-2.p-r-0.p-sm-0.text-xs-center.text-lg-left
            p Days Left
            h2.font-weight-bold #{ values.campaign.length_days }
          .col-lg-4.p-sm-0.col-md-12.col-xs-12.pull-lg-right.text-xs-center
            a(href="/" + values.id + "/invest").btn.btn-primary.text-uppercase.pull-lg-right Invest

if app.getParams().preview == '1'
  div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish.modal.fade
    div(role="document").modal-dialog
      .modal-content
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
              i.fa.fa-times
          h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO SUBMIT YOUR CAMPAIGN

        .modal-body.m-b-2
          .form-section
            .col-lg-6.pull-left.p-l-0.general_information.collapse
              h3.m-b-0.m-t-0 General Information
            .col-lg-6.text-xs-right.m-b-10.p-r-0.general_information.collapse
              a(href="/campaign/general_information/" + values.id + "?check=1").btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .col-lg-6.pull-left.p-l-0.media.collapse
              h3.m-b-0.m-t-0 Media 
            .col-lg-6.text-xs-right.m-b-10.p-r-0.media.collapse
              a(href='/campaign/media/' + values.id + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .col-lg-6.pull-left.p-l-0.team-members.collapse
              h3.m-b-0.m-t-0 Team Members 
            .col-lg-6.text-xs-right.m-b-10.p-r-0.team-members.collapse
              a(href='/campaign/team-members/' + values.id + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .col-lg-6.pull-left.p-l-0.specifics.collapse
              h3.m-b-0.m-t-0 Specifics 
            .col-lg-6.text-xs-right.m-b-10.p-r-0.specifics.collapse
              a(href='/campaign/specifics/' + values.id + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .col-lg-6.pull-left.p-l-0.perks.collapse
              h3.m-b-0.m-t-0 Perks 
            .col-lg-6.text-xs-right.mb30.p-r-0.perks.collapse
              a(href='/campaign/perks/' + values.id + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
        .modal-footer
  div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish_confirm.modal.fade
    div(role="document").modal-dialog
      .modal-content
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
              i.fa.fa-times
          h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

        .modal-body.m-b-2
          .col-sm-12
            .result-info-block.m-x-auto.text-xs-center
              |  Once you submit, you will no longer have the ability to edit your Campaign
              .info-btn-block.mb30
                a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary Cancel
                a(href="/campaign/thankyou/" + values.id).btn.m-t-2.btn-primary.text-uppercase Yes
        .modal-footer
  section.edit-campaign.hidden-sm-down
    .edit-campaign-wrap
      .row
        a(href=app.getParams().previous).btn.btn-secondary.text-uppercase.m-b-2 Edit campaign
      .row
        button(type="button").btn.btn-primary.text-uppercase.submit_form Submit campaign

section.campaigndetail
  .container
    .col-lg-6.p-md-0
      h1.text-xs-center.text-lg-left #{ values.tagline }
      .row.mt20
        .col-lg-4.col-xs-6
          .sity-detail
            i.fa.fa-map-marker
            |  #{ values.city }, #{ values.state }
        .col-lg-6.col-xs-6
          .date-detail.pull-md-right.pull-lg-left
            i.fa.fa-calendar-check-o
            |  Founded #{ formatHelper.formatDate(values.founding_date) }
      .row
        .col-lg-12.share
          span.font-weight-bold.d-inline-block Share:
          .d-inline-block
            a(href=values.facebook).facebook-share
              i.fa.fa-facebook.link-1
            a(href=values.twitter).twitter-share
              i.fa.fa-twitter.link-1
            a(href=values.linkedin).linkedin-share
              i.fa.fa-linkedin.link-1
            a(href=values.linkedin).email-share
              i.fa.fa-envelope.link-1
            //- a(href=values.company.instagram).link-1
            //-   i.fa.fa-google-plus
    .col-lg-6.right-block-investors.p-l-0.p-sm-0
      .progress_bar_container
        //- span Less than 20% Funded
        span Less than #{ percentage_raised }% Funded
        span.pull-right Committed 
          span.committed #{ formatHelper.formatPrice(values.campaign.amount_raised)}
        .clear
        progress(value=percentage_raised max="100").progress
      .mt25
        .row.col-xl-8.col-md-6
          p Target
          h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.minimum_raise) } - #{ formatHelper.formatPrice(values.campaign.maximum_raise) }
        .row.col-xl-4.col-md-6.pull-lg-right
          p Minimum Investment
          h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.minimum_increment) }
        div(style="display: none").row.col-lg-12.investors-block
          .col-lg-2.p-l-0
            p Investors
            h2.font-weight-bold 17
          .col-lg-10.p-l-0
            ul
              li
                a(href="")
                  img(src="/img/avatar1.jpg" alt="...").img-circle
              li
                a(href="")
                  img(src="/img/avatar6.jpg" alt="...").img-circle
              li
                a(href="")
                  img(src="/img/avatar1.jpg" alt="...").img-circle
              li
                a(href="")
                  img(src="/img/avatar6.jpg" alt="...").img-circle
              li
                a(href="")
                  img(src="/img/avatar1.jpg" alt="...").img-circle
              a(href="#" style="display: none").link-1 see all...
section.border-bottom-scroll.hidden-lg-down
  .container.tabs-scroll
    nav(data-toggle="sticky-onscroll").navbar.navbar-default.sticky
      ul.nav.nav-pills.nav-pills-values
        li.nav-item.text-uppercase
          a(href="#about").nav-link.active About
        li.nav-item.text-uppercase
          a(href="#team").nav-link Team
        li.nav-item.text-uppercase
          a(href="#documents").nav-link Documents
        li.nav-item.text-uppercase
          a(href="#overview").nav-link Overview and terms
        li.nav-item.text-uppercase
          a(href="#faq").nav-link faq
        li.nav-item.text-uppercase
          a(href="#ask").nav-link Ask a Question
        a(href="/" + values.id + "/invest").btn.btn-primary.text-uppercase.pull-xl-right.pull-lg-left invest
section
  div(data-spy="scroll"
  data-target="#navbar-example2"
  data-offset="0").scrollspy-example

  section.about-detail.border-bottom
    .container
      .col-lg-12
        h2#about.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading About #{ values.name }
        p !{ textHelper.restoreLineBreak(values.description) }

        h2.dosis.our.text-uppercase.text-lg-center.text-xs-center.campaign-subheading Why You Should Invest
        p !{ textHelper.restoreLineBreak(values.campaign.pitch) }
      
      #gallery1.col-lg-12.pt50.photo-gallegy.text-center-flex
        if values.campaign.gallery_group_data
          each v,k in values.campaign.gallery_group_data
            .col-lg-4.no-padding-img
              a(href=v.urls[v.urls.length - 1] data-size='1440x900' rel="gallery1").fancybox
                img(src=v.urls[0] alt=values.name).img-fluid.img-responsive
        else

          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-toggle="modal" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid
          .col-lg-3.no-padding-img
            a(href="/img/values/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
              img(src="/img/default/255x153.png" alt="").img-fluid

      .row
        .col-lg-12.text-center-flex
          if values.campaign.additional_video
            each v,k in values.campaign.additional_video
              if v
                .col-lg-4
                  .card.card-inverse
                    - var additionalVideo = app.getVideoId(v.link);
                    if additionalVideo && additionalVideo.provider == 'youtube'
                      img(src="http://img.youtube.com/vi/" + additionalVideo.id + "/0.jpg" alt="" style="width: 338px").card-img
                    else if additionalVideo && additionalVideo.provider == 'vimeo'
                      img(src="" alt="" style="width: 338px;" data-vimeo-id=additionalVideo.id).card-img.vimeo-thumbnail
                    else
                      img(src="http://img.youtube.com/vi/" + "/0.jpg" alt="" style="width: 338px").card-img
                    .card-img-overlay
                      .card-title
                        a(data-toggle="modal" href="#videoModal-" + k data-target="#videoModal-" + k).small-icon.link-6
                          i.fa.fa-play-circle-o
                      h3.card-text.text-lg-center #{ v.headline }
          else
            .col-lg-4
              .card.card-inverse
                img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
                .card-img-overlay
                  .card-title
                    a(data-toggle="modal" href="#videoModal-2" data-target="#videoModal-2").small-icon.link-6
                      i.fa.fa-play-circle-o
                  h3.card-text.text-lg-center Title for Optional Video 2
            .col-lg-4
              .card.card-inverse
                img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
                .card-img-overlay
                  .card-title
                    a(data-toggle="modal" href="#videoModal-3" data-target="#videoModal-3").small-icon.link-6
                      i.fa.fa-play-circle-o
                  h3.card-text.text-lg-center Title for Optional Video 3
            .col-lg-4
              .card.card-inverse
                img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
                .card-img-overlay
                  .card-title
                    a(data-toggle="modal" href="#videoModal-3" data-target="#videoModal-3").small-icon.link-6
                      i.fa.fa-play-circle-o
                  h3.card-text.text-lg-center Title for Optional Video 3

      .col-lg-12
        h2.dosis.our.text-uppercase.text-lg-center.text-xs-center.campaign-subheading How We Intend to Make Money
        p !{ textHelper.restoreLineBreak(values.campaign.intended_use_of_proceeds) }

        h2.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading Why We are Raising Capital, and What We’ll Do with It
        p !{ textHelper.restoreLineBreak(values.campaign.business_model) }

      if values.campaign.additional_info
        each v,k in values.campaign.additional_info
          if v && v.title && v.body
            .col-lg-12
              h2.dosis.our.text-uppercase.text-lg-center.text-xs-center.campaign-subheading #{ v.title }
              p !{ textHelper.restoreLineBreak(v.body) }
  if values.campaign.team_members
    section#members
      .container
        if values.campaign.team_members && values.campaign.team_members instanceof Array && values.campaign.team_members.length > 0
          h2#team.dosis.text-uppercase.text-lg-center.text-xs-center.col-lg-12.campaign-subheading Team
          .row
            .col-lg-12.text-center-flex
              each v,k in values.campaign.team_members
                .col-lg-4.team
                  .card.text-lg-center.text-xs-center
                    img(src=v.photo alt="").img-circle
                    .card-block
                      h4.text-xs-center.card-title.text-uppercase #{v.first_name} #{v.last_name }
                      p.card-text
                        small.text-muted #{v.title }
                        
                      a(href=v.linkedin target="_blank").link-1
                        i.fa.fa-linkedin.more
                      a(href=v.facebook target="_blank").link-1
                        i.fa.fa-facebook
                      p.card-text.text-justify.hide-more-detail !{textHelper.restoreLineBreak(v.bio)}
                        if v.bio.length > 200
                          a(href="#").show-more-members.link-3 Read More
                      .d-block.text-lg-left.cite_education
                        span.text-lg-left.text-xs-left.pull-left.color-grey
                          if v.growup && v.state
                            i.fa.fa-home.p-l-0
                            |  #{v.growup}, #{v.state}
                        span.pull-right.color-grey
                          if v.college
                            i.fa.fa-graduation-cap
                            |  #{v.college}
    .col-lg-12.border-bottom.m-b-3
    section.articles
      .container
        if values.campaign.press && Object.keys(values.campaign.press).length > 0 && values.campaign.press[0].headline != ''
          - var showMore = false;
          h2.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading.m-t-0 Articles and Press
          .row
            .col-lg-12.text-center-flex
              .articles_press
                - var keys = Object.keys(values.campaign.press);
                - var counter = 0;
                - var lastArticleIdx = 0;
                div
                  each k in keys
                    if counter >= 3
                      - break;
                    - var v = values.campaign.press[k]
                    if v
                      - counter++;
                      - lastArticleIdx = k;
                      div.col-xl-4.col-xs-12.col-sm-12.col-md-12.col-lg-6.articles_press
                        a(href=v.link target="_blank")
                          .card.card-inverse.m-b-2
                            .card-title
                              i.fa.fa-link
                              p.card-text #{ v.headline }
                              .pos-bottom
                                .links.d-inline-block.card-text #{ formatHelper.getWebsiteUrl(v.link) }
                #hidden-article-press.hidden-article-press.collapse
                  each k in keys
                    if k <= lastArticleIdx
                      - continue;
                    - var v = values.campaign.press[k]
                    if v
                      - showMore = true;
                      div.col-xs-12.col-sm-12.col-md-12.col-lg-6.articles_press
                        a(href=v.link target="_blank")
                          .card.card-inverse.m-b-2
                            .card-title
                              i.fa.fa-link
                              p.card-text #{ v.headline }
                              .pos-bottom
                                .links.d-inline-block.card-text #{ formatHelper.getWebsiteUrl(v.link) }

              div(style="display:" + (showMore ? 'block' : 'none') + ";").row
                .col-lg-12.text-xs-center
                  a(href="#hidden-article-press" data-toggle="collapse").link-4.see-all-article-press Show More
  
  else
      //
        section.team.border-bottom
          .container
            h2#team.dosis.text-uppercase.text-lg-center.col-lg-12 Team
            a(href="").link-1
              .col-lg-4.text-lg-center
                .card
                  img(src="/img/values/avatar1.jpg" alt="").img-circle
                  .card-block
                    h4.card-title.text-uppercase Jan Mertz
                    p.card-text
                      small.text-muted CEO
                    a(href="#").link-1
                      i.fa.fa-facebook
                    a(href="#").link-1
                      i.fa.fa-linkedin
                    p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
                    .d-block.text-lg-left.cite_education
                      a(href="#").link-1.text-lg-left
                        i.fa.fa-home.p-l-0
                        |  Pittsburgh, PA
                      a(href="#").link-1.pull-right
                        i.fa.fa-graduation-cap
                        |  Dickinson College

            .col-lg-4
              a(href="")
                .card.text-lg-center
                  img(src="/img/values/avatar2.jpg" alt="").img-circle
                  .card-block
                    h4.card-title.text-uppercase Maria Mertz
                    p.card-text
                      small.text-muted CEO
                    a(href="#").link-1
                      i.fa.fa-facebook
                    a(href="#").link-1
                      i.fa.fa-linkedin
                    p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
                    .d-block.text-lg-left.cite_education
                      a(href="#").link-1.text-lg-left
                        i.fa.fa-home.p-l-0
                        |  Pittsburgh, PA
                      a(href="#").link-1.pull-right
                        i.fa.fa-graduation-cap
                        |  Dickinson College
            .col-lg-4.text-lg-center
              a(href="").link-1
                .card
                  img(src="/img/values/avatar3.jpg" alt="").img-circle
                  .card-block
                    h4.card-title.text-uppercase Alex Klarck
                    p.card-text
                      small.text-muted General Councel
                    a(href="#").link-1
                      i.fa.fa-facebook
                    a(href="#").link-1
                      i.fa.fa-linkedin
                    p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
                    .d-block.text-lg-left.cite_education
                      a(href="#").link-1.text-lg-left
                        i.fa.fa-home.p-l-0
                        |  Pittsburgh, PA
                      a(href="#").link-1.pull-right
                        i.fa.fa-graduation-cap
                        |  Dickinson College
  .col-lg-12.border-bottom.m-t-2.m-b-3
  section.document.border-bottom
    .container
      .row
        h2#documents.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading.m-t-0 Documents
        .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-sm-12.offset-sm-0
          .col-lg-4.text-xs-center
            p Official filing on SEC.gov
            a(href="" target="_blank")
              img(src="/img/lrg_US_Department_of_State35.gif").img-document.d-inline-block
              h3.d-inline-block  Form C
          .col-lg-4.text-xs-center
            p Company documents
            a(href="" target="_blank")
              i.fa.fa-file-pdf-o.d-inline-block
              h3.d-inline-block Financials
          .col-lg-4.row.text-xs-center
            p Company documents
            a(href=(values.campaign.investor_presentation ? values.campaign.investor_presentation_data.url : '') target="_blank")
              i.fa.fa-file-powerpoint-o.d-inline-block
              h3.d-inline-block Investor Presentation
  section.overview
    .container
      .row
        h2#overview.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading overview and terms
        h3.text-lg-center.text-xs-center.campaign-subheading Fundraising Description
        .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.offset-md-0.fundraising
          .jumbotron.jumbotron-fluid.text-xs-center.text-xl-left
            .container
              if values.campaign.security_type == 0
                .row
                  .col-lg-5.p-l-3.col-sm-12.p-md-0
                    p Type of Security
                    h2.font-weight-bold Common Equity
                  .col-lg-3.p-l-1.col-sm-12.p-md-0
                    p Minimum Investment
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.minimum_increment) }
                  .col-lg-4.p-l-3.col-sm-12.p-md-0
                    p Minimum # of Shares
                    h2.font-weight-bold #{ (Math.round(values.campaign.minimum_raise / values.campaign.price_per_share)).toLocaleString('en-US') }

                .row
                  .col-lg-5.p-l-3.col-sm-12.p-md-0
                    p Pre-Money Valuation
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.premoney_valuation) }
                  .col-lg-3.p-l-1.col-sm-12.p-md-0
                    p Price per Share
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.price_per_share) }
                  .col-lg-4.p-l-3.col-sm-12.p-md-0
                    p Maximum # of Shares
                    h2.font-weight-bold #{ (Math.round(values.campaign.maximum_raise / values.campaign.price_per_share)).toLocaleString('en-US') }
              else
                .row
                  .col-lg-4.p-l-3.p-md-0
                    p Type of Security
                    h2.font-weight-bold Revenue Share
                  .col-lg-4.p-l-2.p-r-0.p-md-0
                    p Target Minimum Raise Amonunt
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.minimum_raise) }
                  .col-lg-4.p-l-3.p-md-0
                    p Minimum Investment
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.minimum_increment) }
                .row
                  .col-lg-4.p-l-3.p-md-0
                    p Percentage Revenue
                    h2.font-weight-bold #{ values.campaign.percentage_revenue }%
                  .col-lg-4.p-l-2.p-r-0.p-md-0
                    p Target Maximum Raise Amount
                    h2.font-weight-bold #{ formatHelper.formatPrice(values.campaign.maximum_raise) }
                  .col-lg-4.p-l-3.p-md-0
                    p Cap
                    h2.font-weight-bold #{ values.campaign.cap }X

  section#perks.perks
    - values.campaign.perks = $.map(values.campaign.perks, function(value, index) {return [value];});
    - values.campaign.perks = values.campaign.perks.filter(function(value) { return value && value.perk; });
    - values.campaign.perks.sort(function (a, b) { return Number(a.amount) - Number(b.amount); });
    .container
      h3.text-lg-center.text-xs-center.campaign-subheading Perks
      .row
        .col-lg-12.text-center-flex
          each v,k in values.campaign.perks
            if v
              .col-xl-4.col-xs-12.col-lg-6
                .jumbotron.jumbotron-fluid
                  .container
                    h3.m-t-0.m-b-1 Invest 
                      span #{ formatHelper.formatPrice(v.amount) }
                      |  or more
                    p.text-justify #{ v.perk }

  section(style="display: none").investors-all.border-bottom
    .container
      h3.col-lg-12.text-lg-center.text-xs-center Investors
      .col-lg-12.text-center-flex
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar1.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar2.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar3.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Lusy Johnson
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar4.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar1.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Lusy Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar5.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar2.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-3.text-lg-center
          a(href="")
            .card
              img(src="/img/values/avatar3.jpg" alt="").img-circle
              .card-block
                h4.card-title.text-uppercase Jan Mertz
                p.card-text
                  small.text-muted New York, NY
        .col-lg-12.text-lg-center
          a(href="" style="display: none").link-4 See All Investors
  .border-bottom.m-t-3
  section.faq.p-b-0
    if values.campaign.faq && Object.keys(values.campaign.faq).length > 0 && values.campaign.faq[0].question != '' 
      .container
        h2#faq.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading FAQ
        .col-lg-8.offset-lg-2
          div(role="tablist" aria-multiselectable="true").accordion
            - var counter = 0
            each v,k in values.campaign.faq
              if v && v.answer
                .panel.panel-default
                  div(id="faq" + k role="tab").panel-heading
                    a(data-toggle="collapse"
                    data-parent="#accordion" 
                    href="#collapsefaq"+ k
                    aria-controls="collapsefaq"+ k
                    class=(counter == 0 ? 'list-group-item-action active' : 'list-group-item-action')
                    style="padding-left:25px") #{v.question}
                      if counter == 0
                        i.fa.fa-angle-up
                      else
                        i.fa.fa-angle-down
                  div(id="collapsefaq" + k role="tabpanel"
                  aria-labelledby="faq" + k
                  class=(counter == 0 ? 'in' : '') + ' panel-collapse collapse'
                  ) !{ textHelper.restoreLineBreak(v.answer) }
                  - counter ++;
        
  .border-bottom.m-t-3
  section.ask.border-bottom
    .container
      h2#ask.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading ASK A QUESTION

      .col-lg-8.offset-lg-2.pt50.comments
        #comment_null
        .col-lg-12.p-r-0
          .hr
          .col-lg-1.text-xs-center.text-lg-left
            img(src="/img/avatar10.jpg" alt="").img-circle
          .col-lg-11
            .comments-wrap
              span.name-comments.text-uppercase maria kravchuk

              span.date-comments.pull-right 2 Days Ago
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
              .responce
                li
                  a(href="").link-1 1 
                    i.fa.fa-angle-up  
                  span |
                li
                  a(href="").link-1 Responce 
                  span |
                li
                  a(href="").link-1
                    i.fa.fa-thumbs-up
        .col-lg-11.offset-lg-1.pt30.p-r-0
          .col-lg-1.text-xs-center.text-lg-left
            img(src="/img/avatar10.jpg" alt="").img-circle
          .col-lg-11
            .comments-wrap
              span.name-comments.text-uppercase maria kravchuk
              span.kvalificatio-comments.text-uppercase CEO
              span.date-comments.pull-right 2 Days Ago
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
              .responce
                li
                  a(href="").link-1 0 
                    i.fa.fa-angle-down  
                  span |
                li
                  a(href="").link-1 Responce 
                  span |
                li
                  a(href="").link-1
                    i.fa.fa-thumbs-up
  section.like
    .container
      .col-lg-12.text-lg-center.text-xs-center
        h2
          i.fa.fa-thumbs-up
          |  I’d Like to Invest in #{ values.name }!
        a(href="/" + values.id + "/invest").btn.btn-primary.text-uppercase Invest

div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#videoModal.modal.fade.video-modal
  div(role="document").modal-dialog.modal-lg
    button(type="button", data-dismiss="modal", aria-label="Close").close
      span(aria-hidden="true") &times;
    .modal-content
      .embed-responsive.embed-responsive-16by9
        - var mainVideo = app.getVideoId(values.campaign.video);
        if mainVideo && mainVideo.provider == 'youtube'
          iframe.embed-responsive-item(src="//www.youtube.com/embed/" + mainVideo.id + "?rel=0" allowfullscreen="true")
        else if mainVideo && mainVideo.provider == 'vimeo'
          iframe.embed-responsive-item(src="//player.vimeo.com/video/" + mainVideo.id allowfullscreen="true")
        else
          iframe.embed-responsive-item(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true")

each v,k in values.campaign.additional_video
  if v
    div(id="videoModal-" + k tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade.video-modal
      div(role="document").modal-dialog.modal-lg
        .modal-content
          .embed-responsive.embed-responsive-16by9
            - var additionalVideo = app.getVideoId(v.link);
            if additionalVideo && additionalVideo.provider == 'youtube'
              iframe(src="//www.youtube.com/embed/" + additionalVideo.id + "?rel=0" allowfullscreen="true").embed-responsive-item
            else if additionalVideo && additionalVideo.provider == 'vimeo'
              iframe(src="//player.vimeo.com/video/" + additionalVideo.id allowfullscreen="true").embed-responsive-item
            else
              iframe(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true").embed-responsive-item
