include ../../../templates/mixins.pug

+breadcrumbs('Invest', '', 
  [
    ['Home', '/'], 
    ['Explore', Urls['campaign-list']()],  
    [campaign.company.name, Urls['campaign-detail'](campaign.id)], 
    ['Invest in ' + campaign.company.name, '']
  ]
)
mixin fieldInput(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  div(class=attr.class)
    input(
            id=attr.id || name
            name=attr.name || name
            placeholder=attr.placeholder ? attr.placeholder :attr.label
            type=attr.type ? attr.type : 'text'
            class=(attr.help_text ? 'showPopover' : '') 
            data-content=(attr.help_text ?attr.help_text : '')
            value=attr.value
            maxlength = attr.maxlength ? attr.maxlength : false
            disabled=(attr.disabled ? attr.disabled : false)).form-control

.container.investment
  //START LEFT BLOCK
  .row
    .col-lg-8
      h2.text-uppercase.dosis.m-t-0.text-md-center.text-sm-center.text-xs-center.text-lg-left Investment
      .form-section.clearfix
        form(metod="post" action="").invest_form.clearfix
          .row
            .col-xl-12
              +fieldBlock("amount", '', {
                  class1: 'col-lg-3 col-md-12',
                  class2: 'col-lg-4 col-md-12',
                  type: 'text',
                  placeholder: '$2,500',
                  text: "$10 of payment processing fee. Your money will be returned to you if the campaign doesn't reach the target goal ($500,000)."
                  })
          .row
            .col-xl-12
              +fieldBlock("fee", '', {
                  class1: 'col-lg-3 col-md-12',
                  class2: 'col-lg-4 col-md-12 input-border-bottom',
                  type: 'text',
                  placeholder: '+ $10'
                  })
          .row
            label.col-lg-3.text-lg-right.p-t-0.total-investment-label Total
            .col-lg-4
              span.p-l-1 $10
          // popover content for amount field
          div.popover-content-amount-campaign
            i.fa.fa-info-circle
            span Investors are limited to 12 month investment totals ranging from $2,000 - $100,000 based on income and net worth.Please update your financial information to see your limit:

            +fieldBlock("annual_income", user[annual_income], {'class1': 'col-md-4', 'class2': 'col-md-8', 'type': 'text'})

            +fieldBlock("net_worth", user[net_worth], {'class1': 'col-md-4', 'class2': 'col-md-8', 'type': 'text'})

          section.personal_information
            h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center.text-lg-left Personal Information
              span.small-text.open-sans Required by United States banking laws. This information is transmitted securely and will never be used for any purpose beyond executing your investment. You only have to do this once.
            .form-group.row
              label.col-lg-3.col-md-12.text-lg-right.text-xs-left.pull-xs-left Legal Name
              +fieldInput("first_name", {'class': 'col-lg-4-5 m-b-md-25 col-md-12','placeholder':'First Name' })
              +fieldInput("last_name", {'class': 'col-lg-4-5 col-md-12 ','placeholder':'Last Name' })
            .form-group.row
              label.col-lg-3.text-lg-right.text-xs-left Country
              .col-lg-9
                - user.country = 'us';
                select(name="country").custom-select.w-100.country-select
                  option(value="us") United States
                  option(value="ua") UA
                  option(value='ru') Russia
            +fieldBlock("street_address_1", '', {
              class1: 'col-lg-3 col-md-12',
              class2: 'col-lg-9 col-md-12',
              type: 'text',
              })
            +fieldBlock("street_address_2", '', {
              class1: 'col-lg-3 col-md-12',
              class2: 'col-lg-9 col-md-12',
              type: 'text',
              }).street_address_2
            // IF USA
            .row
              .col-lg-7.p-l-2.col-md-12
                +fieldBlock("zip_code", '', {
                  class1: 'col-lg-5',
                  class2: 'col-lg-7',
                  })
              .col-lg-5.city_states.col-md-12
                label.col-lg-5.col-md-6.col-sm-6.col-xs-6 City/State
                .col-lg-7.col-md-6.col-sm-6.col-xs-6
                  span(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
                    span.input-value.js-city-state New York, NY
                      i.fa.fa-pencil-square-o
            // IF OTHER COUNTRY
            .row
              .col-lg-6.p-l-0.p-r-0
                +fieldBlock("city", user.city, {'class1': 'col-lg-6 ', 'class2': 'col-lg-6 p-r-0', 'type': 'text'})
              .col-lg-6
                .form-group.row.state.text
                  label.text-lg-right.col-lg-5(for="state").p-t-0.m-b-0 State/Province/ Region
                  div.col-lg-7
                    input.form-control(name='state' placeholder='State/Province/Region' type="text" value=user.state)
            .row
              .col-lg-6.p-l-0.p-r-0
                .form-group.row.zip_code.text
                  label.text-lg-right.col-lg-6(for="zip_code") Postal Code
                  div.col-lg-6.p-r-0
                    input.form-control(name='zip_code' placeholder='Postal Code' type="text" value=user.zip_code)
              .col-lg-6
                +fieldBlock("phone", user.phone, {'class1': 'col-lg-5 ', 'class2': 'col-lg-7 ', 'type': 'text'})

          section.payment-information.border-bottom
            h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center.text-lg-left Payment information
            .form-group.row
              label.col-lg-3.text-lg-right.text-xs-left I Want to Pay Using
              .col-lg-9
                select(name="").custom-select.w-100.country-select
                  option(value="echeck") Echeck (ACH)
                  option(value="check") Check
            //IF ECHECK
            +fieldBlock("name_on_bank_account", user.name_on_bank_account, {'class1': 'col-lg-3', 'class2': 'col-lg-9', 'type': 'text'})
            +fieldBlock("account_number", '', {
              class1: 'col-lg-3 col-md-3',
              class2: 'col-lg-9 col-md-9',
              type: 'text',
              })
            +fieldBlock("account_number_re", user.account_number_rc, {'class1': 'col-lg-3 ', 'class2': 'col-lg-9', 'type': 'text'})
            +fieldBlock("route_number", '', {
              class1: 'col-lg-3 col-md-3',
              class2: 'col-lg-9 col-md-9',
              type: 'text',
              })
            .form-group.row.radio
              label.text-md-right.col-lg-3 Account Type
              .col-lg-9.radio-input
                label 
                  input(type="radio")
                  |  Checking
                label 
                  input(type="radio")
                  |  Savings
            // IF CHECK
            .row
              .col-lg-12
                .row
                  .col-lg-9.offset-lg-3
                    .row
                      .col-lg-6
                        span Please Pay to the Order of:
                      .col-lg-6
                        span.font-weight-bold GrowthFountain Capital LLC
                    .row
                      .col-lg-6
                        span In the Amount of: 
                      .col-lg-6
                        span.font-weight-bold $1100
                    .row.m-b-2
                      .col-lg-6
                        span Memo:
                      .col-lg-6
                        span.font-weight-bold Invest in Netflix 
                        span.help-block (as indicated above)
                    .row.m-b-2
                      .col-lg-6
                        span And mail the check to: 
                      .col-lg-6
                        span.font-weight-bold GrowthFountain 
                          br
                          |  C/O Boston Private Bank 
                          br
                          |  60 South Market Suite 100 
                          br
                          |  San Jose, CA 95113
            //.col-md-12
              span.help-block GrowthFountain does not store your bank login credentials

          section.varification
            h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center.text-lg-left CONFIRMATION OF UNDERSTANDING
            .form-group.row
              .col-lg-2
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false TRUE
                    input(type="radio").d-block.m-x-auto
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false FALSE
                    input(type="radio").d-block.m-x-auto
                    
              .col-lg-10
                label I confirm and represent that (a) I have reviewed the educational material that has been made available on this website, (b) I understand that the entire amount of my investment may be lost and (c) I am in a financial condition to bear the loss of the investment.
            .form-group.row
              .col-lg-2
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false TRUE
                    input(type="radio").d-block.m-x-auto
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false FALSE
                    input(type="radio").d-block.m-x-auto
                    
              .col-lg-10
                label I understand that there are restrictions on my ability to cancel an investment commitment and obtain a return of my investment.
            .form-group.row
              .col-lg-2
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false TRUE
                    input(type="radio").d-block.m-x-auto
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false FALSE
                    input(type="radio").d-block.m-x-auto
                    
              .col-lg-10
                label I understand that it may be difficult to resell securities purchased on GrowthFountain.
            .form-group.row
              .col-lg-2
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false TRUE
                    input(type="radio").d-block.m-x-auto
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false FALSE
                    input(type="radio").d-block.m-x-auto
                    
              .col-lg-10
                label I understand that investing in start-ups and small businesses listed on GrowthFountain is very risky, and that I should not invest any funds unless I can afford to lose my entire investment.
            // view only DCU
            .form-group.row
              .col-lg-2
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false TRUE
                    input(type="radio").d-block.m-x-auto
                  .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
                    label.d-block.label-true-false FALSE
                    input(type="radio").d-block.m-x-auto
                    
              .col-lg-10
                label I understand that GrowthFountain performs all securities related activities. I further understand that DCU (Digital Federal Credit Union) (a) does not participate in the selection or review of any issuers, (b) does not have any responsibility for the accuracy or completeness of any information provided by any issuer and (c) does not provide any investment advice or recommendations.
            .col-lg-12.m-t-2
              .row
                span By Signing You Acknowledge and Agree to the 
                  a(href="#").link-2 Subscription Agreement
                  |  and 
                  a(href="#").link-2 Participation Agreement
            .col-lg-12.m-t-2
              .row
                .form-group.row
                  .col-lg-4
                    input(type="text" placeholder="Type Your Name").form-control
                    .help-block Electronically Sign Here
                  .col-lg-4
                    .electronically
                      span.by By:
                      span.name Maria Kravchuk

            .form-group.row
              .col-md-12.text-md-center.text-sm-center.text-xs-center
                .controls
                  button(
                  type="submit").btn.btn-primary.pull-lg-right.text-uppercase invest
            input(type="hidden" name="state" value="NY") 
            input(type="hidden" name="city" value="New York") 
    //END LEFT BLOCK
    //START RIGHT BLOCK
    .col-lg-4.pull-right

      if campaign.perks
        h2.text-uppercase.dosis.m-t-0 PERKS
          span.small-text.open-sans Investor Perks are not intended to affect the value of the security and investors should evaluate the merits of each investment without regard to any Investor Perks.
        .list-group.list-group-border-invest.invest-right-margin
          a(href="#" data-from='1000' data-to='1500').list-group-item.list-group-item-action.perk
            h3.list-group-item-heading 
              span.text-color-puerto_rico $1000
              |  Investments 
            p.list-group-item-text.text-justify FULLY LOADED PACKAGE: The Peloton Bike plus Peloton headphones, Peloton biking shoes, a Peloton heart rate monitor, the Peloton hand weights, a Peloton shirt, and a Peloton sweat mat (you're going to need it!).
          a(href="#" data-from='1500' data-to='100000').list-group-item.list-group-item-action.perk
            h3.list-group-item-heading 
              span.text-color-puerto_rico $1500
              |  Investments
            p.list-group-item-text.text-justify The Peloton Bike (and all of the accessories) AND a trip for two to NYC to meet the team and teach (or take) your very own class in the Peloton Studio, to be accessible to all Peloton riders via on-demand classes! (USA ONLY)
        
      h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center Investment Summary
      .jumbotron.jumbotron-fluid.investment-summary
        .container
          .col-md-7
            .row
              span Target
              p.font-weight-bold $500,000 - $1,000,000
          .col-md-5
            .row
              span Committed
              p.font-weight-bold $2,256
        .container
          .col-md-7
            .row
              span Offering deadline
              p.font-weight-bold.m-b-0 Sep 14, 2016
          .col-md-5
            .row
              span Type of security
              p.font-weight-bold.m-b-0 Equity

//MODAL
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#city_state_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.dosis.modal-title City/State

      .modal-body
        .container.form-section
          form.col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
              input(type="text" placeholder="City")#city.js-city.form-control
            .form-group.row.clearfix.required
              select(name='state')#state.js-state.form-control.custom-select
                option(checked='checked', value="") State
                each state in states
                  option(value=state.abbreviation)= state.name
            .form-group.row.clearfix.required.m0
              .row
                .col-lg-12
                  .col-lg-12.text-lg-center
                    button(data-dismiss="modal" type="button").update-location.btn.btn-primary.text-uppercase save
        .modal-footer

script(src= window.location.protocol + "//maps.google.com/maps/api/js?language=en&key=" + googleMapKey)
