-
  var auth = require('consts/auth/user.json');
  var SECURITY = require('consts/raisecapital/security_type.json');
  pug_html += app.breadcrumbs('Invest in '+ values.name, '', [ ['Home', '/'], ['Explore', '/companies'], [values.name, '/' + values.slug], ['Invest in ' + values.name, '']]);

mixin fieldInput(name, attr)
  - attr = attr ? attr : fields[name];
  - attr.value = attr.value ? attr.value : values ? values[name] : '';
  div(class=attr.class)
    input(
      id=attr.id || name
      name=attr.name || name
      placeholder=attr.placeholder ? attr.placeholder :attr.label
      type=attr.type ? attr.type : 'text'
      class=(attr.help_text ? 'showPopover' : '')
      data-content=(attr.help_text ?attr.help_text : '')
      value=attr.value
      maxlength = attr.maxlength ? attr.maxlength : false
      disabled=(attr.disabled ? attr.disabled : false)
    ).form-control

mixin confirmStatement(name, attr)
  - attr = attr || {};
  .form-group.row
    .col-lg-2
      div(id=(attr.id || name)).row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
          label.d-block.label-true-false
            | TRUE
            input(
              type="radio"
              value="true"
              name=name
            ).d-block.m-x-auto
        .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-lg-center
          label.d-block.label-true-false
            | FALSE
            input(
              type="radio"
              value="false"
              name=name
            ).d-block.m-x-auto

    .col-lg-10
      label #{attr.label}

.container.investment
  //START LEFT BLOCK
  .row
    .col-xl-8.col-lg-7
      h2.text-uppercase.dosis.m-t-0.text-md-center.text-sm-center.text-xs-center.text-lg-left
        | Investment
      .form-section.clearfix
        form(action="POST" data-method="POST" name="invest_form" autocomplete="off")#investForm.invest_form.clearfix
          input(type="hidden" name="company_id" value=values.id)
          .row
            .col-xl-12.col-xs-8.col-sm-5.col-lg-8
              -
                pug_html += app.fields.textLabel("amount", Object.assign({
                    class1: 'col-xl-3 col-lg-4 text-md-left text-lg-right text-xl-right p-t-6',
                    class2: 'col-xl-4 col-lg-8',
                    placeholder: '$',
                    text: "$10 of payment processing fee. Your money will be returned to you if the " +
                      "campaign doesn't reach the target goal ($500,000).",
                  }, fields.amount));
          .row
            .col-xl-12.col-xs-7.col-sm-5.col-lg-8
              .form-group.row.fee.text
                label.col-xl-3.col-lg-4.text-md-left.text-lg-right.text-xl-right.p-t-6 Commission
                .commission-group
                    .col-xl-4.col-lg-8.col-xs-10.col-sm-12
                      if feeInfo.waived
                        - var cssClass = "commission commission-" + feeInfo.remainingCredit;
                        div(class=cssClass).col-xl-12.p-x-0.input-border
                          input(name="waived" id="waived" value=("$" + feeInfo.waived) disabled).form-control
                          h4.text-uppercase.waived Credit Applied
                          .commission-right-block
                            .wrap-commision-credit-amount
                              span.credit-amount #{ '$' + feeInfo.remainingCredit }
                              span.credit-remains credit left
                            .wrap-commision-credit-text
                              span.credit-text
                                if feeInfo.remainingCredit <= 0
                                  | You are using the last $#{ feeInfo.credit } of your $25 credit
                                else
                                  | You can use the remaining credit toward your next investment
                        if feeInfo.fee > 0
                          .col-xl-12.p-x-0.input-border
                            input(name="fee" id="fee" value=("$" + feeInfo.fee) disabled).form-control
                        else
                          input(name="fee" id="fee" value=("$" + feeInfo.fee) disabled hidden=true).form-control
                      else
                        -
                          var feeStr = '$' + feeInfo.fee;
                          pug_html += app.fields.fieldText("fee", Object.assign({
                            class: 'input-border-bottom',
                            placeholder: '+ ' + feeStr,
                            value: feeStr,
                            label: 'Commission',
                            disabled: true,
                          }, fields.fee));
          .row
            label.col-xl-3.col-lg-4.text-md-left.text-lg-right.text-xl-right.p-t-0.total-investment-label Total
            .col-xl-4.col-lg-8.p-l-0
              span.p-l-1.total-investment-amount #{ '$' + feeInfo.fee }
              input(type="hidden" name="total_amount" value=("$" + feeInfo.fee))
          // popover content for amount field
          div.popover-content-amount-campaign
            i.fa.fa-info-circle
            p Investors are limited to 12 month investment totals ranging from $2,200 - $107,000 based on income and net worth.
            p Based on your annual income and net worth, you can invest
              span.color-red
                = ' '
                | only
                = ' '
              | up to
              = ' '
              span.color-red $:amount.
            br
            p Please 
              a(
                data-toggle="modal"
                data-target="#income_worth_modal"
                href="#income_worth_modal"
              ).link-6.update-income-worth update your annual income and net worth.

          div.popover-content-rounding
            i.fa.fa-info-circle
            span Companies can’t issue fractional shares. The price per share is $#{values.campaign.price_per_share} so investment amounts must be a multiple of $#{values.campaign.price_per_share}.
          div.popover-content-minimum-increment
            i.fa.fa-info-circle
            span The minimum investment is $#{values.campaign.minimum_increment}.
          div.popover-content-amount-ok
            i.fa.fa-info-circle
            span Based on your updated annual income and net worth, you can invest up to $:amount.
          section.hidden-sm-up.investment-summary
            h4.text-uppercase.section-bg-line.text-xs-center.m-b-0 Investment Summary
            .investment-summary-wrap
              if values.campaign.security_type == SECURITY.CommonEquity || values.campaign.security_type == SECURITY.RevenueShare
                table.table.table-bordered
                  tr.grey
                    td
                      p Type of security
                    td
                      p Offering deadline
                  tr
                    td.big-h
                      p.font-weight-bold #{values.campaign.security_type == 0 ? 'Common Equity' : 'Revenue Share'}
                    td.big-h
                      p.font-weight-bold #{ values.campaign.expirationDate.format('MMM DD, YYYY') }
                  tr.grey
                    td
                      p Target
                    td
                      p Committed
                  tr
                    td.big-h.target
                      p.text-uppercase.font-weight-bold
                        | $#{values.campaign.minimum_raise.toLocaleString('en-US')} -
                        | $#{values.campaign.maximum_raise.toLocaleString('en-US')}
                    td.big-h
                      p.text-uppercase.font-weight-bold $#{values.campaign.amount_raised.toLocaleString('en-US')}
              if values.campaign.security_type == SECURITY.HybridSecurity
                table.table.table-bordered
                  tr.grey
                    td
                      p.small-invest-text Investments up to #{ app.helpers.format.formatPrice(values.campaign.hybrid_toggle_amount -1)} receive
                    td
                      p.small-invest-text Investments #{ app.helpers.format.formatPrice(values.campaign.hybrid_toggle_amount)} and higher receive
                  tr
                    td.big-h
                      p.font-weight-bold Revenue Share
                    td.big-h
                      p.font-weight-bold Common Equity
                      
                  tr.grey
                    td
                      p.small-invest-text Offering deadline
                    td
                      p.small-invest-text Target
                  tr
                    td.big-h.target
                      p.text-uppercase.font-weight-bold #{ values.campaign.expirationDate.format('MMM DD, YYYY') }
                    td.big-h
                      p.text-uppercase.font-weight-bold
                        | $#{values.campaign.minimum_raise.toLocaleString('en-US')} -
                        | $#{values.campaign.maximum_raise.toLocaleString('en-US')}
          section.hidden-sm-up.invest-perks-mobile
            - var perks = values.campaign.perks;
            if perks && perks.length
              h2.text-uppercase.dosis.m-t-3.text-xs-center PERKS
                span.small-text.open-sans.hidden-xs-up
                  | Investor Perks are not intended to affect the value of the security and
                  | investors should evaluate the merits of each investment without regard to any
                  | Investor Perks.
              .list-group.list-group-border-invest.invest-right-margin
                div
                  -
                    var idx = 0;
                  while (idx < 2 && perks[idx])
                    - var p = perks[idx];
                    div(data-amount=p.amount).list-group-item.list-group-item-action.perk
                      h3.list-group-item-heading
                        span.text-color-puerto_rico.font-weight-bold $#{p.amount}
                        |  Investment 
                        i.fa.fa-check(style="display:none;")
                      p.list-group-item-text.text-justify #{p.perk}
                    - idx += 1;

                #hidden-article-press.hidden-article-press.collapse
                  - var showMore = perks.length > 2
                  while idx < perks.length && perks[idx]
                    - var p = perks[idx];
                    div(data-amount=p.amount).list-group-item.list-group-item-action.perk
                      h3.list-group-item-heading
                        span.text-color-puerto_rico.font-weight-bold $#{p.amount}
                        |  Investment
                        i.fa.fa-check(style="display:none;")
                      p.list-group-item-text.text-justify #{p.perk}
                    - idx += 1;
              div(style="display:" + (showMore ? 'block' : 'none') + ";").row
                .col-lg-12.text-xs-center.m-t-1
                  a(href="#hidden-article-press" data-toggle="collapse").link-4.see-all-perks Show More
          section.personal_information
            h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center.text-lg-left.m-t-3 Personal Information
              span.small-text.open-sans Required by United States banking laws. This information is transmitted securely and will never be used for any purpose beyond executing your investment. You only have to do this once.
            .form-group.row.required
              label.col-xs-12.text-xl-left Legal Name
                span.color-red *
              -
                pug_html += app.fields.nestedText(
                  'personal_information_data',
                  'first_name',
                  user,
                  -1, {
                    'placeholder': 'First Name',
                    'class': 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left',
                  }, fields.personal_information_data.schema.first_name);

                pug_html += app.fields.nestedText(
                  'personal_information_data',
                  'last_name',
                  user,
                  -1, {
                    'class': 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 last-name',
                    'placeholder': 'Last Name',
                  }, fields.personal_information_data.schema.last_name);
            -
              pug_html += app.fields.fieldChoiceLabel('personal_information_data[country]', Object.assign({
                'required': true,
                'empty': { '': 'Choose Country', 'value': '' },
                'value': user.country,
                'id': 'personal_information_data__country',
              }, this.fields.personal_information_data.schema.country));
            .row
              .col-xl-6.col-lg-6.col-md-6
                -
                  pug_html += app.fields.nestedTextLabel(
                    'personal_information_data',
                    'street_address_1',
                    user,
                    -1, {
                    },
                    fields.personal_information_data.schema.street_address_1);
              .col-xl-6.col-lg-6.col-md-6
                -
                  pug_html += app.fields.nestedTextLabel(
                    'personal_information_data',
                    'street_address_2',
                    user,
                    -1, {
                    },
                    fields.personal_information_data.schema.street_address_2);

            if user.country == 'US'
              | !{ snippets.us({ fields: fields, user: user }) }
            else
              | !{ snippets.nonUs({ fields: fields, user: user }) }

            //.row
              .col-xl-12
                p.m-b-1.m-t-1 In order to pay you any dividends or revenue share, regulations require GrowthFountain to collect your Taxpayer Identification Number.  Don’t worry we keep this information safe, secure and encrypted on a separate server.

                -
                
                  pug_html += app.fields.nestedTextLabel(
                    'payment_information_data',
                    'ssn',
                    user,
                    -1, {
                      'placeholder': 'Social Security #',
                      'class1': 'col-xl-3 col-lg-12 text-xl-right text-lg-left m-b-0 p-t-0 m-b-lg-1',
                      'label': 'Social Security number (SSN) or Tax ID (ITIN/EIN)',
                      'id': 'payment_information_data__ssn__0',
                    },
                    fields.payment_information_data.schema.ssn);

                  pug_html += app.fields.nestedTextLabel(
                    'payment_information_data',
                    'ssn_re',
                    user,
                    -1, {
                      'class1': 'col-xl-3 col-lg-12 text-xl-right text-lg-left m-b-0 p-t-0 m-b-lg-1',
                      'label': 'Re-enter',
                      'id': 'payment_information_data__ssn_re__0',
                    },
                    fields.payment_information_data.schema.ssn_re);

          section.payment-information.border-bottom
            h2.text-uppercase.text-md-center.text-sm-center.text-xs-center.text-lg-left
              | Payment information
            .form-group.row
              -
                pug_html += app.fields.fieldChoiceLabel('payment_information_type', Object.assign({
                  'required': true,
                  'row': false,
                }, this.fields.payment_information_type));
            //IF ECHECK
            //- I may need to add a value into the attr object to make sure proper data is populated.
            .echeck-fields.payment-fields
              -
                pug_html += app.fields.nestedTextLabel(
                  'payment_information_data',
                  'name_on_bank_account',
                  user,
                  -1, {
                  },
                  fields.payment_information_data.schema.name_on_bank_account);
              .row
                .col-xl-6.col-lg-6.col-md-6
                  -
                    pug_html += app.fields.nestedTextLabel(
                      'payment_information_data',
                      'account_number',
                      user,
                      -1, {
                        'help_text': '<div class="img-routing-number"></div>',
                      },
                      fields.payment_information_data.schema.account_number);
                .col-xl-6.col-lg-6.col-md-6
                  -
                    pug_html += app.fields.nestedTextLabel(
                      'payment_information_data',
                      'account_number_re',
                      user,
                      -1, {
                        'help_text': '<div class="img-routing-number"></div>',
                      },
                      fields.payment_information_data.schema.account_number_re);
              .row
                .col-xl-6.col-lg-6.col-md-6
                  -
                    pug_html += app.fields.nestedTextLabel(
                      'payment_information_data',
                      'routing_number',
                      user,
                      -1, {
                        'help_text': '<div class="img-routing-number"></div>',
                      },
                      fields.payment_information_data.schema.routing_number);
                .col-xl-6.col-lg-6.col-md-6
                  -
                    pug_html += app.fields.nestedTextLabel(
                      'payment_information_data',
                      'routing_number_re',
                      user,
                      -1, {
                        'help_text': '<div class="img-routing-number"></div>',
                      },
                    fields.payment_information_data.schema.routing_number_re);

              .form-group.row.radio.check-fields.required
                label.col-xl-12.text-xl-left Account Type
                  span.color-red *
                .col-xl-12.radio-input
                  .div#payment_information_data__bank_account_type
                    label 
                      input(
                        type="radio"
                        name="payment_information_data[bank_account_type]"
                        value=auth.bank_account_type.Checking
                        checked=(user.bank_account_type == auth.bank_account_type.Checking)
                      )
                      |  Checking
                    label
                      input(
                        type="radio"
                        name="payment_information_data[bank_account_type]"
                        value=auth.bank_account_type.Savings
                        checked=(user.bank_account_type == auth.bank_account_type.Savings)
                      )
                      |  Savings
            // IF CHECK
            .row.check-fields.payment-fields(style="display:none;")
              .col-lg-12
                .row
                  .col-lg-9.offset-lg-3
                    .row
                      .col-lg-6
                        span Please Pay to the Order of:
                      .col-lg-6
                        span.font-weight-bold GrowthFountain Capital LLC
                    .row
                      .col-lg-6
                        span In the Amount of:
                      .col-lg-6
                        span.font-weight-bold.total-investment-amount $10
                    .row.m-b-2
                      .col-lg-6
                        span Memo:
                      .col-lg-6
                        span.font-weight-bold Invest in #{values.name}
                    .row.m-b-2
                      .col-lg-6
                        span And mail the check to:
                      .col-lg-6
                        span.font-weight-bold GrowthFountain Capital LLC
                          br
                          | c/o Bofl Federal Bank
                          br
                          | 75 Chambers Street, 6th Floor
                          br
                          | New York, NY 10007
            .row.wire-fields.payment-fields(style="display:none;")
              .col-lg-12
                .row
                  .col-lg-9.offset-lg-3
                    .row
                      .col-lg-6
                        span Please Send your Wire to:
                      .col-lg-6
                        span.font-weight-bold GrowthFountain Capital LLC
                    .row
                      .col-lg-6
                        span In the Amount of:
                      .col-lg-6
                        span.font-weight-bold.total-investment-amount $10
                    .row.m-b-2
                      .col-lg-6
                        span Memo:
                      .col-lg-6
                        span.font-weight-bold Invest in #{values.name}
                        //- span.help-block (as indicated above)
                    .row.m-b-2
                      .col-lg-6
                        span Wire Instructions:
                      .col-lg-6
                        span.font-weight-bold GrowthFountain Capital LLC
                          br
                          | 79 Madison Ave, 5th Floor
                          br
                          | New York, NY 10016
                          br
                          br
                          | Routing/ABA# 122287251
                          br
                          | Account# 200100086657

                          br
                          br
                          | BofI Federal Bank
                          br
                          | 4350 La Jolla Village Drive, Suite 140
                          br
                          | San Diego, CA 92122

          section.varification
            h2.text-uppercase.dosis.text-md-center.text-sm-center.text-xs-center.text-lg-left
              | CONFIRMATION OF UNDERSTANDING
            +confirmStatement('is_reviewed_educational_material',
              Object.assign({}, fields.is_reviewed_educational_material)
            )
            +confirmStatement('is_understand_restrictions_to_cancel_investment',
              Object.assign({}, fields.is_understand_restrictions_to_cancel_investment)
            )
            +confirmStatement('is_understand_difficult_to_resell_purchashed',
              Object.assign({}, fields.is_understand_difficult_to_resell_purchashed)
            )
            +confirmStatement('is_understand_investing_is_risky',
              Object.assign({}, fields.is_understand_investing_is_risky)
            )

            if fields.is_understand_securities_related
              +confirmStatement('is_understand_securities_related',
                Object.assign({}, fields.is_understand_securities_related)
              )
            else
              input(type='hidden' value='1' name='is_understand_securities_related')

            .col-lg-12.m-t-2
              .row
                span By Signing You Acknowledge and Agree to the 
                  a(href="#" target="_blank" data-pdf-type=1).link-2.previewPdf Subscription Agreement
                  |  and 
                  a(href="#" target="_blank" data-pdf-type=0).link-2.previewPdf Participation Agreement
                  | .
            .col-lg-12.m-t-2
              .row
                #signature__full_name.form-group.row
                  //- var fullName = user.first_name + ' ' + user.last_name;
                  .col-xl-5.col-lg-6.col-md-6
                    input(
                      type="text"
                      placeholder="Type Your Name"
                      name='signature'
                      id='signature'
                    ).form-control.typed-name
                  .col-xl-5.col-lg-6.col-md-6
                    .electronically
                      span.by By:
                      span.name.signature

            .form-group.row
              .col-md-12.text-md-center.text-sm-center.text-xs-center
                .controls
                  button#submitButton(data-method="POST" type="button").btn.btn-lg.btn-primary.pull-lg-right.text-uppercase invest
    //END LEFT BLOCK
    //START RIGHT BLOCK
    .col-xl-4.col-lg-5.col-md-12.col-sm-12.pull-right.hidden-xs-down.invest-perks
      if values.campaign.perks.length
        h2.text-uppercase.dosis.m-t-0 PERKS
          span.small-text.open-sans
            | Investor Perks are not intended to affect the value of the security and
            | investors should evaluate the merits of each investment without regard to any
            | Investor Perks.

        .list-group.list-group-border-invest.invest-right-margin.m-b-3
          each v,k in values.campaign.perks
            div(data-amount=v.amount).list-group-item.list-group-item-action.perk
              h3.list-group-item-heading
                span.text-color-puerto_rico.font-weight-bold $#{v.amount}
                |  Investment 
                i.fa.fa-check(style="display:none;")
              p.list-group-item-text.text-justify #{v.perk}
      section.hidden-xs-down.investment-summary
        h4.text-uppercase.section-bg-line.text-xs-center.m-b-0 Investment Summary
        .investment-summary-wrap
          if values.campaign.security_type == SECURITY.CommonEquity || values.campaign.security_type == SECURITY.RevenueShare
            table.table.table-bordered
              tr.grey
                td
                  p Type of security
                td
                  p Offering deadline
              tr
                td.big-h
                  p.font-weight-bold #{values.campaign.security_type == 0 ? 'Common Equity' : 'Revenue Share'}
                td.big-h
                  p.font-weight-bold #{ values.campaign.expirationDate.format('MMM DD, YYYY') }
              tr.grey
                td
                  p Target
                td
                  p Committed
              tr
                td.big-h.target
                  p.text-uppercase.font-weight-bold
                    | $#{values.campaign.minimum_raise.toLocaleString('en-US')} -
                    | $#{values.campaign.maximum_raise.toLocaleString('en-US')}
                td.big-h
                  p.text-uppercase.font-weight-bold $#{values.campaign.amount_raised.toLocaleString('en-US')}
          if values.campaign.security_type == SECURITY.HybridSecurity
            table.table.table-bordered
              tr.grey
                td
                  p.small-invest-text Investments up to #{ app.helpers.format.formatPrice(values.campaign.hybrid_toggle_amount -1)} receive
                td
                  p.small-invest-text Investments #{ app.helpers.format.formatPrice(values.campaign.hybrid_toggle_amount)} and higher receive
              tr
                td.big-h
                  p.font-weight-bold Revenue Share
                td.big-h
                  p.font-weight-bold Common Equity
                  
              tr.grey
                td
                  p.small-invest-text Offering deadline
                td
                  p.small-invest-text Target
              tr
                td.big-h.target
                  p.text-uppercase.font-weight-bold #{ values.campaign.expirationDate.format('MMM DD, YYYY') }
                td.big-h
                  p.text-uppercase.font-weight-bold
                    | $#{values.campaign.minimum_raise.toLocaleString('en-US')} -
                    | $#{values.campaign.maximum_raise.toLocaleString('en-US')}

//MODAL
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#city_state_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-xs-center.text-uppercase.dosis.modal-title City/State

      .modal-body
        .container.form-section
          form.col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
              input(type="text" placeholder="City" value=user.city)#city.js-city.form-control
            .form-group.row.clearfix.required
              select(name='state')#state.js-state.form-control.custom-select
                option(value="") State
                each state in states
                  option(value=state.abbreviation selected=(user.state==state.abbreviation))= state.name
            .form-group.row.clearfix.required.m0
              .row
                .col-lg-12
                  .col-lg-12.text-xs-center
                    button(data-dismiss="modal" type="button").update-location.btn.btn-primary.text-uppercase save
        .modal-footer
//MODAL
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#income_worth_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.dosis.modal-title Net Worth/Annual Income

      .modal-body
        .container.form-section
          form.col-lg-10.offset-lg-1.border-bottom.update-income-worth
            .row
              | Your current limit is&nbsp;
              b.color-green $
                span.current-limit.color-green 1000
              | .
            .form-group.row.clearfix.required
              -
                var annualIncomeValue = '$' + (user.annual_income * 1000).toLocaleString('en-US');
                var netWorthValue = '$' + (user.net_worth * 1000).toLocaleString('en-US');
              label Net Worth
              input(type="money" placeholder="Net Worth" name="net_worth" value=netWorthValue data-positive-only='1')#net_worth.net-worth.form-control
            .form-group.row.clearfix.required
              label Annual Income
              input(type="money" placeholder="Annual Income" name="annual_income" data-positive-only='1' value=annualIncomeValue)#annual_income.annual_income.form-control
            .form-group.row.clearfix.required.m0
              .row
                .col-lg-12
                  .col-lg-12.text-lg-center
                    button(type="button").btn.btn-primary.text-uppercase.submit-income-worth update
        .modal-footer

if !window.google || !window.google.maps
  script(src= window.location.protocol + "//maps.google.com/maps/api/js?language=en&key=" + app.config.googleMapKey)
