- pug_html += app.breadcrumbs('Invest', '', [ ['Home', '/'], ['Explore', '/companies'], ['Smartbe', '/' + investment.company_id], ['Invest in ' + investment.company_id, '']]);

.container
  .row
    .col-sm-8.offset-sm-2
      h2.text-xs-center.thankyou-title.m0 
        i(aria-hidden="true").color-green.fa.fa-thumbs-o-up 
        | You have invested $#{ investment.amount } in #{ investment.company_id }

  .row
    .col-sm-8.offset-sm-2.mb50.mt50
      hr
  
  .row
    .col-sm-12
      .result-info-block.m-x-auto
        ul.info-text-block.list-unstyled
          li 
            span Transaction ID: &nbsp;
            strong #{ investment.id }
          case investment.security_type
            when 0
              li
                span Amount of Shares: &nbsp;
                strong #{ investment.number_of_shares }
            when 1
              li
                span Cap: &nbsp;
                strong #{ investment.cap }
              li
                span Percentage Revenue: &nbsp;
                strong #{ investment.percentage_revenue }
          li 
            span Perks: &nbsp;
            strong #{ investment.perk }

        .info-btn-block.pt50
          a(href="account/investor-dashboard").btn.btn-secondary INVESTOR DASHBOARD &nbsp;
            i.fa.fa-angle-right
