- document.title = 'Create Your Equity Crowdfunding Campaign ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'Create your equity crowdfunding campaign with GrowthFountain';

- pug_html += app.breadcrumbs('Create Company', '', [ ['Home', '/'], ['Create Company', ''], ['Company', ''], ]);

include menu.pug

section.create-company.container.m-b-85
  - var campaignId = campaign.id;
  - var formcId = formc.id;
  - values.progress = campaign.progress;
  .row
    +menu('company', 'create')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-xs-center.m-t-0.title Company
      form.form-section
          -
            pug_html += app.fields.fieldChoiceLabel('tour', Object.assign({
            'empty': { '': 'Choose Option' },
            'reverse': 1,
            'value': values.tour,
            }, fields.tour));
          .row
            .col-xl-6.col-lg-6.col-md-6
              - 
                pug_html += app.fields.textLabel('name', {
                schema: fields.name, 
                placeholder: 'Company Legal Name', 
                value: values.name,
                })
            .col-xl-6.col-lg-6.col-md-6
              - 
                pug_html += app.fields.textLabel('short_name', {
                schema: fields.short_name, 
                placeholder: 'Short Name', 
                value: values.short_name,})

          .row.form-group.custom-link-company
            .col-date
              label.col-xl-12.text-xl-left What Would You Like Your Custom URL to Be?
                span.color-red *
              .col-xl-12
                .prefix_input_prefix
                  input(value=window.location.origin + '/' disabled="disabled").form-control
                .prefix_input_field#slug
                  -
                    pug_html += app.fields.fieldText('slug', {
                    class: '',
                    schema: fields.slug,
                    id: 'slugField',
                    placeholder: 'Your Custom URL', 
                    value: values.slug,})
          .row
            .col-xl-6.col-lg-6.col-md-6
              .custom-ga-fields
                .row.form-group
                  label.col-xl-12.text-xl-left
                    | Google Analytic ID. 
                    a(href="https://www.google.com/analytics/#?modal_active=none" target="_blank").link-2 Set Up Google Analytics
                  .col-xl-12
                    .prefix_input_prefix
                      input(value="UA -" disabled="disabled").form-control
                    .prefix_input_field
                      -
                        pug_html += app.fields.fieldText('ga_id', {
                          schema: fields.ga_id,
                          class: '',
                          placeholder: 'xxxxxx-xx',
                          value: ((values.ga_id || '').replace(/^UA-/i, ''))})
            .col-xl-6.col-lg-6.col-md-6
              .row.form-group
                label.col-xl-12.text-xl-left
                  | Facebook Pixel. 
                  a(href="https://www.facebook.com/business/a/facebook-pixel" target="_blank").link-2 Set Up Facebook Pixel
                .col-xl-12
                  .prefix_input_field
                    -
                      pug_html += app.fields.fieldText('fb_pixel', {
                        schema: fields.fb_pixel,
                        class: '',
                        placeholder: '',
                        value: values.fb_pixel})
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.fieldChoiceLabel('industry', Object.assign({
                    'empty': { '': 'Choose Industry' },
                    'value': values.industry,
                  }, fields.industry));
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.fieldChoiceLabel('founding_state', Object.assign({
                    'empty': { '': 'Choose State' },
                    'value': values.founding_state,
                  }, fields.founding_state));

          -
            pug_html += app.fields.textLabel('tagline', {
            schema: fields.tagline, 
            placeholder: 'Your Company Slogan',
            value: values.tagline,})

          -
            pug_html += app.fields.textareaLabel('description', {
            schema: fields.description, 
            placeholder: 'Your Company Description',
            help_text: 'Explain what your company does in a way that  everyone  will understand. “If you can’t explain it simply, you don’t understand it well enough.” – Albert Einstein. <br><br> <u>  Writer’s block?</u> Here are some questions to help you get started:<br><br>  - Please provide a company or business overview. (Who/What/Where/When/Why) <br>- What is your product or service?<br>- Why is your product or service unique?<br>- Management team (Who runs the company)<br>- Why did you start your business?<br> - What markets are you serving and what benefits do you offer them?', value: values.description,})
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.fieldChoiceLabel('corporate_structure', Object.assign({
                    empty: { '': 'Choose Structure' },
                    'value': values.corporate_structure,
                  }, fields.corporate_structure));
            .col-xl-6.col-lg-6.col-md-6
              .row.form-group
                .col-date
                  label.col-xl-12.text-xl-left Date of Organization
                    span.color-red *
                  .col-xl-12
                    div#founding_date
                      - 
                        pug_html += app.fields.dateMonth('founding_date', Object.assign({
                        'empty': { '': 'Choose' },
                        'value': values.founding_date,
                        }, fields.founding_date));
                      - 
                        pug_html += app.fields.dateDay('founding_date', Object.assign({
                        'empty': { '': 'Choose' },
                        'value': values.founding_date,
                        }, fields.founding_date));
                      - 
                        pug_html += app.fields.dateYear('founding_date', Object.assign({
                        'value': values.founding_date,
                        'placeholder': 'YYYY',
                        }, fields.founding_date));
          .row
            .col-xl-12
              .border-bottom.m-t-2.m-b-3
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('address_1', {
                schema: fields.address_1, 
                value: values.address_1,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('address_2', {
                schema: fields.address_2, 
                value: values.address_2,})
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('zip_code', {
                schema: fields.zip_code, 
                value: values.zip_code,})
            .col-xl-6.col-lg-6.col-md-6.city_states.required.sity-state-error
              .form-group.row
                input(type='hidden' name='state' value=values.state)#state
                input(type='hidden' name='city' value=values.city)#city
                
                label.col-xl-12.text-xl-left City/State
                  span.color-red *
                .col-xl-12
                  a(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
                    span.input-value.js-city-state= (values.city ? values.city : "(city)") + ", " + (values.state ? values.state : "(state)") 
                    i.fa.fa-pencil-square-o.link-1
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('phone', {
                schema: fields.phone, 
                value: values.phone,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('website', {
                schema: fields.website, 
                placeholder: 'http://www.',
                value: values.website,})
          .row
            .col-xl-12
              .border-bottom.m-t-2.m-b-3
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('twitter', {
                schema: fields.twitter, 
                placeholder: 'https://www.',
                value: values.twitter,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('facebook', {
                schema: fields.facebook, 
                placeholder: 'https://www.',
                value: values.facebook,})
          .row
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('instagram', { 
                schema: fields.instagram, 
                placeholder: 'https://www.',
                value: values.instagram,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('linkedin', {
                schema: fields.linkedin, 
                placeholder: 'https://www.',
                value: values.linkedin,})
          .row.m-t-2.pull-lg-right.text-md-center.text-sm-center.text-xs-center
            .col-xl-12
              button(type="button")#submitForm.btn.btn-primary.text-uppercase save and continue
                i.fa.fa-angle-right

div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO PUBLISH YOUR COMPANY

      .modal-body.m-b-2
        .form-section
          .col-lg-6.pull-left.p-l-0.general_information.collapse
            h3.m-b-0.m-t-0 General Information
          .col-lg-6.text-xs-right.m-b-10.p-r-0.general_information.collapse
            a(href="/campaign/general_information/" + campaignId + "?check=1").btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.media.collapse
            h3.m-b-0.m-t-0 Media 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.media.collapse
            a(href='/campaign/media/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.team-members.collapse
            h3.m-b-0.m-t-0 Team Members 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.team-members.collapse
            a(href='/campaign/team-members/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.specifics.collapse
            h3.m-b-0.m-t-0 Specifics 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.specifics.collapse
            a(href='/campaign/specifics/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.perks.collapse
            h3.m-b-0.m-t-0 Perks 
          .col-lg-6.text-xs-right.mb30.p-r-0.perks.collapse
            a(href='/campaign/perks/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
      .modal-footer
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish_confirm.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

      .modal-body.m-b-2
        .col-sm-12
          .result-info-block.m-x-auto.text-xs-center
            |  Once you submit, you will no longer have the ability to edit your Campaign
            .info-btn-block.mb30
              a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary Cancel
              button(data-companyId=formc.company_id)#postForReview.btn.m-t-2.btn-primary.text-uppercase Yes
      .modal-footer
//MODAL
- var states = require('consts/usaStates.json').USA_STATES;
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#city_state_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.dosis.text-md-center.text-xs-center.modal-title City/State

      .modal-body
        .container.form-section
          form.col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
              input(type="text" placeholder="City" value=values.city).js-city.form-control
            .form-group.row.clearfix.required
              select(name='state' value=values.state).js-state.form-control.custom-select
                option(value="") State
                each name,abbreviation in states
                  if abbreviation == values.state
                    option(value=abbreviation selected="true")= name
                  else
                    option(value=abbreviation)= name
            .form-group.row.clearfix.required.m0
              .row
                .col-lg-12
                  .col-lg-12.text-lg-center.text-md-center.text-xs-center
                    button(data-dismiss="modal").update-location.btn.btn-primary.text-uppercase save

        .modal-footer


if !window.google || !window.google.maps
  script(src= window.location.protocol + "//maps.google.com/maps/api/js?language=en&key=" + app.config.googleMapKey)
