include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
include menu.pug


+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create Company', ''],
        ['Company', ''],
    ]
)

section.create-company.container.m-b-85
  - var campaignId = campaign.id;
  - var formcId = formc.id;
  - values.progress = campaign.progress;
  +menu('company', 'create')

  //START RIGHT BLOCK
  .col-xl-8.col-lg-8.col-md-12
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis Company
    form.form-section
      .col-xl-12
        +fieldTextLabel("name", _.extend({
          class1: 'col-xl-3 col-lg-12 p-t-0 text-lg-left text-xl-right m-b-0 m-b-lg-1',
          class2: 'col-xl-9 col-lg-12',
          placeholder: 'Company Legal Name',
          }, fields.name))
        +fieldTextLabel("short_name", _.extend({
          class1: 'col-xl-3 col-lg-12 p-t-0 text-lg-left text-xl-right m-b-0',
          class2: 'col-xl-9 col-lg-12',
          placeholder: 'Short Name',
          }, fields.short_name))
        +fieldChoiceLabel("industry", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          empty: {'': 'Choose Industry'},
          }, fields.industry))
        +fieldChoiceLabel("founding_state", _.extend({
          class1: 'col-xl-3 col-lg-12 p-t-0 m-b-0 m-b-lg-1 big-label-text text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          empty: {'': 'Choose State'},
          }, fields.founding_state))
        +fieldTextLabel("tagline", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          type: 'text',
          placeholder: 'Your Company Slogan',
          maxlength: 90,
          }, fields.tagline))
        +fieldTextareaLabel("description", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          type: 'textarea',
          placeholder: 'Your Company Description',
          help_text: 'Explain what your company does in a way that everyone  will understand.<br />  “If you can’t explain it simply, you don’t understand it well enough.” – Albert Einstein',
          }, fields.description))
        .row.form-group
          label.col-xl-3.col-lg-12.text-xl-right.textlg-left.m-b-0.p-t-0.m-b-lg-1 Corporate Structure
            span.color-red *
          .col-xl-9.col-lg-12.showPopover(data-content="C-corps can choose to issue Common Equity or a Revenue Share. LLC’s can only issue a Revenue Share")
            +fieldChoice("corporate_structure", _.extend({
                empty: {'': 'Choose'},
            }, fields.corporate_structure))
        .row.form-group
          .col-date#founding_date
            label.col-xl-3.col-lg-12.text-xl-right.textlg-left.m-b-0.p-t-0.m-b-lg-1 Date of Organization
              span.color-red *
            .col-xl-4.col-lg-6.p-r-0
              +fieldDateMonth("founding_date", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-l-0  m-d-p-r-5',
              }, fields.dob))
              +fieldDateDay("founding_date", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 m-d-p-l-5',
              }, fields.founding_date))
              +fieldDateYear("founding_date", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 p-r-lg-1 m-d-p-l-10',
                placeholder: 'YYYY',
              }, fields.founding_date))
        .border-bottom.m-t-3.m-b-3
        +fieldTextLabel("address_1", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          type: 'text',
          }, fields.address_1))
        +fieldTextLabel("address_2", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          type: 'text',
          }, fields.address_2))
        .row.form-group
          .col-xl-6.col-lg-6.col-l-65
            +fieldTextLabel("zip_code", _.extend({
              class1: 'col-xl-6 col-lg-12 text-xl-right text-lg-left',
              class2: 'col-xl-6 col-lg-12',
              }, fields.zip_code))
          .col-xl-5.col-lg-6.col-sm-12.city_states.required.sity-state-error
            input(type='hidden' name='state' value=values.state)#state
            input(type='hidden' name='city' value=values.city)#city

            label.col-xl-6.col-lg-12.col-sm-6.col-xs-6.text-xl-right.text-lg-left.p-l-0 City/State
            .col-xl-6.col-lg-12.col-sm-6.col-xs-6
              a(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
                span.input-value.js-city-state= (values.city ? values.city : "(city)") + ", " + (values.state ? values.state : "(state)") 
                i.fa.fa-pencil-square-o.link-1
        .row.m-b-0
          .col-xl-6.col-lg-6.col-l-65
            +fieldTextLabel("phone", _.extend({
              class1: 'col-xl-6 col-lg-12 text-lg-left text-xl-right',
              class2: 'col-xl-6 col-lg-12', 
              type: 'text',
              }, fields.phone))
          .col-xl-6.col-lg-6
            +fieldTextLabel("website", _.extend({
              class1: 'col-xl-5 col-lg-12 text-lg-left text-xl-right',
              class2: 'col-xl-7 col-lg-12', 
              type: 'text',
              placeholder: 'http://www.',
              }, fields.website))
        .border-bottom.m-t-2.m-b-3
        .row.m-b-0
          .col-xl-6.col-lg-6.col-l-65
            +fieldTextLabel("twitter", _.extend({
              class1: 'col-xl-6 col-lg-12 text-lg-left text-xl-right', 
              class2: 'col-xl-6 col-lg-12', 
              type: 'text',
              }, fields.twitter))
          .col-xl-6.col-lg-6
            +fieldTextLabel("facebook", _.extend({
              class1: 'col-xl-5 col-lg-12 text-lg-left text-xl-right', 
              class2: 'col-xl-7 col-lg-12', 
              type: 'text',
              }, fields.facebook))
        .row.m-b-0
          .col-lg-6.col-l-65
            +fieldTextLabel("instagram", _.extend({
              class1: 'col-xl-6 col-lg-12 text-lg-left text-xl-right', 
              class2: 'col-xl-6 col-lg-12', 
              type: 'text',
              }, fields.instagram))
          .col-lg-6
            +fieldTextLabel("linkedin", _.extend({
              class1: 'col-xl-5 col-lg-12 text-lg-left text-xl-right', 
              class2: 'col-xl-7 col-lg-12', 
              type: 'text',
              }, fields.linkedin))
        .row.m-t-2.pull-lg-right.text-md-center.text-sm-center.text-xs-center
          .col-xl-12
            button(type="button")#submitForm.btn.btn-primary.text-uppercase save and continue
              i.fa.fa-angle-right

div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO PUBLISH YOUR COMPANY

      .modal-body.m-b-2
        .form-section
          .col-lg-6.pull-left.p-l-0.general_information.collapse
            h3.m-b-0.m-t-0 General Information
          .col-lg-6.text-xs-right.m-b-10.p-r-0.general_information.collapse
            a(href="/campaign/general_information/" + campaignId + "?check=1").btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.media.collapse
            h3.m-b-0.m-t-0 Media 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.media.collapse
            a(href='/campaign/media/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.team-members.collapse
            h3.m-b-0.m-t-0 Team Members 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.team-members.collapse
            a(href='/campaign/team-members/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.specifics.collapse
            h3.m-b-0.m-t-0 Specifics 
          .col-lg-6.text-xs-right.m-b-10.p-r-0.specifics.collapse
            a(href='/campaign/specifics/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
          .col-lg-6.pull-left.p-l-0.perks.collapse
            h3.m-b-0.m-t-0 Perks 
          .col-lg-6.text-xs-right.mb30.p-r-0.perks.collapse
            a(href='/campaign/perks/' + campaignId + '?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
      .modal-footer
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish_confirm.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

      .modal-body.m-b-2
        .col-sm-12
          .result-info-block.m-x-auto.text-xs-center
            |  Once you submit, you will no longer have the ability to edit your Campaign
            .info-btn-block.mb30
              a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary Cancel
              button(data-companyId=formc.company_id)#postForReview.btn.m-t-2.btn-primary.text-uppercase Yes
      .modal-footer
//MODAL
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#city_state_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-lg-center.text-uppercase.dosis.text-md-center.text-xs-center.modal-title City/State

      .modal-body
        .container.form-section
          form.col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
              input(type="text" placeholder="City" value=values.city).js-city.form-control
            .form-group.row.clearfix.required
              select(name='state' value=values.state).js-state.form-control.custom-select
                option(checked='checked', value="") State
                each state in states
                  if state.abbreviation == values.state
                    option(value=state.abbreviation selected)= state.name
                  else
                    option(value=state.abbreviation)= state.name
            .form-group.row.clearfix.required.m0
              .row
                .col-lg-12
                  .col-lg-12.text-lg-center.text-md-center.text-xs-center
                    button(data-dismiss="modal").update-location.btn.btn-primary.text-uppercase save

        .modal-footer

if !window.google || !window.google.maps
  script(src= window.location.protocol + "//maps.google.com/maps/api/js?language=en&key=" + googleMapKey)
