- document.title = 'How To Raise Capital With GrowthFountain Equity Crowdfunding';
- document.head.querySelector('meta[name="description"]').content = 'Raise capital by turning your customers into owners. GrowthFountain is the preferred equity crowdfunding platform for 1 million credit union members and counting';

section.raise-capital-landing
  section.height-block-banner.scroll-paralax.top-baner.m-t-0.no-paralax-mobile
    - var styleString = 'background: url(' + require('images/raise-landing/raise-landing-top.jpg') + ')';
    div(style=styleString + '; height:85vh').background
    .center-wrap
      .col-xl-10.offset-xl-1
        .text-xs-center
          img(src=require('images/gf_icon.png')).logo-banner
          h1.big-h1.text-uppercase.m-t-0 Raise Capital By Turning CUSTOMERS
            br
            |  Into INVESTORS
          h2.font-weight-light.m-t-1.m-b-2 Raise $10,000 - $1,000,000
          a(href="/company/create?nolanding=1").btn.btn-primary.btn-lg Start Campaign
  
    .bottom-text.text-xs-center.col-xs-12
      span GrowthFountain is the preferred equity crowdfunding platform for 
        strong 1 million
        |  credit union members and counting
  secetion.email-subscription.subscription-campaing-list.raise-subscription.m-b-0.p-t-3.p-b-3
    .container
      .row
        .col-xs-12
          h2.text-xs-center.font-weight-light.m-t-0 Want to learn how we can help your business?
      .row
        .col-xl-12
          -
            var subscriber = require('directives/subscribe/index.js');
            pug_html += subscriber.render({
              containerClass: 'subscription-wrap',
              emailClass: 'col-xs-12 p-l-0',
              subscribeClass: 'subscription-btn',
              buttonText: 'Submit',
              id: 'f650548bc3',
              next: '/subscription-thanks?type=1',
            });
    .calculator-block-click
      include ../../../templates/calculators-block
  .content-section
    .top-section
      .container
        .row
          .col-xl-12
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.p-xs-0
              .growth-is
                .content
                  h3.text-uppercase.font-weight-bold.m-b-1.m-t-0 GrowthFountain is a community focused on investing in small businesses and startups.
                  p But you’ll need to get the ball rolling first by getting your most loyal followers involved. This is the chance to turn your customers, community and network into owners!  This will empower them to spread the word about your company. Once you receive early traction, you can attract more investors from our network.
              
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.p-xs-0
              .good-candidate.p-l-2
                h3.font-weight-bold.text-uppercase.m-t-3 Is my business a good candidate?
                p.font-weight-bold GrowthFountain doesn’t vet your application,we just screen for fraud. We have seen that successful issuers tend to share many of these attributes:
                ul.m-b-0.p-l-0
                  li - An existing customer base
                  li - People who love your product or service
                  li - A strong social media presence
                  li - A product or service that’s easy to understand
                  li - More than one team member
    .simplify
      .container
        .col-xl-12.text-xs-center
          h2.text-uppercase.font-weight-bold.m-t-0 We simplify the process
          h3.font-weight-light.m-t-0.m-b-3 So you can focus on telling  your story to potential investors
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase VALUATION?
            p.text Want to learn what your business 
              br
              | might be worth? Register to
              br
              | use our 
              a(href="/calculator/business-valuation" target="_blank").link-3 free calculators
            img(src=require('images/raise-landing/icon/icon-1.png'))
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase HOW MUCH SHOULD I RAISE?
            p.text Want a ballpark estimate of how 
              br
              | much money to raise? Register to
              br
              | use our 
              a(href="/calculator/capital-raise" target="_blank").link-3 free calculators
            img(src=require('images/raise-landing/icon/icon-2.png'))
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase OFFERING DOCS
            p.text Use our editors to create the
              br
              | legal forms you’ll need.
              br
              | Other services cost $2500+
            img(src=require('images/raise-landing/icon/icon-3.png'))
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase INVESTMENT CONTRACTS
            p.text Use our revenue share or
              br
              | common equity contracts –
              br
              | or provide your own
            img(src=require('images/raise-landing/icon/icon-4.png'))
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase COMPLIANCE
            p.text We’ll perform a compliance review of your
              br
              | campaign and documents. We will also run
              br
              | the background checks required
            img(src=require('images/raise-landing/icon/icon-5.png'))
        .col-xl-4.col-md-6
          .one-item.text-xs-center
            h4.title.font-weight-bold.text-uppercase PAYMENTS & PROCESSING
            p.text We handle all payments
              br
              | and processing
              br
              br
            img(src=require('images/raise-landing/icon/icon-6.png'))
        .col-xl-12
          h4.text-xs-center.text-uppercase Need help? Call your dedicated Account Representative anytime.
        

  section.raise-landing-table
    .container
      .row
        .col-xl-12
          table.table.table-responsive.table-bordered
            thead
              tr
                td.full-width
                  h3.text-uppercase Let’s compare!
                td.big-title
                  |  Fundraising from
                  br
                  |  everyone in your network
                  br
                  |  AND
                  br
                  |  Fundraising from
                  br
                  |  everyone in the world
                td 
                  | Business 
                  br
                  | Valuation
                td
                  | Legal
                  br
                  | Documents
                td
                  | Form C
                td
                  | Background
                  br
                  | Check
                td
                  | Escrow Fees
                td
                  | SEC fillings
                td
                  | Dedicated
                  br
                  |  Account
                  br
                  | Representative
            tbody
              tr.dashed-first
                td.full-width
                  h3.growth GrowthFountain
                  img(src=require("images/gf_icon.png"), alt="")
                td.big-title
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
                td
                  i.fa.fa-check
              tr.dashed-two
                td.full-width
                  h3 Our Competitors
                td.big-title
                  i.fa.fa-check
                td
                  i.fa.fa-times
                td
                  i.fa.fa-times
                td
                  span.red-text $2,500+
                td
                  span.red-text $150 pp
                td
                  span.red-text $1,000+
                td
                  i.fa.fa-check
                td
                  i.fa.fa-times
              tr.dashed
                td.full-width
                  h3 Other Avenues
                    br
                    | of Fundraising
                td.big-title
                  i.fa.fa-times
                td
                  span.red-text $5,000+
                td
                  span.red-text $5,000+
                td
                  span.black-text N/A
                td
                  span.black-text N/A
                td
                  span.red-text $150 pp
                td
                  i.fa.fa-times
                td
                  i.fa.fa-times



  section.content-bottom
    .container
      .row
        .col-xl-12.text-xs-center
          h2.text-uppercase.font-weight-bold How do I get started?
          h3.m-t-0.font-weight-light Please look over our checklist before starting your campaign:
        .col-xl-8.offset-xl-2.col-lg-12.offset-lg-0.p-x-0.col-sm-12.offset-sm-0.col-xs-12.offset-xs-0
          .row.how-do
            .col-xl-6.col-sm-6.col-lg-6.col-md-6.p-x-0
              ul.p-l-0
                li
                  i.fa.fa-check-square-o
                  span
                    strong Video 
                    | that draws people in and connects them to your team, product or service
                li.li-photos
                  i.fa.fa-check-square-o
                  span
                    strong Photos 
                    | that demonstrate what you’re all about
                li
                  i.fa.fa-check-square-o
                  span
                    strong Investor Presentation 
                    | that easily explains your business
            .col-xl-6.col-sm-6.col-lg-6.col-md-6.p-x-0
              ul.p-l-0
                li
                  i.fa.fa-check-square-o
                  span
                    strong Business Plan. 
                    | No need to give away trade secrets or make financial projections
                li
                  i.fa.fa-check-square-o
                  span
                    strong Marketing budget 
                    | to help spread the word on your campaign
                li
                  i.fa.fa-check-square-o
                  span
                    strong Leverage Social Media. 
                    | Prepare to broadcast regular notice and updates through social channels
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.p-x-0
              .border-bottom
          .row
            .col-xl-10.offset-xl-1.call-block
              .col-xl-6.col-md-6.col-sm-6.text-xs-center
                i.fa.fa-phone
                p Have a question? We would
                  br
                  | love to chat – 
                  strong (646)759-8229
              .col-xl-6.col-md-6.col-sm-6.text-xs-center
                i.fa.fa-question
                p Need more information?
                  br
                  a(href="/pg/entrepreneur-questions").link-3 Click here
      
section.height-block-banner.scroll-paralax.no-paralax-mobile.raise-landing-banner
  - var styleString = 'background: url(' + require('images/raise-landing/RS2.png') + ')';
  div(style=styleString + '; height:600px').background
  .center-wrap
    .col-lg-12
      h2.text-uppercase.m-t-0.font-weight-bold  Raise more than money. Raise awareness.
      h3.font-weight-light.m-t-0 Your investors are a new community of supporters for your business.
        br
        | Their ability to spread the word about the great things
        br
        | you’re doing are as valuable as their dollars...
          
    .col-xl-12.text-xs-center
      a(href="/company/create?nolanding=1").btn.btn-primary.btn-lg Start Campaign

.calendly(style='opacity: 0;')
  .raise-landing
    .header
      h3.font-weight-bold.d-inline-block Schedule a Call!
      .close
        i.fa.fa-times
    .content
      p Interested in fundraising, but not sure where to begin?
        br
        |  Schedule 15 minutes with one of our team members to learn more.
  .triangle
  img(src=require('images/generals/morgan.png'), alt="Morgan")

