- var STATUSES = require('consts/raisecapital/companyStatuses.json').STATUS;

mixin getCompanyUrl(id, section, currentStep, step, name)
  if id || currentStep == step
    -
      var linkHref = '/' + section + '/' + id + '/' + step;
      var linkId = 'menu_' + section.substr(0, 1) + '_' + step;
      var activeClass = (currentStep == step && window.location.pathname.indexOf(section) != -1) ? 'active ' : '',
          disabledClass = (section == 'formc' && !(app.user.formc.is_paid || app.user.company.is_approved == STATUSES.APPROVED)) ? 'disabled ' : '';
      var linkClass = 'list-group-item list-group-item-action ' + activeClass + disabledClass;

    a(href=linkHref id=linkId class=linkClass) #{ name }
      if step == 'company' && values.id
        .icon-check
          i.fa.fa-check-circle-o
  else
    -
      var linkId = 'menu_f_' + step;
    a(href="#" id=linkId class="list-group-item list-group-item-action disabled") #{ name }

mixin getRiskFactorsItem(id, section, currentStep, step, name)
  - var prefix = '/' + section + '/';
  if id || currentStep == step
      a(
        href=prefix + id + "/" + step
        id="menu_f_" + step
        class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '') +
          ((section == 'formc' && values.is_paid == false ) ? 'disabled' : '')
      ) #{ name }
  else
      a(
        href="#"
        class="list-group-item list-group-item-action disabled" 
      ) #{ name }


mixin menu(currentSection, currentStep)
    .col-lg-4.col-xl-3.left-menu-raise-formc
      .jumbotron.jumbotron-fluid
        .raise-funds
          h4.text-uppercase.m-b-0 Raise capital
            //.small-text (10% Done)
        #accordion(role="tablist" aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#company"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'company' ? ' active ' : '')
              )
                i.fa.fa-briefcase
                |  Company
                span.pull-right
                  i(class="arrow fa " + (currentSection == 'company' ? 'fa-angle-down' : 'fa-angle-left'))
            #company(role="tabpanel" class="panel-collapse collapse " + (currentSection == 'company' ? 'in' : ''))
              .list-group
                a(href="/company/create" class="list-group-item list-group-item-action" + (currentSection == 'company' && currentStep == 'create' ? ' active' : '')) Company Detail
                  if values.id
                    .icon-check
                      i.fa.fa-check-circle-o
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#campaign-steps"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'campaign' ? ' active ' : '')
              ).list-group-item
                i.fa.fa-bar-chart
                |  Campaign
                span.pull-right
                  //- i.fa.fa-angle-down
                  i(class="arrow fa " + (currentSection == 'campaign' ? 'fa-angle-down' : 'fa-angle-left'))
            #campaign-steps(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'campaign' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'general_information', 'General Information')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'media', 'Media')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'specifics', 'Specifics')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'perks', 'Perks')
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#form_c"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'formc' ? ' active' : '')
              )
                i.fa.fa-university
                |  form c
                span.pull-right
                  //- i.fa.fa-angle-left
                  i(class="arrow fa " + (currentSection == 'formc' ? 'fa-angle-down' : 'fa-angle-left'))
            #form_c(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'formc' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'introduction', 'Introduction')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'team-members', 'Officers & Shareholders')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'related-parties', 'Related Parties')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'use-of-proceeds', 'Use of Proceeds')
                    .panel.panel-default.sub-menu
                      - var inRiskFactors = currentStep.startsWith('risk-factors');
                      a(data-toggle="collapse"
                        href="#risk_factors"
                        aria-expanded="true"
                        class="list-group-item list-group-heading risk-factors-none-border" + (inRiskFactors ? ' active' : '')
                      )
                        |  Risk Factors 
                        span.pull-right
                          //- i.fa.fa-angle-left
                          i(class="arrow fa " + (inRiskFactors ? 'fa-angle-down' : 'fa-angle-left'))
                      #risk_factors(role="tabpanel" class="panel-collapse collapse" + (inRiskFactors ? ' in' : ''))
                        .list-group
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-instruction', 'Introduction')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-market', 'Market and Customer')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-financial', 'Financial')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-operational', 'Operational')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-competitive', 'Competitive')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-personnel', 'Personnel and Third Party')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-legal', 'Legal and Regulatory')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-misc', 'Miscellaneous')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'financial-condition', 'Financial Condition')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'outstanding-security', 'Outstanding Security')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'background-check', 'Background Check')
      if currentSection == 'formc'
        .row
          .col-lg-12.text-xs-center
            .row
              button(type="button").btn.btn-primary.text-uppercase.m-t-2.submit_formc submit form c
      else
        if values.id
          .row
            .col-lg-12.text-xs-center
              .row
                button(type="button" data-method="PATCH").btn.btn-secondary.text-uppercase.m-t-2.onPreview preview
              if app.user.company.is_approved == STATUSES.NEW
                .row
                  button(type="button").btn.btn-primary.text-uppercase.m-t-2.submit_form submit campaign
              else if app.user.company.is_approved == STATUSES.PENDING 
                .row
                  .col-xl-12
                    .warning-block.warning-team-add.text-lg-left.m-t-2
                      i.fa.fa-info-circle
                      span.warning-text We are reviewing your campaign
              else if app.user.company.is_approved  > STATUSES.PENDING
                .row
                  a(href="/formc/" + app.user.formc.id + "/introduction").btn.btn-primary.text-uppercase.m-t-2 Open Form C
        
      .row
        .col-xl-12
          .education-link-wrap.m-b-3
            .jumbotron.jumbotron-fluid
              h4.text-uppercase
                i.fa.fa-book
                |  education Links
              .nav
                li.nav-item
                  a(href="https://support.google.com/analytics/answer/1008015?hl=en" target="_blank").nav-link.link-3 Google Analytics Help
                li.nav-item
                  a(href="/pg/investor-tutorial" target="_blank").nav-link.link-3 Business Tutorial
                li.nav-item
                  a(href="/pg/success-guide" target="_blank").nav-link.link-3 Success Guide
                li.nav-item
                  a(href="/calculator/business-valuation" target="_blank").nav-link.link-3 Business Valuation Calculator
                li.nav-item
                  a(href="/calculator/capital-raise" target="_blank").nav-link.link-3 How Much Should I Raise?
      
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO SUBMIT YOUR CAMPAIGN

            .modal-body
              .form-section.row
                .col-xl-10.offset-xl-1.m-b-2
                  .col-lg-6.pull-left.p-l-0.general_information.collapse
                    h3.m-b-0.m-t-0 General Information
                  .col-lg-6.text-xs-right.m-b-10.p-r-0.general_information.collapse
                    a(href="/campaign/" + (campaignId || values.id) + "/general_information?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .col-lg-6.pull-left.p-l-0.media.collapse
                    h3.m-b-0.m-t-0 Media 
                  .col-lg-6.text-xs-right.m-b-10.p-r-0.media.collapse
                    a(href='/campaign/' + (campaignId || values.id) + '/media?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .col-lg-6.pull-left.p-l-0.team-members.collapse
                    h3.m-b-0.m-t-0 Team Members 
                  .col-lg-6.text-xs-right.m-b-10.p-r-0.team-members.collapse
                    a(href='/campaign/' + (campaignId || values.id) + '/team-members?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .col-lg-6.pull-left.p-l-0.specifics.collapse
                    h3.m-b-0.m-t-0 Specifics 
                  .col-lg-6.text-xs-right.m-b-10.p-r-0.specifics.collapse
                    a(href='/campaign/' + (campaignId || values.id) + '/specifics?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .col-lg-6.pull-left.p-l-0.perks.collapse
                    h3.m-b-0.m-t-0 Perks 
                  .col-lg-6.text-xs-right.mb30.p-r-0.perks.collapse
                    a(href='/campaign/' + (campaignId || values.id) + '/perks?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .modal-footer
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish_confirm.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

            .modal-body.m-b-2
              .col-sm-12
                .result-info-block.m-x-auto.text-xs-center
                  |  Once you submit, you will no longer have the ability to edit your Campaign
                  .info-btn-block.mb30
                    a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary Cancel
                    button(data-companyId=formc ? formc.company_id : values.id)#postForReview.btn.m-t-2.btn-primary.text-uppercase Yes
            .modal-footer
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#formc_publish.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO SUBMIT YOUR CAMPAIGN

            .modal-body
              .form-section.row
                .col-xl-10.offset-xl-1.m-b-2
                  .row
                    .col-lg-8.pull-left.p-l-0.introduction.collapse
                      h3.m-b-0.m-t-0 Introduction
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.introduction.collapse
                      a(href="/formc/" + (formcId || values.id) + "/introduction?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.team-members.collapse
                      h3.m-b-0.m-t-0 Team Members 
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.team-members.collapse
                      a(href='/formc/' + (formcId || values.id) + '/team-members?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.related-parties.collapse
                      h3.m-b-0.m-t-0 Related Parties
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.related-parties.collapse
                      a(href='/formc/' + (formcId || values.id) + '/related-parties?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.use-of-proceeds.collapse
                      h3.m-b-0.m-t-0 Use of Proceeds 
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.use-of-proceeds.collapse
                      a(href='/formc/' + (formcId || values.id) + '/use-of-proceeds?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-market.collapse
                      h3.m-b-0.m-t-0 Risk: Market and Customer 
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-market.collapse
                      a(href='/formc/' + (formcId || values.id) + '/risk-factors-market?check=1&r=' + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-financial.collapse
                      h3.m-b-0.m-t-0 Risk: Financial
                    .col-lg-4.text-xs-right.m-b-10.p-r-0.risk-factors-financial.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-financial?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-operational.collapse
                      h3.m-b-0.m-t-0 Risk: Operational
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-operational.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-operational?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-competitive.collapse
                      h3.m-b-0.m-t-0 Risk: Competitive
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-competitive.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-competitive?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-personnel.collapse
                      h3.m-b-0.m-t-0 Risk: Personnel and Third Party
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-personnel.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-personnel?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-legal.collapse
                      h3.m-b-0.m-t-0 Risk: Legal and Regulatory
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-legal.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-legal?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.risk-factors-misc.collapse
                      h3.m-b-0.m-t-0 Risk: Miscellaneous
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.risk-factors-misc.collapse
                      a(href="/formc/" + (formcId || values.id) + "/risk-factors-misc?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.financial-condition.collapse
                      h3.m-b-0.m-t-0 Financial Condition
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.financial-condition.collapse
                      a(href="/formc/" + (formcId || values.id) + "/financial-condition?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.outstanding-security.collapse
                      h3.m-b-0.m-t-0 Outstanding Security
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.outstanding-security.collapse
                      a(href="/formc/" + (formcId || values.id) + "/outstanding-security?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                  .row
                    .col-lg-8.pull-left.p-l-0.background-check.collapse
                      h3.m-b-0.m-t-0 Background Check
                    .col-lg-4.text-xs-right.m-b-1.p-r-0.background-check.collapse
                      a(href="/formc/" + (formcId || values.id) + "/background-check?check=1&r=" + Math.random()).btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .modal-footer
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#formc_publish_confirm.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

            .modal-body.p-t-0
              .col-sm-12
                .m-x-auto.text-xs-center
                  |  Once you submit, we'll generate the Form C document and you'll have the opportunity to review prior to final submission.
                  .info-btn-block
                    .row.mb30
                      .col-xl-10.offset-xl-1.col-lg-12.offset-lg-0.col-md-12.col-sm-12.col-xs-12
                        .col-xl-6.col-lg-6.col-md-6
                          a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary.btn-block Cancel
                        .col-xl-6.col-lg-6.col-md-6
                          a(href="/formc/" + values.id + '/final-review' dta-dismiss="modal").btn.m-t-2.btn-primary.text-uppercase.btn-block Yes
            .modal-footer
