- 'use strict';
mixin getCompanyUrl(id, section, currentStep, step, name)
    - let prefix = '/' + section + '/';
    if id || currentStep == step
        a(
          href='/' + section + '/' + id + '/' + step
          class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
        ) #{ name }
            if currentStep == step
                .icon-check
                  i.fa.fa-check-circle-o
    else
        a(
          href="#"
          class="list-group-item list-group-item-action disabled" 
        ) #{ name }

mixin getRiskFactorsItem(id, section, currentStep, step, name)
  - let prefix = '/' + section + '/';
  if id || currentStep == step
      a(
        href=prefix + id + "/" + step
        class="list-group-item list-group-item-action " + (currentStep == step ? 'active' : '')
      ) #{ name }
          if currentStep == step
              .icon-check
                i.fa.fa-check-circle-o
  else
      a(
        href="#"
        class="list-group-item list-group-item-action disabled" 
      ) #{ name }
        
mixin menu(currentSection, currentStep)
    .col-lg-4.col-xl-3.create_compaign
      .jumbotron.jumbotron-fluid.row
        .raise-funds
          h4.font-weight-bold.text-uppercase.m-b-0 Raise funds
            .small-text (10% Done)
        #accordion(role="tablist" aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#company"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'company' ? ' active ' : '')
              )
                i.fa.fa-briefcase
                |  Company
                span.pull-right
                  i(class="arrow fa " + (currentSection == 'company' ? 'fa-angle-down' : 'fa-angle-left'))
            #company(role="tabpanel" class="panel-collapse collapse " + (currentSection == 'company' ? 'in' : ''))
              .list-group
                a(href="/company/create" class="list-group-item list-group-item-action" + (currentSection == 'company' && currentStep == 'company' ? ' active' : '')) Company Detail
                  if currentSection == 'company' && currentStep == 'create'
                    i.fa.fa-check
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#campaign-steps"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'campaign' ? ' active ' : '')
              ).list-group-item
                i.fa.fa-bar-chart
                |  Campaign
                span.pull-right
                  //- i.fa.fa-angle-down
                  i(class="arrow fa " + (currentSection == 'campaign' ? 'fa-angle-down' : 'fa-angle-left'))
            #campaign-steps(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'campaign' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'general_information', 'General Information')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'media', 'Media')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'specifics', 'Specifics')
                    +getCompanyUrl(campaignId || values.id, 'campaign', currentStep, 'perks', 'Perks')
          .panel.panel-default
            .panel-heading(role="tab")
              a(data-toggle="collapse"
              data-parent="#accordion"
              href="#form_c"
              aria-expanded="true"
              class="list-group-item list-group-heading" + (currentSection == 'formc' ? ' active' : '')
              )
                i.fa.fa-university
                |  form c
                span.pull-right
                  //- i.fa.fa-angle-left
                  i(class="arrow fa " + (currentSection == 'formc' ? 'fa-angle-down' : 'fa-angle-left'))
            //- #form_c(role="tabpanel").panel-collapse.collapse
            #form_c(role="tabpanel" class="panel-collapse collapse" + (currentSection == 'formc' ? ' in' : ''))
                .list-group
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'introduction', 'Introduction')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'team-members', 'Team Members')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'related-parties', 'Related Parties')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'use-of-proceeds', 'Use of Proceeds')
                    //- +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'risk-factors-instruction', 'Risk Factors')
                    .panel.panel-default.sub-menu
                      - let inRiskFactors = currentStep.startsWith('risk-factors');
                      a(data-toggle="collapse"
                        href="#risk_factors"
                        aria-expanded="true"
                        class="list-group-item list-group-heading" + (inRiskFactors ? ' active' : '')
                      )
                        |  Risk Factors 
                        span.pull-right
                          //- i.fa.fa-angle-left
                          i(class="arrow fa " + (inRiskFactors ? 'fa-angle-down' : 'fa-angle-left'))
                      #risk_factors(role="tabpanel" class="panel-collapse collapse" + (inRiskFactors ? ' in' : ''))
                        .list-group
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-instruction', 'Introduction')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-market', 'Market and Customer')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-financial', 'Financial')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-operational', 'Operational')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-competitive', 'Competitive')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-personnel', 'Personnel and Third Party')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-legal', 'Legal and Regulatory')
                          +getRiskFactorsItem(formcId || values.id, 'formc', currentStep, 'risk-factors-misc', 'Miscellaneous')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'financial-condition', 'Financial Condition')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'outstanding-security', 'Outstanding Security')
                    +getCompanyUrl(formcId || values.id, 'formc', currentStep, 'background-check', 'Background Check')
      if currentSection == 'formc'
        .row
          .col-lg-12.text-xs-center
            .row
              button(type="button").btn.btn-primary.text-uppercase.m-t-2.submit_form submit form c
      else
        .row
          .col-lg-12.text-xs-center
            .row
              button(type="button" data-href=("#")).btn.btn-secondary.text-uppercase.m-t-2.onPreview preview
            .row
              button(type="button").btn.btn-primary.text-uppercase.m-t-2.submit_form submit campaign
        
      .row
        .education-link-wrap
          .jumbotron.jumbotron-fluid
            h4.font-weight-bold.text-uppercase
              i.fa.fa-book
              |  education Links
            .nav
              li.nav-item
                a(href="/pg/investor_tutorial" target="_blank").nav-link.link-3 Business Tutorial
              li.nav-item
                a(href="/pg/success_guide" target="_blank").nav-link.link-3 Success Guide
              li.nav-item
                a(href="/calculator/selectYourBusiness" target="_blank").nav-link.link-3 What's My Business Worth?
              li.nav-item
                a(href="/calculator/whatmybusinessworth/intro" target="_blank").nav-link.link-3 How Much Should I Raise?
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title COMPLETE THE FOLLOWING TO SUBMIT YOUR CAMPAIGN

            .modal-body.m-b-2
              .form-section
                .col-lg-6.pull-left.p-l-0.general_information.collapse
                  h3.m-b-0.m-t-0 General Information
                .col-lg-6.text-xs-right.m-b-10.p-r-0.general_information.collapse
                  a(href="/campaign/" + values.id + "/general_information?check=1").btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                .col-lg-6.pull-left.p-l-0.media.collapse
                  h3.m-b-0.m-t-0 Media 
                .col-lg-6.text-xs-right.m-b-10.p-r-0.media.collapse
                  a(href='/campaign/' + values.id + '/media?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                .col-lg-6.pull-left.p-l-0.team-members.collapse
                  h3.m-b-0.m-t-0 Team Members 
                .col-lg-6.text-xs-right.m-b-10.p-r-0.team-members.collapse
                  a(href='/campaign/' + values.id + '/team-members?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                .col-lg-6.pull-left.p-l-0.specifics.collapse
                  h3.m-b-0.m-t-0 Specifics 
                .col-lg-6.text-xs-right.m-b-10.p-r-0.specifics.collapse
                  a(href='/campaign/' + values.id + '/specifics?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
                .col-lg-6.pull-left.p-l-0.perks.collapse
                  h3.m-b-0.m-t-0 Perks 
                .col-lg-6.text-xs-right.mb30.p-r-0.perks.collapse
                  a(href='/campaign/' + values.id + '/perks?check=1').btn.btn-sm.btn-secondary.text-uppercase.m-t-0 Edit
            .modal-footer
      div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#company_publish_confirm.modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              button(type="button" data-dismiss="modal" aria-label="Close").close
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.text-lg-center.text-uppercase.text-md-center.text-xs-center.line-height-1.dosis.m-t-1.modal-title Are you sure you want to submit ?

            .modal-body.m-b-2
              .col-sm-12
                .result-info-block.m-x-auto.text-xs-center
                  |  Once you submit, you will no longer have the ability to edit your Campaign
                  .info-btn-block.mb30
                    a(href="#" data-dismiss="modal").btn.m-t-2.m-r-1.btn-secondary Cancel
                    a(href="/campaign/" + values.id + "/thankyou").btn.m-t-2.btn-primary.text-uppercase Yes
            .modal-footer
