include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
include menu.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', '/campaign/' + values.id + '/general_information'],
        ['team member (Advisor)', ''],
    ]
)

section.team-members.container.m-b-85
  - var campaignId = values.id;
  - var formcId = formc.id;
  +menu('campaign', 'team-members')

  //START RIGHT BLOCK
  .col-xl-8.col-lg-8.col-md-12
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 #{type == 'advisor' ? 'advisor' : 'team member'}

    form.form-section
      +fieldTextLabel("first_name", _.extend({
        class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
        class2: 'col-xl-9 col-lg-12',
        label: 'First name',
        value: member.first_name
      }, fields.first_name))
      +fieldTextLabel("last_name", _.extend({
        class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
        class2: 'col-xl-9 col-lg-12',
        label: 'Last name',
        value: member.last_name
      }, fields.last_name))
      +fieldTextLabel("email", _.extend({
        class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
        class2: 'col-xl-9 col-lg-12',
        label: 'Email',
        value: member.email
      }, fields.email))
      if type == 'advisor'
        +fieldTextLabel("title", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          label: 'Title',
          readonly: true,
          value: 'Advisor',
        }, fields.title))
      else
        +fieldTextLabel("title", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          label: 'Title',
          value: member.title
        }, fields.title))

      +fieldTextareaLabel("bio", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          placeholder: "At least 150 characters",
          label: 'Bio',
          value: member.bio,
        }, fields.bio))

      .row
        input(type="hidden" name="city" values=member.city)
        input(type="hidden" name="state" value=member.state)
        .col-md-12.col-lg-6
          +fieldTextLabel('zip_code', _.extend({
            'class1': 'col-lg-6 text-lg-right text-xs-left',
            'class2': 'col-lg-6',
            'label': 'Zip code',
            'type': 'text',
            'value': member.zip_code,
          }, fields.zip_code))

        .col-lg-5.city_states.required
          .row
            label.col-lg-5.col-xs-6.text-lg-right.text-xs-left City/State
            .col-lg-6.col-xs-6
              a(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
                span.input-value.js-city-state #{ member['city'] ? member['city'] : '(City)' }, #{ member['state'] ? member['state'] : '(State)' }
                  i.fa.fa-pencil-square-o.link-1
      .label-p-t-0
        +fieldTextLabel("college", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          label:  'Collage',
          placeholder: 'Name of college or university',
          value: member.email
        }, fields.collage))
      .row
        .col-lg-6.input-min-width
          +fieldTextLabel("linkedin", _.extend({
            class1: 'col-xl-6 col-lg-12 text-lg-left text-xl-right ',
            class2: 'col-xl-6 col-lg-12',
            label:  'Linkedin',
            placeholder: 'Your LinkedIn profile',
            }, fields.facebook))
        .col-lg-6.input-min-width
          +fieldTextLabel("facebook", _.extend({
            class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
            class2: 'col-xl-9 col-lg-12',
            label:  'Facebook',
            placeholder: 'Your Facebook profile',
            }, fields.facebook))

      +teamMemberDropzone("photo_image_id", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          thumbSize: '255x135',
          default: '/img/default/255x153.png',
          icon: 'camera',
          text: 'Drop your photo here or click to upload',
          value: member.photo_data[0],
        }, fields.photo_image_id))
      //.row.dropzone__photo.media-item
        .col-lg-3.p-r-12.col-md-12.text-md-center.text-sm-center.text-xs-center
          .pull-lg-right.font-weight-bold  Photo
        div(style="position:relative;").clearfix
          div(style="line-height:115px;text-align:center;position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;z-index:1;display:none;background-color:rgba(255,255,255,0.8);").uploading
            img(alt="activity indicator" src="/img/ajax-loader.gif" style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;")
          span
            .col-lg-9.text-lg-center
              .border-dropzone.col-lg-12.gallery
                .col-lg-6.col-md-5.col-sm-5.col-xs-5.p-dropzone.text-md-center.text-sm-center.text-xs-center.p-dropzone
                  div(href="#")
                    p.drop-photo Drop your photo here or click to upload
                    i.fa.fa-camera
                .col-lg-6.col-md-7.col-sm-7.col-xs-7.text-lg-center.p-dropzone
                  img(src=member.photo).img-fluid.img-circle.img-photo
      .col-lg-12.text-lg-right.p-r-0.p-t-2.text-md-center.text-sm-center.text-xs-center
        button.btn.btn-secondary.text-uppercase.m-r-3.cancel cancel
        button(data-method="POST").btn.btn-primary.text-uppercase.pull-lg-right Save
          //
            .col-lg-6.p-r-0
              .dropdown.pull-right
                button(type="submit"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ).btn.btn-lg.btn-primary.text-uppercase.dropdown-toggle Save and add other
                .dropdown-menu(aria-labelledby="dropdownMenuButton")
                  a(href="").dropdown-item Add Advisor
                  a(href="").dropdown-item Add Team Member
