- 'use strict';
include ../../../templates/mixins.pug
include menu.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', '/campaign/' + values.id + '/general_information'],
        ['team member (Advisor)', ''],
    ]
)

section.team-members.container.m-b-85
  +menu('campaign', 'team-members')

  //START RIGHT BLOCK
  .col-lg-10.offset-lg-1.col-xl-8.offset-xl-0.push-xl-3
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 #{type == 'advisor' ? 'advisor' : 'team member'}

    form(method="post" action="").form-section
      input(type="hidden" name="type" value=type)#type
      input(type="hidden" name="photo" value=member.photo)#photo
      - values = member;
      +fieldBlock("first_name", '', {
        class1: 'col-lg-3 col-md-12',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        })
      +fieldBlock("last_name", '', {
        class1: 'col-lg-3 col-md-12',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        })
      +fieldBlock("email", '', {
        class1: 'col-lg-3 col-md-12',
        class2: 'col-lg-9 col-md-12',
        type: 'email',
        })
      if type == 'advisor'
        +fieldBlock("title", 'Advisor', {
          class1: 'col-lg-3 col-md-12',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          readonly: true,
          })
      else
        +fieldBlock("title", '', {
          class1: 'col-lg-3 col-md-12',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          })

      .form-group.row.clearfix.required
        label.col-lg-3.col-md-12.text-lg-right Bio
        .col-lg-9.col-md-12
          textarea(name="bio" placeholder="At least 150 characters" rows="4").form-control #{ member.bio }
      .row
        .col-lg-9.col-md-12.recommended.label-p-t-0
          +fieldBlock("growup", '', {
            class1: 'col-lg-4 col-md-12',
            class2: 'col-lg-8 col-md-12',
            type: 'text',
            placeholder: 'City'
            })
        .col-lg-3.col-md-12
          //- select(name="state").orderby.custom-select
          //-   option(checked="checked" value="0") ST
          //-   option(value="1") STL
          select(name='state').custom-select
            option(value="") State
            each state in states
              if member.state == state.abbreviation
                option(value=state.abbreviation selected)= state.name
              else
                option(value=state.abbreviation)= state.name
      .label-p-t-0
        +fieldBlock("college", '', {
          class1: 'col-lg-3 col-md-12',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          placeholder: 'Name of college or university',
          })
      .row
        .col-lg-6.input-min-width
          +fieldBlock("linkedin", '', {
            class1: 'col-lg-6 col-md-12',
            class2: 'col-lg-6 col-md-12',
            type: 'text',
            placeholder: 'Your LinkedIn profile',
            })
        .col-lg-6.input-min-width
          +fieldBlock("facebook", '', {
            class1: 'col-lg-5 col-md-12',
            class2: 'col-lg-7 col-md-12',
            type: 'text',
            placeholder: 'Your Facebook profile',
            })

      .row.dropzone__photo.media-item
        .col-lg-3.p-r-12.col-md-12.text-md-center.text-sm-center.text-xs-center
          .pull-lg-right.font-weight-bold  Photo
        div(style="position:relative;").clearfix
          div(style="line-height:115px;text-align:center;position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;z-index:1;display:none;background-color:rgba(255,255,255,0.8);").uploading
            img(alt="activity indicator" src="/img/ajax-loader.gif" style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;")
          span
            .col-lg-9.text-lg-center
              .border-dropzone.col-lg-12.gallery
                .col-lg-6.col-md-5.col-sm-5.col-xs-5.p-dropzone.text-md-center.text-sm-center.text-xs-center.p-dropzone
                  div(href="#")
                    p.drop-photo Drop your photo here or click to upload
                    i.fa.fa-camera
                .col-lg-6.col-md-7.col-sm-7.col-xs-7.text-lg-center.p-dropzone
                  img(src=member.photo).img-fluid.img-circle.img-photo
      .col-lg-12.text-lg-right.p-r-0.p-t-2.text-md-center.text-sm-center.text-xs-center
        button.btn.btn-secondary.text-uppercase.m-r-3.cancel cancel
        button(type="submit").btn.btn-primary.text-uppercase.pull-lg-right Save
          //
            .col-lg-6.p-r-0
              .dropdown.pull-right
                button(type="submit"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ).btn.btn-lg.btn-primary.text-uppercase.dropdown-toggle Save and add other
                .dropdown-menu(aria-labelledby="dropdownMenuButton")
                  a(href="").dropdown-item Add Advisor
                  a(href="").dropdown-item Add Team Member
