input(type="hidden" name="city" value=user.city disabled=((user.country=='US') ? false : true))
  input(type="hidden" name="state" value=user.state disabled=((user.country=='US') ? false : true))
  .row
    .col-xl-6.col-lg-6.col-md-6
      //if user.country == 'US'
      -
        pug_html += app.fields.textLabel('zip_code', Object.assign({
        'type': 'text',
        'value': user.zip_code,
        }, fields.zip_code))

    .col-xl-6.col-lg-6.col-md-6.city_states.required
      .row.form-group
        label.col-xl-12.text-xl-left City/State
        .col-xl-12
          a(
          data-toggle="modal"
          data-target="#city_state_modal"
          href="#city_state_modal"
          ).change_state_city
            span.input-value.js-city-state
              | #{ user.city || '(City)' }, #{ user.state || '(State)' }
            i.fa.fa-pencil-square-o.link-1