include ../../../templates/fields_mixins.pug

input(type="hidden" name="city" values=values.city disabled=((user.country=='US') ? false : true))
input(type="hidden" name="state" value=values.state disabled=((user.country=='US') ? false : true))

.row
  .col-md-12.col-lg-6
    +fieldTextLabel('zip_code', _.extend({
      'class1': 'col-lg-6 text-lg-right text-xs-left',
      'class2': 'col-lg-6',
      'type': 'text',
      'value': values.zip_code,
    }, fields.zip_code))

  .col-lg-5.city_states.required
    .row
      label.col-lg-5.col-xs-6.text-lg-right.text-xs-left City/State
      .col-lg-6.col-xs-6
        a(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
          span.input-value.js-city-state #{ values.city ? values.city : '(City)' }, #{ values.state ? values.state : '(State)' }
          i.fa.fa-pencil-square-o.link-1
.row
  .col-xl-6.us-phone
    if user.country == 'US'
      +fieldTextLabel('phone', _.extend({
        'class1': 'col-lg-6 text-lg-right text-xs-left',
        'class2': 'col-lg-6',
        'type': 'text',
        'value': values.phone,
      }, fields.phone))

.row.foreign-country-row(style="display:" + (values.country == 'US' ? 'none' : 'block'))
.col-lg-6
  +fieldTextLabel('city', _.extend({
    'class1': 'col-lg-6 text-lg-right text-xs-left',
    'class2': 'col-lg-6 ',
    'type': 'text',
    'value': values.city,
  }, fields.city))
.col-lg-5
  +fieldTextLabel('state', _.extend({
    'class1': 'text-lg-right col-lg-5 p-t-0 m-b-0',
    'class2': 'col-lg-7',
    'type': 'text',
    'label': 'State/Province/ Region',
    'placeholder': 'State/Province/Region',
    'value': values.state,
  }))

.row.foreign-country-row(style="display:" + (values.country == 'US' ? 'none' : 'block'))
.col-lg-6
  .form-group.row.zip_code.text
    label.text-lg-right.col-lg-6(for="zip_code") Postal Code
    div.col-lg-6
      input.form-control(name='zip_code1' placeholder='Postal Code' type="text" value=values.zip_code)
.col-lg-5.foreign-country-phone
  if values.country != 'US'
    +fieldTextLabel('phone', _.extend({
      'class1': 'col-lg-5 text-xl-right text-lg-left',
      'class2': 'col-lg-7 ',
      'type': 'text',
      'value': values.phone,
    }, fields.phone))
