- var usaStates = require('consts/usaStates.json').USA_STATES;

.row.showPopover(data-content="Why do we ask? These affinity based questions can help us share your campaign with potential investors with similar backgrounds.")
  .col-xl-6.col-lg-6.col-md-6
    - pug_html += app.fields.textLabel('zip_code', { label: 'Where did you grow up?', value: values.zip_code, schema: this.fields.zip_code, placeholder: 'Zip code', })

  .col-xl-6.col-lg-6.col-md-6.city_states.required.form-group
    .row
      label.col-xl-12.text-xl-left City/State
      .col-xl-12
        a(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
          span.input-value.js-city-state #{ values.city  || '(City)' }, #{ usaStates[values.state] || '(State)' }
          i.fa.fa-pencil-square-o.link-1

//MODAL
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#city_state_modal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-xs-center.text-uppercase.dosis.modal-title City/State

      .modal-body
        .container.form-section
          .col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
              //control names city/state allows serialize from data before submit
              input(type="text" placeholder="City" name="city" value=values.city)#city.js-city.form-control
            .form-group.row.clearfix.required
              select(name="state" id="state").js-state.form-control.custom-select
                option(value="") State
                each stateTitle, stateValue in usaStates
                  if values.state == stateValue
                    option(value=stateValue selected)= stateTitle
                  else
                    option(value=stateValue)= stateTitle

            .form-group.row.clearfix.required.m-b-2
              .row
                .col-lg-12
                  .col-lg-12.text-xs-center
                    button(data-dismiss="modal")#saveCityState.btn.btn-primary.text-uppercase save
        .modal-footer
