- pug_html += app.breadcrumbs('Equity crowdfunding guide', '', [ ['Home', '/'], ['Equity crowdfunding guide', '/blog'], [values.title, ''], ]);

section
  #blogList.container
    .row
      .col-xl-3.col-lg-4.position
        include ./snippets/leftMenuBlog.pug
      .col-xl-9.col-lg-8.position.single-blog
        article
          .row
            .col-lg-12.text-xs-center
              h2.text-uppercase.m-t-0.m-b-1 #{ values.title }
              // subtitle
              h3.font-weight-light.m-t-0.m-b-3 Here is the subtitle of the blog post
          .row
            .col-lg-12
              .blog-img
                // закоментировал тк не работает
                  img(src=values.image_data.urls).img-fluid
                img(src=require('images/pages/bse4.png')).img-fluid.w-100
              .blog-text
                | !{ values.body }
              .blog-info
                .date
                  i.fa.fa-user
                  h4.text-uppercase.font-weight-bold.d-inline-block #{ values.author_id }
                .autor
                  i.fa.fa-calendar
                  h4.text-uppercase.font-weight-bold.d-inline-block #{ app.helpers.date.formatDate(values.created, 'MMMM DD, YYYY') }
                .categories
                  i.fa.fa-tag
                  h4.text-uppercase.font-weight-bold.d-inline-block #{ values.category }
          .row
            .col-xl-12
              a(href="#").btn-post.btn
                i.fa.fa-angle-left
                span PREV 
                  span.hidden-xs-down  POST
              a(href="#").btn-post.btn.pull-right
                span NEXT 
                  span.hidden-xs-down POST
                i.fa.fa-angle-right
          .row
            .col-xl-12
              h2.text-uppercase.m-b-0 Comments
            .col-xl-12.p-l-0.p-r-0.p-xs-1
              .comments-container



