- pug_html += app.breadcrumbs('Equity crowdfunding guide', '', [ ['Home', '/'], ['Equity crowdfunding guide', ''], ]);

section.text_block
  .container#blogList
    .row
      .col-xl-3.col-lg-4.position
        include ./snippets/leftMenuBlog.pug

      .col-xl-9.col-lg-8.position
        ul.list-unstyled.list-blog.m0.row
          for post in values
            li.col-xl-6.blog-item
              // закоментировал тк не работает
              //img(src=post.image_data.urls).img-fluid
              img(src=require('images/pages/bse4.png')).img-fluid.w-100
              h4.text-uppercase.m-b-0 #{ post.title }
                .blog-info
                  span.author #{ post.author_id }
                  span.vert-line |
                  span.date-blog #{ app.helpers.date.formatDate(post.created, 'MMMM DD, YYYY') }
              p.text
                | !{ post.body.replace(/(<([^>]+)>)/ig," ").substr(0, 120) + '...' }
              a(href="/blog/" + post.id).btn.btn-sm.btn-secondary.text-uppercase read more
                i.fa.fa-angle-right

        section.pagination
          // need include pagipation
