-
  var moment = require('moment');
section
  
  .row
    .col-xl-12
      h2.text-uppercase investors
  .col-xl-12.all-investors
    .col-xl-12.p-xs-0
      each invest in locals.investors.data
        .row.item
          .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
            .photo
              img(src=require("images/default/Default_photo.png"), alt="")
            .name
              h4.text-uppercase #{invest.personal_information_data.first_name} #{invest.personal_information_data.last_name }
              p #{invest.user.email}
          .col-xl-4.col-lg-4.col-md-4.col-sm-7.col-xs-12
            .city
              i.fa.fa-map-marker
              .street
                p.font-weight-bold #{invest.personal_information_data.country}
                p #{invest.personal_information_data.street_address_1}, #{invest.personal_information_data.state} #{invest.personal_information_data.zip_code}
          .col-xl-3.col-lg-3.col-md-4.col-sm-5.col-xs-12
            .invest
              span.money $#{invest.amount}
              - debugger
              .date
                | #{invest.created_date}
              //.date June 15th, 2017
                br
                | 2:08:00 pm
          .col-xs-12
            .border-bottom
