- var COUNTRIES = require('consts/countries.json');

section
  .row
    .col-xl-12
      h2.text-uppercase investors
  .row
    .col-xl-12
      .panel-message
        .left-wrap
          .create-message
            p Send a Message to Investors
            a(href="#").btn.btn-sm.btn-primary create message
              i.fa.fa-angle-right
          .see-message
            p See Previous Messages Sent
            a(href="#").link-3
              i.fa.fa-paper-plane
              | 2 messages
        .right-wrap
          .send-payment
            p Send Payment to Investors
            button(href="#" data-toggle="modal" data-target="#send_payment").btn.btn-sm.btn-secondary Send Payment
              i.fa.fa-angle-right
  if locals.investors.data.length == 0 
    .form-group.row.m-t-2
      .col-lg-12
        .warning-block.m-b-0
          i.fa.fa-info-circle
          span.warning-text
            | You have no investors
  else
    .col-xl-12.all-investors
      .col-xl-12.p-xs-0
        each invest in locals.investors.data
          .row.item
            .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
              .photo
                img(src=invest.user.image_data.getUrl('main', 'Default_photo') alt="")
              .name
                h4.text-uppercase #{invest.personal_information_data.first_name} #{invest.personal_information_data.last_name }
                if locals.campaign.successful && locals.campaign.expired
                  p #{invest.user.email}
            .col-xl-4.col-lg-4.col-md-4.col-sm-7.col-xs-12
              .city
                i.fa.fa-map-marker
                .street
                  p.font-weight-bold #{ COUNTRIES[invest.personal_information_data.country] || invest.personal_information_data.country }
                  if locals.campaign.successful && locals.campaign.expired
                    p #{invest.personal_information_data.street_address_1}, #{invest.personal_information_data.street_address_2}
                    p #{invest.personal_information_data.city}, #{invest.personal_information_data.state}, #{invest.personal_information_data.zip_code}
            .col-xl-3.col-lg-3.col-md-4.col-sm-5.col-xs-12
              .invest
                span.money $#{invest.amount}
                .date
                  | !{ app.helpers.date.formatDate(invest.created_date, 'MMM DD, YYYY<br>HH:mm:ss') }
            .col-xs-12
              .border-bottom

  .col-xl-12.send-message(style="display: none")
    .title.line-row.row
      .col-xl-12
        i.fa.fa-envelope-o
        h4.text-uppercase.d-inline-block send a message
        a(href="#").delete.d-inline-block
          i.fa.fa-times
    
    .from.line-row.row
      .col-xl-12
        h4.text-uppercase.d-inline-block.m-r-0 From:
        input(value="Company name").d-inline-block.form-control
    
    .to.line-row.row
      .col-xl-12
        h4.text-uppercase.d-inline-block to:
        span All Investors
    .panel.line-row.row
      .col-xl-12
        a(href="#")
          i.fa.fa-bold
        a(href="#")
          i.fa.fa-italic
        a(href="#")
          i.fa.fa-underline
        //a(href="#") A
        span.line-vertical
        a(href="#")
          i.fa.fa-list-ol
        a(href="#")
          i.fa.fa-list-ul
        span.line-vertical
        a(href="#").attach-file
          i.fa.fa-paperclip
          strong Attach a file
    .textarea.row
      form.form-section
        .form-group.m-b-0
          textarea.w-100.form-control
    .row.file-row
      .col-xl-12
        .file
          a(href="#")
            i.fa.fa-file-o
            | filename.pdf
          a(href="#").delete
            i.fa.fa-times

  .col-xl-12.see-previous-messages(style="display: none;")
    .title.line-row.row
      .col-xl-12
        i.fa.fa-paper-plane
        h4.text-uppercase.d-inline-block Previous messages sent
        a(href="#").delete.d-inline-block
          i.fa.fa-times
    .row
      .all-message
        .one-message
          .link
            | 02/10/2017
            i.fa.fa-paperclip
          .text
            P Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. 
            .file
              a(href="#").attach-file
                i.fa.fa-file-o
                | Attach a file
          a(href="#").open-message
            i.fa.fa-angle-down
          a(href="#").close-message
            i.fa.fa-times
        .one-message
          .link
            | 02/10/2017
            i.fa.fa-paperclip
          .text
            P Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. 
            .file
              a(href="#").attach-file
                i.fa.fa-file-o
                | Attach a file
          a(href="#").open-message
            i.fa.fa-angle-down
          a(href="#").close-message
            i.fa.fa-times


//popup
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#send_payment.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .container
        .modal-header.p-x-0
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
              i.fa.fa-times
          h2.text-uppercase.text-xs-center.mt50 Send payment
        .modal-body
          h3.m-t-0 Call us at 646-759-8229 to discuss payment options.
        .modal-footer
