- var button =  document.querySelector('.btn.btn-primary');
- var backgroundAll = getComputedStyle(button).backgroundColor;
- var buttonPaddingAll = getComputedStyle(button).padding;
- var buttonColorAll = getComputedStyle(button).color;
- var buttonBorderAll = getComputedStyle(button).borderRadius;
- var border = document.querySelector('.dashboard-stat');
- var bordersAll = window.getComputedStyle(border).backgroundColor;

section
  .row
    .col-xl-12
      h2.text-uppercase.m-b-2 invest now
  .row
    .col-xl-12
      p You can add an “INVEST NOW” button to your company’s website, which will redirect investors to your campaign page on GrowthFountain.
    .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12
      h3.text-uppercase.text-xs-center.m-b-1 Variant 1
      img(src=require("images/generals/widget-v1.png"), alt="Variant 1").w-100
      p.m-b-1 If you want to add this variant of widget to your website, please add the following&nbsp;
        span.font-weight-bold HTML code 
        | into your page:
      code.m-b-1.big-section
        | #{'<div id="gf__widget" class="gf__widget_v1">'}
        br
        | &nbsp;&nbsp;#{'<div id="gf__widget_invest">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__widget_header">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="#" class="gf__close_widget" id="gFcloseWidget">&times;</a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__all_widget_wrap">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<h3>Invest in <span class="gf__company_name">'}#{company.name}#{'</span> on</h3>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/logo-black.png'}#{'">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="'}#{window.location.protocol + '//' + window.location.host + '/'}#{app.user.company.slug}#{'" class="gf__btn_widget" target="blank">invest now</a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'<div id="gf__widget_show">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png'}#{'">'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | #{'</div>'}
      p.pb10 Then you need import 
        span.font-weight-bold JavaScript:
      code.m-b-1
        | #{'<script src="'}#{window.location.protocol + '//' + window.location.host + '/js/widget/widget-gfv2.js'}#{'"></script>'}
      p.pb10 And initialization 
        span.font-weight-bold function:
      code.small-section
        | #{'<script type="text/javascript">'}
        br
        | &nbsp;#{'widgetsElement({'}
        br
        | &nbsp;&nbsp;#{"buttonBackground:'"}#{backgroundAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonColor: '"}#{buttonColorAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonPadding:'"}#{buttonPaddingAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonRadius:'"}#{buttonBorderAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"borderColors:'"}#{bordersAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"timeOut: 4000,"}
        br
        | &nbsp;#{'});</script>'}
    .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12
      h3.text-uppercase.text-xs-center.m-b-1 Variant 2
      img(src=require("images/generals/widget-v2.png"), alt="Variant 2").w-100
      p.m-b-1 If you want to add this variant of widget to your website, please add the following 
        span.font-weight-bold HTML code 
        | into your page:
      code.m-b-1.big-section
        | #{'<div id="gf__widget" class="gf__widget_v2">'}
        br
        | &nbsp;&nbsp;#{'<div class="gf_widget_wrap" id="gf__widget_invest">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__widget_header">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="#" class="gf__close_widget" id="gFcloseWidget">&times;</a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__content_widgets">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<div class="gf__img_wrap">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png'}#{'">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<h3>Invest Now!</h3>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<p>Own a piece of <span>'}#{company.name}#{'</span> with equity crowdfunding on GrowthFountain.</p>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'<a href="'}#{window.location.protocol + '//' + window.location.host + '/'}#{app.user.company.slug}#{'" class="gf__btn_widget" target="blank">invest now</a>'}
        br
        | #{'</div>'}
      p.pb10 Then you need import 
        span.font-weight-bold JavaScript:
      code.m-b-1
        | #{'<script src="'}#{window.location.protocol + '//' + window.location.host + '/js/widget/widget-gfv2.js'}#{'"></script>'}
      p.pb10 And initialization 
        span.font-weight-bold function:
      code.small-section
        | #{'<script type="text/javascript">'}
        br
        | &nbsp;#{'widgetsElement({'}
        br
        | &nbsp;&nbsp;#{"buttonBackground:'"}#{backgroundAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonColor:'"}#{buttonColorAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonPadding:'"}#{buttonPaddingAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"buttonRadius:'"}#{buttonBorderAll}#{"',"}
        br
        | &nbsp;&nbsp;#{"timeOut: 4000,"}
        br
        | &nbsp;#{'});</script>'}
