section
  .row
    .col-xl-12
      h2.text-uppercase widget
  .row
    .col-xl-12
      p.pb10 If you want add widget to your website, please add this HTML code in your page
      code.m-b-1
        | #{'<div id="gf__widget" class="gf__widget_v1">'}
        br
        | &nbsp;&nbsp;#{'<div id="gf__widget_invest" style="display:none;">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__widget_header">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="#" class="gf__close_widget" id="gFcloseWidget"><i class="fa fa-times" aria-hidden="true"></i></a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__all_widget_wrap">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<h3>Invest in <span class="gf__company_name">'}#{company.name}#{'</span> on</h3>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/logo-black.png'}#{'">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="'}#{window.location.protocol + '//' + window.location.host + '/'}#{app.user.company.slug}#{'" class="gf__btn_widget" target="blank">invest now</a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'<div id="gf__widget_show" style="display:none;">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png'}#{'">'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | #{'</div>'}
      h3.text-uppercase Version 2
      code.m-b-1
        | #{'<div id="gf__widget" class="gf__widget_v2">'}
        br
        | &nbsp;&nbsp;#{'<div class="gf_widget_wrap" id="gf__widget_invest" style="display:none;">'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__widget_header">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<a href="#" class="gf__close_widget" id="gFcloseWidget"><i class="fa fa-times" aria-hidden="true"></i></a>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'<div class="gf__content_widgets">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<div class="gf__img_wrap">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{'<img src="'}#{window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png'}#{'">'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<h3>Invest Now!</h3>'}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{'<p>Own a piece of <span>'}#{company.name}#{'</span> with equity crowdfunding on GrowthFountain.</p>'}
        br
        | &nbsp;&nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'</div>'}
        br
        | &nbsp;&nbsp;#{'<a href="'}#{window.location.protocol + '//' + window.location.host + '/'}#{app.user.company.slug}#{'" class="gf__btn_widget" target="blank">invest now</a>'}
        br
        | #{'</div>'}




      p.pb10 after, you needs import Javascript 
      code.m-b-1
        | #{'<script src="'}#{window.location.protocol + '//' + window.location.host + '/js/widget/widget-gf.js'}#{'"></script>'}
      p and initialization function
      code
        | #{'<script type="text/javascript">widgetsElement();</script>'}
