
include ../../../templates/mixins.pug

+breadcrumbs('Established Business Valuation Calculator', 'Step 1',
    [
        ['Home', '/'],
        ["What's My Business Worth?", '/'],
        ["Established Business Valuation Calculator", '']
    ]
)

.container.calculator-container
    .row
        .offset-lg-1.col-xs-10
            ul.list-inline.top-breadcrambs.mb45.established-business
                li
                    a(href="/calculator/establishedBusiness/intro").btn.text-uppercase Intro
                li
                    a(href="/calculator/establishedBusiness/step-1").current.btn.text-uppercase step 1
                li
                    a(href="/calculator/establishedBusiness/step-2").btn.text-uppercase step 2
                li
                    a(href="/calculator/establishedBusiness/step-3").btn.text-uppercase step 3
                li
                    a(href="/calculator/establishedBusiness/finish").btn.text-uppercase Finish

    .row
        .offset-lg-3.col-lg-6
            form(method="post" action="")
                .form-body.clearfix
                    .form-group.row
                        label.col-lg-12.col-form-label(for='industry') Please provide the industry to which your business belongs.
                        .col-lg-12
                            select#industry.form-control.js-select(
                                data-model-value='industry')
                                each val, index in industryData
                                    if val == data.industry
                                        option(selected)= val
                                    else
                                        option= val

                    .form-group.row
                        label(for="raiseCash").col-lg-12 How much cash do you plan to raise?

                        .col-lg-12
                            input#raiseCash.form-control.js-field(
                                value= formatPrice(data.raiseCash),
                                type='text',
                                placeholder='Raise Amount',
                                data-input-mask='price',
                                data-model-value='raiseCash',
                                data-current-value= data.raiseCash)

                    .form-group.row
                        label(for="ownCache").col-lg-12 How much cash, beyond what's needed for immediate operating needs, does your business currently have?

                        .col-lg-12
                            input#ownCache.form-control.js-field(
                                value= formatPrice(data.ownCache),
                                type='text',
                                placeholder='Cash Holdings',
                                data-input-mask='price',
                                data-model-value='ownCache',
                                data-current-value= data.ownCache)

                    .form-group.row
                        label(for="currentDebt").col-lg-12 How much cash, beyond what's needed for immediate operating needs, does your business currently have?

                        .col-lg-12
                            input#currentDebt.form-control.js-field(
                                value= formatPrice(data.currentDebt),
                                type='text',
                                placeholder='Current Debt',
                                data-input-mask='price',
                                data-model-value='currentDebt',
                                data-current-value= data.currentDebt)

                    .form-group.row.clearfix.m0
                        .col-lg-6.mt30
                            a(href='/calculator/establishedBusiness/intro').link-3 Go back
                            p.text-muted Don&apos;t worry we saved this info

                        .col-lg-6.mt30
                            .controls
                                a(href='/calculator/establishedBusiness/step-2').btn.btn-primary.pull-right.text-uppercase Next
                                // add class .pointer-events-none to disable all events for this button
