
include ../../../templates/mixins.pug

+breadcrumbs('Established Business Valuation Calculator', 'Step 2',
    [
        ['Home', '/'],
        ["What's My Business Worth?", '/calculator/selectYourBusiness'],
        ["Established Business Valuation Calculator", '']
    ]
)

.container.calculator-container
    .row
        .offset-lg-1.col-xs-10
            ul.list-inline.top-breadcrambs.mb45.established-business
                li
                    a(href="/calculator/establishedBusiness/intro").btn.text-uppercase Intro
                li
                    a(href="/calculator/establishedBusiness/step-1").btn.text-uppercase step 1
                li
                    a(href="/calculator/establishedBusiness/step-2").current.btn.text-uppercase step 2
                li
                    a(href="/calculator/establishedBusiness/step-3").btn.text-uppercase step 3
                li
                    a(href="/calculator/establishedBusiness/finish").btn.text-uppercase Finish

    .row
        .offset-lg-3.col-lg-6
            .warning-block
                i.fa.fa-exclamation-triangle 
                span.warning-text 
                    | For the last twelve months, please enter the following information about your business

    .row
        .offset-lg-3.col-lg-6
            form(method="post" action="")
                .form-body.clearfix
                    .form-group.row
                        label(for="revenue").col-lg-12 Revenue

                        .col-lg-12
                            input#revenue.form-control.js-field(
                                value= formatPrice(data.revenue),
                                type='text',
                                placeholder='Revenue',
                                data-input-mask='price',
                                data-model-value='revenue',
                                data-current-value= data.revenue)


                    .form-group.row
                        label(for="goodsCost").col-lg-12 Cost of Goods Sold

                        .col-lg-12
                            input#goodsCost.form-control.js-field(
                                value= formatPrice(data.goodsCost),
                                type='text',
                                placeholder='Cost of Goods Sold',
                                data-input-mask='price',
                                data-model-value='goodsCost',
                                data-current-value= data.goodsCost)


                    .form-group.row
                        label(for="operatingExpense").col-lg-12 SG&A, and other Operating Expenses&nbsp;&nbsp;
                            i(aria-hidden="true").fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#operatingExpense.form-control.js-field(
                                value= formatPrice(data.operatingExpense),
                                type='text',
                                placeholder='SG&A Operating Expense',
                                data-input-mask='price',
                                data-model-value='operatingExpense',
                                data-current-value= data.operatingExpense)


                    .form-group.row
                        label(for="oneTimeExpenses").col-lg-12 One Time (Extraordinary) Expenses&nbsp;&nbsp;
                            i(aria-hidden="true").fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#oneTimeExpenses.form-control.js-field(
                                value= formatPrice(data.oneTimeExpenses),
                                type='text',
                                placeholder='One Time (Extraordinary) Expenses',
                                data-input-mask='price',
                                data-model-value='oneTimeExpenses',
                                data-current-value= data.oneTimeExpenses)


                    .form-group.row
                        label(for="depreciationAmortization").col-lg-12 Depreciation  & Amortization&nbsp;&nbsp;
                            i(aria-hidden="true").fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#depreciationAmortization.form-control.js-field(
                                value= formatPrice(data.depreciationAmortization),
                                type='text',
                                placeholder='Depreciation & Amortization',
                                data-input-mask='price',
                                data-model-value='depreciationAmortization',
                                data-current-value= data.depreciationAmortization)


                    .form-group.row
                        label(for="interestPaid").col-lg-12 Interest Paid

                        .col-lg-12
                            input#interestPaid.form-control.js-field(
                                value= formatPrice(data.interestPaid),
                                type='text',
                                placeholder='Interest Paid',
                                data-input-mask='price',
                                data-model-value='interestPaid',
                                data-current-value= data.interestPaid)


                    .form-group.row
                        label(for="taxesPaid").col-lg-12 Taxes Paid

                        .col-lg-12
                            input#taxesPaid.form-control.js-field(
                                value= formatPrice(data.taxesPaid),
                                type='text',
                                placeholder='Taxes Paid',
                                data-input-mask='price',
                                data-model-value='taxesPaid',
                                data-current-value= data.taxesPaid)


                    .form-group.row.clearfix.m0
                        .col-lg-6.mt30
                            a(href='/calculator/establishedBusiness/step-1').link-3 Go back
                            p.text-muted Don&apos;t worry we saved this info

                        .col-lg-6.mt30
                            .controls
                                a(href='/calculator/establishedBusiness/step-3').btn.btn-primary.pull-right.text-uppercase Next
                                // add class .pointer-events-none to disable all events for this button
