
include ../../../templates/mixins.pug

+breadcrumbs('Established Business Valuation Calculator', 'Step 2',
  [
    ['Home', '/'],
    ["What's My Business Worth?", '/calculator/selectYourBusiness'],
    ["Established Business Valuation Calculator", '']
  ]
)

.container.calculator-container
  .row
    .offset-lg-1.col-lg-10
      ul.list-inline.top-breadcrambs.mb45.established-business
        li
          a(href="/calculator/establishedBusiness/intro").btn.text-uppercase Intro
        li
          a(href="/calculator/establishedBusiness/step-1").btn.text-uppercase step 1
        li
          a(href="/calculator/establishedBusiness/step-2").current.btn.text-uppercase step 2
        li
          a(href="/calculator/establishedBusiness/step-3").next.btn.text-uppercase step 3
        li
          a(href="/calculator/establishedBusiness/finish").next.btn.text-uppercase Finish

  .row
    .offset-lg-3.col-lg-6
      .warning-block
        i.fa.fa-exclamation-triangle 
        span.warning-text For 
          b the last twelve months, 
          |  please enter the following information about your business

  .row
    .offset-lg-3.col-lg-6
      form(method="post" action="").form-section
        .form-body.clearfix
          .form-group.row
            label(for="revenue").col-lg-12 Revenue

            .col-lg-12
              input(
                value= formatPrice(data.revenue),
                type='text',
                placeholder='Revenue',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='revenue',
                name="revenue",
                data-current-value= data.revenue)#revenue.form-control.js-field

          .form-group.row
            label(for="goodsCost").col-lg-12 Cost of Goods Sold

            .col-lg-12
              input(
                value= formatPrice(data.goodsCost),
                type='text',
                placeholder='Cost of Goods Sold',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='goodsCost',
                name="goodsCost",
                data-current-value= data.goodsCost)#goodsCost.form-control.js-field

          .form-group.row
            label(for="operatingExpense").col-lg-12 SG&A, and other Operating Expenses&nbsp;&nbsp;
              i(aria-hidden="true",data-toggle="tooltip",data-original-title="<b>Selling, General & Administrative Operating Expense.</b> The sum of all direct and indirect selling expenses and all general and administrative expenses of a company").fa.fa-question-circle.text-muted
            .col-lg-12
              input(
                value= formatPrice(data.operatingExpense),
                type='text',
                placeholder='SG&A Operating Expense',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='operatingExpense',
                name="operatingExpense",
                data-current-value= data.operatingExpense)#operatingExpense.form-control.js-field

          .form-group.row
            label(for="oneTimeExpenses").col-lg-12 One Time (Extraordinary) Expenses&nbsp;&nbsp;
              i(aria-hidden="true",data-toggle="tooltip",data-original-title="<b>One Time (Extraordinary) Expenses.</b> A rare, infrequent event which financial analysts separate out of the income statement in order to avoid distorting the 'regular' earnings reported by a company. They can include things like adverse legal, regulatory or tax issues, storm damage or restructuring charges.").fa.fa-question-circle.text-muted

            .col-lg-12
              input(
                value= formatPrice(data.oneTimeExpenses),
                type='text',
                placeholder='One Time (Extraordinary) Expenses',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='oneTimeExpenses',
                name="oneTimeExpenses",
                data-current-value= data.oneTimeExpenses)#oneTimeExpenses.form-control.js-field

          .form-group.row
            label(for="depreciationAmortization").col-lg-12 Depreciation  & Amortization&nbsp;&nbsp;
              i(aria-hidden="true",data-toggle="tooltip",data-original-title="<b>Depreciation</b><br/>The allocation of the cost of assets to periods in which the assets are used.<br/><br/><b>Amoritization</b><br/>To write off the cost of an asset gradually.").fa.fa-question-circle.text-muted

            .col-lg-12
              input(
                value= formatPrice(data.depreciationAmortization),
                type='text',
                placeholder='Depreciation & Amortization',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='depreciationAmortization',
                name="depreciationAmortization"
                data-current-value= data.depreciationAmortization)#depreciationAmortization.form-control.js-field

          .form-group.row
            label(for="interestPaid").col-lg-12 Interest Paid

            .col-lg-12
              input(
                value= formatPrice(data.interestPaid),
                type='text',
                placeholder='Interest Paid',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='interestPaid',
                name="interestPaid",
                data-current-value= data.interestPaid)#interestPaid.form-control.js-field

          .form-group.row
            label(for="taxesPaid").col-lg-12 Taxes Paid

            .col-lg-12
              input(
                value= formatPrice(data.taxesPaid),
                type='text',
                placeholder='Taxes Paid',
                autocomplete='off'
                data-input-mask='price',
                data-model-value='taxesPaid',
                name="taxesPaid"
                data-current-value= data.taxesPaid)#taxesPaid.form-control.js-field

          .form-group.row.clearfix.m0
            .col-xs-6.p-t-2.m-t-1
              a(href='/calculator/establishedBusiness/step-1').link-3 Go back

            .col-xs-6.mt30
              .controls
                //- a(href='/calculator/establishedBusiness/step-3').btn.btn-primary.pull-right.text-uppercase Next
                button.btn.btn-primary.pull-right.text-uppercase Next
                // add class .pointer-events-none to disable all events for this button
