span.d-inline-block
  i.fa.fa-share
  |  Share:
div(data-key=key).d-inline-block.social-links-container
  a(href=info.facebook() target="_blank").facebook-share
    i.fa.fa-facebook-square
  a(href=info.twitter() target="_blank").twitter-share
    i.fa.fa-twitter-square
  a(href='#'
    target="_blank"
  ).linkedin-share
    i.fa.fa-linkedin-square
  a(href=info.email()).email-share
    i.fa.fa-envelope-square
//-a(href=info.google_plus() target="_blank").link-1.google-plus-share
    i(aria-hidden="true").fa.fa-google-plus
