span.d-inline-block
  i.fa.fa-share
  |  Share:
.d-inline-block
  a(href=links.facebook target="_blank").facebook-share
    i.fa.fa-facebook-square
  a(href=links.twitter target="_blank").twitter-share
    i.fa.fa-twitter-square
  a(href=links.linkedin target="_blank").linkedin-share
    i.fa.fa-linkedin-square
  a(href=links.mailTo data-close="true" data-popup-opt="width=1,height=1").email-share
    i.fa.fa-envelope-square
//- a(href=links.google_plus target="_blank").link-1.google-plus-share
    i(aria-hidden="true").fa.fa-google-plus

//- linkedin sdk
script( type="text/javascript" src="//platform.linkedin.com/in.js").
  api_key:  #{global.linkedinClientId}