.container.calculator-container
    .page
        .js-jq-plot-area
            #chart1(style='width: 100%')
            p.lead Your results
            .table-responsive
                table.table.table-sm.table-bordered.table-striped
                    thead
                        tr
                            th Time
                            th Fundraise
                            th Revenue
                            th Annual Distributions
                            th Multiple Returned
                            th Total Distributions
                    tbody
                        each val, index in outputData
                            tr
                                th(scope='row')= 'Year ' + index
                                td= val.fundraise
                                td= val.revenue
                                td= val.annual
                                td= val.multiple
                                td= val.total