h2#ask.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading ASK A QUESTION
.col-lg-8.offset-lg-2.pt30.comment-form-div
  form.comment-form.form-section
    .col-lg-8
      input(type="text" name="body" placeholder="Type your text here..." value='').text-body
    .col-lg-4.p-r-0.text-xl-right.text-xs-center.p-t-sm-1
      button(type="button").btn.btn-primary.text-uppercase.pull-lg-right.ask-question Submit



.col-lg-8.offset-lg-2.pt50.comments
  -
    var options = {
      owner_id: owner_id,
      company_id: company_id,
    };

  each c in comments
    | !{ app.fields.comment(c, 0, options) }

.stubs.collapse
  .related-role.form-group.m-t-1
    label.yesno
      input(
        type='checkbox'
        data-name='related'
        checked=false
      ).related-cb.col-xl-1
      span.font-weight-normal.p-l-1.col-xl-11
        | I am speaking on behalf of the company
    div(style="display: none;").form-group.m-t-1.related.shown-yes
      .col-lg-3
        span.font-weight-normal
          | I am an:
      .col-lg-9.radio-input
        label
          input(type="radio" name="related" value="employee" selected=false)
          | Employee
        label
          input(type="radio" name="related" value="promoter" selected=false)
          | Promoter

  //- todo: move this to fields
  form.comment-form.form-section.edit-comment.collapse
    .col-lg-11.offset-lg-1.m-t-2.p-r-0.p-l-3.form-group
      .border-bottom.m-t-0.mb30
      textarea(placeholder="Type your text here").form-control.big-textarea.text-body.col-lg-12
    .col-lg-12.p-r-0.text-xl-right
      button(type="button").btn.btn-sm.btn-secondary.text-uppercase.m-r-2.cancel-comment Cancel
      button(type="button").btn.btn-sm.btn-primary.text-uppercase.submit-comment Submit
      