mixin comment(comment, level)
  -
    level = level || 0;
    var topLevel = level <= 0;

    var cssClass = level > 12
      ? 'col-lg-10 offset-lg-1'
      : 'col-lg-' + (12 - level) + ' offset-lg-' + level;
    cssClass += ' pt30 comment ' + (topLevel ? '' : 'collapse');

    var avatar = '/img/avatar1.jpg';
    var userName = users[comment.user_id] || 'Anonymous';
    var id = comment.uid
      ? 'comment_' + comment.uid
      : 'comment_empty_' + level;

  div(id=id class=(cssClass + ' pt30 comment') data-level=level data-id=comment.uid).p-r-0.p-t-0
    .col-lg-1
      img(src=avatar alt="").img-circle
    .col-lg-11
      .comments-wrap
        span.name-comments.text-uppercase #{ userName }
        if company.owner == comment.user_id
          span.kvalificatio-comments.text-uppercase CEO

        span.date-comments.pull-right #{ comment.created }
        p #{ comment.message }
        div.responce
          li
            a(href="").link-1.link-response-count #{ comment.children.length }
              i.fa.fa-angle-up
                span |
          li
            a(href="").link-1.link-reply Reply
            span |
          li
            a(href="").link-1.link-like
              i.fa.fa-thumbs-up

    if comment.children && comment.children.length
      each childComment in comment.children
        +comment(childComment, level + 1)
    else if comment.uid
      //append empty comment stub
      +comment({
        uid: '',
        role: '',
        'message': '',
        "user_id": app.user.get('id'),
        "children": []
      }, level + 1)


h2#ask.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading ASK A QUESTION
.col-lg-8.offset-lg-2.pt30.comment-form-div
  form.comment-form.form-section
    .col-lg-8
      input(type="text" name="body" placeholder="Type your text here..." value='').text-body
    .col-lg-4.p-r-0.text-xl-right.text-xs-center.p-t-sm-1
      button(type="button" ).btn.btn-primary.text-uppercase.pull-lg-right.ask-question Submit

  form.comment-form.form-section.new-comment.collapse
      .col-lg-12
        textarea(placeholder="Type your text here").text-body.col-lg-12
      .col-lg-4.p-r-0.text-xl-right
        button(type="button").btn.btn-primary.text-uppercase.pull-lg-right.submit-comment Submit
        button(type="button").btn.btn-secondary.text-uppercase.pull-lg-right.cancel-comment Cancel


.col-lg-8.offset-lg-2.pt50.comments
  each c in comments
    +comment(c, 0)


//.col-lg-8.offset-lg-2.pt50.comments
  //comments themselves
  .col-lg-11.offset-lg-1.pt30.p-r-0
    .col-lg-1.text-xs-center.text-lg-left
      img(src="/img/avatar10.jpg" alt="").img-circle
    .col-lg-11
      .comments-wrap
        span.name-comments.text-uppercase maria kravchuk
        span.kvalificatio-comments.text-uppercase CEO
        span.date-comments.pull-right 2 Days Ago
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
        .responce
          li
            a(href="").link-1 0
              i.fa.fa-angle-down
            span |
          li
            a(href="").link-1 Responce
            span |
          li
            a(href="").link-1
              i.fa.fa-thumbs-up






