-
  var userName = comment.user.first_name + ' ' + comment.user.last_name;
  //ignore Director/Shareholder role
  // var roleBitmap = 0b1111111100 & comment.user.role;
  var roleBitmap = comment.user.role;
  //roleBitmap = roleBitmap || comment.user.role;
  var roles = app.helpers.role.extractRolesByPriority(roleBitmap);
  var passedTime = app.helpers.date.fromNow(comment.created_date);
  var avatar = require('images/default/Default_photo.png');
  if(comment.user.image_data.urls && comment.user.image_data.urls['50x50']) {
    avatar = app.sites[comment.user.image_data.site_id] + comment.user.image_data.urls['50x50'];
  }

div(id=('comment' + comment.uid) data-id=comment.uid data-level=level).single-comment.col-xl-12
  .author-info
    .row
      .col-xl-12
        .comment-img
          img(src=avatar alt="").img-circle
        .author-heading
          h4.text-uppercase.author-mane #{ userName }
          each role in roles
            span.kvalificatio-comments #{ role.title }
          else
            if comment.related
              span.kvalificatio-comments #{ comment.related }
          p.date-comments #{ passedTime }
    .row
      .col-xl-12
        .author-comment
          p.comment !{ comment.message.replace(/\n/g, '<br/>') }
        div.responce.comment-actions
          if level <= 0
            li.icon-comment
              i.fa.fa-comment-o.p-r-5.p-l-0
              a(href="#").link-1.link-response-count
                span.count #{ comment.count || '' }
                i.fa.fa-angle-up
              span.reply-right |
          if level <= 3
            li.reply
              a(href="#" disabled=attr.readonly).link-1.link-reply Reply
          //-
            li
              a(href="#").link-1.link-like
                i.fa.fa-heart
            li.pull-lg-right
              a(href="#").link1.link-edit
                i.fa.fa-pencil-square-o.p-r-5
              | Edit
            li.pull-right
              span.p-5 |
            li.pull-right
              a(href="#").link1.link-delete
                i.fa.fa-times.p-r-5
              | Delete


  if comment.children && comment.children.length
    .multilevel-comments
      each childComment in comment.children
        | !{ snippets.comment({ comment: childComment, snippets: snippets, attr: attr, level: level + 1 }) }
  else
    .multilevel-comments.collapse
