mixin comment(comment, level)
  -
    level = level || 0;
    var topLevel = level <= 0;

    var cssClass = level > 12
      ? 'col-lg-10 offset-lg-1'
      : 'col-lg-' + (12 - level) + ' offset-lg-' + level;
    cssClass += ' pt30 comment ';// + (topLevel ? '' : 'collapse');

    //var avatar = comment.user.image_data[0];
    var avatar = '/img/avatar1.jpg';

    //var userName = comment.user.first_name + ' ' + comment.user.last_name;
    var userName = 'Anonymous';
    var id = comment.uid
      ? 'comment_' + comment.uid
      : 'comment_empty_' + level;

    //var passedTime = datetimeHelper.fromNow(comment.user_create_date);
    var passedTime = 'one day ago';
    comment.user = comment.user || {};

  div(id=id class=cssClass data-level=level data-id=comment.uid).p-r-0.p-t-0
    .border-bottom.m-t-1.m-b-1
    .col-lg-1
      img(src=avatar alt="").img-circle
    .col-lg-11
      .comments-wrap.col-lg-12.p-r-0
        span.name-comments.text-uppercase #{ userName }

        //if comment.user.title
          span.kvalificatio-comments.text-uppercase #{ comment.user.title }

        span.date-comments.pull-right #{ passedTime }
        p #{ comment.message }
        div.responce
          if level <= 0
            li
              i.fa.fa-comment-o.p-r-5
              a(href="").link-1.link-response-count #{ comment.children.length }
                i.fa.fa-angle-up
            li.reply
              span.reply-left |
              a(href="").link-1.link-reply Reply
              span.reply-right |
          li
            a(href="").link-1.link-like
              i.fa.fa-heart
        //
          li.pull-lg-right
            a(href="#").link1.link-edit
              i.fa.fa-pencil-square-o.p-r-5
              | Edit
          li.pull-right
            span.p-5 |
          li.pull-right
            a(href="#").link1.link-delete
              i.fa.fa-times.p-r-5
              | Delete
              
    if comment.children && comment.children.length
      each childComment in comment.children
        +comment(childComment, level + 1)

h2#ask.col-lg-12.dosis.text-uppercase.text-lg-center.text-xs-center.campaign-subheading ASK A QUESTION
.col-lg-8.offset-lg-2.pt30.comment-form-div
  form.comment-form.form-section
    .col-lg-8
      input(type="text" name="body" placeholder="Type your text here..." value='').text-body
    .col-lg-4.p-r-0.text-xl-right.text-xs-center.p-t-sm-1
      button(type="button").btn.btn-primary.text-uppercase.pull-lg-right.ask-question Submit

.col-lg-8.offset-lg-2.pt50.comments
  each c in comments
    +comment(c, 0)

.stubs.collapse
  +comment({
    uid: '',
    role: '',
    'message': '',
    "user_id": app.user.get('id'),
    "children": []
  }, 0)
  +comment({
    uid: '',
    role: '',
    'message': '',
    "user_id": app.user.get('id'),
    "children": []
  }, 1)

  form.comment-form.form-section.edit-comment.collapse
    .col-lg-11.offset-lg-1.m-t-2.p-r-0.p-l-3.form-group
      .border-bottom.m-t-0.mb30
      textarea(placeholder="Type your text here").form-control.big-textarea.text-body.col-lg-12
    .col-lg-12.p-r-0.text-xl-right
      button(type="button").btn.btn-sm.btn-secondary.text-uppercase.m-r-2.cancel-comment Cancel
      button(type="button").btn.btn-sm.btn-primary.text-uppercase.submit-comment Submit