- cls = (model.level > 2) ? 'col-lg-10 offset-lg-1' : 'col-lg-' + (12-model.level) + ' offset-lg-' + (model.level)

div(id='comment_' + model.id class=cls + ' pt30 comment').p-r-0
  .col-lg-1
    img(src=app.getThumbnail('53x55', model.user.image_data.thumbnails, '/img/default/77x45.png') alt="").img-circle
  .col-lg-11
    .comments-wrap
      span.name-comments.text-uppercase #{ model.user.first_name } #{ model.user.last_name }
      if company.owner == model.user.id 
        span.kvalificatio-comments.text-uppercase CEO

      span.date-comments.pull-right #{ model.created }
      p #{ model.body }
      .responce
        li
          a(href="").link-1 1 
            i.fa.fa-angle-up  
              span |
        li
          a(href="" data-id=model.id).link-1.linkresponse Responce 
          span |
        li
          a(href="").link-1
            i.fa.fa-thumbs-up
