include mixins.jade

section#home(style="background-image: url(" + campaign.get_header_image + ")").home-section.bg-dark-alfa-70.parallax-2.fixed-height-small
	.js-height-parent.container
		// Hero Content
		.home-content
			.home-text.text-lg-center
				h1.hs-line-14.font-alt.margin-bottom-50.mb-xs-30 #{ campaign.company.name }
				.local-scroll
					a.big-icon.link-6.youtube_popup(data-toggle="modal" data-target="#videoModal")
						i.fa.fa-play-circle-o
					a(href=campaign.company.website).link-6.link-campaing-detail #{ campaign.company.website }
					.row.social-link
						a(href="").link-6.link-campaing-detail
							i.fa.fa-facebook
						a(href="").link-6.link-campaing-detail
							i.fa.fa-twitter
						a(href="").link-6.link-campaing-detail
							i.fa.fa-instagram
						a(href="").link-6.link-campaing-detail
							i.fa.fa-linkedin

				// End Hero Content
	.top-info
		.container
			.top-info-wrap
				.col-lg-2
					span Pre-Money Valuation
					h2.font-weight-bold #{ campaign.premoney_valuation }
				.col-lg-2
					span Type of Security
					h2.font-weight-bold Equity
				.col-lg-2
					span Days Left
					h2.font-weight-bold 120
				.col-lg-4.pull-right
					a(href=Urls['campaign-invest'](campaign.id)).btn.btn-primary.btn-lg.text-uppercase.pull-right invest in #{ campaign.company.name }

section.campaigndetail.pt50
	.container.mt85
		.col-lg-6
			h1 Smartbe is the first intelligent baby stroller of the new generation.
			.row.pt20
				.col-lg-4
					a(href="").link-1
						i.fa.fa-map-marker
						|  #{ campaign.company.city }, #{ campaign.company.state }
				.col-lg-6
					a(href="").link-1
						i.fa.fa-calendar-check-o
						|  Founded in #{ campaign.company.founding_date }
			.row
				.col-lg-12.share
					span.font-weight-bold.d-inline-block Share:
					.d-inline-block
						a(href="").link-1
							i.fa.fa-facebook
						a(href="").link-1
							i.fa.fa-twitter
						a(href="").link-1
							i.fa.fa-linkedin
						a(href="").link-1
							i.fa.fa-google-plus


		.col-lg-6
			.progress_bar_container
				span Less than 20% Funded
				span.pull-right Committed 
					span.committed $15,000
				.clear
				progress(value="20" max="100").progress
			.pt20
				.row.col-lg-8
					p Target
					h2.font-weight-bold $500,000 - $1,000,000 #{ campaign.company.minimum_raise }  #{ campaign.company.maximum_raise }
				.row.col-lg-4.pull-right
					p Minimum Investment
					h2.font-weight-bold $200 #{ campaign.company.minimum_increment }
				.row.col-lg-12
					.wrap.d-inline-block
						p Investors
						h2.font-weight-bold 17
					.investors.d-inline-block
						ul
							li
								a(href="")
									<img src="/img/avatar1.jpg" alt="..." class="img-circle">
							li
								a(href="")
									<img src="/img/avatar6.jpg" alt="..." class="img-circle">
							li
								a(href="")
									<img src="/img/avatar1.jpg" alt="..." class="img-circle">
							li
								a(href="")
									<img src="/img/avatar6.jpg" alt="..." class="img-circle">
							li
								a(href="")
									<img src="/img/avatar1.jpg" alt="..." class="img-circle">
					a(href="").link-1 see all...
section.border-bottom-scroll
	.container.tabs-scroll
		nav( data-toggle="sticky-onscroll").navbar.navbar-default.sticky
			ul.nav.nav-pills.nav-pills-campaign
				li.nav-item.text-uppercase
					a(href="#about").nav-link.active About
				li.nav-item.text-uppercase
					a(href="#team").nav-link Team
				li.nav-item.text-uppercase
					a(href="#documents").nav-link Documents
				li.nav-item.text-uppercase
					a(href="#overview").nav-link Overview and terms
				li.nav-item.text-uppercase
					a(href="#risks").nav-link risks
				li.nav-item.text-uppercase
					a(href="#faq").nav-link faq
				li.nav-item.text-uppercase
					a(href="#ask").nav-link Ask a Question
				a(href=Urls['campaign-invest'](campaign.id)).btn.btn-primary.btn-lg.text-uppercase.pull-right invest
section
	.scrollspy-example(data-spy="scroll"
	data-target="#navbar-example2"
	data-offset="0"
	)
	section.about.border-bottom
		.container
			.col-lg-12
				h2#about.dosis.text-uppercase.text-lg-center About smartbe
				p Smartbe is the first intelligent baby stroller of the new generation. Smartbe is a revolutionary concept as regards design and functionality that solves real parents and baby needs. Smartbe applies state of the art technology through innovative, minimalist and safe design. We have built a new baby stroller with all the needed intelligence to provide new levels of child safety and comfort never before imagined together in a stroller. Smartbe fulfills all US  European Safety Regulations also going beyond, providing safety features not possible without the addition of electricity and leading edge mobile technology.
				h3.pt50.text-lg-center Our Edge
				p Smartbe is the all-in-one solution that provides more than 10 safety, security, comfort and convenience-enhancing functions managed by Android and IOS smartphones and smartwatches. 
				p All the technologies being used in Smartbe have already been used and extensively tested in other industries so we are very optimistic we can meet our launch goals. The breakthrough is that these technologies are being applied to create not only an industry disrupting, electrically powered stroller with killer functionality, but also a stylish, minimalist device designed to fit every parent’s needs and desires.
			#gallery1.col-lg-12
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_1.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_2.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_3.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_4.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_5.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_6.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_7.jpg" alt="").img-fluid
				.col-lg-3.no-padding-img
					a(href="/img/campaign/smartbe-intelligent-stroller_1.jpg" data-size='1600x900')
						img(src="/img/campaign/smartbe-intelligent-stroller_8.jpg" alt="").img-fluid
			.col-lg-4
				.card.card-inverse
					img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
					.card-img-overlay
						.card-title
							a(href="").small-icon.link-6
									i.fa.fa-play-circle-o
						h3.card-text.text-lg-center Title for Optional Video 1
			.col-lg-4
				.card.card-inverse
					img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
					.card-img-overlay
						.card-title
							a(href="").small-icon.link-6
									i.fa.fa-play-circle-o
						h3.card-text.text-lg-center Title for Optional Video 2
			.col-lg-4
				.card.card-inverse
					img(src="/img/Smartbe-Intelligent-Stroller-5.jpg" alt="").card-img
					.card-img-overlay
						.card-title
							a(href="").small-icon.link-6
									i.fa.fa-play-circle-o
						h3.card-text.text-lg-center Title for Optional Video 3
			.col-lg-12
				h3.text-lg-center Articles and Press
			.articles_press
				.col-lg-3
					.card.card-inverse
						img(src="/img/smartbe-intelligent-stroller.jpg" alt="").card-img
						.card-img-overlay
							.card-title
								p.card-text.font-weight-bold Smartbe is the first intelligent baby stroller of the new generation
								p.card-text Smartbe is a revolutionary concept as regards design and ...
								img(src="/img/icon-campaign.jpg", alt="").icon-campaign.d-inline-block
								a(href="").card-text.links.d-inline-block bizwest.com
				.col-lg-3
					.card.card-inverse
						img(src="/img/smartbe-intelligent-stroller.jpg" alt="").card-img
						.card-img-overlay
							.card-title
								p.card-text.font-weight-bold Smartbe is the first intelligent baby stroller of the new generation
								p.card-text Smartbe is a revolutionary concept as regards design and ...
								img(src="/img/icon-campaign.jpg", alt="").icon-campaign.d-inline-block
								a(href="").card-text.links.d-inline-block bizwest.com
				.col-lg-3
					.card.card-inverse
						img(src="/img/smartbe-intelligent-stroller.jpg" alt="").card-img
						.card-img-overlay
							.card-title
								p.card-text.font-weight-bold Smartbe is the first intelligent baby stroller of the new generation
								p.card-text Smartbe is a revolutionary concept as regards design and ...
								img(src="/img/icon-campaign.jpg", alt="").icon-campaign.d-inline-block
								a(href="").card-text.links.d-inline-block bizwest.com
				.col-lg-3
					.card.card-inverse
						img(src="/img/smartbe-intelligent-stroller.jpg" alt="").card-img
						.card-img-overlay
							.card-title
								p.card-text.font-weight-bold Smartbe is the first intelligent baby stroller of the new generation
								p.card-text Smartbe is a revolutionary concept as regards design and ...
								img(src="/img/icon-campaign.jpg", alt="").icon-campaign.d-inline-block
								a(href="").card-text.links.d-inline-block bizwest.com
				.col-lg-12
					h3.text-lg-center Why We are Raising Capital, and What We’ll Do with It
					p Smartbe is a revolutionary new concept and the contributors will be part of that change. We’ve chosen Indiegogo to spread this new concept to the community. Crowdfunding is one of the tools of the modern world change where everyone cooperates and joins in to support an idea and benefit from it. With your support we will get this product to market much faster, and we can start changing the way we take our babies for a ride, providing new levels of comfort and safety never possible before. We want to drastically improve the out-of-home experience of babies and those that care for them. Together, we will make Smartbe come true.



	section.team.border-bottom
		.container
			h2#team.dosis.p50.text-uppercase.text-lg-center.col-lg-12 Team
			a(href="").link-1
				.col-lg-4.text-lg-center
					.card
						img(src="/img/campaign/avatar1.jpg" alt="").img-circle
						.card-block
							h4.card-title.text-uppercase Jan Mertz
							p.card-text
								small.text-muted CEO
							p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

			.col-lg-4.text-lg-center
				a(href="").link-1
					.card
						img(src="/img/campaign/avatar2.jpg" alt="").img-circle
						.card-block
							h4.card-title.text-uppercase Maria Mertz
							p.card-text
								small.text-muted CEO
							p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
			.col-lg-4.text-lg-center
				a(href="").link-1
					.card
						img(src="/img/campaign/avatar3.jpg" alt="").img-circle
						.card-block
							h4.card-title.text-uppercase Alex Klarck
							p.card-text
								small.text-muted General Councel
							p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
			
	section.document.border-bottom
		.container
			.row
				h2#documents.col-lg-12.dosis.pt50.text-uppercase.text-lg-center Documents
				.col-lg-8.offset-lg-2
					.col-lg-4
						p Official filing on SEC.gov
						a(href="")
							img(src="/img/lrg_US_Department_of_State35.gif").img-document.d-inline-block
							h3.d-inline-block Form C
					.col-lg-4
						p Company documents
						a(href="")
							i.fa.fa-file-pdf-o.d-inline-block
							h3.d-inline-block Financials
					.col-lg-4.row
						p Company documents
						a(href="")
							i.fa.fa-file-powerpoint-o.d-inline-block
							h3.d-inline-block Investor Presentation
	section.overview.border-bottom
		.container
			.row
				h2#overview.col-lg-12.dosis.pt50.text-uppercase.text-lg-center overview and terms
				h3.col-lg-12.text-lg-center Fundraising Description
				.col-lg-8.offset-lg-2.fundraising
					.jumbotron.jumbotron-fluid
						.container
							.col-lg-4
								p Pre-Money Valuation
								h2.font-weight-bold $2,000,000
							.col-lg-4
								p Price per Share
								h2.font-weight-bold $200
							.col-lg-4
								p Target Minimum Raise Amonunt
								h2.font-weight-bold $500,000
							.col-lg-4
								p Type of Security
								h2.font-weight-bold Equity
							.col-lg-4
								p Minimum Investment
								h2.font-weight-bold $100
							.col-lg-4
								p Target Maximum Raise Amount
								h2.font-weight-bold $1,000,000
				h3.col-lg-12.text-lg-center Perks
				.perks
					.col-lg-4
						.jumbotron.jumbotron-fluid
							.container
								h3 $500 Investments
								p.text-justify A one year subscription plus a gorgeous Peloton Long-Sleeve T-SHIRT. One subscription covers an unlimited amount of users so that every member of your family would be able to use the bike and access Peloton content from their own personal 

					.col-lg-4
						.jumbotron.jumbotron-fluid
							.container
								h3 $1,000 Investments
								p.text-justify FULLY LOADED PACKAGE: The Peloton Bike plus Peloton headphones, Peloton biking shoes, a Peloton heart rate monitor, the Peloton hand weights, a Peloton shirt, and a Peloton sweat mat (you're going to need it!)
					.col-lg-4
						.jumbotron.jumbotron-fluid
							.container
								h3 $5,000 Investments
								p.text-justify The Peloton Bike (and all of the accessories) AND a trip for two to NYC to meet the team and teach (or take) your very own class in the Peloton Studio, to be accessible to all Peloton riders via on-demand classes! (USA ONLY)
				h3.col-lg-12.text-lg-center Investors
				.investors
					.col-lg-10.offset-lg-1
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar1.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar2.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar3.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Lusy Johnson
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar4.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar1.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Lusy Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar5.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar2.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-3.text-lg-center
							a(href="")
								.card
									img(src="/img/campaign/avatar3.jpg" alt="").img-circle
									.card-block
										h4.card-title.text-uppercase Jan Mertz
										p.card-text
											small.text-muted New York, NY
						.col-lg-12.text-lg-center
							a(href="").link-4 See All Investors
	section.risks.border-bottom
		.container
			h2#risks.col-lg-12.dosis.text-uppercase.text-lg-center Risks
			.col-lg-8.offset-lg-2
				#accordion(role="tablist" aria-multiselectable="true")
					.panel.panel-default
						#headingOne(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
							).list-group-item-action.active A crowdfunding investment involves risk.
								i.fa.fa-angle-up
						#collapseOne(role="tabpanel"
						aria-labelledby="headingOne"
						).panel-collapse.collapse.in  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nobis qui aut. Assumenda nulla possimus quidem officia aperiam quas sed non corporis reprehenderit! Voluptatum placeat eum, expedita sunt velit voluptas?
					.panel.panel-default
						#headingTwo(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapseTwo"
							aria-controls="collapseTwo"
							).list-group-item-action In making an investment decision, investors must rely on their own examination of the issuer and the terms of the offering.
								i.fa.fa-angle-down
						#collapseTwo(role="tabpanel"
						aria-labelledby="headingTwo"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, hic, distinctio, enim nam consequuntur iste quos, accusamus blanditiis a id odio perferendis vel perspiciatis provident et! Consequuntur nemo reprehenderit inventore.
					.panel.panel-default
						#headingThree(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapseThree"
							aria-controls="collapseThree"
							).list-group-item-action The U.S. Securities and Exchange Commission does not pass upon the merits of any secrities offered or the terms of the offering    
								i.fa.fa-angle-down
						#collapseThree(role="tabpanel"
						aria-labelledby="headingThree"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius inventore iste numquam nemo, fugit nihil fugiat quasi, excepturi repellendus pariatur! Facilis odit cupiditate tenetur, inventore adipisci consequatur eius suscipit voluptas.
					.panel.panel-default
						#headingFour(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapseFour"
							aria-controls="collapseFour"
							).list-group-item-action The U.S. Securities and Exchange Commission does not pass upon the merits of any secrities offered or the terms of the offering    
								i.fa.fa-angle-down
						#collapseFour(role="tabpanel"
						aria-labelledby="headingFour"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius inventore iste numquam nemo, fugit nihil fugiat quasi, excepturi repellendus pariatur! Facilis odit cupiditate tenetur, inventore adipisci consequatur eius suscipit voluptas.
				a(href="").col-lg-12.text-lg-center.link-4.m30 See All Risks
	
	section.faq.border-bottom
		.container
			h2#faq.col-lg-12.dosis.text-uppercase.text-lg-center FAQ
			.col-lg-8.offset-lg-2
				#accordion(role="tablist" aria-multiselectable="true")
					.panel.panel-default
						#faqOne(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapsefaqOne"
							aria-expanded="true"
							aria-controls="collapsefaqOne"
							).list-group-item-action.active What is Smartbe?   
								i.fa.fa-angle-up
						#collapsefaqOne(role="tabpanel"
						aria-labelledby="faqOne"
						).panel-collapse.collapse.in  Smartbe is a revolutionary new concept and the contributors will be part of that change. We’ve chosen Indiegogo to spread this new concept to the community. Crowdfunding is one of the tools of the modern world change where everyone cooperates and joins in to support an idea and benefit from it.
					.panel.panel-default
						#faqTwo(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapsefaqTwo"
							aria-controls="collapsefaqTwo"
							).list-group-item-action How did Smartbe start and then evolve? 
								i.fa.fa-angle-down
						#collapsefaqTwo(role="tabpanel"
						aria-labelledby="faqTwo"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, hic, distinctio, enim nam consequuntur iste quos, accusamus blanditiis a id odio perferendis vel perspiciatis provident et! Consequuntur nemo reprehenderit inventore.
					.panel.panel-default
						#faqThree(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapsefaqThree"
							aria-controls="collapsefaqThree"
							).list-group-item-action What is your impact?     
								i.fa.fa-angle-down
						#collapsefaqThree(role="tabpanel"
						aria-labelledby="faqThree"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius inventore iste numquam nemo, fugit nihil fugiat quasi, excepturi repellendus pariatur! Facilis odit cupiditate tenetur, inventore adipisci consequatur eius suscipit voluptas.
					.panel.panel-default
						#faqFour(role="tab").panel-heading
							a(data-toggle="collapse"
							data-parent="#accordion" 
							href="#collapsefaqFour"
							aria-controls="collapsefaqFour"
							).list-group-item-action Do you have any intellectual property?   
								i.fa.fa-angle-down
						#collapsefaqFour(role="tabpanel"
						aria-labelledby="faqFour"
						).panel-collapse.collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius inventore iste numquam nemo, fugit nihil fugiat quasi, excepturi repellendus pariatur! Facilis odit cupiditate tenetur, inventore adipisci consequatur eius suscipit voluptas.
				a(href="").col-lg-12.text-lg-center.link-4.m30 See All FAQ
		
	section.ask.border-bottom
		.container
			h2#ask.col-lg-12.dosis.pt50.text-uppercase.text-lg-center ASK A QUESTION
			.col-lg-8.offset-lg-2.pt30
				.col-lg-8.form-section
					form
						input(type="text" placeholder="Type your question here...")
				.col-lg-4
					a(href="").btn.btn-primary.btn-lg.text-uppercase.pull-right ask question

			.col-lg-8.offset-lg-2.pt50.comments
				.col-lg-12
					.hr
					.col-lg-1
						img(src="/img/avatar10.jpg" alt="").img-circle
					.col-lg-11
						.comments-wrap
							span.name-comments.text-uppercase maria kravchuk
							span.date-comments.pull-right 2 Days Ago
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
							.responce
								li
									a(href="").link-1 1 
										i.fa.fa-angle-up  
									span |
								li
									a(href="").link-1 Responce 
									span |
								li
									a(href="").link-1
										i.fa.fa-thumbs-up
				.col-lg-11.offset-lg-1.pt30
					.col-lg-1
						img(src="/img/avatar10.jpg" alt="").img-circle
					.col-lg-11
						.comments-wrap
							span.name-comments.text-uppercase maria kravchuk
							span.date-comments.pull-right 2 Days Ago
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
							.responce
								li
									a(href="").link-1 0 
										i.fa.fa-angle-down  
									span |
								li
									a(href="").link-1 Responce 
									span |
								li
									a(href="").link-1
										i.fa.fa-thumbs-up
	section.like
		.container
			.col-lg-12.text-lg-center
				h2.p50
					i.fa.fa-thumbs-up
					|  I’d Like to Invest in Smartbe!
				a(data-toggle="modal" data-target="#sing_up").btn.btn-primary.btn-lg.text-uppercase iNVEST IN #{ campaign.company.name }


//MODAL
#videoModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.embed-responsive.embed-responsive-16by9
				iframe.embed-responsive-item(src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="true")


//modal sing_up
#sing_up.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						i.fa.fa-times
				h2#sing_up(class="modal-title").text-lg-center.text-uppercase sign up
			.modal-body
				.container.form-section
					form.col-lg-10.offset-lg-1.border-bottom
						.form-group.row.clearfix.required
							input#first_name(type="text" placeholder="First name").form-control
						.form-group.row.clearfix.required
							input#last_name(type="text" placeholder="Last name").form-control
						.form-group.row.clearfix.required
							input#email(type="email" placeholder="E-mail").form-control
						.form-group.row.clearfix.required
							input#password(type="password" placeholder="Password").form-control
						.form-group.row.clearfix.required
							input#re_password(type="password" placeholder="Re-enter password").form-control
						.form-group.row.clearfix.required
							.row
								.col-lg-12
									label
										input(type="checkbox")
										|  I consent to electronic signature and electronic delivery of documentation
									label
										input(type="checkbox")
										|  I agree to the
										a(href="")  Terms of Service
										|  and 
										a(href="")  Privacy Policy.
									.col-lg-12.text-lg-center
											button.btn.btn-lg.btn-primary.text-uppercase sing up
									.col-lg-12.border-bottom.or
										span or
						button.btn.btn-block.btn-lg.btn-facebook.text-uppercase
							i.fa.fa-facebook
							|  SIGN UP with Facebook
						button.btn.btn-block.btn-lg.btn-linkedin.text-uppercase
							i.fa.fa-linkedin
							|  SIGN UP with linkedin
						button.btn.btn-block.btn-lg.btn-google.text-uppercase
							i.fa.fa-google-plus
							|  SIGN UP with Google
			.modal-footer.text-lg-center
				span Have an account?
					a(href="")  Log In

.pswp(tabindex="-1" role="dialog" aria-hidden="true")
	//Background of PhotoSwipe. 
	//It's a separate element as animating opacity is faster than rgba().
	.pswp__bg
		//Slides wrapper with overflow:hidden.
		.pswp__scroll-wrap
			//Container that holds slides.
			// PhotoSwipe keeps only 3 of them in the DOM to save memory.
			// Don't modify these 3 pswp__item elements, data is added later on.
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
					//Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					//Controls are self-explanatory. Order can be changed.
					.pswp__counter
						button(title="Close (Esc)").pswp__button.pswp__button--close
						button(title="Share").pswp__button.pswp__button--share
						button(title="Toggle fullscreen").pswp__button.pswp__button--fs
						button(title="Zoom in/out").pswp__button.pswp__button--zoom
						//Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
						//element will get class pswp__preloader--active when preloader is running
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				button(title="Previous (arrow left)").pswp__button.pswp__button--arrow--left
				button(title="Next (arrow right)").pswp__button.pswp__button--arrow--right
				.pswp__caption
					.pswp__caption__center


script(src='/js/nav_sticky.js')
