section#home(data-background=campaign.company.name.get_header_image, style=campaign.company.name.get_header_image).home-section.bg-dark-alfa-70.parallax-2.fixed-height-small
			.js-height-parent.container
				// Hero Content
				.home-content
					.home-text.text-lg-center
						h1.hs-line-14.font-alt.margin-bottom-50.mb-xs-30 #{ campaign.company.name }
						.local-scroll
							a.big-icon.link-6.lightbox-gallery-1.mfp-iframe(href=campaign.company.video)
								i.fa.fa-play-circle-o
							a(href=campaign.company.website).link-6.link-campaing-detail #{ campaign.company.website }
							.row.social-link
								a(href="").link-6.link-campaing-detail
									i.fa.fa-facebook
								a(href="").link-6.link-campaing-detail
									i.fa.fa-twitter
								a(href="").link-6.link-campaing-detail
									i.fa.fa-instagram
								a(href="").link-6.link-campaing-detail
									i.fa.fa-linkedin

				// End Hero Content
			.top-info
				.container
					.top-info-wrap.row
						.col-lg-2
							span Pre-Money Valuation
							h2.font-weight-bold #{ campaign.company.premoney_valuation }
						.col-lg-2
							span Type of Security
							h2.font-weight-bold Equity
						.col-lg-2
							span Days Left
							h2.font-weight-bold 120
						.col-lg-4.pull-right
							a(href="").btn.btn-primary.text-uppercase.pull-right invest in #{ campaign.company.name }
section.campaigndetail.pt50
	.container.mt85
		.row
			.col-lg-6
				h1 Smartbe is the first intelligent baby stroller of the new generation.
				.row.pt25
					.col-lg-4
						a(href="").link-1
							i.fa.fa-map-marker
							|  #{ campaign.company.city }, #{ campaign.company.state }
					.col-lg-6
						a(href="").link-1
							i.fa.fa-calendar-check-o
							|  Founded in #{ campaign.company.founding_date }
				.row
					.col-lg-12.share
						p.font-weight-bold.d-inline-block Share:
						.d-inline-block
							a(href="").link-1
								i.fa.fa-facebook
							a(href="").link-1
								i.fa.fa-twitter
							a(href="").link-1
								i.fa.fa-linkedin
							a(href="").link-1
								i.fa.fa-google-plus


			.col-lg-6

				.progress_bar_container
					span Less than 20% Funded
					span.pull-right Committed 
						span.committed $15,000
					.clear
					progress(value="20" max="100").progress
				.pt25
					.row.col-lg-7
						p Target
						h2.font-weight-bold $500,000 - $1,000,000 #{ campaign.company.minimum_raise }  #{ campaign.company.maximum_raise }
					.row.col-lg-5.pull-right
						p Minimum Investment
						h2.font-weight-bold $200 #{ campaign.company.minimum_increment }
					.row.col-lg-12
						.wrap.d-inline-block
							p Investors
							h2.font-weight-bold 17
						.investors.d-inline-block
							a(href="")
								<img src="/img/avatar1.jpg" alt="..." class="img-circle">
							a(href="")
								<img src="/img/avatar6.jpg" alt="..." class="img-circle">
							a(href="")
								<img src="/img/avatar1.jpg" alt="..." class="img-circle">
							a(href="")
								<img src="/img/avatar6.jpg" alt="..." class="img-circle">
							a(href="")
								<img src="/img/avatar1.jpg" alt="..." class="img-circle">
						a(href="").link-1 see all...
section.border-bottom
	.container.tabs-scroll
		nav.navbar.navbar-default
			ul.nav.nav-pills
				li.nav-item.text-uppercase
					a(href="#about").nav-link.active About
				li.nav-item.text-uppercase
					a(href="#team").nav-link Team
				li.nav-item.text-uppercase
					a(href="#documents").nav-link Documents
				li.nav-item.text-uppercase
					a(href="#overview").nav-link Overview and terms
				li.nav-item.text-uppercase
					a(href="#risks").nav-link risks
				li.nav-item.text-uppercase
					a(href="#faq").nav-link faq
				li.nav-item.text-uppercase
					a(href="#ask").nav-link Ask a Question
				a(href="").btn.btn-primary.text-uppercase.pull-right invest
section.container
	.scrollspy-example(data-spy="scroll"
	data-target="#navbar-example2"
	data-offset="0"
	)
	section.about
		.col-lg-12
			h2#about.dosis.p50.text-uppercase.text-lg-center About smartbe
			p Smartbe is the first intelligent baby stroller of the new generation. Smartbe is a revolutionary concept as regards design and functionality that solves real parents and baby needs. Smartbe applies state of the art technology through innovative, minimalist and safe design. We have built a new baby stroller with all the needed intelligence to provide new levels of child safety and comfort never before imagined together in a stroller. Smartbe fulfills all US & European Safety Regulations also going beyond, providing safety features not possible without the addition of electricity and leading edge mobile technology.
			h3.pt50.text-lg-center Our Edge
			p Smartbe is the all-in-one solution that provides more than 10 safety, security, comfort and convenience-enhancing functions managed by Android and IOS smartphones and smartwatches. 
			p All the technologies being used in Smartbe have already been used and extensively tested in other industries so we are very optimistic we can meet our launch goals. The breakthrough is that these technologies are being applied to create not only an industry disrupting, electrically powered stroller with killer functionality, but also a stylish, minimalist device designed to fit every parent’s needs and desires.
		.col-lg-12
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
			.col-lg-3.no-padding-img
				img(src="/img/other_img/1.png" alt="").img-fluid
		.col-lg-4
			.card.card-inverse
				img(src="/img/other_img/2.png" alt="").card-img
				.card-img-overlay
					.card-title
						a(href="").small-icon.link-6
								i.fa.fa-play-circle-o
					h3.card-text.text-lg-center Title for Optional Video 1
		.col-lg-4
			.card.card-inverse
				img(src="/img/other_img/2.png" alt="").card-img
				.card-img-overlay
					.card-title
						a(href="").small-icon.link-6
								i.fa.fa-play-circle-o
					h3.card-text.text-lg-center Title for Optional Video 2
		.col-lg-4
			.card.card-inverse
				img(src="/img/other_img/2.png" alt="").card-img
				.card-img-overlay
					.card-title
						a(href="").small-icon.link-6
								i.fa.fa-play-circle-o
					h3.card-text.text-lg-center Title for Optional Video 3

	section.about
		h2#team.dosis.p50.text-uppercase.text-lg-center Team
		p Smartbe is the first intelligent baby stroller of the new generation. Smartbe is a revolutionary concept as regards design and functionality that solves real parents and baby needs. Smartbe applies state of the art technology through innovative, minimalist and safe design. We have built a new baby stroller with all the needed intelligence to provide new levels of child safety and comfort never before imagined together in a stroller. Smartbe fulfills all US & European Safety Regulations also going beyond, providing safety features not possible without the addition of electricity and leading edge mobile technology.
	section.about
		h2#documents.dosis.p50.text-uppercase.text-lg-center Documents
		p Smartbe is the first intelligent baby stroller of the new generation. Smartbe is a revolutionary concept as regards design and functionality that solves real parents and baby needs. Smartbe applies state of the art technology through innovative, minimalist and safe design. We have built a new baby stroller with all the needed intelligence to provide new levels of child safety and comfort never before imagined together in a stroller. Smartbe fulfills all US & European Safety Regulations also going beyond, providing safety features not possible without the addition of electricity and leading edge mobile technology.






