include mixins.jade

+breadcrumbs('Invest', '', 
	[
		['Home', '/'], 
		['Explore', Urls['campaign-list']()],  
		[campaign.company.name, Urls['campaign-detail'](campaign.id)], 
		['Invest in ' + campaign.company.name, '']
	]
)

.container.investment
	//START LEFT BLOCK
	.row
		.col-lg-7
			h2.text-uppercase.dosis Investment
			.form-section.clearfix
				form(metod="post" action="").invest_form.clearfix
					+fieldBlock("amount", '', {
							class1: 'col-lg-3 col-md-3',
							class2: 'col-lg-9 col-md-9',
							type: 'text',
							placeholder: '$2,500',
							text: "$10 of payment processing fee. Your money will be returned to you if the campaign doesn't reach the target goal ($500,000)."
							})
					section.personal_information.pt30
						h2.text-uppercase.dosis Personal Information
							span.small-text.open-sans Required by United States banking laws. This information is transmitted securely and will never be used for any purpose beyond executing your investment. You only have to do this once.
						+fieldBlock("name", '', {
							class1: 'col-lg-3 col-md-3',
							class2: 'col-lg-9 col-md-9',
							type: 'text',
							})
						+fieldBlock("phone", '', {
							class1: 'col-lg-3 col-md-3',
							class2: 'col-lg-9 col-md-9',
							type: 'text',
							})
						+fieldBlock("street_address_1", '', {
							class1: 'col-lg-3 col-md-3',
							class2: 'col-lg-9 col-md-9',
							type: 'text',
							})
						+fieldBlock("street_address_2", '', {
							class1: 'col-lg-3 col-md-3',
							class2: 'col-lg-9 col-md-9',
							type: 'text',
							}).street_address_2
						.row
							.col-lg-6
								+fieldBlock("zip_code", '', {
									class1: 'col-lg-6 col-md-3', 
									class2: 'col-lg-6 col-md-9', 
									type: 'text',
									})
							.col-lg-6.city_state
								label.col-lg-6.text-md-right City/State
								.col-lg-6
									span.change_state_city
										span.input-value New York, NY
											i.fa.fa-pencil-square-o
						.row
							.col-lg-6.no-margin-bottom
								+fieldBlock("dob", '', {
									class1: 'col-lg-6 col-md-3', 
									class2: 'col-lg-6 col-md-9', 
									type: 'date',
									})
							.col-lg-6.no-margin-bottom
								+fieldBlock("ssn", '', {
									class1: 'col-lg-6 col-md-3', 
									class2: 'col-lg-6 col-md-8', 
									type: 'text',
									placeholder: 'ХХХ-ХХ-XXXX',
									})
					section.payment-information.pt30.border-bottom
						h2.text-uppercase.dosis Payment information
							span.small-text.open-sans Link your bank account or manually enter your bank account details.
						.col-md-9.offset-md-3.profile
							ul.nav.nav-tabs.profile-tabs
								li(aria-expanded="true").nav-item
									a(
									href="#bank_account"
									data-toggle="tab"
									role="tab"
									aria-expanded="true"
									).nav-link.uppercase bank account
								li(aria-expanded="true").nav-item
									a(
									href="#link"
									data-toggle="tab"
									role="tab"
									aria-expanded="true"
									).nav-link.uppercase link
