mixin breadcrumbs(title, subtitle, data)
    section.header_title.p50
        .container
            .row
                .pull-left
                    h1.text-uppercase= title
                        span.small-text= subtitle
                .pull-right
                    ol.breadcrumb.pull-right
                        each elem in data
                            - let active = (elem[1] == '') ? 'active' : ''
                            li.breadcrumb-item(class=" " + active)
                                if elem[1] == ''
                                    = elem[0]
                                else
                                    a(href=elem[1])= elem[0]

mixin fieldBlock(name, data, attr)
    if attr.type == 'checkbox'
        div(class="form-group row " + name )
            div(class=(attr.class1 ? attr.class1 : 'col-md-2') + ' text-md-right text-xs-right')
                input(
                    id=name
                    type="checkbox"
                ).form-check-input
            div(class=attr.class2  ? attr.class2 : 'col-md-10')
                label(for=name).text-justify #{attr.text}
    else
        div(class="form-group row " + name )
            label(class=attr.class1 + " text-md-right" for=name)= name
            div(class=attr.class2)
                input(
                    id=name
                    name=name
                    placeholder=attr.placeholder ? attr.placeholder : name
                    type=attr.type ? attr.type : 'text'
                    value=data
                  ).form-control
                div.help-block= attr.text

