include mixins.jade

.container
    .row.pt50
        .col-sm-12
            h1 Sign Up
        section.authorization.container
            .row
                .col-lg-6
                    .embed-responsive.embed-responsive-16by9.boxshadow
                        iframe(
                            embed-responsive-item="true" 
                            src="https://player.vimeo.com/video/170651597?title=0&amp;byline=0&amp;portrait=0" 
                            data-webkitallowfullscreen="" 
                            data-mozallowfullscreen="" 
                            data-allowfullscreen=""
                        )
                .col-lg-1
                .forms-block
                    .col-lg-5
                        .row
                            .col-lg-10.text-lg-right
                                ul.nav.nav-tabs.login-tabs
                                    li.nav-item
                                        a(
                                            href="#mini-one" 
                                            data-toggle="tab" 
                                            aria-expanded="trueLogin"
                                        ).active.nav-link  Log in
                                    li.nav-item
                                        a(
                                            href="#mini-two" 
                                            data-toggle="tab" 
                                            aria-expanded="true"
                                        ).nav-link Sign Up
                        .tab-content.authorization-tabs-content 
                            #mini-one.tab-pane.fade.in.active(aria-expanded="true")
                                .row
                                    section.form-section
                                        form(action="" method="post").login-form
                                            .clearfix
                                                +fieldBlock("email", '', {
                                                    class1: 'col-lg-3 col-md-3', 
                                                    class2: 'col-lg-7 col-md-7', 
                                                    type: 'email',
                                                })
                                                +fieldBlock("password", '', {
                                                    class1: 'col-lg-3 col-md-3', 
                                                    class2: 'col-lg-7 col-md-7', 
                                                    type: 'password'
                                                })
                                                .socialaccount_ballot.clearfix
                                                    .col-lg-12.col-sm-12.col-xs-12.text-sm-left
                                                        p Or login with
                                                    .col-sm-12.col-xs-12.col-lg-12
                                                        ul.social-icons.list-inline.clearfix.text-lg-left
                                                            li
                                                                a(
                                                                    data-original-title="facebook" 
                                                                    href="/accounts/facebook/login/?process=login"
                                                                ).fa.fa-facebook.social-icon-color.facebook 
                                                            li
                                                                a(
                                                                    data-original-title="Google Plus" 
                                                                    href="/accounts/google/login/?process=login"
                                                                ).fa.fa-google-plus.social-icon-color.googleplus
                                                            li
                                                                a(
                                                                    data-original-title="Linkedin" 
                                                                    href="/accounts/linkedin_oauth2/login/?process=login"
                                                                ).fa.fa-linkedin.social-icon-color.linkedin
                                            .form-group.clearfix
                                                .col-lg-6.col-xs-6.text-md-right
                                                    a(
                                                        href="/accounts/password/reset/"
                                                    )#forget-password Forgot Password?
                                                .col-xs-5
                                                    button#login-btnLogin.btn.text-uppercase Login
                            #mini-two.tab-pane.fade(aria-expanded="false")
                                .row
                                    section.form-section
                                        form(
                                            action="/accounts/signup/"
                                            method="post"
                                        ).form-horizontal.no-gutter-right
                                            +fieldBlock("first_name", '', {
                                                class1: 'col-lg-3 col-md-3', 
                                                class2: 'col-lg-7 col-md-7', 
                                            })
                                            +fieldBlock("last_name", '', {
                                                class1: 'col-lg-3 col-md-3', 
                                                class2: 'col-lg-7 col-md-7', 
                                            })
                                            +fieldBlock("email", '', {
                                                class1: 'col-lg-3 col-md-3', 
                                                class2: 'col-lg-7 col-md-7', 
                                                type: 'email',
                                            })
                                            +fieldBlock("password1", '', {
                                                class1: 'col-lg-3 col-md-3', 
                                                class2: 'col-lg-7 col-md-7', 
                                                type: 'password',
                                            })
                                            +fieldBlock("password2", '', {
                                                class1: 'col-lg-3 col-md-3', 
                                                class2: 'col-lg-7 col-md-7', 
                                                type: 'password',
                                            })
                                            +fieldBlock("signature", '', {
                                                class: 'col-lg-10 col-md-10', 
                                                text: 'I consent to electronic signature and electronic delivery of documentation',
                                                type: 'checkbox',
                                            })
                                            .form-group.terms_conditions.clearfix
                                                .col-sm-10
                                                    label(for="terms_conditions").pseudo-checkbox
                                                        input(
                                                          name="terms_conditions" 
                                                          type="checkbox"
                                                        )#terms_condition 
                                                        span I consent to the 
                                                        a(
                                                            href="/pages/terms/" 
                                                            target="_blank"
                                                        ) Terms of Use 
                                                        span and 
                                                        a(
                                                            href="/pages/privacy"
                                                            target="_blank"
                                                        ) Privacy Policy

                                            .form-group.form-actions.text-sm-center
                                                .col-lg-10.col-md-9.col-xs-12.clearfix
                                                    button(
                                                        type="button" 
                                                    )#register-submit-btn.pull-lg-right.btn.text-uppercase Submit
