section.reset
  .container
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-85 Change Password

    .col-lg-4.offset-lg-4
      form(action="" method="post" data-method="PUT").form-section.login-form
        input(type="hidden" name="domain" value=window.location.host)
        .col-lg-12
          .form-group.row.clearfix.required
            input(
              autocomplete='off'
              type="password"
              placeholder="Old Password"
              name="old_password"
              data-value-type="password"
            )#oldPassword.form-control
        .col-lg-12
          .form-group.row.clearfix.required
            input(
              autocomplete='off'
              type="password"
              placeholder="New Password"
              name="new_password1"
              data-value-type="password"
            )#newPassword.form-control
        .col-lg-12
          .form-group.row.clearfix.required
            input(
              autocomplete='off'
              type="password"
              placeholder="Repeat Password"
              name="new_password2"
              data-value-type="password"
            )#repeatPassword.form-control
        .col-lg-12
          .row.text-sm-center
            button(type="submit").btn.btn-primary.text-uppercase Change
