include ../../../templates/mixins.pug

+breadcrumbs('Confirmation', '', 
[]
)

form(data-method="" action="").container
  input(type="hidden" name="activation_code" value=code)
  .row
    .col-lg-12
      h2.text-xs-center.thankyou-title.m0 
        i(aria-hidden="true").fa.fa-smile-o.icon-color
        | Welcome to #{company_name} on the GrowthFountain!

  .row
    .col-lg-10.offset-lg-1.mb50.mt50
      hr.m-t-0.m-b-0
  
  .row
    .col-lg-8.offset-lg-2.text-xs-center
      span #{company_name} marks you as a member of her team as #{title}. Do you confirm that you belong to #{company_name} on the #{title} title?

      .info-btn-block.pt50
        a(href="#").btn.btn-cancel.btn-secondary.m-r-1 cancel
        a(href="#" data-method="PUT").btn.btn-confirm.btn-primary confirm
