include ../../../templates/mixins.pug

+breadcrumbs('issuer dashboard', '', 
    [
        ['Home', '/'],
        ['issuer dashboard', ''],
    ]
)
- let amt_raised_in_ks = Math.round(values.campaign.amount_raised/1000).toLocaleString('en-US');
section.issuer-dashbord-top
  .container
    .row
      .col-md-4
        .img_under_text
          img(src=values.thumbnail alt="")
          h2.text-uppercase.dosis.m-t-0 #{values.name}
          - const days_left = Math.floor((Date.parse(values.campaign.expiration_date) - new Date()) / (1000 * 60 * 60 * 24));
          .timer_day #{days_left} Days Left
        .share-block.d-inline-block
          span.font-weight-bold Share:
          .social-dark.d-inline-block
            a(href="#").link-1.email-share
              i.fa.fa-envelope-o
            a(href="#").link-1.twitter-share
              i.fa.fa-twitter
            a(href="#").link-1.facebook-share
              i.fa.fa-facebook
            a(href="#").link-1.google-plus-share
              i.fa.fa-google-plus
            a(href="#").link-1.linkedin-share
              i.fa.fa-linkedin

      .col-md-2.col-sm-6
        a(href="").dashboard-stat
          .visual
            i.fa.fa-bar-chart
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.amount_raised) $#{amt_raised_in_ks}K
            .desc Amount Raised

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-briefcase
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.investors) #{values.campaign.investors.toLocaleString('en-US')}
            .desc Number of Investors

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-users
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.views) #{(Math.round(values.campaign.views/100)/10).toLocaleString('en-US')}K
            .desc Page Views

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-comments
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.interactions) #{values.campaign.interactions.toLocaleString('en-US')}
            .desc New Interactions

      .col-md-7.col-sm-7.p-r-0
        - let percentage_raised = values.campaign.amount_raised / values.campaign.minimum_raise * 100;
        .tpl-progress
          progress(
            value=percentage_raised
            max="100").progress.big_prog #{percentage_raised}%
          span(
            style="width:" + percentage_raised + "%").circle_progress
            i.fa.fa-circle-o
          - let now = new Date();
          span(style="left:" + percentage_raised + "%").text_position #{now.toLocaleString('en-US', { month: "short" })} #{now.getDate()}
            br
            | $#{amt_raised_in_ks}K Raised
        .progress_description
          .pull-left
            p #{formatHelper.formatMonthDate(values.campaign.starting_date)}
            span Begining of campaign
          .pull-right.text-lg-right
            p #{formatHelper.formatMonthDate(values.campaign.expiration_date)}
            span End of campaign
          .clearfix
      .col-md-1.col-sm-1
        .right_fixed_text.text-lg-center
          b $#{Math.round(values.campaign.minimum_raise/1000).toLocaleString('en-US')}K
          span Goal
      .col-md-8.col-sm-12.text-lg-center
        a(href=Urls['campaign-detail'](values.id)).btn.btn-secondary.text-uppercase view Campaign
          i(aria-hidden="true").fa.fa-angle-right
    .col-lg-12.border-bottom-50
section.grafic-dashboard
  .container
    .row
      .col-md-12
        .portlet.light.portlet-fit.bordered
          .portlet-title.portlet-hei75
            .caption
              h2.text-uppercase.m-t-0 Investments
            .actions
              div(data-toggle="buttons").btn-group.btn-group-devided
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                  input(
                    type="radio"
                    name="options").toggle#option1
                  | Actions
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                  input(
                    type="radio"
                    name="options").toggle#option2 
                  | Settings
          .portlet-body.grafic-padding
            .chart#chart_2
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110; height: 300px").flot-base
              .flot-text
                .flot-x-axis.flot-x1-axis.xAxis.x1Axis
                  div 1 MAY
                  .flot-tick-label.tickLabel 2 MAY
                  .flot-tick-label.tickLabel 3 MAY
                  .flot-tick-label.tickLabel 4 MAY
                  .flot-tick-label.tickLabel 5 MAY
                  .flot-tick-label.tickLabel 6 MAY
                  .flot-tick-label.tickLabel 7 MAY
                  .flot-tick-label.tickLabel 8 MAY
                  .flot-tick-label.tickLabel 9 MAY
                  .flot-tick-label.tickLabel 10 MAY
                  .flot-tick-label.tickLabel 11 MAY
                  .flot-tick-label.tickLabel 12 MAY
                  .flot-tick-label.tickLabel 13 MAY
                  .flot-tick-label.tickLabel 14 MAY
                  .flot-tick-label.tickLabel 15 MAY
                .flot-y-axis.flot-y1-axis.yAxis.y1Axis
                  .flot-tick-label.tickLabel 0
                  .flot-tick-label.tickLabel 10
                  .flot-tick-label.tickLabel 20
                  .flot-tick-label.tickLabel 30
                  .flot-tick-label.tickLabel 40
                  .flot-tick-label.tickLabel 50
                  .flot-tick-label.tickLabel 60
                  .flot-tick-label.tickLabel 70
                  .flot-tick-label.tickLabel 80
                  .flot-tick-label.tickLabel 90
                  .flot-tick-label.tickLabel 100
                  .flot-tick-label.tickLabel 110
                  .flot-tick-label.tickLabel 120
                  .flot-tick-label.tickLabel 130
                  .flot-tick-label.tickLabel 140
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110px; height: 300px;").flot-overlay
              .legend
                table
                  tr
                    td.legendLabel Unique Visits
                  tr
                    td.legendLabel Page Views

section.investors-dashbord-comment
  .container
    .row
      .col-md-12
        h2.dosis.text-uppercase Investor question & answer
      .col-md-5
        .comments-list
          ul(role="tablist").nav.standart-nav-tabs
            li.nav-item
              a(
                data-toggle="tab"
                href="#new"
                role="tab"
                aria-controls="home"
                aria-expanded="true").nav-link.text-uppercase.active#new-tab New
            li.nav-item
              a(
                data-toggle="tab"
                href="#answered"
                role="tab"
                aria-controls="answered"
                aria-expanded="false").nav-link.text-uppercase#answered-tab Answered
            .clearfix
          .tab-content
            div(
              role="tabpanel"
              aria-labelledby="new-tab"
              aria-expanded="true").tab-pane.fade.active.in#new
              .all-comments
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix

                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
 
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix

            div(
              role="tabpanel"
              aria-labelledby="answered-tab"
              aria-expanded="false").tab-pane.fade#answered
              .all-comments
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix

                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
 
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
                      
                .one-comment
                  .user-photo
                    img(src="/img/avatar1.jpg" alt="").img-circle

                  .text-and-name
                    .name-date
                      h6.text-uppercase.pull-left Maria Kravchuk
                      span.pull-right 13 Jun, 10.30 AM

                    .comment-text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

                    .clearfix
      .col-md-7
        .comments-list
          .add-comment
            .user-photo
              img(src="/img/avatar1.jpg").img-circle

            .text-and-name
              .name-date
                h6.text-uppercase Maria Kravchuk
                span 13 Jun, 10.30 AM
              .comment-text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

              .clearfix

              .actions
                a(href="").link-1 Rejected
                span |
                a(href="").link-1 Response

              .clearfix
          .form-add-comment
            .form-group.row
              form(action="" metod="").form-section
                textarea(
                  name="text"
                  rows="8"
                  placeholder="Maria Kravchuk"
                  maxlength="400").input-md.form-control
                input(
                  type="button"
                  name=""
                  value="SUBMIT").btn.btn-primary
      .col-lg-12
        hr.line-dashboard
section.danger-zone-dashboard
  .container
    .col-lg-12
      .row
        h2.dosis.text-uppercase.m-t-0 Danger Zone
      .row.m-b-25
        .col-lg-3
          a(href="#").btn.text-uppercase material Change
        .col-lg-9
          .text-block
            p Do you have new information that a reasonable investor would consider important in deciding whether or not to purchase your securities?  If so, click here to amend your offering.
      .row
        .col-lg-3
          a(href="#").btn.danger-cancel.text-uppercase cancel campaign
        .col-lg-9
          .text-block.text-p-t-6
            p Click here to cancel your offering.
            
script(src="/js/graf/graf.js" type="text/javascript")
script(src="/js/graph_data.js" type="text/javascript")
