| !{ app.breadcrumbs('issuer dashboard', '', [ ['Home', '/'], ['issuer dashboard', ''],])}

- var amt_raised_in_ks = Math.round(values.campaign.amount_raised/1000).toLocaleString('en-US');

section.issuer-dashbord-top
  .container
    .row
      .col-md-4
        .img_under_text
          if values.campaign.header_image_data[0]
            img(src=values.campaign.header_image_data[0].urls[0] alt="")
          h2.text-uppercase.dosis.m-t-0 #{values.name}
          .timer_day #{helpers.date.daysLeft(values.campaign.expiration_date)} Days Left
        .share-block.d-inline-block
          - var mailtoLink = `mailto:?subject=Check out ${values.name}'s fundraise on GrowthFountain&body=Check out ${values.name}'s fundraise on GrowthFountain%0D%0A${window.location.origin}/${values.id}`

          - var facebookLink = `https://www.facebook.com/dialog/share?app_id=${global.facebookClientId}&href=${window.location.origin}/${values.id}&description=${values.description}&locale=en_US&picture=${values.campaign.header_image_data.length ? values.campaign.header_image_data[0].urls[0] : ''}&title=${values.name}&caption=${values.campaign.caption || ''}`;
          
          - var twitterLink = `https://twitter.com/share?url=${window.location.origin}/${values.id}&via=growthfountain&hashtags=investment,fundraising&text=Check out `;
          
          - var linkedinLink = `https://www.linkedin.com/shareArticle?mini=true&url=${window.location.origin}/${values.id}&title=${values.name}&summary=${values.description}&source=Growth Fountain`;
          span.font-weight-bold Share:
          .social-dark.d-inline-block
            a(href=mailtoLink).link-1.email-share
              i.fa.fa-envelope-o
            a(href=facebookLink target="_blank").link-1.facebook-share
              i.fa.fa-facebook
            a(href=twitterLink target="_blank").link-1.twitter-share
              i.fa.fa-twitter
            a(href=linkedinLink target="_blank").link-1.linkedin-share
              i.fa.fa-linkedin
            //- a(href="#" target="_blank").link-1.google-plus-share
              i(aria-hidden="true").fa.fa-google-plus

      .col-md-2.col-sm-6
        a(href="").dashboard-stat
          .visual
            i.fa.fa-bar-chart
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.amount_raised) $#{amt_raised_in_ks}K
            .desc Amount Raised

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-briefcase
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.number_of_investors) #{values.number_of_investors.toLocaleString('en-US')}
            .desc Number of Investors

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-users
          .details
            .number
              span(
                data-counter="counterup"
                data-value=0) 0
            .desc Page Views

      .col-md-2.col-sm-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-comments
          .details
            .number
              span(
                data-counter="counterup"
                data-value=0).interactions-count 0
            .desc New Interactions

      .col-md-7.col-sm-7.p-r-0
        -
          var percentage_raised = Math.round(values.campaign.amount_raised / (values.campaign.minimum_raise || values.campaign.maximum_raise) * 100);
        .tpl-progress
          progress(
            value=percentage_raised
            max="100").progress.big_prog #{ percentage_raised }%
          span(
            style="width:" + percentage_raised + "%").circle_progress
            i.fa.fa-circle-o
          - var now = new Date();
          span(style="left:" + percentage_raised + "%").text_position
            | #{now.toLocaleString('en-US', { month: "short" })} #{ now.getDate() }
            br
            | #{ helpers.format.formatAmount(values.campaign.amount_raised) } Raised
        .progress_description
          -
            var starting_date = helpers.date.getStartDate(values.campaign.expiration_date, values.campaign.length_days);
          .pull-left
            p #{helpers.format.formatMonthDate(starting_date)}
            span Begining of campaign
          .pull-right.text-lg-right
            p #{helpers.format.formatMonthDate(values.campaign.expiration_date)}
            span End of campaign
          .clearfix
      .col-md-1.col-sm-1
        .right_fixed_text.text-lg-center
          b #{ helpers.format.formatAmount(values.campaign.minimum_raise || values.campaign.maximum_raise)}
          span Goal
      .col-md-8.col-sm-12.text-lg-center
        a(href="/" + values.id).btn-sm.btn.btn-secondary.text-uppercase view Campaign
          i(aria-hidden="true").fa.fa-angle-right
    .col-lg-12.border-bottom-50
section.grafic-dashboard
  .container
    .row
      .col-md-12
        .portlet.light.portlet-fit.bordered
          .portlet-title.portlet-hei75
            .caption
              h2.text-uppercase.m-t-0 Investments
            .actions
              div(data-toggle="buttons").btn-group.btn-group-devided
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                  input(
                    type="radio"
                    name="options").toggle#option1
                  | Actions
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                  input(
                    type="radio"
                    name="options").toggle#option2 
                  | Settings
          .portlet-body.grafic-padding
            .chart#chart_2
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110; height: 300px").flot-base
              .flot-text
                .flot-x-axis.flot-x1-axis.xAxis.x1Axis
                  div 1 MAY
                  .flot-tick-label.tickLabel 2 MAY
                  .flot-tick-label.tickLabel 3 MAY
                  .flot-tick-label.tickLabel 4 MAY
                  .flot-tick-label.tickLabel 5 MAY
                  .flot-tick-label.tickLabel 6 MAY
                  .flot-tick-label.tickLabel 7 MAY
                  .flot-tick-label.tickLabel 8 MAY
                  .flot-tick-label.tickLabel 9 MAY
                  .flot-tick-label.tickLabel 10 MAY
                  .flot-tick-label.tickLabel 11 MAY
                  .flot-tick-label.tickLabel 12 MAY
                  .flot-tick-label.tickLabel 13 MAY
                  .flot-tick-label.tickLabel 14 MAY
                  .flot-tick-label.tickLabel 15 MAY
                .flot-y-axis.flot-y1-axis.yAxis.y1Axis
                  .flot-tick-label.tickLabel 0
                  .flot-tick-label.tickLabel 10
                  .flot-tick-label.tickLabel 20
                  .flot-tick-label.tickLabel 30
                  .flot-tick-label.tickLabel 40
                  .flot-tick-label.tickLabel 50
                  .flot-tick-label.tickLabel 60
                  .flot-tick-label.tickLabel 70
                  .flot-tick-label.tickLabel 80
                  .flot-tick-label.tickLabel 90
                  .flot-tick-label.tickLabel 100
                  .flot-tick-label.tickLabel 110
                  .flot-tick-label.tickLabel 120
                  .flot-tick-label.tickLabel 130
                  .flot-tick-label.tickLabel 140
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110px; height: 300px;").flot-overlay
              .legend
                table
                  tr
                    td.legendLabel Unique Visits
                  tr
                    td.legendLabel Page Views
      .col-lg-12
        .border-bottom.m-t-3.m-b-3

section.investors-dashbord-comment
  .container
    .row
      .col-xl-10
        h2.dosis.text-uppercase.m-t-0.m-b-0 Investor question & answer
      .comments-container

section.danger-zone-dashboard
  .container
    .row
      .col-lg-12
        .border-bottom.m-t-3.m-b-3
    .col-lg-12
      .row
        h2.dosis.text-uppercase.m-t-0 material change?
    .row
      .col-lg-12
        p Do you have new information that a reasonable investor would consider important in deciding whether or not to purchase your securities?  If so, click here to amend your offering.
    .row
      .col-lg-12.m-t-1
        a(href="#").btn.danger-cancel.text-uppercase.cancel-campaign Material change

