| !{ app.breadcrumbs('issuer dashboard', '', [ ['Home', '/'], ['issuer dashboard', ''],])}
-
  var formcLinks = require('../../campaign/helpers.js').formcLinks
  var moment = require('moment');
  var socialDirective = require('directives/social/index.js');
  var CampaignInfoProvider = require('directives/social/CampaignInfoProvider.js');

  var infoProvider = new CampaignInfoProvider(this.company);
  var directiveKey = 'issuerDashboard';

section.issuer-dashbord-top
  .container
    .row
      .col-xl-4.col-lg-4.col-md-12.text-xs-center.text-sm-center.text-md-center.text-lg-left.text-xl-left
        .img_under_text
          img(src=(campaign.list_image_image_id.getUrl() || require('images/default/350x282.png')) alt="")
          h2.text-uppercase.dosis.m-t-0 #{company.name}
          .timer_day
            if campaign.expired
              .text-xs-center
                p #{ moment(campaign.expiration_date).format('MM.DD.YYYY') }
                p End Date
            else
              | #{campaign.daysLeftText()}
        if !campaign.expired
          .share-block.d-inline-block.share
            | !{ socialDirective.render(directiveKey, infoProvider) }
      .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-xs-6
        .dashboard-stat
          .visual
            i.fa.fa-bar-chart
          .details
            .number
              span $
              span(
                data-counter="counterup"
                data-num=campaign.amount_raised
                data-value=campaign.amount_raised)
            .desc Amount Raised

      .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-xs-6
        .dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-briefcase
          .details
            .number
              span(
                data-counter="counterup"
                data-num=company.number_of_investors
                data-value=company.number_of_investors) 0
            .desc Number of Investments

      .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-xs-6
        .dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-users
          .details
            .number
              span(
                data-counter="counterup"
                data-num=company.total_views
                data-value=0)
            .desc Page Views

      .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-xs-6
        .dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-comments
          .details
            .number
              span(
                data-counter="counterup"
                data-num=0
                data-value=0).interactions-count 0
            .desc New Interactions

      .col-xl-7.col-lg-7.col-md-10.col-sm-10.p-r-0.col-xs-10.hidden-xs-down
        .tpl-progress
          -
            var daysPassedPercents = campaign.daysPassedPercentage(company.approved_date);
          progress(
            value=daysPassedPercents
            max="100").progress.big_prog #{ daysPassedPercents }%
          span(
            style="left:" + daysPassedPercents + "%").circle_progress
            i.fa.fa-circle-o
          div(style="left:" +  (daysPassedPercents) + "%").text_position
            .text-wrap
              - var now = new Date();
              .font-weight-bold
                if campaign.expired
                  | #{ moment(campaign.expiration_date).format('DD MMMM') }
                else
                  | #{now.toLocaleString('en-US', { month: "short" })} #{ now.getDate() }
              | #{ '$' + (campaign.amount_raised || 0).toLocaleString('en-US') } Raised
              //br
              //| #{ app.helpers.format.formatAmount(campaign.amount_commited) } Approved
              //br
              //| Chances: #{ Math.round(percentage_raised / (campaign.minimum_raise  / campaign.amount_commited) * 100) }%
        .progress_description
          .pull-left
            p #{ moment(company.approved_date).format('MM/DD/YYYY') }
            span Begining of campaign
          .pull-right.text-lg-right
            p #{ moment(campaign.expiration_date).format('MM/DD/YYYY') }
            span End of campaign
          .clearfix
      .col-xl-1.col-lg-1.col-md-2.col-sm-2.col-xs-2.hidden-xs-down
        .right_fixed_text.text-lg-center
          b #{ app.helpers.format.formatAmount(campaign.minimum_raise || campaign.maximum_raise)}
          span Goal
      .col-xl-8.col-lg-8.col-md-12.text-xs-center
        if !campaign.expired
          a(href="/" + company.slug).btn-sm.btn.btn-secondary.text-uppercase view Campaign
            i(aria-hidden="true").fa.fa-angle-right
    .col-lg-12.border-bottom-50

section.investors-dashbord-document
  .container
    .row
      .col-xl-12
        h2.text-uppercase documents with growthfountain
        a(href=formc.link_to_formc target="_blank").link-1
          img(src=require('images/icons/lrg_US_Department_of_State35.gif')).img-document.d-inline-block
          h3.d-inline-block.m-t-0.m-b-0.listing  Form C
        br
        a(href=app.config.esignServer + '/pdf-doc/investors/' + formc.id + '/' + 3 target="_blank").link-1
          h2.d-inline-block.m-t-1.m-b-0.listing
            i.fa.fa-file-pdf-o
          h3.d-inline-block.m-t-0.m-b-0.listing  Listing Agreement
        br
        a(href=require('doc/GrowthFountain_Crowdfunding_Success_Checklist.pdf') target="_blank").link-1
          h2.d-inline-block.m-t-1.m-b-0
            i.fa.fa-file-pdf-o
          h3.d-inline-block.m-t-0.m-b-0  GrowthFountain Crowdfunding Success Checklist
        br
        a(href=require('doc/How_to_Run_a_Successful_Crowdfunding_Campaign_MoneyInc.pdf') target="_blank").link-1
          h2.d-inline-block.m-t-1.m-b-0
            i.fa.fa-file-pdf-o
          h3.d-inline-block.m-t-0.m-b-0  How to Run a Successful Crowdfunding Campaign
      .col-lg-12
        .border-bottom.m-t-3.m-b-0

section.grafic-dashboard
  div(style="display: none").container
    .row
      .col-md-12
        .portlet.light.portlet-fit.bordered
          .portlet-title.portlet-hei75
            .caption
              h2.text-uppercase.m-t-0 Investments
            .actions
              div(data-toggle="buttons").btn-group.btn-group-devided
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                  input(
                    type="radio"
                    name="options").toggle#option1
                  | Actions
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                  input(
                    type="radio"
                    name="options").toggle#option2 
                  | Settings
          .portlet-body.grafic-padding
            .chart#chart_2
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110; height: 300px").flot-base
              .flot-text
                .flot-x-axis.flot-x1-axis.xAxis.x1Axis
                  div 1 MAY
                  .flot-tick-label.tickLabel 2 MAY
                  .flot-tick-label.tickLabel 3 MAY
                  .flot-tick-label.tickLabel 4 MAY
                  .flot-tick-label.tickLabel 5 MAY
                  .flot-tick-label.tickLabel 6 MAY
                  .flot-tick-label.tickLabel 7 MAY
                  .flot-tick-label.tickLabel 8 MAY
                  .flot-tick-label.tickLabel 9 MAY
                  .flot-tick-label.tickLabel 10 MAY
                  .flot-tick-label.tickLabel 11 MAY
                  .flot-tick-label.tickLabel 12 MAY
                  .flot-tick-label.tickLabel 13 MAY
                  .flot-tick-label.tickLabel 14 MAY
                  .flot-tick-label.tickLabel 15 MAY
                .flot-y-axis.flot-y1-axis.yAxis.y1Axis
                  .flot-tick-label.tickLabel 0
                  .flot-tick-label.tickLabel 10
                  .flot-tick-label.tickLabel 20
                  .flot-tick-label.tickLabel 30
                  .flot-tick-label.tickLabel 40
                  .flot-tick-label.tickLabel 50
                  .flot-tick-label.tickLabel 60
                  .flot-tick-label.tickLabel 70
                  .flot-tick-label.tickLabel 80
                  .flot-tick-label.tickLabel 90
                  .flot-tick-label.tickLabel 100
                  .flot-tick-label.tickLabel 110
                  .flot-tick-label.tickLabel 120
                  .flot-tick-label.tickLabel 130
                  .flot-tick-label.tickLabel 140
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110px; height: 300px;").flot-overlay
              .legend
                table
                  tr
                    td.legendLabel Unique Visits
                  tr
                    td.legendLabel Page Views
      .col-lg-12
        .border-bottom.m-t-3.m-b-3

section.investors-dashbord-comment
  .container
    .row
      .col-xl-10
        h2.dosis.text-uppercase.m-t-0.m-b-0 Investor question & answer
      .col-xl-12.p-l-0.p-r-0.p-xs-1
        .comments-container

section.danger-zone-dashboard
  .container
    .row
      .col-lg-12
        .border-bottom.m-t-3.m-b-3
    .col-lg-12
      .row
        h2.dosis.text-uppercase.m-t-0 material change?
    .row
      .col-lg-12
        p Do you have new information that a reasonable investor would consider important in deciding whether or not to purchase your securities?  If so, click here to amend your offering.
    .row
      .col-lg-12.m-t-1
        if campaign.expired
          a(href="#").btn.danger-cancel.text-uppercase.disabled Material change
        else
          a(href="#").btn.danger-cancel.text-uppercase.cancel-campaign Material change
