| !{ app.breadcrumbs('issuer dashboard', '', [ ['Home', '/'], ['issuer dashboard', ''],])}
- var campaignHelpers = require('components/campaign/helpers.js');
- var formcLinks = require('../../campaign/helpers.js').formcLinks

section.issuer-dashbord-top
  .container
    .row
      .col-md-4
        .img_under_text
          img(src=campaignHelpers.getImageCampaign(values.campaign) alt="")
          h2.text-uppercase.dosis.m-t-0 #{values.name}
          .timer_day #{campaignHelpers.daysLeft(values.campaign.expiration_date)} Days Left
        .share-block.d-inline-block.share
          - var mailtoLink = 'mailto:?subject=Check out ' + (values.short_name || values.name) + '\'s fundraise on GrowthFountain&body=Check out ' + values.name + '\'s fundraise on GrowthFountain%0D%0A' + window.location.origin + '/' + values.id;

          - var facebookLink = 'https://www.facebook.com/dialog/share?app_id=' + global.facebookClientId + '&href=' + window.location.origin + '/' + values.id + '?r=' + Math.random() + '&description=' + values.description + '&locale=en_US&picture=' + campaignHelpers.getImageCampaign(values.campaign) + '&title=Check out ' + (values.short_name || values.name) + '\'s fundraise on GrowthFountain.com&caption=' + (values.campaign.caption || '');

          - var twitterLink = 'https://twitter.com/share?url=' + window.location.origin + '/' + values.id + '&text=Check out ' + (values.short_name || values.name) + '\'s fundraise on @growthfountain ';

          - var linkedinLink = '#';// 'https://www.linkedin.com/shareArticle?mini=true&url=' + window.location.origin + '/' + values.id + '&title=Check out ' + (values.short_name || values.name) + '\'s fundraise on GrowthFountain.com&summary=' + values.description + '&source=Growth Fountain';
          span.d-inline-block 
            i.fa.fa-share
            |  Share:
          .social-dark.d-inline-block
            a(href=facebookLink target="_blank").link-1.facebook-share
              i.fa.fa-facebook-square
            a(href=twitterLink target="_blank").link-1.twitter-share
              i.fa.fa-twitter-square
            a(href=linkedinLink target="_blank").link-1.linkedin-share
              i.fa.fa-linkedin-square
            a(href=mailtoLink data-close="true" data-popup-opt="width=1,height=1").link-1.email-share
              i.fa.fa-envelope-square
            
            
            
            //- a(href="#" target="_blank").link-1.google-plus-share
              i(aria-hidden="true").fa.fa-google-plus

      .col-md-2.col-sm-6.col-xs-6
        a(href="").dashboard-stat
          .visual
            i.fa.fa-bar-chart
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.amount_raised) $#{ values.campaign.amount_raised }
            .desc Amount Raised

      .col-md-2.col-sm-6.col-xs-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-briefcase
          .details
            .number
              span(
                data-counter="counterup"
                data-value=values.campaign.number_of_investors) #{values.number_of_investors.toLocaleString('en-US')}
            .desc Number of Investors

      .col-md-2.col-sm-6.col-xs-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-users
          .details
            .number
              span(
                data-counter="counterup"
                data-value=0) 0
            .desc Page Views

      .col-md-2.col-sm-6.col-xs-6
        a(href="").dashboard-stat.dashboard-stat-v2.grey
          .visual
            i.fa.fa-comments
          .details
            .number
              span(
                data-counter="counterup"
                data-value=0).interactions-count 0
            .desc New Interactions

      .col-md-7.col-sm-10.p-r-0.col-xs-10.hidden-xs-down
        .tpl-progress
          - 
            var percentage_raised = campaignHelpers.daysLeftPercentage(values);
            if(percentage_raised > 100) 
              percentage_raised = 100;
          progress(
            value=percentage_raised
            max="100").progress.big_prog #{ percentage_raised }%
          span(
            style="width:" + percentage_raised + "%").circle_progress
            i.fa.fa-circle-o
          span(style="left:" + percentage_raised + "%").text_position
            - var now = new Date();
            .font-weight-bold
              | #{now.toLocaleString('en-US', { month: "short" })} #{ now.getDate() }
            | #{ helpers.format.formatAmount(values.campaign.amount_raised) } Raised
            br
            | #{ helpers.format.formatAmount(values.campaign.amount_commited) } Approved
            br
            | Chances: #{ Math.round(percentage_raised / (values.campaign.minimum_raise  / values.campaign.amount_commited) * 100) }%
        .progress_description
          .pull-left
            p #{helpers.format.formatMonthDate(values.approved_date)}
            span Begining of campaign
          .pull-right.text-lg-right
            p #{helpers.format.formatMonthDate(values.campaign.expiration_date)}
            span End of campaign
          .clearfix
      .col-md-1.col-sm-2.col-xs-2.hidden-xs-down
        .right_fixed_text.text-lg-center
          b #{ helpers.format.formatAmount(values.campaign.minimum_raise || values.campaign.maximum_raise)}
          span Goal
      .col-md-8.col-sm-12.text-xs-center
        a(href="/" + values.id).btn-sm.btn.btn-secondary.text-uppercase view Campaign
          i(aria-hidden="true").fa.fa-angle-right
    .col-lg-12.border-bottom-50

section.investors-dashbord-document
  .container
    .row
      .col-xl-12
        h2.text-uppercase documents with growthfountain
        a(href=formcLinks[values.campaign.id] target="_blank").link-1
          img(src="/img/lrg_US_Department_of_State35.gif").img-document.d-inline-block
          h3.d-inline-block.m-t-0.m-b-0  Form C
        br
        a(href="https://api-esign-dev.growthfountain.com/pdf-doc/formc/listing_agreement.pdf?trans_percent=6&registration_fee=500&nonrefundable_fees=50&amendment_fee=200&commencement_date_x=2%2F6%2F2017&zip_code=20000&city=City+1&state=ID&address_1=Street+Address+1&address_2=Optional+Address+1&issuer_legal_name=Ratmir%27s+Company+Legal+Name&issuer_email=ratmir.asanov.1%40yandex.ru&issuer_signer=" target="_blank").link-1
          h2.d-inline-block.m-t-1.m-b-0
            i.fa.fa-file-pdf-o
          h3.d-inline-block.m-t-0.m-b-0  Listing Agreement
      .col-lg-12
        .border-bottom.m-t-3.m-b-0

section.grafic-dashboard
  div(style="display: none").container
    .row
      .col-md-12
        .portlet.light.portlet-fit.bordered
          .portlet-title.portlet-hei75
            .caption
              h2.text-uppercase.m-t-0 Investments
            .actions
              div(data-toggle="buttons").btn-group.btn-group-devided
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                  input(
                    type="radio"
                    name="options").toggle#option1
                  | Actions
                label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                  input(
                    type="radio"
                    name="options").toggle#option2 
                  | Settings
          .portlet-body.grafic-padding
            .chart#chart_2
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110; height: 300px").flot-base
              .flot-text
                .flot-x-axis.flot-x1-axis.xAxis.x1Axis
                  div 1 MAY
                  .flot-tick-label.tickLabel 2 MAY
                  .flot-tick-label.tickLabel 3 MAY
                  .flot-tick-label.tickLabel 4 MAY
                  .flot-tick-label.tickLabel 5 MAY
                  .flot-tick-label.tickLabel 6 MAY
                  .flot-tick-label.tickLabel 7 MAY
                  .flot-tick-label.tickLabel 8 MAY
                  .flot-tick-label.tickLabel 9 MAY
                  .flot-tick-label.tickLabel 10 MAY
                  .flot-tick-label.tickLabel 11 MAY
                  .flot-tick-label.tickLabel 12 MAY
                  .flot-tick-label.tickLabel 13 MAY
                  .flot-tick-label.tickLabel 14 MAY
                  .flot-tick-label.tickLabel 15 MAY
                .flot-y-axis.flot-y1-axis.yAxis.y1Axis
                  .flot-tick-label.tickLabel 0
                  .flot-tick-label.tickLabel 10
                  .flot-tick-label.tickLabel 20
                  .flot-tick-label.tickLabel 30
                  .flot-tick-label.tickLabel 40
                  .flot-tick-label.tickLabel 50
                  .flot-tick-label.tickLabel 60
                  .flot-tick-label.tickLabel 70
                  .flot-tick-label.tickLabel 80
                  .flot-tick-label.tickLabel 90
                  .flot-tick-label.tickLabel 100
                  .flot-tick-label.tickLabel 110
                  .flot-tick-label.tickLabel 120
                  .flot-tick-label.tickLabel 130
                  .flot-tick-label.tickLabel 140
              canvas(
                width="1110"
                height="300"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1110px; height: 300px;").flot-overlay
              .legend
                table
                  tr
                    td.legendLabel Unique Visits
                  tr
                    td.legendLabel Page Views
      .col-lg-12
        .border-bottom.m-t-3.m-b-3

section.investors-dashbord-comment
  .container
    .row
      .col-xl-10
        h2.dosis.text-uppercase.m-t-0.m-b-0 Investor question & answer
      .comments-container

section.danger-zone-dashboard
  .container
    .row
      .col-lg-12
        .border-bottom.m-t-3.m-b-3
    .col-lg-12
      .row
        h2.dosis.text-uppercase.m-t-0 material change?
    .row
      .col-lg-12
        p Do you have new information that a reasonable investor would consider important in deciding whether or not to purchase your securities?  If so, click here to amend your offering.
    .row
      .col-lg-12.m-t-1
        a(href="#").btn.danger-cancel.text-uppercase.cancel-campaign Material change

