-
  var auth = require('consts/auth/user.json');
  var rolesConsts = require('consts/team_member/roles.json');
  var countryDirective = require('directives/country/index.js');
  var ssnDirective = require('directives/ssn/index.js');
  var imageDropzone = require('directives/setdropzone/image.js'); 

  pug_html += app.breadcrumbs('Profile', '', [ ['Home', '/'], ['Profile', ''],]);

.container.profile.pt-50
  .row
    aside.col-xl-3.col-lg-4.m-b-1
      form(method="post" action="").form.form-section
        h4.m-t-0.m-b-1.profile-user-name.text-xs-center.text-uppercase #{user.first_name + ' ' + user.last_name}
        -
          pug_html += new imageDropzone.ImageDropzone(view, 
            'image_image_id', 
            'image_data', 
            view.fields.image_image_id
          ).render().resultHTML;
      .col-xl-12.col-lg-12.col-md-6.offset-md-3.col-xs-12.offset-xl-0.offset-lg-0.credit-password-block
        -
          var roles = app.user.getRoles();
          var company = app.user.getCompany();
        if roles && roles.length
          each roleInfo, idx in roles
            .profile-type-user
              .profile-type-user-wrap
                if roleInfo.roles && roleInfo.roles.length && roleInfo.company.is_paid
                  each role in roleInfo.roles
                    span.user-type #{ role.title }
                  .user-company
                    | in 
                    a(href=app.getIssuerDashboardUrl(roleInfo.company.id)).link-3 #{ roleInfo.company.name }
                    |  company.
        else if company && company.name && company.is_paid
          .profile-type-user
            .profile-type-user-wrap
              .user-company
                a(href="/dashboard/" + company.formc_id + "/issuer-dashboard").link-3 #{ company.name }
                |  company.
        if user.credit > 0 && user.days_left > 0
          hr.profile-type-user-hr
          .profile-type-user.credit-all
            
            h3.text-uppercase.m-t-0
              | your credit
              .profile-comission
                .wrap
                  h2.m-t-0.m-b-0 $#{ user.credit }
            .small-text Credit valid for #{ user.days_left } days.
            
            .text-xs-center
              a(href="/companies").btn.btn-secondary invest
        .profile-reset-password      
          hr
          a(href="/account/change-password").link-3
            i.fa.fa-lock
            |  Need to change your password?
    .col-xl-8.col-lg-8
      ul.nav.nav-tabs.profile-tabs
        li(aria-expanded="false").nav-item
          a(
            href="#account_info"
            data-toggle="tab"
            aria-expanded="true"
            role="tab"
            class=tab === 'account_info'? 'active' : ''
          ).nav-link.uppercase Profile information
        li.nav-item
          a(
            href="#financial_info"
            data-toggle="tab"
            role="tab"
            aria-expanded="true"
            class=tab === 'financial_info'? 'active' : ''
          ).nav-link.uppercase Financial information

      .tab-content.profile-tabs-content.mt30

        div(
          aria-expanded="true"
          class=tab === 'account_info'? 'active in' : ''
        )#account_info.tab-pane.fade
          div
            section.form-section.clearfix
              form(method="post" action="").form
                .form-body.clearfix
                  .col-xs-12.p-x-0
                    section.right-block
                      .form-group.row.required
                        label.col-xs-12.text-xl-left Legal Name
                          span.color-red *
                        -
                          pug_html += app.fields.fieldText('first_name', {
                            'class': 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left',
                            'placeholder': 'First Name',
                            'value': user.first_name,
                          });
                          pug_html += app.fields.fieldText('last_name', {
                            'class': 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 last-name',
                            'placeholder': 'Last Name',
                            'value': user.last_name,
                          });
                      | !{ countryDirective(this).render() }
                      .row
                        .col-xl-12
                          .border-bottom.m-t-2.m-b-3
                      .row.m-b-0
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel("twitter", Object.assign({
                                'type': 'text',
                                'value': user.twitter,
                              }, fields.twitter))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel("facebook", Object.assign({
                                'type': 'text',
                                'value': user.facebook,
                              }, fields.facebook))
                      .row.m-b-0
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel("instagram", Object.assign({
                                'type': 'text',
                                'value': user.instagram,
                              }, fields.instagram))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel("linkedin", Object.assign({
                                'type': 'text',
                                'value': user.linkedin,
                              }, fields.linkedin))

                      .form-group.row.clearfix.m0
                        .col-lg-12.text-xs-center.m-t-2
                          .controls
                            button(
                              type="button"
                              data-method="PATCH"
                            )#saveAccountInfo.btn.btn-primary.pull-lg-right Save

        div(
          aria-expanded="true"
          class=tab === 'financial_info'? 'active in' : ''
        )#financial_info.tab-pane.fade
          div
            section.form-section.clearfix
              form(method="post" action="")
                .form-body.clearfix

                  .col-xl-12.p-x-0
                    section.right-block
                      .form-group.row
                        .col-lg-12
                          .warning-block.m-b-0
                            i.fa.fa-info-circle
                            span.warning-text
                              | We are required by the SEC to collect this information in order to determine how much you can invest and what offerings will be available to you.
                      .form-group.row.bootstrap-slider-custom
                        .col-xl-12
                          label.m-b-2 My Net Worth
                        .col-xl-12.text-xs-center
                          input(
                          type='text'
                          name="net_worth"
                          value=user.net_worth
                          data-slider-value=user.net_worth
                          ).form-control.slider-net-worth
                      .form-group.row.bootstrap-slider-custom
                        .col-xl-12
                          label.m-b-2.m-t-1 My Annual Income
                        .col-xl-12.custom-annual-income.text-xs-center
                          input(
                          type='text'
                          name="annual_income"
                          data-slider-value=user.annual_income
                          ).form-control.slider-annual-income
                      .radio-input
                        p.font-weight-bold.d-inline-block.m-b-1.m-t-1 Are you an Accredited Investor?&nbsp;
                          div.d-inline-block
                            div.showPopover.hidden-xs-down(data-content="An accredited investor is a natural person who has individual net worth, or joint net worth with the persons spouse, that exceeds $1mm at the time of the purchase, excluding the value of the primary residence of such person; or a natural person with income exceeding $200k in each of the two most recent years or joint income with a spouse exceeding $300k for those years and a reasonable expectation of the same income level in the current year.")
                              i(aria-hidden="true").fa.fa-question-circle.text-muted



                      .form-group.m-t-1
                        label.accredited_investor.shown-yes
                          input(
                            type="checkbox"
                            id="accredited_investor_1m"
                            name="accredited_investor_1m"
                            data-unchecked-value="0"
                            value="1"
                            checked=!!user.accredited_investor_1m
                          ).col-xl-1.investor-1m.investor-item-checkbox
                          span.font-weight-normal.col-xl-10.p-l-0
                            | I am an Accredited Investor because my net worth, or joint net worth with my spouse, exceeds $1 million excluding my primary residence.
                        label.accredited_investor.shown-yes
                          input(
                            type="checkbox"
                            name="accredited_investor_200k"
                            id="accredited_investor_200k"
                            data-unchecked-value="0"
                            value="1"
                            checked=!!user.accredited_investor_200k
                          ).col-xl-1.investor-200k.investor-item-checkbox
                          span.font-weight-normal.col-xl-10.p-l-0 I am an Accredited Investor because my annual income exceeds $200,000 or my joint annual income with my spouse exceeds $300,000 for each of the past two (2) years and expect the same this year
                        label.accredited_investor.shown-yes
                          input(
                            type="checkbox"
                            name="accredited_investor_5m"
                            id="accredited_investor_5m"
                            data-unchecked-value="0"
                            value="1"
                            checked=!!user.accredited_investor_5m
                          ).col-xl-1.investor-entity.investor-item-checkbox
                          span.font-weight-normal.col-xl-10.p-l-0 I am an Accredited Investor because I am authorized to invest on behalf of an entity with at least $5M in assets or an entity where all of the owners are Accredited Investors.
                        label.accredited_investor.shown-yes
                          input(
                            type="checkbox"
                            name="accredited_investor_poor"
                            id="accredited_investor_poor"
                            data-unchecked-value="0"
                            value="1"
                            checked=user.accredited_investor_poor
                          ).col-xl-1.investor-risk-agree.investor-item-checkbox
                          span.font-weight-normal.col-xl-10.p-l-0 I am an Accredited Investor because I am authorized to invest on behalf of a trust with at least $5M in assets and I acknowledge that I have sufficient knowledge to evaluate the merits and risks of private offerings.
                        .row
                          label.accredited_investor.shown-yes.col-xl-12
                            input(
                              type="checkbox"
                              checked=!user.accredited_investor_choice
                              name="accredited_investor_choice"
                              data-unchecked-value="1"
                              value="0"
                            ).col-xl-1.investor-risk-agree#not-qualify
                            span.font-weight-normal.col-xl-11.p-l-0 I do not qualify.
                      .row
                        .col-sm-12
                          hr.m-b-3.m-t-1
                      .row
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('bank_name', Object.assign({
                                'type': 'text',
                                'value': user.bank_name
                              }, fields.bank_name))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('name_on_bank_account', Object.assign({
                                'type': 'text',
                                'value': user.name_on_bank_account
                              }, fields.name_on_bank_account))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('account_number', Object.assign({
                                'help_text': '<div class="img-routing-number"></div>',
                                'type': 'text',
                                'value': user.account_number
                              }, fields.account_number))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('account_number_re', Object.assign({
                                'help_text': '<div class="img-routing-number"></div>',
                                'type': 'text',
                                'value': user.account_number
                              }, fields.account_number_re))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('routing_number', Object.assign({
                                'help_text': '<div class="img-routing-number"></div>',
                                'type': 'text',
                                'value': user.routing_number
                              }, fields.routing_number))
                        .col-xl-6.col-lg-6.col-md-6
                          -
                            pug_html += app.fields.textLabel('routing_number_re', Object.assign({
                                'help_text': '<div class="img-routing-number"></div>',
                                'type': 'text',
                                'value': user.routing_number
                              }, fields.routing_number_re))

                      .form-group.row.radio.requried
                        label.text-xl-left.col-xl-12 Account Type
                          span.color-red *
                        .col-xl-12.radio-input
                          label
                            input(
                              type="radio"
                              name='bank_account_type'
                              checked=(user.bank_account_type == auth.bank_account_type.Checking)
                              value=auth.bank_account_type.Checking
                            )
                            |  Checking
                          label
                            input(
                              type="radio"
                              name='bank_account_type'
                              checked=(user.bank_account_type == auth.bank_account_type.Savings)
                              value=auth.bank_account_type.Savings
                            )
                            |  Savings
                      .row
                        .col-xl-12
                          -
                            pug_html += ssnDirective(this).render();

                      .form-group.row.clearfix.m0
                        .col-xl-12.mt30.text-xs-center
                          .controls
                            button(
                              href="#"
                              data-method="PATCH"
                            )#saveFinancialInfo.btn.btn-primary.pull-lg-right SAVE
