- 
  klass = options.class || '';
  var requiredklass = options.required ? 'required' : '',
    popoverklass = options.help_text ? 'showPopover' : '';

  klass = "row media-item fileFolderDropzone " + klass + " " + fileElement.fieldName + " " + requiredklass;

  klass1 = klass1 || 'col-xl-3 col-lg-12 text-xl-right text-lg-left ';
  klass1 += requiredklass;

  klass2 = klass2 || 'col-xl-9 col-lg-12 p-l-1 p-r-1';
  klass2 += ' dropzone__' + fileElement.fieldName;

  text = options.text || 'Drop your PDF or DOC here or click to upload';
  if(options.required && options.required == true) {
    options.label += '<span class="color-red">*</span>' 
  }

div(class=klass)
  div(data-content=(options.help_text || '') class=popoverklass).dropzoneContainer
    div(class=klass1)
      label(for=fileElement.file.id || fileElement.fieldName)!= options.label
    div(class=klass2)
      div(class="col-lg-12 p-xs-0 p-r-0 border-dropzone" id=fileElement.fieldName)
        div(class="uploading collapse")
          i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
        span
          div.col-lg-5.col-md-5.col-sm-5.col-xs-12.text-xs-center.text-md-center.text-lg-center.p-dropzone
            .row
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{text}
                i(class="fa fa-file")
          div(id=name).col-lg-7.col-md-7.col-sm-7.col-xs-12.p-r-0.p-xs-0.img-dropzone.text-xs-center
            - pug_html += fileElement.render().resultHTML
