- 
  klass = options.class || '';
  var requiredklass = options.required ? 'required' : '',
    popoverklass = options.help_text ? 'showPopover' : '';

  klass = "row media-item folderDropzone " + klass + " " + fileElement.fieldName + " " + requiredklass;

  klass1 = klass1 || 'col-xl-3 col-lg-12 text-xl-right text-lg-left ';
  klass1 += requiredklass;

  klass2 = klass2 || 'col-xl-9 col-lg-12 p-l-1 p-r-1';
  klass2 += ' dropzone__' + fileElement.fieldName;

  label = options.label || 'Drop your PDF or DOC here or click to upload';

div(class=klass)
  div(data-content=(options.help_text || '') class=popoverklass).dropzoneContainer
    div(class=klass1)
      label(for=(this.folderElement.file.id || this.folderElement.name))!= label

    div(class=klass2 id=(this.folderElement.file.id))
      div(class=" col-lg-12 border-dropzone p-r-0")
        div(class="uploading collapse")
          i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
        span.filescroll
          div.col-lg-5.col-md-5.col-sm-5.col-xs-5.text-xs-center.text-md-center.text-lg-center.p-dropzone
            a(class='link-1' href="#")
              p.drop-photo #{label}
              i(class="fa fa-file")
          div.col-lg-7.col-md-7.col-sm-7.col-xs-7.p-r-0.p-l-0.img-dropzone.text-xs-center.all-file-scroll
            .file-scroll.fileHolder
              each file,index in this.folderElement.files
                - pug_html += file.render().resultHTML
              else
                .thumb-file-container.text-xl-center
                  img(src="" alt=label class="img-file img-")
