.thumb-file-container.fileContainer(class="fileContainer" + file.file.id)
  .delete-file-container.deleteFile(style="position: absolute;")
    a(href="#" class="delete-file" data-fileid=file.file.id)
      i.fa.fa-times
  a(class=("link-file a-" + name) target="_blank" href=file.file.getOriginal() title=file.file.name)
    img(src=file.file.getIconUrl() alt=file.file.name class="img-file img-folderFile")
    .row
        .col-xl-12 #{ file.file.shortenFileName() }
