- 
  klass = options.class || '';
  var requiredklass = options.required ? 'required' : '',
    popoverklass = options.help_text ? 'showPopover' : '';

  klass = "row media-item imageDropzone " + klass + " " + fileElement.fieldName;

  klass1 = klass1 || 'col-xl-3 col-lg-12 text-xl-right text-lg-left ';
  klass1 += requiredklass;

  klass2 = klass2 || 'col-xl-9 col-lg-12 p-l-1 p-r-1';
  klass2 += ' dropzone__' + fileElement.fieldName;

  var title = options.title || 'Drop photo or click to upload';

div(class=klass)
  div(data-content=(options.help_text || '') class=popoverklass).dropzoneContainer
    div(class=klass1)
      label(for=fileElement.file.id || fileElement.fieldName) #{ options.label }
        if options.required
          span.color-red *
    div(class=klass2)
      div(class="col-lg-12 p-x-0 border-dropzone" id=fileElement.fieldName)
        div(class="uploading collapse")
          i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
        span
          div.col-lg-12.col-md-12.col-sm-12.col-xs-12.p-x-0.text-xs-center.text-md-center.text-lg-center.p-dropzone.header-media
            .row
              a(class='link-1' href="#" onclick="return false")
                p.drop-photo #{title}
                i(class="fa fa-file-image-o")
          div(id=name).col-lg-12.col-md-12.col-sm-12.col-xs-12.p-x-0.img-dropzone.text-lg-center.fileContainer
            - pug_html += fileElement.render().resultHTML
