.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Step 1
        form.js-calc-form
            .form-group.row
                label.col-sm-7.col-form-label(for='excessCash')
                    How much excess cash  does your business need to maintain as a buffer against the unexpected?
                .col-sm-5
                    input#excessCash.form-control.js-field(
                        value= excessCashFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='excessCash',
                        data-current-value= excessCash)
            .form-group.row
                label.col-sm-7.col-form-label(for='CashOnHand')
                    How much cash does your business currently have?
                .col-sm-5
                    input#CashOnHand.form-control.js-field(
                        value= CashOnHandFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='CashOnHand',
                        data-current-value= CashOnHand)
            .form-group.row
                label.col-sm-7.col-form-label(for='projectedRevenue')
                    What is your business’s projected revenue for the next 12 months?
                .col-sm-5
                    input#projectedRevenue.form-control.js-field(
                        value= projectedRevenueFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='projectedRevenue'
                        data-current-value= projectedRevenue)
            .form-group.row
                label.col-sm-7.col-form-label(for='projectedRevenueTwo')
                    What is your business’s projected revenue for the subsequent 12 months? (i.e. months 13 - 24)
                .col-sm-5
                    input#projectedRevenueTwo.form-control.js-field(
                        value= projectedRevenueTwoFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='projectedRevenueTwo',
                        data-current-value= projectedRevenueTwo)
            .form-group.row
                label.col-sm-7.col-form-label
                    What gross margin  do you expect to earn on your business’s sales over the next 2 years?
                .col-sm-5
                    p Slider
            .form-group.row
                label.col-sm-7.col-form-label(for='firstYearExpenses')
                    What is your business’s projected operating expense  for the next twelve months?
                .col-sm-5
                    input#firstYearExpenses.form-control.js-field(
                        value= firstYearExpensesFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='firstYearExpenses',
                        data-current-value= firstYearExpenses)
            .submit-area
                .form-group.row
                    .col-sm-6.text-xs-center.text-sm-left
                        a.btn.btn-link(href='/calculator/capitalraise/intro', role='button') Go back
                        p Don&apos;t worry we saved this info
                    .col-sm-6.text-xs-center.text-sm-right
                        a.btn.btn-primary.btn-lg(href="/calculator/capitalraise/step-2") Next
