.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Step 2
        p.lead.lead__center TABLE LOOKUP
        table.table.table-bordered.table-custom-data
            tr
                td
                td
                    strong NTM
            tr
                td
                    strong P/S
                td= ntmPs
            tr
                td
                    strong EV/EBIT
                td= ntmEv

        p.lead.lead__center GF Valuation
        table.table.table-bordered.table-custom-data
            tr
                td
                td
                    strong Year 1
                td
                    strong Year 2
            tr
                td
                    strong P/S
                td= year1Ps
                td= year2Ps
            tr
                td
                    strong EV/EBIT
                td= year1Ev
                td= year2Ev
            tr
                td
                    strong Average
                td= year1Average
                td= year2Average
            tr
                td
                    strong NPV
                    td= year1Npv
                    td= year2Npv

        form.js-calc-form
            .submit-area
                .form-group.row
                    .col-sm-6.text-xs-center.text-sm-left
                        a.btn.btn-link(href='/calculator/capitalraise/step-1', role='button') Go back
                        p Don&apos;t worry we saved this info
                    .col-sm-6.text-xs-center.text-sm-right
                        a.btn.btn-primary.btn-lg(href="/calculator/capitalraise/finish") Finish
