.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Step 1
        form.js-calc-form
            .form-group.row
                label.col-sm-7.col-form-label(for='industry') Select industry from dropdown menu:
                .col-sm-5
                    select#industry.form-control.js-select(
                        data-model-value='industry')
                        each val, index in industryData
                            if val == model.industry
                                option(selected)= val
                            else
                                option= val

            .form-group.row
                label.col-sm-7.col-form-label(for='industryEstablishment') Is your industry fairly well established?  Or is it new, with the potential to quickly grow?
                .col-sm-5
                    select#industryEstablishment.form-control.js-select(
                        data-model-value='industryEstablishment')
                            each item in selects.industryEstablishment
                                if item.value == model.industryEstablishment
                                    option(selected, value= item.value)= item.text
                                else
                                    option(value= item.value)= item.text

            .form-group.row
                label.col-sm-7.col-form-label(for='typeOfEstablishment') Would you describe your product or service as a solid improvement over what the market currently offers?  Or is it revolutionary, with the potential to be disruptive to the market?
                .col-sm-5
                    select#typeOfEstablishment.form-control.js-select(
                        data-model-value='typeOfEstablishment')
                            each item in selects.typeOfEstablishment
                                if item.value == model.typeOfEstablishment
                                    option(selected, value= item.value)= item.text
                                else
                                    option(value= item.value)= item.text

            .form-group.row
                label.col-sm-7.col-form-label(for='projectedRevenue') How much revenue do you expect your business will produce in Year 1?
                .col-sm-5
                    input#projectedRevenue.form-control.js-field(
                        value= model.projectedRevenueFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='projectedRevenue'
                        data-current-value= model.projectedRevenue)

            .form-group.row
                label.col-sm-7.col-form-label(for='operatingProfit') How much operating profit do you expect to earn in Year 1?
                .col-sm-5
                    input#operatingProfit.form-control.js-field(
                        value= model.operatingProfitFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='operatingProfit'
                        data-current-value= model.operatingProfit)

            .form-group.row
                label.col-sm-7.col-form-label(for='projectedRevenueTwo') How much revenue do you expect your business will produce in Year 5?
                .col-sm-5
                    input#projectedRevenueTwo.form-control.js-field(
                        value= model.projectedRevenueTwoFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='projectedRevenueTwo',
                        data-current-value= model.projectedRevenueTwo)
            .form-group.row
                label.col-sm-7.col-form-label(for='operatingProfitTwo') How much operating profit do you expect to earn in Year 5?
                .col-sm-5
                    input#operatingProfitTwo.form-control.js-field(
                        value= model.operatingProfitTwoFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='operatingProfitTwo'
                        data-current-value= model.operatingProfitTwo)

            .form-group.row
                label.col-sm-7.col-form-label(for='CashOnHand') How much cash, beyond what's needed for immediate operating needs, does your business currently have?
                .col-sm-5
                    input#CashOnHand.form-control.js-field(
                        value= model.CashOnHandFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='CashOnHand',
                        data-current-value= model.CashOnHand)

            .form-group.row
                label.col-sm-7.col-form-label(for='yourDebt') How much debt is your business currently carrying?
                .col-sm-5
                    input#yourDebt.form-control.js-field(
                        value= model.yourDebtFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='yourDebt'
                        data-current-value= model.yourDebt)

            .form-group.row
                label.col-sm-7.col-form-label(for='cashRaise') How much cash do you plan to raise?
                .col-sm-5
                    input#cashRaise.form-control.js-field(
                        value= model.cashRaiseFormatted,
                        type='text',
                        placeholder='$0',
                        data-input-mask='price',
                        data-model-value='cashRaise',
                        data-current-value= model.cashRaise)

            .submit-area
                .form-group.row
                    .col-sm-6.text-xs-center.text-sm-left
                        a.btn.btn-link(href='/calculator/capitalraise/intro', role='button') Go back
                        p Don&apos;t worry we saved this info
                    .col-sm-6.text-xs-center.text-sm-right
                        button.btn.btn-primary.btn-lg(type='submit') Finish
