
include ../../../templates/mixins.pug

+breadcrumbs('PayBack Share Calculator ', 'step 2', 
    [
        ['Home', '/'],
        ["What's My Business Worth?", '/'],
        ["PayBack Share Calculator", '']
    ]
)

.container.calculator-container
    .row
        .offset-lg-2.col-xs-8
            ul.list-inline.top-breadcrambs.mb45
                li
                    a(href="/calculator/paybackshare/step-1").btn.text-uppercase Intro
                li
                    a(href="/calculator/paybackshare/step-2").current.btn.btn-secondary.text-uppercase step 2
                li
                    a(href="/calculator/paybackshare/step-3").btn.btn-secondary.text-uppercase finish

    .row
        .offset-lg-3.col-lg-6
            .warning-block
                i.fa.fa-exclamation-triangle 
                span.warning-text 
                    | This calculator will give you an idea of distributions associated with issuing PayBack Share

    .row
        .offset-lg-3.col-lg-6
            form(method="post" action="").js-calc-form
                .form-body.clearfix 

                    .form-group.row
                        label(for="input2").col-lg-12 How much money do you plan to raise?

                        .col-lg-12
                            input#input2.form-control.js-field(
                                value= raiseMoneyFormatted,
                                type='text',
                                placeholder='$0',
                                data-input-mask='price',
                                data-model-value='raiseMoney',
                                data-current-value= raiseMoney)

                    .form-group.row
                        label(for="input3").col-lg-12 What do you expect your revenue to be next year?

                        .col-lg-12
                            input#input3.form-control.js-field(
                                value= nextYearRevenueFormatted,
                                type='text',
                                placeholder='$0',
                                data-input-mask='price',
                                data-model-value='nextYearRevenue',
                                data-current-value= nextYearRevenue)

                    .form-group.row
                        label(for="input1").col-lg-12 At what rate do you expect your revenue to grow each year?

                        .col-lg-12
                            input#input1.form-control.js-field(
                                value= growLevel,
                                type='text',
                                data-input-mask='percent',
                                data-model-value='growLevel')

                    .form-group.row.clearfix.m0
                        .col-lg-6.mt30
                            a(href='/calculator/paybackshare/step-1').link-3 Go back
                            p.text-muted Don&apos;t worry we saved this info

                        .col-lg-6.mt30
                            .controls  
                                button( 
                                    type="submit"
                                ).btn.btn-primary.btn-lg.pull-right.text-uppercase Next 
                                // add class .pointer-events-none to disable all events for this button
