mixin row(value, index)
  - var index = index;
  div.one-video
    .video-container(data-index=index class=name + ' addSectionBlock')
      .col-xl-12
        .delete-section-container.media-delete
          a(href="#" data-section=name data-index=index).delete-sectionnew
            i.fa.fa-times
      .showPopover(data-content="YouTube or Vimeo links only please.")
        .row
          .col-xs-12
            .col-xl-7.col-lg-6.videoInteractive.text-xl-left
              
              | !{app.fields.nestedTextLabel(name, 'headline', value, index,{class1: 'col-xl-12', class2: 'col-xl-12', placeholder: 'Title',}, attr.schema.headline)}
              | !{app.fields.nestedText(name, 'link', value, index,{class: 'm-b-2 additional-video-link', placeholder: 'http://www.',}, attr.schema.link)}
              
            .col-xl-5.col-lg-6
              -
                var videoInfo = app.getVideoInfo(values && values[index] ? values[index].link : null);

              if videoInfo.provider === 'youtube'
                .img-media.youtube-media
                  img(src="https://img.youtube.com/vi/" + videoInfo.id + "/0.jpg")
              else if videoInfo.provider === 'vimeo'
                .img-media
                  img(src="" data-vimeo-id=videoInfo.id).card-img.w-100.vimeo-thumbnail
              else
                .img-media
                  img(src=require("images/default/default-video.png"))

mixin run()
  if first_run
    div(class=(attr.row == 0 ? '' : '') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : '') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')
        if values == null || values.length == 0
          +row({}, 0)
        else
          each value, index in values
            +row(value, index)
      .add-link.add-link-additional-video
        .col-xl-12
          a(href="#" data-section=name data-comp="raiseFunds" data-template="additional_video").link-2.add-sectionnew
            i.fa.fa-plus
            |  Add Another Video
    

  else
    +row({}, index)

+run()
