
mixin row(value, index)
  - var index = index;

  .col-xl-12(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times

    | !{app.fields.nestedTextLabel(name, 'question', value, index, {help_text:'Create your own Q&A section. What questions do you frequently recieve or what would you want investors to know?'}, attr.schema.question)}
    | !{app.fields.nestedTextareaLabel(name, 'answer', value, index, attr.schema.answer)}

mixin run()

  if first_run
    .row
      .col-lg-12.text-lg-center.text-md-center.text-xs-center
        h3.d-inline-block.m-t-0.mb25 FAQs
    div(class=(attr.row == 0 ? '' : 'row ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : ' ') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')
        if values == null || values.length == 0
          +row({}, 0)
        else
          each value, index in values
            +row(value, index)
    .row.add-link
      .col-xl-12
        a(href="#" data-section=name data-comp="raiseFunds" data-template="faq").link-2.add-sectionnew
          i.fa.fa-plus
          |  Add Another FAQ
  else
    +row({}, index)

+run()
