mixin row(value, index)
  - var index = index;

  div(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times

    | !{app.fields.nestedTextLabel(name, 'amount', value, index, attr.schema.amount)}
    | !{app.fields.nestedTextareaLabel(name, 'perk', value, index,{class2:'col-xl-12 perks-textarea'}, attr.schema.perk)}

mixin run()

  if first_run
    div(class=(attr.row == 0 ? '' : '') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : '') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')
        if values == null || values.length == 0
          +row({}, 0)
        else
          each value, index in values
            +row(value, index)
    .row.add-link
      .col-xl-12
        a(href="#" data-section=name data-comp="raiseFunds" data-template="perks").link-2.add-sectionnew
          i.fa.fa-plus
          |  Add Another Perk
  else
    +row({}, index)

+run()
