mixin row(value, index)
  - var index = index;
  div(data-index=index class=name + ' addSectionBlock')
    .delete-section-container
      a(href="#" data-section=name data-index=index).delete-sectionnew
        i.fa.fa-times

    | !{app.fields.nestedTextLabel(name, 'headline', value, index, {placeholder:'Please Enter a Quate or the Headline'}, attr.schema.headline)}
    | !{app.fields.nestedTextLabel(name, 'name', value, index, {placeholder:'Example: Business Insider',}, attr.schema.name)}
    | !{app.fields.nestedTextLabel(name, 'link', value, index, {placeholder:'http://www.'}, attr.schema.link)}

mixin run()

  if first_run
    .row
      .col-lg-12.text-lg-center.text-md-center.text-xs-center
        h3.d-inline-block.m-t-0.mb25 Articles and Press
    div(class=(attr.row == 0 ? '' : ' ') + name + '_block' + (attr.required == true ? ' required ' : ' ') + ' nested')
      div(class=(attr.row == 0 ? '' : '') + name + '_container' + (attr.required == true ? ' required ' : ' ') + ' nested')
        if values == null || values.length == 0
          +row({}, 0)
        else
          each value, index in values
            +row(value, index)
    .row.add-link
      .col-xl-12
        a(href="#" data-section=name data-comp="raiseFunds" data-template="press").link-2.add-sectionnew
          i.fa.fa-plus
          |  Add Another Article
  else
    +row({}, index)

+run()