include ../../../templates/mixins.pug

+breadcrumbs('Capital Raise Calculator ', 'step 2',
    [
        ['Home', '/'],
        ["What's My Business Worth?", '/'],
        ["Capital Raise Calculator", '']
    ]
)

.container.calculator-container
    .row
        .col-xs-12
            ul.list-inline.top-breadcrambs.mb45.capitalraise
                li
                    a(href="/calculator/whatmybusinessworth/intro").btn.text-uppercase Intro
                li
                    a(href="/calculator/whatmybusinessworth/step-1").btn.text-uppercase step 1
                li
                    a(href="/calculator/whatmybusinessworth/step-2").current.btn.text-uppercase step 2
                li
                    a(href="/calculator/whatmybusinessworth/finish").btn.text-uppercase finish

    .row
        .offset-lg-3.col-lg-6
            form(method="post" action="").js-calc-form
                .form-body.clearfix

                    .form-group.row
                        label(for="monthlyOperatingTwoYears").col-lg-12 What do you expect your monthly operating expenses to average over the subsequent 12 months? (i.e. months 13 - 24) &nbsp;&nbsp;
                            i(aria-hidden="true")#second_year_expenses.fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#monthlyOperatingTwoYears.form-control.js-field(
                                value= formatPrice(data.monthlyOperatingTwoYears),
                                type='text',
                                placeholder='Second Year Expenses',
                                data-input-mask='price',
                                data-model-value='monthlyOperatingTwoYears',
                                data-current-value= data.monthlyOperatingTwoYears)

                    .form-group.row
                        label(for="workingCapital").col-lg-12  How much working capital do you need to generate your projected revenue over the next 24 months?) &nbsp;&nbsp;
                            i(aria-hidden="true")#generate_projected_revenue.fa.fa-question-circle.text-muted

                        // this should be range of bootstrap slider
                        // Roman K.: For calculator work I've left it as input. Has to be changed to slider

                        .col-lg-12
                            input#workingCapital.form-control.js-field(
                                value= data.workingCapital,
                                type='text',
                                placeholder='',
                                data-input-mask='percent',
                                data-model-value='workingCapital')

                    .form-group.row
                        label(for="additionalOperating").col-lg-12 If your revenue comes in 50% higher than you are currently projecting, how much in additional monthly operating expenses would you need? &nbsp;&nbsp;
                            i(aria-hidden="true")#annual_expenses.fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#additionalOperating.form-control.js-field(
                                value= formatPrice(data.additionalOperating),
                                type='text',
                                placeholder='Annual Expenses',
                                data-input-mask='price',
                                data-model-value='additionalOperating',
                                data-current-value= data.additionalOperating)

                    .form-group.row
                        label(for="capitalExpenditures").col-lg-12 Are you expecting any Capital Expenditures over the next 24 months? &nbsp;&nbsp;
                            i(aria-hidden="true")#capital_expenditures.fa.fa-question-circle.text-muted

                        .col-lg-12
                            input#capitalExpenditures.form-control.js-field(
                                value= formatPrice(data.capitalExpenditures),
                                type='text',
                                placeholder='Capital Expenditures',
                                data-input-mask='price',
                                data-model-value='capitalExpenditures',
                                data-current-value= data.capitalExpenditures)

                    .form-group.row
                        label(for="taxRate").col-lg-12 What Tax Rate do you expect to pay on your operating profit? (including federal, state, local, and any other taxes applicable to the operation of your business)

                        // this should be range of bootstrap slider
                        // Roman K.: For calculator work I've left it as input. Has to be changed to slider

                        .col-lg-12
                            input#taxRate.form-control.js-field(
                                value= data.taxRate,
                                type='text',
                                placeholder='',
                                data-input-mask='percent',
                                data-model-value='taxRate')

                    .form-group.row
                        label(for="annualInterest").col-lg-12 What do you expect your annual interest expense to be over the next 2 years?

                        .col-lg-12
                            input#annualInterest.form-control.js-field(
                                value= formatPrice(data.annualInterest),
                                type='text',
                                placeholder='Annual Interest Expense',
                                data-input-mask='price',
                                data-model-value='annualInterest',
                                data-current-value= data.annualInterest)

                    .form-group.row.clearfix.m0
                        .col-lg-6.mt30
                            a(href='/calculator/whatmybusinessworth/step-1').link-3 Go back
                            p.text-muted Don&apos;t worry we saved this info

                        .col-lg-6.mt30
                            .controls
                                button(type="submit").btn.btn-primary.pull-right.text-uppercase Next
                                // add class .pointer-events-none to disable all events for this button
