//general.growthfountain.com
noscript
  iframe(
    src="https://www.googletagmanager.com/ns.html?id=GTM-NC9XW5D"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  )

//jdcu.growthfountain.com
noscript
  iframe(
    src="https://www.googletagmanager.com/ns.html?id=GTM-W4XHRL7"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  )