-
  var cssClass = 'form-group '  +
    (attr.row == 0 ? '' : 'row ') +
    (attr.id || name) +
    (attr.required == true ? ' required ' : ' ') +
    attr.type
div(class=cssClass)
  label(class=attr.class1 for=attr.id || name)!= attr.label
  div(class=attr.class2)
    select(
      id=attr.id || name
      name=name
    ).custom-select.w-100
      if attr.hasOwnProperty('empty')
        option(value=attr.empty.value) #{attr.empty['']}


      // Trick to do a reverse order for select box
      - var keysOrder = [];
      each v,k in attr.validate.choices
        - keysOrder.push(k);

      if attr.reverse == 1
        - keysOrder = keysOrder.reverse()

      each key in keysOrder
        option(value=key selected=(key == attr.value ? "selected" : void(0) )) #{ attr.validate.choices[key] }
