div(class=attr.class1 + (attr.required == true ? ' required ' : ' '))
  label!= attr.label
div(class=attr.class2)
  div(class="form-group m-b-0 "  + (attr.row == 0 ? '' : '') + (attr.id || name)  + ' ' + attr.type)
    div(class=attr.class3).radio-input
      each v, k in attr.validate.choices
        label
          input(
            type="radio"
            class="form-check-input"
            name=name
            data-value-type = (attr.type == 'boolean' ? attr.type : '')
            checked=(k == attr.value ? "checked" : undefined)
            value=k)
          | #{ v }