-
  var cssClass = 'form-group '  +
  (row == 0 ? ' ' : 'row ') +
  (id || name) +
  (required == true ? ' required ' : ' ') +
  type;
-
  var containerClass = 'form-group row required';
  var labelClass = 'col-xl-12 text-xl-left';
  var inputClass = 'form-control col-xl-12';

div(class=containerClass)
  label(class=labelClass for=attr.id) #{ attr.label }
  div(class=inputClass)
    input(
      id=attr.id
      name=attr.name
      placeholder=attr.placeholder
      type=attr.type
      class=attr.inputClass
      data-content=attr.help_text
      readonly=attr.readonly
      value=value
      maxlength=attr.maxlength || false
      disabled=attr.disabled || false
      data-value-type=attr.valueType || type
    )
