
#sign_up.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")
            i.fa.fa-times
        h2(class="modal-title").text-xs-center.text-uppercase.dosis Sign up
        p.text-xs-center Have an account? 
          a(href="#" onclick="$('#sign_up').modal('hide');$('#sign_in').modal()").link-3
            | Log In
      .modal-body
        .container.form-section
          form.signup-form.col-lg-10.offset-lg-1.border-bottom
            .form-group.row.clearfix.required
                input(type="text"
                placeholder="First name"
                name="first_name").form-control
            .form-group.row.clearfix.required
                input(type="text"
                placeholder="Last name"
                name="last_name").form-control
            .form-group.row.clearfix.required
                input(type="email"
                placeholder="E-mail"
                name="email").form-control
            .form-group.row.clearfix.required
                input(type="password"
                placeholder="Password"
                name="password1").form-control
            .form-group.row.clearfix.required
                input(type="password"
                placeholder="Re-enter password"
                name="password2").form-control
            .form-group.row.clearfix.required
                .row
                    .col-lg-12
                        label
                            input(type="checkbox" name="checkbox1" value="1")
                            span.label-text I agree to the
                              a(href="/pg/terms_of_use" target="_blank").link-3  Terms of Service
                              | , 
                              a(href="/pg/privacy_policy" target="_blank").link-3  Privacy Policy
                              |  and
                              a(href="/pg/electronic_signature" target="_blank").link-3  Electronic Signature and Electronic Delivery of Documentation.
                    .col-lg-12.text-xs-center
                        button(type="submit").btn.btn-primary.text-uppercase Sign up
                    .col-lg-12.border-bottom.or
                      span or
            .social-btn
              button.btn.btn-block.btn-facebook.text-uppercase
                i.fa.fa-facebook
                |  SIGN UP with Facebook
              button.btn.btn-block.btn-linkedin.text-uppercase
                i.fa.fa-linkedin
                |  SIGN UP with linkedin
              button.btn.btn-block.btn-google.text-uppercase
                i.fa.fa-google-plus
                |  SIGN UP with Google
        .modal-footer
#sign_in.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .container
          .modal-header
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true")
                  i.fa.fa-times
              h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 Log in
              p.small-text.text-xs-center New to GrowthFountain? 
                a(href="#" onclick="$('#sign_in').modal('hide');$('#sign_up').modal()").link-3 Sign up
          .modal-body
            .form-section
              form.login-form.col-lg-10.offset-lg-1.border-bottom
                  .col-lg-12
                      .form-group.row.clearfix.required
                          input(type="email"
                          placeholder="E-mail"
                          name="email").form-control
                      .form-group.row.clearfix.required
                          input(type="password"
                          placeholder="Password"
                          name="password").form-control
                  .col-lg-12
                      .row.forgot
                          a(href="/account/reset").link-3 Forgot your password?
                  .col-lg-12
                      .row.text-sm-center.text-xs-center
                          button(type="submit").btn.btn-primary.text-uppercase Log in
                  .col-lg-12.border-bottom.or
                      span or
                  .social-btn.col-lg-12
                      a(data-original-title="facebook"
                      href="#"
                      ).btn.btn-block.btn-facebook.text-uppercase
                          i.fa.fa-facebook
                          |  Log In with Facebook
                      a(data-original-title="Linkedin"
                      href="#"
                      ).btn.btn-block.btn-linkedin.text-uppercase
                          i.fa.fa-linkedin
                          |  Log In with linkedin
                      a(data-original-title="Google Plus"
                      href="#"
                      ).btn.btn-block.btn-google.text-uppercase
                          i.fa.fa-google-plus
                          |  Log In with Google
    .modal-footer
